<div class="grid md:grid-cols-2 md:col-gap-8 row-gap-6">
    <div class="border border-solid rounded p-4" *ngFor="let parent of parentListArray">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <div class="relative cursor-pointer" fxFlex="none" (click)='openViewDetails(parent)'>
                <img src="{{parent.parentPhoto?'data:image/png;base64,'+ parent.parentPhoto:'assets/img/default-person.jpg'}}" alt="Parent photo" class="avatar">
            </div>
            <div class="overflow-hidden cursor-pointer" fxFlex="auto" (click)='openViewDetails(parent)'>
                <div class="subheading-2 leading-snug text-primary">{{parent.firstname}} {{parent.lastname}}</div>
                <div class="body-1 text-secondary truncate contact-type">{{parent.relationship}} 
                    <span class="separator"></span> 
                    
                        <span *ngIf="parent.contactType==='Primary'; else other" class="text-warn">{{parent.contactType}}</span>
                   
                    <ng-template #other>
                        <span class="text-green">{{parent.contactType}}</span>
                    </ng-template>
                </div>
            </div>
            <div fxFlex="none" fxLayout="column" fxLayoutAlign="center end">
                <div class="flex">
                        <span  class="custody mr-4"  *ngIf="parent.isCustodian;else noCustody"><img src="../../../../assets/img/icons/mother.svg"
                            matTooltip="{{'custodyOfStudent' | translate}}"
                            class="w-6 mt-2 inline-block align-middle" alt="Custody of student icon"/></span>
                   <ng-template #noCustody>
                        <span  class="no-custody mr-4"  ><img src="../../../../assets/img/icons/mother.svg"
                            matTooltip="{{'noCustodyOfStudent' | translate}}"
                            class="inline-block align-middle" alt="No custody of student icon"/></span>
                   </ng-template>
                    <button *ngIf="permissions?.edit" mat-icon-button matTooltip="{{'edit' | translate}}" type="button" class="text-gray">
                    <mat-icon (click) = "editParentInfo(parent)" [icIcon]="icEdit" class="mr-2"></mat-icon>
                </button>
                    <button *ngIf="permissions?.delete" mat-icon-button matTooltip="{{'delete' | translate}}" type="button" class="text-gray">
                        <mat-icon (click)="confirmDelete(parent)" [icIcon]="icRemove"></mat-icon>
                    </button>
            </div>
            </div>
        </div>
    </div> 
</div>
<div class="text-center" *ngIf="!parentListArray?.length">
    {{'nocontactsfound' | translate}}
</div>

<div class="text-center mt-6" *ngIf="contactType ==='Primary'; else secondary">
    <button *ngIf="permissions?.add" color="primary" mat-raised-button type="button" (click)='openAddNew("Primary")'>
        <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px"></ic-icon>
        <span>{{'addPrimaryContact' | translate}}</span>
    </button>    
</div>
<ng-template #secondary>
    <div *ngIf="contactType ==='Secondary'; else other">
        <div class="text-center mt-6" >
            <button *ngIf="permissions?.add" color="primary" class="mr-3" mat-raised-button type="button" (click)='openAddNew("Secondary")'>
                <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
                </ic-icon>
                <span>{{'Add Secondary Contact' | translate}}</span>
            </button>    
            <button *ngIf="permissions?.add" color="primary" mat-raised-button type="button" (click)='openAddNew("Other")'>
                <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
                </ic-icon>
                <span>{{'addOtherContact' | translate}}</span>
            </button>    
        </div>
    </div>
    <ng-template #other>
        <div class="text-center mt-6">
            <button *ngIf="permissions?.add" color="primary" mat-raised-button type="button" (click)='openAddNew("Other")'>
                <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
                </ic-icon>
                <span>{{'addOtherContact' | translate}}</span>
            </button>    
        </div>
    </ng-template>
    
</ng-template>