<form [formGroup]="form" (ngSubmit)="checkForSubmit()">
<div mat-dialog-title class="flex justify-between items-center">
    <div class="flex justify-between flex-wrap w-full">
        <h2 class="headline m-0 mr-4 text-xl md:text-2xl">
            <span class="text-green">{{data.courseDetails.courseTitle}}</span> -
            {{courseSectionModalTitle|translate}}
        </h2>
        <mat-slide-toggle class="mt-1 text-sm md:text-lg mr-4" color="primary" [disabled]="!this.defaultValuesService.checkAcademicYear()" formControlName="isActive" name="isActive">{{'active' | translate}}</mat-slide-toggle>
    </div>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column" >
    <ul class="md:grid md:grid-cols-2 col-gap-8 mt-6">
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'courseSectionName' | translate}}</mat-label>
                <input formControlName="courseSectionName"  [readonly]="!this.defaultValuesService.checkAcademicYear()"  name="courseSectionName" cdkFocusInitial matInput required>
                <mat-error *ngIf="form.get('courseSectionName').hasError('required')">{{'courseSectionNameIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'calendar' | translate}}</mat-label>
                <mat-select [disabled]="disabledCalendar || !this.defaultValuesService.checkAcademicYear()"  formControlName="calendarId"  name="calendarId" (selectionChange) = "changeCalendar($event.value)" name="calendarId" required>
                    <mat-option *ngFor="let calendars of calendarList" [value]="calendars.calenderId">
                        {{calendars.title}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('calendarId').hasError('required')">{{'calendarIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'gradeScale' | translate}}</mat-label>
                <mat-select formControlName="gradeScaleId"  name="gradeScaleId" [disabled]="!this.defaultValuesService.checkAcademicYear()"  name="gradeScaleId" required>
                    <mat-option [value]='staticGradeScaleValue[0].gradeScaleId'>
                    {{staticGradeScaleValue[0].gradescaleName}}
                    </mat-option>
                    <mat-option [value]='staticGradeScaleValue[1].gradeScaleId'>
                        {{staticGradeScaleValue[1].gradescaleName}}
                        </mat-option>
                    <mat-option *ngFor="let gradeScale of gradeScaleList" [value]='gradeScale.gradeScaleId'>
                        {{gradeScale.gradeScaleName}}
                    </mat-option>
                    <mat-option [value]='staticGradeScaleValue[2].gradeScaleId'>
                        {{staticGradeScaleValue[2].gradescaleName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('gradeScaleId').hasError('required')">{{'gradeScaleIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'creditHours' | translate}}</mat-label>
                <input type="number" [readonly]="!this.defaultValuesService.checkAcademicYear()" placeholder="0.000" (keydown)="checkInputAndPrevent($event)"  formControlName="creditHours" (blur)="onCrediHoursBlur($event)" name="creditHours" matInput>
                <mat-error *ngIf="form.get('creditHours').touched && form.get('creditHours').hasError('pattern')">{{'invalidPatternCreditHours' | translate}}</mat-error>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'seats' | translate}}</mat-label>
                <input type="number" [readonly]="!this.defaultValuesService.checkAcademicYear()" min="1" oninput="validity.valid||(value='');" formControlName="seats"   name="seats" matInput required>
                <mat-error *ngIf="form.get('seats').hasError('required')">{{'seatsIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'attendanceCategory' | translate}}</mat-label>
                <mat-select formControlName="attendanceCategoryId" [disabled]="!this.defaultValuesService.checkAcademicYear()" class="attendanceCategory" name="attendanceCategoryId"    name="attendanceCategoryId" [required]="isAttendanceCategoryRequired">
                    <mat-option *ngFor="let attendanceCategory of attendanceCategoryList" [value]='attendanceCategory.attendanceCategoryId'>
                        {{attendanceCategory.title}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('attendanceCategoryId').hasError('required')">{{'attendanceCategoryIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li class="col-span-2">
            <div class="flex flex-wrap">
                <span class="mr-6">
                    <mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" formControlName="allowStudentConflict" name="allowStudentConflict" class="mb-3" color="primary">{{'allowStudentConflict' | translate}}</mat-slide-toggle>
                </span>
                <span class="mr-6">
                    <mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" formControlName="allowTeacherConflict" name="allowTeacherConflict" class="mb-3" color="primary">{{'allowTeacherConflict' | translate}}</mat-slide-toggle>
                </span>
                <span class="mr-6">
                    <mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" formControlName="isWeightedCourse" name="isWeightedCourse" class="mb-3" color="primary">{{'courseIsWeighted' | translate}}</mat-slide-toggle>
                </span>
                <span class="mr-6">
                    <mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" class="mb-3" formControlName="affectsClassRank" name="affectsClassRank"   color="primary">{{'affectsClassRank' | translate}}</mat-slide-toggle>
                </span>
                <span class="mr-6">
                    <mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" class="mb-3" formControlName="affectsHonorRoll" name="affectsHonorRoll"   color="primary">{{'affectsHonorRoll' | translate}}</mat-slide-toggle>
                </span>
                <span class="mr-6"><mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" (change)="toggleUsStandards($event)" formControlName="useStandards" color="primary">{{'useStandards' | translate}}</mat-slide-toggle></span>
                <span class="mr-6 mb-3">
                    <mat-slide-toggle [disabled]="!this.defaultValuesService.checkAcademicYear()" (change)="showOnlineClassRoom($event)" formControlName="onlineClassRoom" name="onlineClassRoom"   color="primary">{{'onlineClassRoom' | translate}}</mat-slide-toggle>
                </span>
            </div>
        </li>
        <li *ngIf="form.value.useStandards">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'standardGradeScale' | translate}}</mat-label>
                <mat-select formControlName="standardGradeScaleId" [disabled]="!this.defaultValuesService.checkAcademicYear()" name="standardGradeScaleId" required>
                    <mat-option *ngFor="let standardList of gradeScaleStandardList" [value]='standardList.gradeScaleId'>
                        {{standardList.gradeScaleName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('standardGradeScaleId').hasError('required')">{{'standardGradeScaleIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li *ngIf="form.value.useStandards"></li>
        <li *ngIf="form?.value.onlineClassRoom">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'onlineClassRoomUrl' | translate}}</mat-label>
                <input type="text" [readonly]="!this.defaultValuesService.checkAcademicYear()" formControlName="onlineClassroomUrl" name ="onlineClassroomUrl" matInput [required]="form?.value.onlineClassRoom?true:null">
                <mat-error *ngIf="form.get('onlineClassroomUrl').hasError('required')">{{'onlineClassroomUrlIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </li>
        <li *ngIf="form?.value.onlineClassRoom">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'onlineClassRoomPasswordIfAny' | translate}}</mat-label>
                <input type="text" [readonly]="!this.defaultValuesService.checkAcademicYear()" formControlName="onlineClassroomPassword" name ="onlineClassroomPassword" matInput>
            </mat-form-field>
        </li>
    </ul>


     <hr class="-mx-6 my-4">

    <h4 class="text-green mb-4">{{'duration' | translate}}</h4>
    <mat-radio-group aria-label="Select an option" formControlName="durationType" (change)="setDuration($event)" name="duration">
        <mat-radio-button [disabled]="!this.defaultValuesService.checkAcademicYear()" name="markingPeriod" value="1" color="primary" name="markingPeriod">{{'markingPeriod' | translate}}</mat-radio-button>
        <mat-radio-button [disabled]="!this.defaultValuesService.checkAcademicYear()" name="customDate" value="2" color="primary" name="customDate">{{'customDateRange' | translate}}</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="durationType== null">
        Please Select Duration.
    </mat-error>
    <div *ngIf="form.value.durationType=='1'">
        <ul class="md:grid md:grid-cols-2 col-gap-8 mt-3">
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'markingPeriod' | translate}}</mat-label>
                    <mat-select formControlName="markingPeriodId" [disabled]="!this.defaultValuesService.checkAcademicYear()" (selectionChange) = "changeMarkingPeriod($event.value)" name="markingPeriodId" required>
                        <mat-option *ngFor="let markingPeriod of markingPeriodList" [value]='markingPeriod.value'>
                            {{markingPeriod.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('markingPeriodId').hasError('required')">{{'markingPeriodIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </li>
        </ul>
    </div>
    <div *ngIf="form.value.durationType=='2'">
        <ul class="md:grid md:grid-cols-2 col-gap-8 mt-3">
            <li >
                <mat-form-field class="w-full" appearance="outline" color="primary" >
                    <mat-label>{{'startDate' | translate}}</mat-label>
                    <input formControlName="durationStartDate" name="durationStartDate" (dateChange)="durationChange($event.value,'durationStartDate')"  matInput [matDatepicker]="pickerStartDate"  [min]="startDate" [max]="endDate" [required]="form.value.durationType=='2'?true:null"  [disabled]="showCalendarDates || !this.defaultValuesService.checkAcademicYear()"> 
                    
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                    <mat-error *ngIf="form.get('durationStartDate')?.hasError('required')">{{'startDateIsRequired'|translate}}</mat-error>
                </mat-form-field>
                
            </li>
            
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'endDate' | translate}}</mat-label>
                    <input formControlName="durationEndDate" [disabled]="!this.defaultValuesService.checkAcademicYear()" name="durationEndDate" (dateChange)="durationChange($event.value,'durationEndDate')" [matDatepicker]="pickerEndDate" [min]="form.value.durationStartDate" [max]="endDate" matInput [required]="form.value.durationType=='2'?true:null"  [disabled]="showCalendarDates || !this.defaultValuesService.checkAcademicYear()">
                    <mat-datepicker-toggle [for]="pickerEndDate" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                    <mat-error *ngIf="form.get('durationEndDate')?.hasError('required')">{{'endDateIsRequired'|translate}}</mat-error>
                    <mat-error *ngIf="form.get('durationEndDate').hasError('matDatepickerMin')">{{'endDateCannotBeEarlierThanStartDate'|translate}}</mat-error>
                </mat-form-field>
            </li>
        </ul>
    </div>

    <hr class="-mx-6 my-4">

    <h4 class="text-green mb-4">{{'scheduleType' | translate}}</h4>
    <mat-radio-group aria-label="Select an option" (change)="setScheduleType($event)" name="scheduleType">
        <mat-radio-button value="1" [checked]="data.editMode && scheduleType=='1'" [disabled]="data.editMode && scheduleType!='1'" color="primary">{{'fixedSchedule' | translate}}</mat-radio-button>
        <mat-radio-button value="2" [checked]="data.editMode && scheduleType=='2'" [disabled]="data.editMode && scheduleType!='2'" color="primary">{{'variableSchedule' | translate}}</mat-radio-button>
        <mat-radio-button value="3" [checked]="data.editMode && scheduleType=='3'" [disabled]="data.editMode && scheduleType!='3'" color="primary">{{'enterByCalendarDays' | translate}}</mat-radio-button>
        <mat-radio-button value="4" [checked]="data.editMode && scheduleType=='4'" [disabled]="data.editMode && scheduleType!='4'" color="primary">{{'blockRotatingSchedule' | translate}}</mat-radio-button>
    </mat-radio-group>

    <div class="" *ngIf="scheduleType === '1'">
        <vex-fixed-scheduling [calendar]="selectedCalendar" [detailsFromParentModal]="data" (fixedScheduleData)="manipulateFixedScheduleBeforeSubmit($event)"></vex-fixed-scheduling>
    </div>

    <div class="-mx-6 mt-5" *ngIf="scheduleType === '2'">
        <vex-variable-scheduling  [selectedCalendar]="selectedCalendar" [detailsFromParentModal]="data" (variableScheduleData)="manipulateVariableScheduleBeforeSubmit($event)"></vex-variable-scheduling>
    </div>

    <div class="-mx-6 mt-5 relative" *ngIf="scheduleType === '3'" id="calendarDays">
        <vex-calendar-days (calendarScheduleData)="manipulateCalendarScheduleBeforeSubmit($event)" [selectedMarkingPeriod]="selectedMarkingPeriod" [detailsFromParentModal]="data" [durationDateRange]="durationDateRange" [selectedCalendar]="selectedCalendar"></vex-calendar-days>      
    </div>

    <div class="-mx-6 mt-5" *ngIf="scheduleType === '4'">
        <vex-rotating-scheduling [detailsFromParentModal]="data" (blockScheduleData)="manipulateBlockScheduleBeforeSubmit($event)"></vex-rotating-scheduling>   
    </div>


</mat-dialog-content> 

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
  <strong><mat-error *ngIf="calendarError">{{'invalidSeatCapacity' | translate}}</mat-error></strong>
  <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
  <button color="primary" mat-raised-button *ngIf="this.defaultValuesService.checkAcademicYear()" type="submit">{{courseSectionActionButtonTitle | translate}}</button>
</mat-dialog-actions>
</form>