<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{gradeScaleTitle|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content  fxLayout="column"  [formGroup]="form">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'gradeScaleName' | translate}}</mat-label>
        <input type="text" cdkFocusInitial formControlName="gradeScaleName" matInput required >
        <mat-error *ngIf="form.get('gradeScaleName').hasError('whitespace')">{{'gradeScaleNameIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.controls?.gradeScaleValue" class="w-full" appearance="outline" color="primary">
        <mat-label>{{'scaleValue' | translate}}</mat-label>
        <input type="number" matInput formControlName="gradeScaleValue" oninput="javascript: if (this.value.length > 5) this.value = this.value.slice(0, 5);" required >
        <mat-error *ngIf="form.get('gradeScaleValue').hasError('whitespace')">{{'scaleValueIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'comment' | translate}}</mat-label>
        <textarea matInput formControlName="gradeScaleComment"></textarea>
    </mat-form-field>

    <div class="flex">
        <mat-slide-toggle class="mt-2 mr-4" formControlName="calculateGpa" color="primary">{{'calculateGPA' | translate}}</mat-slide-toggle>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" (click)="submit()" mat-raised-button type="submit">{{buttonType | translate}}</button>
</mat-dialog-actions>