<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{ 'missingAttendance' | translate }}" class="w-full">
            <vex-breadcrumbs [crumbs]="['Attendance']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card overflow-auto -mt-16">
            <h4 class="p-4 text-lg text-blue">
            <a [routerLink]="['/school', 'attendance', 'missing-attendance']" class="cursor-pointer">
                <mat-icon class="ml-2 mr-4 align-middle">west</mat-icon>
            </a>
            <span class="font-medium text-base">{{staffDetails.staffFullName}}</span></h4>
            <mat-divider></mat-divider>
            <div class="bg-white px-6 md:h-14 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="md:flex w-full justify-between">
                    <div class="py-2" fxLayout="row" fxLayoutAlign="start center">
                        <div class="flex items-center">
                            <input [formControl]="searchCtrl"
                            class="py-3 border-0 outline-none w-full bg-transparent table-search"
                            placeholder="Search..." type="search">
                        <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5">
                        <button *ngIf="!loading" class="ml-4" mat-icon-button type="button">
                            <mat-icon>search</mat-icon>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t overflow-x-auto overflow-y-hidden">
                <table @stagger mat-table [dataSource]="courseSectionViewList" class="table-auto w-full">

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>{{'date' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.attendanceDate|date:'mediumDate'}}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="staffName">
                        <th mat-header-cell *matHeaderCellDef>{{'teacher' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.staffFirstGivenName + '' + element.staffLastFamilyName }}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="courseSectionName">
                        <th mat-header-cell *matHeaderCellDef>{{'courseSection' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.courseSectionName | EmtyValueCheckPipe}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="period">
                        <th mat-header-cell *matHeaderCellDef>{{'period' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.periodTitle | EmtyValueCheckPipe}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>{{'takeAttendance' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="cursor-pointer text-primary">
                            <a (click)="takeAttendance(element)"><mat-icon class="mr-1 align-middle">how_to_reg</mat-icon></a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef colspan="5">
                            {{loading?('fetchingData' | translate):('noData' | translate) }}
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [class.hidden]="totalCount>0"></tr>
                </table>
                <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]"
                    showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>