<div class="overflow-x-auto overflow-y-hidden border">
    <table class="w-full schedule-table gradebook-table">
        <thead>
            <tr>
                <th class="w-3/12">{{ "assignment" | translate }}</th>
                <th class="w-1/12">{{ "points" | translate }}</th>
                <th class="w-1/12">{{ "grade" | translate }}</th>
                <th class="w-6/12">{{ "comment" | translate }}</th>
                <th class="w-1/12" *ngIf="defaultValuesService.checkAcademicYear()">{{ "action" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let grade of gradesByStudentId">
            <tr class="bg-skyblue-light">
                <td class="text-primary font-semibold">{{grade?.title}}<span *ngIf="isWeightedSection" class="ml-2">(Percentage of Grade : {{grade?.weightage}}%)</span></td>
                <td class="text-primary font-bold">{{grade?.assignmentTypeMarks}}/{{grade?.assignmentTypePoint}}</td>
                <td class="text-primary font-bold">{{grade?.percentage ? grade?.percentage + '%' : ''}} {{grade?.letterGrade ? '[ ' + grade?.letterGrade + ' ]' : ''}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let assignment of grade?.assignmentViewModelList">
                <td><p class="pl-4">{{assignment?.assignmentTitle}}</p></td>
                <td>
                    <ng-container *ngIf="assignment?.enableComment && defaultValuesService.checkAcademicYear()">
                        <div class="flex">
                            <input class="p-1 border border-gray-light rounded w-12 mr-2" [(ngModel)]="assignment.allowedMarks">
                            <span class="mt-1">/{{assignment.points}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!assignment?.enableComment">
                        <div [ngClass]="{'text-red': assignment?.allowedMarks > assignment?.points}">{{assignment?.allowedMarks ? assignment?.allowedMarks : 0}}/{{assignment?.points}}</div>
                    </ng-container>
                </td>
                <td>{{assignment?.percentage ? assignment?.percentage + '%' : ''}} {{assignment?.letterGrade ? '[ ' + assignment?.letterGrade + ' ]' : ''}}</td>
                <td>
                    <ng-container *ngIf="assignment?.enableComment && defaultValuesService.checkAcademicYear()">
                        <textarea class="p-1 border border-gray-light rounded w-full" [(ngModel)]="assignment.comment"></textarea>
                    </ng-container>

                    <ng-container *ngIf="!assignment?.enableComment">
                    {{assignment?.comment}}
                    </ng-container>
                </td>
                <td>
                    <div class="cursor-pointer" *ngIf="!assignment?.enableComment && defaultValuesService.checkAcademicYear()"
                        (click)="assignment.enableComment = true;">
                        <mat-icon [icIcon]="icEdiit"></mat-icon>
                    </div>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
<div class="text-right p-4">
    <button color="primary" mat-flat-button type="submit" class="text-white ml-2" (click)="submitGradebookGradeByStudent()" *ngIf="defaultValuesService.checkAcademicYear()">{{ 'submit' |translate }}</button>
</div>