<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{attendanceCodeModalTitle|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column" [formGroup]="form">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input formControlName="title" cdkFocusInitial matInput required>
        <mat-error *ngIf="form.get('title').hasError('required')">{{'titleIsRequired'|translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'shortName' | translate}}</mat-label>
        <input formControlName="shortName" matInput required>
        <mat-error *ngIf="form.get('shortName').hasError('required')">{{'shortNameIsRequired'|translate}}
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'allowEntryBy' | translate}}</mat-label>
        <mat-select name="allowEntryBy" formControlName="allowEntryBy">
            <mat-option value="null">N/A</mat-option>
            <mat-option value="Teacher & Office">Teacher & Office</mat-option>
            <mat-option value="Office Only">Office Only</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="defaultCode" class="mb-4" color="primary">{{'defaultForTeacherAndOffice' | translate}}</mat-checkbox>
    
    <mat-form-field class="w-full" appearance="outline" color="primary" >
        <mat-label>{{'stateCode' | translate}}</mat-label>
        <mat-select name="stateCode" formControlName="stateCode" required>
            <mat-option value="Present">Present</mat-option>
            <mat-option value="Absent">Absent</mat-option>
            <mat-option value="Half Day">Half Day</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('stateCode').hasError('required')">{{'stateCodeIsRequired'|translate}}</mat-error>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit" (click)="submitAttenndanceCode()">{{attendanceCodeModalActionButton | translate}}</button>
</mat-dialog-actions>