<vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
<div class="mb-2 lg:flex lg:flex-wrap">
    <div class="lg:w-3/12 lg:pr-4">
        <div class="card mb-4 lg:mb-0">
            <div class="py-4">
                <h4 class="px-4 mb-4">{{'gradeScale'|translate}}</h4>
                <hr />

                <div *ngFor="let gradeScale of gradeScaleList">
                    <div class="flex items-center justify-between px-4 py-3"
                        [ngClass]="{'bg-skyblue-light text-blue':currentGradeScaleId==gradeScale.gradeScaleId}">
                        <a class="cursor-pointer"
                            (click)="selectGradeScale(gradeScale)">{{gradeScale.gradeScaleName}}</a>
                        <div>
                            <a *ngIf="permissions?.edit" (click)="editGradeScale(gradeScale)" class="cursor-pointer mr-3">
                                <mat-icon [icIcon]="icEdit"></mat-icon>
                            </a>
                            <a *ngIf="permissions?.edit" class="cursor-pointer"
                                (click)="confirmDeleteGradeScale(gradeScale)">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </a>
                        </div>
                    </div>
                    <hr />
                </div>

                <hr class="mb-3" />
                <div class="px-4">
                    <button *ngIf="permissions?.add" class="w-full text-primary" mat-button type="button"
                        (click)='goToAddBlock()'>
                        <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
                        </ic-icon>
                        <span>{{'addGradeScale'|translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:w-9/12 lg:pl-4" *ngIf="gradeScaleList.length !== 0">
        <div class="card">
            <div class="md:h-16 border-b sticky left-0 px-4 pb-4 md:mb-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="md:flex w-full justify-between">
                    <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center">

                        <div class="flex">
                            <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()"
                                class="py-3 border-0 outline-none w-full bg-transparent" appearance="outline"
                                color="primary" placeholder="Search..." type="search">
                            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                                (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>              

                    <hr class="-mx-4 block md:hidden"/> 
                    <div fxFlex="200px" class="pt-3">
                        <a (click)="exportToExcel()" class="cursor-pointer p-1 mt-1 inline-block align-middle"
                            matTooltip="Export to Excel"><i class="icon icon-file-excel text-lg"></i></a>
                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="Filter Columns" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>
                        <button *ngIf="permissions?.add" color="primary" [disabled]="gradeScaleList==null" class="ml-4"
                            fxFlex="none" mat-raised-button type="button" (click)='goToAddGrade()'>
                            <ic-icon [icon]="icAdd" class="mr-0 md:mr-2" inline="true"
                                size="24px">
                            </ic-icon>
                            <span class="hidden md:inline-block">{{'addNewGrade'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto">
                <table @stagger mat-table [dataSource]="gradeList" class="table-auto w-full" cdkDropList
                    (cdkDropListDropped)="drop($event)">

                    <ng-container matColumnDef="id" sticky>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="cursor-move" cdkDragHandle>reorder</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>{{'title'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.title}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="breakoff">
                        <mat-header-cell *matHeaderCellDef>{{'breakoff'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.breakoff}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="weightedGpValue">
                        <mat-header-cell *matHeaderCellDef>{{'weightedGPValue'|translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.weightedGpValue|number : '1.2'|EmtyValueCheckPipe:'0.00'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unweightedGpValue">
                        <mat-header-cell *matHeaderCellDef>{{'unweightedGPValue'|translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.unweightedGpValue|number : '1.2'|EmtyValueCheckPipe:'0.00'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="comment">
                        <mat-header-cell *matHeaderCellDef>{{'comment'|translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.comment|EmtyValueCheckPipe}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <mat-header-cell *matHeaderCellDef>{{'actions'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a *ngIf="permissions?.edit" (click)="editGrade(element)" matTooltip="Edit Info"
                                class="mr-3 cursor-pointer">
                                <mat-icon [icIcon]="icEdit"></mat-icon>
                            </a>
                            <a *ngIf="permissions?.edit" (click)="confirmDeleteGrade(element)" matTooltip="Delete Info"
                                class="mr-3 cursor-pointer">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef colspan="6">
                            {{loading?'Fetching Data...':'No Data'}}
                        </td>
                    </ng-container>

                    <mat-header-row mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                    <mat-row mat-row cdkDrag *matRowDef="let row; columns: visibleColumns" @fadeInUp></mat-row>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="totalCount!==0"></tr>
                </table>
            </div>
            <!-- <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator> -->
            <!-- <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator> -->


            <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
                    class="checkbox-item mat-menu-item">
                    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                        {{column.label}}
                    </mat-checkbox>
                </button>
            </mat-menu>
        </div>
    </div>
</div>