<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" *ngIf="addStandard; else addNewCourseTitle">
        <a routerLink="" (click)="closeStandardsSelection()" class="text-primary cursor-pointer"><mat-icon [icIcon]="icBack" matTooltip="Back to Previous" class="mr-3 align-middle"></mat-icon></a>{{'addStandardTo'|translate}} <span class="text-green font-bold">{{addCourseModel.course.courseTitle}}</span></h2>
    <ng-template #addNewCourseTitle><h2 [ngClass]="addStandard?'hidden':''" class="headline m-0" fxFlex="auto">{{courseModalTitle | translate}}</h2></ng-template>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>


<div *ngIf="addStandard">
    <mat-dialog-content fxLayout="column" class="p-0">
        <div class="custom-tabs">
            <ul class="flex border-b">
                <li [ngClass]="{'active': showUsCommonCoreStandards}" (click)="changeCategory(true)"><a class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'usCommonCoreStandards'|translate}}</a></li>
                <li [ngClass]="{'active': !showUsCommonCoreStandards}" (click)="changeCategory(false)"><a class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'schoolSpecificStandards'|translate}}</a></li>
            </ul>
        </div>
        <form [formGroup]="form" >
            <ul class="grid grid-cols-2 col-gap-8 mx-6 mt-6">
                <li *ngIf="showUsCommonCoreStandards">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'gradeLevel' | translate}}</mat-label>
                        <mat-select name="gradeLevel" formControlName="gradeLevel" required>
                            <mat-option value="all">ALL</mat-option>
                            <mat-option *ngFor="let gradeLevel of gradeLevelList" [value]='gradeLevel.gradeLevelEquivalency'>{{gradeLevel.title}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('gradeLevel').hasError('required')">{{'gradeLevelIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li *ngIf="!showUsCommonCoreStandards">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'gradeLevel' | translate}}</mat-label>
                        <mat-select name="gradeLevel" formControlName="gradeLevel" required>
                            <mat-option *ngFor="let gradeLevel of gradeLevelList" [value]='gradeLevel.title'>{{gradeLevel.title}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('gradeLevel').hasError('required')">{{'gradeLevelIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li *ngIf="!showUsCommonCoreStandards">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'subject' | translate}}</mat-label>
                        <mat-select name="subject" formControlName="subject" required>
                            <mat-option *ngFor="let  gStdSubject of gStdSubjectList" [value]='gStdSubject.subject'>{{gStdSubject.subject}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('subject').hasError('required')">{{'subjectIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li *ngIf="!showUsCommonCoreStandards">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'course' | translate}}</mat-label>
                        <mat-select name="course" formControlName="course" (selectionChange)="changeCouse($event)" required>
                            <mat-option *ngFor="let gStdCourse of gStdCourseList" [value]='gStdCourse.course'>{{gStdCourse.course}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('course').hasError('required')">{{'courseIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <button [disabled]="loading" (click)="filterSchoolSpecificStandardsList()" color="primary"
                        class="align-top w-full py-1" mat-raised-button type="button">
                        <mat-icon class="mr-2" *ngIf="loading">
                            <mat-spinner color="primary" diameter="20"></mat-spinner>
                        </mat-icon>{{'filterResult'|translate}}
                    </button>
                </li>
            </ul>
        </form>
        <hr/>
        <h3 class="text-blue px-6 py-3">{{totalCount}} {{'result' | translate}} found</h3>
        <hr/>
        
    <div *ngIf="totalCount>0">
        <table @stagger mat-table [dataSource]="commonCoreStandardsModelList" multiTemplateDataRows
            class="table-auto w-full">
            <ng-container matColumnDef="studentCheck">
                <th [class.hide]="totalCount==0" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" [disabled]="!this.defaultValuesService.checkAcademicYear()" #masterCheckBox [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [disabled]="!this.defaultValuesService.checkAcademicYear()" color="primary" [checked]="element.checked"
                        (change)="onChangeSelection($event.checked,element.gradeStandardId)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="standard_ref_no" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'standardRefNo'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.standardRefNo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="topic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'topic'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.topic}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="standard_details">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'standardDetails'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <a class="cursor-pointer text-gray" *ngIf="currentStandardDetailsIndex===element.gradeStandardId"
                        (click)="showStandardDetails(-1)">
                        <mat-icon [icIcon]="icCollapse"></mat-icon>
                    </a>
                    <a class="cursor-pointer text-gray" *ngIf="currentStandardDetailsIndex!==element.gradeStandardId"
                        (click)="showStandardDetails(element.gradeStandardId)">
                        <mat-icon [icIcon]="icExpand"></mat-icon>
                    </a>
    
                   
                </td>
            </ng-container>
    
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="4">
                    <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                </mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div *ngIf="currentStandardDetailsIndex===element.gradeStandardId"
                        [@detailExpand]="currentStandardDetailsIndex===element.gradeStandardId ? 'expanded' : 'collapsed'">
                        <div class="px-6 pb-3 pt-3">
                                    <div class="border rounded border-normal p-4">
                                        <div class="flex w-full mb-5">
                                            <div class="w-1/2 pr-4">
                                                <label class="text-sm leading-5 text-gray">{{'domain' | translate}}</label>
                                                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{element.domain}}</p>
                                            </div>
                                            <div class="w-1/2 pl-4">
                                                <label class="text-sm leading-5 text-gray">{{'gradeLevel' |
                                                    translate}}</label>
                                                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                                                    {{element.gradeLevel}}</p>
                                            </div>
                                        </div>
                                        <div class="flex w-full mb-5">
                                            <div class="w-1/2 pr-4">
                                                <label class="text-sm leading-5 text-gray">{{'subject' |
                                                    translate}}</label>
                                                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                                                    {{element.subject}}</p>
                                            </div>
                                            <div class="w-1/2 pl-4">
                                                <label class="text-sm leading-5 text-gray">{{'course' |
                                                    translate}}</label>
                                                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                                                    {{element.course}}</p>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="text-sm leading-5 text-gray">{{'standardDetails' |
                                                translate}}</label>
                                            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                                                {{element.standardDetails}}</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
    
    <mat-paginator [class.hide]="totalCount==0" [length]="totalCount" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator>
    <hr/>
      
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button  type="button" (click)="closeStandardsSelection()">{{'cancel' | translate}}</button>
        <button color="primary" *ngIf="this.defaultValuesService.checkAcademicYear()" mat-raised-button type="submit" (click)="goToCourse()">{{'addStandards' | translate}}</button>
    </mat-dialog-actions>
</div>

    <form  [ngClass]="addStandard?'hidden':''" #f="ngForm" appInvalidControlScroll novalidate>
    <mat-dialog-content fxLayout="column">
        <mat-form-field class="w-full mt-6" appearance="outline" color="primary">
            <mat-label>{{'title' | translate}}</mat-label>
            <input type="text" [readonly]="!this.defaultValuesService.checkAcademicYear()"  [(ngModel)]="addCourseModel.course.courseTitle" name="courseTitle" #courseTitle="ngModel" matInput required>
            <mat-error *ngIf="courseTitle.errors?.required">
                {{'courseTitleIsRequired'|translate}}</mat-error>
               
        </mat-form-field>
        
        <ul class="md:grid grid-cols-2 col-gap-8">
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'shortName' | translate}}</mat-label>
                    <input type="text" [readonly]="!this.defaultValuesService.checkAcademicYear()" [(ngModel)]="addCourseModel.course.courseShortName" name="courseShortName" matInput>
                   
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'gradeLevel' | translate}}</mat-label>
                    <mat-select [(ngModel)]="addCourseModel.course.courseGradeLevel" [disabled]="!this.defaultValuesService.checkAcademicYear()" name="courseGradeLevel">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let gradeLevel of gradeLevelList" [value]='gradeLevel.title'>{{gradeLevel.title}}</mat-option>
                    </mat-select>            
                </mat-form-field>
            </li>
            <li class="mb-3" id="programMan">
                <mat-form-field id="program" class="w-full mb-1" appearance="outline" color="primary">
                    <mat-label>{{'program' | translate}}</mat-label>
                    <mat-select  [(ngModel)]="addCourseModel.course.courseProgram" [disabled]="!this.defaultValuesService.checkAcademicYear()" name="courseProgram">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let program of programList" [value]='program.programName'>{{program.programName}}</mat-option>
                    </mat-select>                                   
                </mat-form-field>
                
                <mat-form-field id="program1" class="w-full mb-1 hidden" appearance="outline" color="primary">
                    <mat-label>{{'program' | translate}}</mat-label>
                    <input [(ngModel)]="addCourseModel.course.courseProgram" name="courseProgram" id="courseProgram" matInput>                                
                </mat-form-field>                    
              
                <a class="cursor-pointer text-blue" *ngIf="addNewProgramFlag === false && this.defaultValuesService.checkAcademicYear()" (click)="saveProgram()"><mat-icon [icIcon]="icAdd" class="mr-1 align-middle"></mat-icon>{{'addNewProgram' | translate}}</a>
            </li>
            <li class="mb-3">
                <mat-form-field id="subject" class="w-full mb-1" appearance="outline" color="primary">
                    <mat-label>{{'subject' | translate}}</mat-label>
                    <mat-select  #courseSubject="ngModel" [(ngModel)]="addCourseModel.course.courseSubject" [disabled]="!this.defaultValuesService.checkAcademicYear()" name="courseSubject" required>
                        <mat-option *ngFor="let subject of subjectList" [value]='subject.subjectName'>{{subject.subjectName}}</mat-option>
                    </mat-select>    
                    <mat-error *ngIf="courseSubject.errors?.required">
                        {{'courseSubjectIsRequired'|translate}}</mat-error>               
                </mat-form-field>
                
                    <mat-form-field  id="subject1" class="w-full mb-1 hidden" appearance="outline" color="primary">
                        <mat-label>{{'subject' | translate}}</mat-label>
                        <input  #courseSubject="ngModel" id="subjectFocus" [(ngModel)]="addCourseModel.course.courseSubject"  name="courseSubject" matInput required> 
                        <mat-error *ngIf="courseSubject.errors?.required">
                            {{'courseSubjectIsRequired'|translate}}</mat-error>             
                    </mat-form-field>                 
               
                
                <a class="cursor-pointer text-blue" *ngIf="addNewSubjectFlag === false && this.defaultValuesService.checkAcademicYear()" (click)="saveSubject()"><mat-icon [icIcon]="icAdd" class="mr-1 align-middle"></mat-icon>{{'addNewSubject' | translate}}</a>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'courseCategory' | translate}}</mat-label>
                    <mat-select  name="courseCategory" [disabled]="!this.defaultValuesService.checkAcademicYear()" [(ngModel)]="addCourseModel.course.courseCategory" >
                        <mat-option></mat-option>
                        <mat-option value="Core">Core</mat-option>
                        <mat-option value="Elective">Elective</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'creditHours' | translate}}</mat-label>
                    <!-- <input type="text" [readonly]="!this.defaultValuesService.checkAcademicYear()" name="creditHours" mask="999.000" placeholder="0.000" [dropSpecialCharacters]="false" min="0" (blur)="onCrediHoursBlur($event)" [(ngModel)]="addCourseModel.course.creditHours" matInput> -->
                    <input type="number" [readonly]="!this.defaultValuesService.checkAcademicYear()" placeholder="0.000" (keydown)="checkInputAndPrevent($event)"  [(ngModel)]="addCourseModel.course.creditHours" (blur)="onCrediHoursBlur($event)" name="creditHours" #creditHours="ngModel" pattern="[0-9]{1,3}[.][0-9]{1,3}" matInput>
                    <mat-error *ngIf="creditHours.errors?.pattern">{{'invalidPatternCreditHours' | translate}}</mat-error>
                </mat-form-field>
            </li>
            <li class="col-span-2">
                <div class="border rounded border-normal mb-4">
                    <div class="flex justify-between items-center px-3 py-2">
                        <div class="text-gray">{{'standards' | translate}}</div>
                        <a class="cursor-pointer text-blue" (click)="selectStandards()"><mat-icon [icIcon]="icList"></mat-icon></a>
                    </div>
                    <ul class="w-full" *ngFor = "let checkedStandard of nonDuplicateCheckedStandardList">
                        <li>
                            <hr/>
                            <div class="flex justify-between items-center pl-3">
                                <div title="show the standard description">{{checkedStandard.standardRefNo}} - {{checkedStandard.topic}}</div>
                                <div>
                                    <span [matTooltip]="checkedStandard.standardDetails" class="inline-block opacity-75 p-2"><mat-icon [icIcon]="icInfo"></mat-icon></span>
                                    <a class="cursor-pointer opacity-75 py-2 px-3 inline-block" *ngIf="this.defaultValuesService.checkAcademicYear()" (click) = "removeStandard(checkedStandard)"><mat-icon [icIcon]="icRemove"></mat-icon></a>
                                </div>
                            </div>
                        </li>                   
                    </ul>
                </div>
            </li>
            <li class="col-span-2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'description' | translate}}</mat-label>
                    <textarea [readonly]="!this.defaultValuesService.checkAcademicYear()" [(ngModel)]="addCourseModel.course.courseDescription" name="courseDescription" matInput></textarea>
                </mat-form-field>
            </li>
        </ul>

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
        <button color="primary" *ngIf="this.defaultValuesService.checkAcademicYear()" (click) ="submit()" mat-raised-button type="submit">{{courseModalActionTitle | translate}}</button>
    </mat-dialog-actions>
</form>

