<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" *ngIf="addStandard; else addNewCourseTitle">
        <a routerLink="" (click)="closeStandardsSelection()" class="text-primary cursor-pointer"><mat-icon [icIcon]="icBack" matTooltip="Back to Previous" class="mr-3 align-middle"></mat-icon></a>{{'addStandardTo'|translate}} <span class="text-green font-bold">{{addCourseModel.course.courseTitle}}</span></h2>
    <ng-template #addNewCourseTitle><h2 [ngClass]="addStandard?'hidden':''" class="headline m-0" fxFlex="auto">{{courseModalTitle | translate}}</h2></ng-template>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>


<div *ngIf="addStandard">
    <mat-dialog-content fxLayout="column" class="p-0">
        <div class="custom-tabs">
            <ul class="flex border-b">
                <li ><a class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'usCommonCoreStandards'|translate}}</a></li>
                <li  class="active"><a class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'schoolSpecificStandards'|translate}}</a></li>
            </ul>
        </div>
        <form [formGroup]="form" >
            <ul class="grid grid-cols-2 col-gap-8 mx-6 mt-6">
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'gradeLevel' | translate}}</mat-label>
                        <mat-select name="gradeLevel" formControlName="gradeLevel" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let gradeLevel of gradeLevelList" [value]='gradeLevel.title'>{{gradeLevel.title}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('gradeLevel').hasError('required')">{{'gradeLevelIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'subject' | translate}}</mat-label>
                        <mat-select name="subject" formControlName="subject" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let  gStdSubject of gStdSubjectList" [value]='gStdSubject.subject'>{{gStdSubject.subject}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('subject').hasError('required')">{{'subjectIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'course' | translate}}</mat-label>
                        <mat-select name="course" formControlName="course" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let gStdCourse of gStdCourseList" [value]='gStdCourse.course'>{{gStdCourse.course}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('course').hasError('required')">{{'courseIsRequired'|translate}}
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <button  (click) = "filterSchoolSpecificStandardsList()" color="primary" class="align-top w-full py-1" mat-raised-button type="button">
                    {{'filterResult'|translate}}
                </button>
                </li>
            </ul>
        </form>
        <hr/>
        <h3 class="text-blue px-6 py-3">{{schoolSpecificListCount}} {{'result' | translate}} found</h3>
        <hr/>
        <div *ngIf="schoolSpecificList.length > 0">
            <div class="px-6 py-3">
                <div class="flex w-full">
                    <div class="w-1/12">
                        <mat-checkbox color="primary" name="checkboxes" [checked]="checkedStandardList?.length==schoolSpecificList?.length" (change) = "checkAllStandard($event)"></mat-checkbox>
                    </div>
                    <div class="w-5/12 font-bold">
                        {{'standardRefNo' | translate}}
                    </div>
                    <div class="w-5/12 font-bold">
                        {{'topic' | translate}}
                    </div>
                    <div class="w-1/12 font-bold text-center">
                        {{'details' | translate}}
                    </div>
                </div>
            </div>
            <hr/>
           
            <div class="px-6 py-3" *ngFor="let schoolSpecific of schoolSpecificList; let index = index">
                <div class="flex w-full">
                    <div class="w-1/12">
                        <mat-checkbox color="primary" name="trades" [checked]="schoolSpecific.selected" (change)="singleCheckbox($event,schoolSpecific)" ></mat-checkbox>
                    </div>
                    <div class="w-5/12">
                        {{schoolSpecific.standardRefNo}}
                    </div>
                    <div class="w-5/12">
                        {{schoolSpecific.topic}}
                    </div>
                    <div class="w-1/12 text-center">
                        <a class="cursor-pointer text-gray" *ngIf="currentStandardDetailsIndex==index" (click)= "showStandardDetails(-1)"><mat-icon [icIcon]="icCollapse"></mat-icon></a>
                        <a class="cursor-pointer text-gray"  *ngIf="currentStandardDetailsIndex!=index" (click)= "showStandardDetails(index)"><mat-icon [icIcon]="icExpand"></mat-icon></a>
                    </div>
                    
                </div>
                <div class="px-6 pb-3" *ngIf="currentStandardDetailsIndex==index">
                    <div class="flex w-full">
                        <div class="w-1/12"></div>
                        <div class="w-11/12">
                            <div class="border rounded border-normal p-4">
                                <div class="mb-5">
                                    <label class="text-sm leading-5 text-gray">{{'domain' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolSpecific.domain}}</p>
                                </div>
                                <div>
                                    <label class="text-sm leading-5 text-gray">{{'standardDetails' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolSpecific.standardDetails}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>              
        </div>     
    <hr/>
      
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button  type="button" (click)="closeStandardsSelection()">{{'cancel' | translate}}</button>
        <button color="primary" mat-raised-button type="submit" (click) = "goToCourse()">{{'addStandards' | translate}}</button>
    </mat-dialog-actions>
</div>

    <form  [ngClass]="addStandard?'hidden':''" #f="ngForm" appInvalidControlScroll novalidate>
    <mat-dialog-content fxLayout="column">
        <mat-form-field class="w-full mt-6" appearance="outline" color="primary">
            <mat-label>{{'title' | translate}}</mat-label>
            <input type="text"  [(ngModel)]="addCourseModel.course.courseTitle" name="courseTitle" #courseTitle="ngModel" matInput required>
            <mat-error *ngIf="courseTitle.errors?.required">
                {{'courseTitleIsRequired'|translate}}</mat-error>
               
        </mat-form-field>
        
        <ul class="grid grid-cols-2 col-gap-8">
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'shortName' | translate}}</mat-label>
                    <input type="text" [(ngModel)]="addCourseModel.course.courseShortName" name="courseShortName" matInput>
                   
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'gradeLevel' | translate}}</mat-label>
                    <mat-select [(ngModel)]="addCourseModel.course.courseGradeLevel" name="courseGradeLevel">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let gradeLevel of gradeLevelList" [value]='gradeLevel.title'>{{gradeLevel.title}}</mat-option>
                    </mat-select>            
                </mat-form-field>
            </li>
            <li class="mb-3" id="programMan">
                <mat-form-field id="program" class="w-full mb-1" appearance="outline" color="primary">
                    <mat-label>{{'program' | translate}}</mat-label>
                    <mat-select  [(ngModel)]="addCourseModel.course.courseProgram" name="courseProgram">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let program of programList" [value]='program.programName'>{{program.programName}}</mat-option>
                    </mat-select>                                   
                </mat-form-field>
                
                <mat-form-field id="program1" class="w-full mb-1 hidden" appearance="outline" color="primary">
                    <mat-label>{{'program' | translate}}</mat-label>
                    <input [(ngModel)]="addCourseModel.course.courseProgram" name="courseProgram" id="courseProgram" matInput>                                
                </mat-form-field>                    
              
                <a class="cursor-pointer text-blue" *ngIf="addNewProgramFlag === false" (click)="saveProgram()"><mat-icon [icIcon]="icAdd" class="mr-1 align-middle"></mat-icon>{{'addNewProgram' | translate}}</a>
            </li>
            <li class="mb-3">
                <mat-form-field id="subject" class="w-full mb-1" appearance="outline" color="primary">
                    <mat-label>{{'subject' | translate}}</mat-label>
                    <mat-select   #courseSubject="ngModel" [(ngModel)]="addCourseModel.course.courseSubject" name="courseSubject" required>
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let subject of subjectList" [value]='subject.subjectName'>{{subject.subjectName}}</mat-option>
                    </mat-select>    
                    <mat-error *ngIf="courseSubject.errors?.required">
                        {{'courseSubjectIsRequired'|translate}}</mat-error>               
                </mat-form-field>
                
                    <mat-form-field  id="subject1" class="w-full mb-1 hidden" appearance="outline" color="primary">
                        <mat-label>{{'subject' | translate}}</mat-label>
                        <input  #courseSubject="ngModel" id="subjectFocus" [(ngModel)]="addCourseModel.course.courseSubject"  name="courseSubject" matInput required> 
                        <mat-error *ngIf="courseSubject.errors?.required">
                            {{'courseSubjectIsRequired'|translate}}</mat-error>             
                    </mat-form-field>                 
               
                
                <a class="cursor-pointer text-blue" *ngIf="addNewSubjectFlag === false" (click)="saveSubject()"><mat-icon [icIcon]="icAdd" class="mr-1 align-middle"></mat-icon>{{'addNewSubject' | translate}}</a>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'courseCategory' | translate}}</mat-label>
                    <mat-select  name="courseCategory" [(ngModel)]="addCourseModel.course.courseCategory" >
                        <mat-option value=""></mat-option>
                        <mat-option value="Core">Core</mat-option>
                        <mat-option value="Elective">Elective</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'creditHours' | translate}}</mat-label>
                    <input type="number" name="creditHours" min="0" (keyup)="checkValidCreditHour(addCourseModel.course.creditHours)"  [(ngModel)]="addCourseModel.course.creditHours" matInput>
                </mat-form-field>
            </li>
            <li class="col-span-2">
                <div class="border rounded border-normal mb-4">
                    <div class="flex justify-between items-center px-3 py-2">
                        <div class="text-gray">{{'standards' | translate}}</div>
                        <a class="cursor-pointer text-blue" (click)="selectStandards()"><mat-icon [icIcon]="icList"></mat-icon></a>
                    </div>
                    <ul class="w-full" *ngFor = "let checkedStandard of nonDuplicateCheckedStandardList">
                        <li>
                            <hr/>
                            <div class="flex justify-between items-center pl-3">
                                <div title="show the standard description">{{checkedStandard.standardRefNo}} - {{checkedStandard.topic}}</div>
                                <div>
                                    <span [matTooltip]="checkedStandard.standardDetails" class="inline-block opacity-75 p-2"><mat-icon [icIcon]="icInfo"></mat-icon></span>
                                    <a class="cursor-pointer opacity-75 py-2 px-3 inline-block" (click) = "removeStandard(checkedStandard)"><mat-icon [icIcon]="icRemove"></mat-icon></a>
                                </div>
                            </div>
                        </li>                   
                    </ul>
                </div>
            </li>
            <li class="col-span-2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'description' | translate}}</mat-label>
                    <textarea [(ngModel)]="addCourseModel.course.courseDescription" name="courseDescription" matInput></textarea>
                </mat-form-field>
            </li>
        </ul>

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
        <button color="primary" (click) ="submit()" mat-raised-button type="submit">{{courseModalActionTitle | translate}}</button>
    </mat-dialog-actions>
</form>

