<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title class="mb-4">
    <h2 class="headline m-0" fxFlex="auto">{{data?.firstGivenName+' '+data?.lastFamilyName}}</h2>
    <button class="text-secondary" (click)="close()" mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>

</div>
<mat-divider class="-mx-6 mb-6"></mat-divider>
<mat-dialog-content fxLayout="column">
    <div>
        <ul class="grid grid-cols-6 col-gap-6 mb-2 px-4">
            <li class="font-semibold">{{ 'period' | translate }}</li>
            <li class="font-semibold">{{ 'courseSection' | translate }}</li>
            <li class="font-semibold col-span-2">{{ 'attendanceCode' | translate }}</li>
            <li class="font-semibold text-center">{{ 'comments' | translate }}</li>
            <li class="font-semibold text-center">{{ 'history' | translate }}</li>
        </ul>
        <div class="border border-gray-light rounded px-4 py-2 mb-4"
            *ngFor="let record of studentAttendance; let index= index">
            <ul class="grid grid-cols-6 col-gap-6">
                <li class="flex items-center">{{record?.blockPeriod?.periodTitle}}</li>
                <li class="flex items-center">{{record?.studentCoursesectionSchedule?.courseSectionName}}</li>
                <li class="col-span-2 flex items-center">
                    <div class="select-dropdown inline-block w-full">
                        <select (change)="attendanceCodeSelected(index)" [(ngModel)]="record.attendanceCode">
                            <option *ngFor="let attendance of attendanceCodeList" [value]="attendance.attendanceCode1">
                                {{attendance.title}}</option>
                        </select>
                    </div>
                </li>
                <li class="cursor-pointer flex items-center place-content-center text-lg" (click)="openExpandable(1,index)"><i
                        class="icon icon-bubble" [ngClass]="{'text-green': isComment(record?.studentAttendanceComments)}"></i></li>
                <li class="cursor-pointer flex items-center place-content-center" (click)="openExpandable(2,index)">
                    <mat-icon>history</mat-icon>
                </li>
            </ul>
            <div class="expand-comments" *ngIf="category==1 && rowIndex === index">
                <mat-divider class="-mx-4 my-2 bg-gray-light"></mat-divider>
                <h4 class="text-green font-medium my-4">{{ 'comments' | translate }}</h4>

                <div *ngIf="record?.studentAttendanceComments.length>0">
                    <div class="timeline" *ngFor="let comment of record?.studentAttendanceComments; let i=index">
                        <div *ngIf="comment?.membershipId=== 4" class="timeline-content">
                            <div class="talk-bubble border border-gray-light">
                                <p class="text-base">{{comment.comment}}</p>
                            </div>
                            <p class="talk-bubble-text text-gray"><span
                                    class="font-semibold">{{comment?.membership?.profile ? comment?.membership?.profile : defaultValuesService.getuserMembershipName()}}</span> {{
                                'commentedOn' |
                                translate }} <span class="font-semibold">{{comment.commentTimestamp| date:'longDate'}}</span> @ <span
                                    class="font-semibold">{{comment.commentTimestamp | date:'shortTime'}}</span>
                                <span mat-raised-button matTooltip="{{'teacher' | translate}}"
                                    aria-label="Button that displays a tooltip when focused or hovered over"
                                    [matTooltipPosition]="'above'" class="cursor-pointer">
                                    <mat-icon class="text-black ml-2 align-middle">person</mat-icon>
                                </span>
                            </p>
                        </div>
                        <div class="timeline-content" *ngIf="comment?.membershipId=== 1 && !commentBox">
                            <div class="flex justify-between items-center talk-bubble border border-gray-light">
                                <p class="text-base">{{comment.comment}}</p>
                                <span class="cursor-pointer" (click)="openCommentBox()">
                                    <mat-icon class="text-black ml-2 align-middle">edit</mat-icon>
                                </span>
                            </div>
                            <p class="talk-bubble-text text-gray"><span class="font-semibold">{{comment?.membership?.profile ? comment?.membership?.profile : defaultValuesService.getuserMembershipName()}}</span> {{
                                'commentedOn' |
                                translate }} <span class="font-semibold">{{comment.commentTimestamp| date:'longDate'}}</span> @ <span
                                    class="font-semibold">{{comment.commentTimestamp | date:'shortTime'}}</span>
                                <span mat-raised-button matTooltip="{{'administrator' | translate}}"
                                    aria-label="Button that displays a tooltip when focused or hovered over"
                                    [matTooltipPosition]="'above'" class="cursor-pointer">
                                    <mat-icon class="text-black ml-2 align-middle">manage_accounts</mat-icon>
                                </span>
                            </p>
                        </div>
                        <div class="timeline-content" *ngIf="comment?.membershipId=== 1 && commentBox">
                            <div class="w-full border border-gray-light rounded p-2">
                                <label class="text-gray block">{{ 'yourComment' | translate }}</label>
                                <input type="text" cdkFocusInitial [(ngModel)]="record?.studentAttendanceComments[i].comment" class="w-full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expand-history" *ngIf="category==2 && rowIndex === index">
                <mat-divider class="-mx-4 my-2 bg-gray-light"></mat-divider>
                <h4 class="text-green font-medium my-4">{{ 'attendanceHistory' | translate }}</h4>
                <div class="timeline">
                    <div class="timeline-content" *ngFor=" let history of attendanceHistoryList">
                        <div class="talk-bubble border border-gray-light">
                            <p class="text-base">{{ 'attendanceCode' | translate }} : <span
                                    class="text-green font-semibold">{{ history?.attendanceCodeTitle}}</span></p>
                        </div>
                        <p class="talk-bubble-text text-gray"><span class="font-semibold">{{history?.userName}}</span> {{
                            'tookAttendanceOn' |
                            translate }} <span class="font-semibold">{{history?.modificationTimestamp| date:'longDate'}}</span> @ <span
                                class="font-semibold">{{history?.modificationTimestamp | date:'shortTime'}}</span>
                            <span mat-raised-button matTooltip="{{'teacher' | translate}}" *ngIf="history?.profileType=='Teacher' || history?.profileType=='Homeroom Teacher'"
                                aria-label="Button that displays a tooltip when focused or hovered over"
                                [matTooltipPosition]="'above'" class="cursor-pointer">
                                <mat-icon class="text-black ml-2 align-middle">person</mat-icon>
                            </span>
                            <span mat-raised-button matTooltip="{{'administrator' | translate}}" *ngIf="history?.profileType=='Super Administrator' || history?.profileType=='School Administrator'"
                                aria-label="Button that displays a tooltip when focused or hovered over"
                                [matTooltipPosition]="'above'" class="cursor-pointer">
                                <mat-icon class="text-black ml-2 align-middle">manage_accounts</mat-icon>
                            </span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="text-right pt-6">
        <button color="primary" mat-flat-button (click)="submitStudent360()" type="submit">{{ 'submit' | translate }}
        </button>
    </div>
</mat-dialog-content>