<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{ periodHeaderTitle|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column" [formGroup]="form">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input formControlName="title" cdkFocusInitial matInput required>
        <mat-error *ngIf="form.get('title').hasError('whitespace')">{{'titleIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'shortName' | translate}}</mat-label>
        <input formControlName="shortName" type="text" matInput required>
        <mat-error *ngIf="form.get('shortName').hasError('whitespace')">{{'periodShortNameIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'startTime' | translate}}</mat-label>
        <input formControlName="startTime" onkeydown="return false" name="startTime" [owlDateTimeTrigger]="startTime" [owlDateTime]="startTime"
            matInput required>
        <owl-date-time [pickerType]="'timer'" [hour12Timer]='true' #startTime></owl-date-time>
        <mat-error *ngIf="form.get('startTime').hasError('required')">{{'startTimeIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'endTime' | translate}}</mat-label>
        <input formControlName="endTime" name="endTime" onkeydown="return false" [owlDateTimeTrigger]="endTime" [owlDateTime]="endTime" matInput
            required>
        <owl-date-time [pickerType]="'timer'"  [hour12Timer]='true' #endTime></owl-date-time>
        <mat-error *ngIf="form.get('endTime').hasError('required')">{{'endTimeIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <div class="flex">
        <mat-slide-toggle formControlName="calculateAttendance" name="calculateAttendance" color="primary" class="mr-6">{{'calculateAttendance'|translate}}</mat-slide-toggle>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit" (click)="submit()">{{ buttonType | translate}}</button>
</mat-dialog-actions>