.timetable-grid {
    border-collapse: collapse;

    tr {
        th,
        td {
            @apply border-r;
            @apply border-b;
            border-color: rgba(0, 0, 0, 0.1);
            @apply px-3;
            @apply py-2;
            vertical-align: top;
        }
        th:last-child,
        td:last-child {
            border-right: none;
        }
    }

    .period-col {
        text-align: left;
        white-space: nowrap;
        min-width: 120px;
    }

    .day-col {
        text-align: center;
        min-width: 140px;
    }

    td {
        text-align: left;
    }

    .cell-entry {
        @apply py-1;

        & + .cell-entry {
            @apply mt-1;
            @apply pt-1;
            border-top: 1px dashed rgba(0, 0, 0, 0.1);
        }
    }
}

.schoolwide-schedule-report {
    .mat-datepicker-toggle button {
        display: none;
    }

    .mat-input-element:disabled,
    .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
        @apply text-black font-medium;
    }
}
