.section-divider {
    position: relative;
    > div {
        line-height: 38px;
        z-index: 2;
    }
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background: #e3e3e3;
        left: 0;
        z-index: 1;
        top: 50%;
    }
    &::after {
        content: " ";
        position: absolute;
        width: 50%;
        height: 1px;
        background: #e3e3e3;
        right: 0;
        z-index: 1;
        top: 50%;
    }
}
.counter-increment {
    counter-reset: my-sec-counter;
    p {
        margin-bottom: 5px;
        &::before {
            counter-increment: my-sec-counter;
            content: " " counter(my-sec-counter) " ";
            width: 26px;
            height: 26px;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            font-size: 12px;
            padding: 6px;
            margin-right: 10px;
            text-align: center;
            display: inline-block;
            line-height: 15px;
            margin-bottom: 8px;
            margin-top: 6px;
        }
    }
}
.report-steps {

    .report-box {
        .icon-arrow-right8 {
            top: 45%;
            right: -20px;
        }
    }

    .arrow-bottom::after {
        content: " ";
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: -8px;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-top: 10px solid #0c3f8a;
        border-left: 10px solid transparent;
    }

}

@media (max-width: 767.98px) {
    .report-steps {
      > div {
        display: none;
  
        &.active {
          display: block;
        }
      }
    }
}