.schedule-table {
  tr {
    td,
    th {
      @apply border-b;
      border-color: rgba(0, 0, 0, 0.1);
      @apply px-4;
      @apply py-2;
    }
    th {
      text-align: left;
    }
    th:last-child,
    td:last-child {
      text-align: center;
    }
  }
}
.hide{
  display:none;
}
