<div class="absolute w-full h-full bg-gray-light z-50 p-10" *ngIf="addCalendarDay === 1">
    <form *ngIf="editClassDetails" #f="ngForm" (ngSubmit)="classSubmit()" appInvalidControlScroll>
        <div class="shadow-lg w-full bg-white rounded p-6">
            <div class="pb-4">
                <h3>{{addClassTitle | translate}}</h3>
            </div>

            <ul class="md:grid md:grid-cols-2 col-gap-8 mt-3">
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'date' | translate}}</mat-label>
                        <input #date="ngModel" [(ngModel)]="courseCalendarSchedule.date" name="date" matInput
                            [matDatepicker]="pickerStartDate" required disabled>
                        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStartDate></mat-datepicker>
                        <mat-error *ngIf="date.errors?.required">
                            {{'dateIsRequired'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'period' | translate}}</mat-label>
                        <mat-select #periodId="ngModel" (selectionChange)="onPeriodChange($event.value)"
                            [(ngModel)]="courseCalendarSchedule.periodId" name="periodId" required>
                            <mat-option *ngFor="let period of periodList" [value]='period.periodId'>
                                {{period.periodTitle}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="periodId.errors?.required">
                            {{'periodIsRequired'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'room' | translate}}</mat-label>
                        <mat-select #roomId="ngModel" (selectionChange)="onRoomChange($event.value)"
                            [(ngModel)]="courseCalendarSchedule.roomId" name="roomId" required>
                            <mat-option *ngFor="let room of roomModelList" [value]='room.roomId'>
                                {{room.title}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="roomId.errors?.required">
                            {{'roomIsRequired'|translate}}</mat-error>
                            <mat-error *ngIf="roomId.errors?.nomatch">
                                {{'invalidSeatCapacity'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li class="pt-3">
                    <mat-slide-toggle class="mb-3" color="primary" [(ngModel)]="courseCalendarSchedule.takeAttendance"
                        name="takeAttendance">{{'takeAttendance' | translate}}</mat-slide-toggle>
                </li>
            </ul>

            <div class="pt-5 text-right">
                <button mat-button type="button" class="mr-2" (click)="cancelAddClass()">{{'cancel' |
                    translate}}</button>
                <button color="primary" mat-raised-button type="submit">{{submitTitle | translate}}</button>
            </div>
        </div>
    </form>
    <div *ngIf="showClassDetails" class="shadow-lg w-full bg-white rounded p-6">
        <div class="flex justify-between items-center">
            <div class="pb-4">
                <h3>{{'classDetails' | translate}}</h3>
            </div>
            <div>
                <a class="mx-3" (click)="editEvent(this.classDetails)" href="javascript:void(0)">
                    <ic-icon [icon]="icEdit" inline="true" class="text-2xl"></ic-icon>
                </a>
                <a class="mx-3" (click)="deleteEvent(this.classDetails)" href="javascript:void(0)">
                    <ic-icon [icon]="icDelete" class="text-2xl" inline="true"></ic-icon>
                </a>
                <a class="mx-3" (click)="closeDetails()" href="javascript:void(0)">
                    <ic-icon [icIcon]="icClose" class="text-2xl" inline="true"></ic-icon>
                </a>
            </div>
        </div>
        <ul class="md:grid md:grid-cols-2 col-gap-8 mt-3 md:row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'date' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">{{classdate | date}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'period' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">{{classPeriodName}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'room' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">{{classRoomName}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'takeAttendance' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">{{classtakeAttendance}}</p>
            </li>
        </ul>
    </div>
</div>
<hr />
<mat-error class="mx-8" *ngIf="showError && !detailsFromParentModal.editMode">
    Please Select a Calendar.
</mat-error>
<mat-error class="mx-8" *ngIf="showMarkingPeriodError && !detailsFromParentModal.editMode">
    Please select valid duration.
</mat-error>
<div class="flex justify-between items-center" *ngIf="!showError && !showMarkingPeriodError">
    <a [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarPreviousView>
        <mat-icon>west</mat-icon>
    </a>
    <h3 class="text-blue text-center"> {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

    <a [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarNextView>
        <mat-icon>east</mat-icon>
    </a>
</div>
<hr *ngIf="!showError && !showMarkingPeriodError">
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cal-events px-2 pb-2 justify-center" *ngIf="day.events.length > 0">
        <div [ngClass]="event.meta.randomColor" (click)="$event.stopPropagation(); viewEvent(event)" class="text-xs px-2 py-1 rounded text-white" *ngFor="let event of day.events;">
            <mat-icon *ngIf="event.allDay" class="align-middle text-xs inline-block">check</mat-icon>
            <span class="cursor-pointer align-middle">{{ event.title}}</span>
        </div>
    </div>

</ng-template>

<div [ngSwitch]="view" *ngIf="!showError && !showMarkingPeriodError">
    <mwl-calendar-month-view *ngSwitchCase="'month'" (dayClicked)="openAddNewEvent($event.day)" [viewDate]="viewDate"
        [events]="events" [refresh]="refresh" (beforeViewRender)="beforeMonthViewRender($event)"
        [weekendDays]="weekendDays" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
</div>