<vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
<div class="flex container-sidenav-secondary" [ngClass]="secondarySidebar==0?'' : 'show-secondary-sidebar'">
    <div class="sidenav-secondary">
        <button mat-icon-button class="close-secondary-sidebar" (click)="toggleSecondarySidebar()"><mat-icon>close</mat-icon></button>
        <vex-scrollbar class="flex-auto">
            <div class="h-45 text-center sm:px-0 pt-5 pb-2">
                <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage" class="inline-block"></vex-profile-image>
            </div>
            <div class="text-center px-4">
                <h5 class="text-primary font-semibold mb-0">{{parentTitle}}</h5>
                <div class="rounded-full py-1 px-3 bg-gray text-white inline-block mt-3">{{'parent' |translate}}</div>
            </div>
            <hr class="mt-4"/>
            <div class="px-gutter sm:px-0">
                <a @fadeInRight *ngIf="showGeneralInfo" (click)='showPage("/school/parents/parent-generalinfo")' [ngClass]=" categoryPath =='/school/parents/parent-generalinfo' ? 'text-primary active' : ''" class="list-item no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icGeneralInfo" class="mr-3"></mat-icon> {{'generalInfo' |translate}}
                </a>
                <a @fadeInRight *ngIf="showAddressInfo" (click)='showPage("/school/parents/parent-addressinfo")' [ngClass]=" categoryPath =='/school/parents/parent-addressinfo' ? 'text-primary active' : ''" class="list-item no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icAddress" class="mr-3"></mat-icon> {{'addressInfo' |translate}}
                </a>
                <!-- <a @fadeInRight routerLink="" (click)='showPage("School Access")' [ngClass]=" pageId =='School Access' ? 'text-primary active' : ''" class="list-item no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icAccessInfo" class="mr-3"></mat-icon> Login Information
                </a> -->
            </div>
        </vex-scrollbar>
    </div>
    <div class="right-content">
        <vex-page-layout>
            <vex-page-layout-header class="pb-10 pt-6" fxLayoutAlign="center start">
                <vex-secondary-toolbar current="{{'parentInformation'}}" class="w-full">
                    <vex-breadcrumbs [crumbs]="['parents',pageStatus]" class="flex-auto"></vex-breadcrumbs>
                </vex-secondary-toolbar>
            </vex-page-layout-header>
            <div class="bg-primary px-4 py-2 rounded -mt-16 mx-4 persistent-bar">
                <div class="flex items-center">
                    <button mat-icon-button class="text-white mr-2" (click)="toggleSecondarySidebar()"><mat-icon>apps</mat-icon></button>
                    <div class="h-45 text-center sm:px-0">
                        <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage"
                            style="width:50px" class="mx-auto inline-block"></vex-profile-image>
                        </div>
                    <div class="px-4">
                        <h4 class="mb-0 text-white">{{parentTitle}}</h4>
                        <div class="text-white opacity-50">{{'parent' |translate}}</div>
                    </div>
                </div>
            </div>
            <vex-page-layout-content class="-mt-4">
                <div class="w-full">
                            <router-outlet></router-outlet>
                        </div>
            </vex-page-layout-content>
        </vex-page-layout>
    </div>
    <div class="sidebar-overlay"  (click)="toggleSecondarySidebar()"></div>
</div>