<form [formGroup]="form" (ngSubmit)="submit()">

<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" *ngIf="isEdit; else add">{{'editMarkingPeriod' | translate}}</h2>
    <ng-template #add>
        <h2 class="headline m-0" fxFlex="auto" >{{'addMarkingPeriod' | translate}}</h2>
      </ng-template>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input formControlName="title"  [(ngModel)]="markingPeriodAddModel.tableSchoolYears.title"  name="title" cdkFocusInitial matInput required>
        <mat-error *ngIf="form.get('title').hasError('required')">{{'titleIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'shortName' | translate}}</mat-label>
        <input formControlName="shortName"  [(ngModel)]="markingPeriodAddModel.tableSchoolYears.shortName"  name="shortName"  matInput required>
        <mat-error *ngIf="form.get('shortName').hasError('required')">{{'shortNameIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <div class="mb-2 md:flex md:flex-wrap -mx-6">
        <div class="flex flex-1 mx-6 md:w-1/2">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'begins' | translate}}</mat-label>
                <input  formControlName="startDate" (dateInput)="checkStartDate()" [(ngModel)]="markingPeriodAddModel.tableSchoolYears.startDate"  name="startDate" [matDatepicker]="begins" [min]="checkStartDate()" [max]="markingPeriodAddModel.tableSchoolYears.endDate" matInput required>
                <mat-datepicker-toggle [for]="begins" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #begins></mat-datepicker>
                <mat-error *ngIf="form.get('startDate').hasError('required')">{{'startDateIsRequired'|translate}}</mat-error>   
                 
                <mat-error *ngIf="form.get('startDate').hasError('matDatepickerMax')">{{'startDateCannotExceedEndDate'|translate}}</mat-error>   

            </mat-form-field>
        </div>
        <div class="flex flex-1 mx-6 md:w-1/2">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'ends' | translate}}</mat-label>
                <input formControlName="endDate" [(ngModel)]="markingPeriodAddModel.tableSchoolYears.endDate"  name="endDate" [matDatepicker]="ends" matInput required>
                <mat-datepicker-toggle [for]="ends" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #ends></mat-datepicker>
                <mat-error *ngIf="form.get('endDate').hasError('required')">{{'endDateIsRequired'|translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="doesGrades">
        <div class="mb-2 md:flex md:flex-wrap -mx-6">
            <div class="flex flex-1 mx-6 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'gradePostingBegins' | translate}}</mat-label>
                    <input formControlName="postStartDate" [(ngModel)]="markingPeriodAddModel.tableSchoolYears.postStartDate" [min]="markingPeriodAddModel.tableSchoolYears.startDate" [max]="markingPeriodAddModel.tableSchoolYears.endDate"  name="postStartDate"  [matDatepicker]="gradePostingBegins" matInput >
                    <mat-datepicker-toggle [for]="gradePostingBegins" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #gradePostingBegins></mat-datepicker>
                    <mat-error *ngIf="form.get('postStartDate').hasError('invalidDateComparison')">{{"gradePostingEndDateCannotBeEarlierThanGradePostingBeginDate"|translate}}</mat-error>
                    <mat-error *ngIf="form.get('postStartDate').hasError('matDatepickerMin')">{{'gradePostingBeginsDateCannotBeEarlierThanMarkingPeriodBeginsDate'|translate}}</mat-error>
                    <mat-error *ngIf="form.get('postStartDate').hasError('matDatepickerMax')">{{'gradePostingBeginsDateCannotExceedMarkingPeriodEndsDate'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-6 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'gradePostingEnds' | translate}}</mat-label>
                    <input formControlName="postEndDate" (dateChange)="gradeDateCompare()" [(ngModel)]="markingPeriodAddModel.tableSchoolYears.postEndDate"  [min]="markingPeriodAddModel.tableSchoolYears.startDate"  name="postEndDate" [matDatepicker]="gradePostingEnds" matInput>
                    <mat-datepicker-toggle [for]="gradePostingEnds" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #gradePostingEnds></mat-datepicker>
                    <mat-error *ngIf="form.get('postEndDate').hasError('compareGradeError')">{{"gradePostingEndDateCannotBeEarlierThanGradePostingBeginDate"|translate}}</mat-error>
                    <mat-error *ngIf="form.get('postEndDate').hasError('matDatepickerMin')">{{'gradePostingEndsDateCannotBeEarlierThanMarkingPeriodBeginsDate'|translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
        <div fxLayout="row" fxLayoutGap="25px">
        <mat-checkbox formControlName="doesGrades" (click) = "checkGrade(markingPeriodAddModel.tableSchoolYears.doesGrades)"[(ngModel)]="markingPeriodAddModel.tableSchoolYears.doesGrades" color="primary">{{'graded' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="doesExam" [(ngModel)]="markingPeriodAddModel.tableSchoolYears.doesExam" color="primary">{{'exam' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="doesComments" [(ngModel)]="markingPeriodAddModel.tableSchoolYears.doesComments" color="primary">{{'comments' | translate}}</mat-checkbox>
    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit" >{{isEdit? "UPDATE" : "SUBMIT"}}</button>    
</mat-dialog-actions>
</form>