<div class="overflow-x-auto overflow-y-hidden border">
    <table class="w-full schedule-table gradebook-table">
        <thead>
            <tr>
                <th class="w-3/12">{{ "assignment" | translate }}</th>
                <th class="w-1/12">{{ "points" | translate }}</th>
                <th class="w-1/12">{{ "grade" | translate }}</th>
                <th class="w-6/12">{{ "comment" | translate }}</th>
                <th class="w-1/12">{{ "action" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-skyblue-light">
                <td class="text-primary font-semibold">Homework<span class="ml-2">(Percentage of Grade : 10%)</span></td>
                <td class="text-primary">33/40</td>
                <td class="text-primary">82.5% [B]</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><p class="pl-4">Rock Music Design Project</p></td>
                <td>15/20</td>
                <td>75% [B]</td>
                <td>Not upto the mark</td>
                <td class="cursor-pointer"><mat-icon [icIcon]="icEdiit"></mat-icon></td>
            </tr>
            <tr>
                <td><p class="pl-4">Practice Vocals</p></td>
                <td>18/20</td>
                <td>90% [A]</td>
                <td>Progressing</td>
                <td class="cursor-pointer"><mat-icon [icIcon]="icEdiit"></mat-icon></td>
            </tr>

            <tr class="bg-skyblue-light">
                <td class="text-primary font-semibold">Classwork<span class="ml-2">(Percentage of Grade : 40%)</span></td>
                <td class="text-primary">10/20</td>
                <td class="text-primary">50% [F]</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><p class="pl-4">African Music Design Project</p></td>
                <td>10/20</td>
                <td>50% [F]</td>
                <td>Needs Improvement</td>
                <td class="cursor-pointer"><mat-icon [icIcon]="icEdiit"></mat-icon></td>
            </tr>

            <tr class="bg-skyblue-light">
                <td class="text-primary font-semibold">Quiz<span class="ml-2">(Percentage of Grade : 40%)</span></td>
                <td class="text-primary">32/40</td>
                <td class="text-primary">76.19% [B]</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><p class="pl-4">Quiz 1</p></td>
                <td>16/20</td>
                <td>80% [B]</td>
                <td>Average</td>
                <td class="cursor-pointer"><mat-icon [icIcon]="icEdiit"></mat-icon></td>
            </tr>
            <tr>
                <td><p class="pl-4">Quiz 1</p></td>
                <td>16/20</td>
                <td>80% [B]</td>
                <td>Average</td>
                <td class="cursor-pointer"><mat-icon [icIcon]="icEdiit"></mat-icon></td>
            </tr>
            
            <tr class="bg-skyblue-light">
                <td class="text-primary font-semibold">Special Projects<span class="ml-2">(Percentage of Grade : 10%)</span></td>
                <td class="text-primary">16/20</td>
                <td class="text-primary">80% [B]</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><p class="pl-4">Project 1</p></td>
                <td>16/20</td>
                <td>80% [B]</td>
                <td>Average</td>
                <td class="cursor-pointer"><mat-icon [icIcon]="icEdiit"></mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-right p-4">
    <button color="primary" mat-flat-button type="submit" class="text-white ml-2">{{ 'submit' |translate }}</button>
</div>