.schedule-table {
  tr {
    td,
    th {
      @apply border-b;
      @apply border-l;
      border-color: rgba(0, 0, 0, 0.1);
      @apply px-4;
      @apply py-2;
      &:first-child {
        border-left: none;
      }
    }
    th {
      text-align: left;
      &:last-child {
        // text-align: right;
      }
    }
    &:last-child td {
      border-bottom: none;
    }

		@media (min-width: 991px) {
			&.active td {
				@apply bg-skyblue-light;

				h6 {
					@apply text-primary;
				}
			}
		}
  }
}
textarea {
  resize: none;
  &:focus {
    outline: none;
  }
}
.content-left,
.content-right {
	height: calc(100vh - 408px);
  overflow: auto;
}

@media (max-width: 991px) {
	.content-left,
	.content-right {
		height: auto;
	}

	.content-right {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		background: rgba(0, 0, 0, 0.5);
		z-index: 9;
		display: none;
	}

	.show-comment-details {
		.content-right {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

.select-dropdown {
  position: relative;
  background-color: #fff;
  border: 1px solid#ececec;
  border-radius: 4px;
  select {
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    padding: 6px 24px 6px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}
.whitespace-nowrap {
  white-space: nowrap;
}

/* switch */
.switch-wrap {
  left: -17px;
  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: #4db050;
      }
      &:focus + .slider {
        box-shadow: none;
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(12, 62, 138);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
      &::before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: -7px;
        bottom: 3px;
        background-color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
        transform: translateX(12px);
      }
    }
  }
}

::ng-deep .mat-chips.mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper .mat-form-field-infix {
	padding-top: 1.2rem;
}
