<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current={{pageTitle}} [schoolSettings]="attendanceSettings" [pages]="pages"
            (selectedPage)="getSelectedPage($event)" class="w-full">
            <vex-breadcrumbs [crumbs]="['Settings','Attendance Settings']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content class="-mt-6">
        <mat-drawer-container class="bg-transparent flex-auto flex -mt-16">
            <mat-drawer-content class="flex-auto flex items-start">
                <div class="w-full">
                    <div *ngIf="pageId=='Attendance Codes'">
                        <vex-attendance-codes></vex-attendance-codes>
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </vex-page-layout-content>
</vex-page-layout>