<div class="flex container-sidenav-secondary" [ngClass]="secondarySidebar==0?'' : 'show-secondary-sidebar'">
    <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
    <div class="sidenav-secondary">
        <button mat-icon-button class="close-secondary-sidebar" (click)="toggleSecondarySidebar()"><mat-icon>close</mat-icon></button>
        <vex-scrollbar class="flex-auto">
            <div class="h-45 text-center sm:px-0 pt-5 pb-2">
                <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage"
                    class="mx-auto inline-block"></vex-profile-image>
                <span class="critical-alert shadow-md cursor-pointer" *ngIf="criticalAlert" [matTooltip]="studentCriticalInfo" (click)="navigateToMedicalInfo()">
                    <mat-icon [icIcon]="icHospital" class="mr-3"></mat-icon>
                </span>
            </div>
            <div class="text-center px-4">
                <h5 class="text-primary font-semibold mb-0">{{studentTitle |translate}}</h5>
                <div class="rounded-full py-1 px-3 bg-gray text-white inline-block mt-3"
                    *ngIf="studentAddModel.currentGradeLevel">{{studentAddModel.currentGradeLevel}}</div>
            </div>
            <hr class="mt-4" />
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [icIcon]="icSchool" class="mr-3"></mat-icon> {{ 'studentDetails' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <ul class="nav-sub-item">
                            <li *ngFor="let field of fieldsCategory; let index =index"
                                (click)="changeCategory(field,index)">
                                <a [ngClass]="currentCategory==field?.categoryId?'text-blue active' : ''"
                                    @fadeInRight *ngIf="field.customFields!=''||index<7">{{field?.title | translate}}</a>
                            </li>

                            <!-- <vex-custom-field *ngIf="field.categoryId == currentCategory && indexOfCategory > 6"
                                [categoryTitle]="field.title" [studentCreateMode]="studentCreateMode"
                                [schoolDetailsForViewAndEdit]="studentAddModel" [categoryId]="indexOfCategory"
                                [module]="module">
                            </vex-custom-field> -->

                        </ul>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div>
                <a *ngIf="otherTabs?.courseSchedule" @fadeInRight class="list-item mt-2 no-underline flex items-center" matRipple
                    (click)="changeTempCategory('/school/students/student-course-schedule')" [ngClass]="categoryPath === '/school/students/student-course-schedule' ?'text-blue' : ''">
                    <mat-icon [icIcon]="icCalendar" class="mr-3"></mat-icon> {{ 'courseSchedule' | translate }}
                </a>
                <a *ngIf="otherTabs?.attendance" @fadeInRight class="list-item mt-2 no-underline flex items-center" matRipple (click)="changeTempCategory('/school/students/student-attendance')" [ngClass]="categoryPath === '/school/students/student-attendance' ?'text-blue' : ''">
                    <mat-icon [icIcon]="icAlarm" class="mr-3"></mat-icon> {{ 'attendance' | translate }}
                </a>
            </div>
            <mat-accordion *ngIf="otherTabs?.reportCard || otherTabs?.transcript">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon [icIcon]="icPoll" class="mr-3"></mat-icon> {{ 'grades' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <ul class="nav-sub-item">
                            <li *ngIf="otherTabs?.reportCard">
                                <a (click)="changeTempCategory('/school/students/student-report-card')" @fadeInRight [ngClass]="categoryPath === '/school/students/student-report-card' ?'text-blue active' : ''">{{ 'reportCard' | translate }}</a>
                            </li>
                            <li *ngIf="otherTabs?.transcript">
                                <a (click)="changeTempCategory('/school/students/student-transcript')" @fadeInRight [ngClass]="categoryPath === '/school/students/student-transcript' ?'text-blue active' : ''">{{ 'transcripts' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </vex-scrollbar>
    </div>
    <div class="right-content">
        <vex-page-layout>
            <vex-page-layout-header class="pb-10 pt-6" fxLayoutAlign="center start">
                <vex-secondary-toolbar
                    current="{{studentCreateMode==studentCreate.ADD?'addStudentInformation':'studentInformation'}}"
                    class="w-full">
                    <vex-breadcrumbs [crumbs]="['students',pageStatus]" class="flex-auto"></vex-breadcrumbs>
                </vex-secondary-toolbar>
            </vex-page-layout-header>
            <div class="bg-primary px-4 py-2 rounded -mt-16 mx-4 persistent-bar">
                <div class="flex items-center">
                    <button mat-icon-button class="text-white mr-2" (click)="toggleSecondarySidebar()"><mat-icon>apps</mat-icon></button>
                    <div class="h-45 text-center sm:px-0 relative">
                        <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage" style="width:50px"
                            class="mx-auto inline-block rounded"></vex-profile-image>
                        <span class="critical-alert shadow-md" *ngIf="criticalAlert" [matTooltip]="studentCriticalInfo" (click)="navigateToMedicalInfo()">
                            <mat-icon  [icIcon]="icHospital" class="mr-3"></mat-icon>
                        </span>
                    </div>
                    <div class="text-left px-4">
                        <h4 class="mb-0 text-white">{{studentTitle}}</h4>
                        <div class="text-white opacity-50 inline-block" *ngIf="studentAddModel.currentGradeLevel">{{studentAddModel.currentGradeLevel}}</div>
                    </div>
                </div>
            </div>
            <vex-page-layout-content class="-mt-4">
                
                <mat-drawer-container class="bg-transparent flex-auto flex">
                    <mat-drawer-content class="flex-auto flex items-start">
                        <div class="w-full" fxFlex="auto">
                            <router-outlet></router-outlet>
                            <!-- <vex-student-generalinfo *ngIf="currentCategory==3" [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel"
                                (dataAfterSavingGeneralInfo)="afterSavingGeneralInfo($event)"
                                [categoryId]="indexOfCategory">
                            </vex-student-generalinfo> -->

                            <!-- <vex-student-addressandcontacts *ngIf="currentCategory==5"
                                [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel">
                            </vex-student-addressandcontacts> -->

                            <!-- <vex-student-enrollmentinfo *ngIf="currentCategory==4"
                                [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel">
                            </vex-student-enrollmentinfo> -->

                            <!-- <vex-student-familyinfo *ngIf="currentCategory==6" [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel">
                            </vex-student-familyinfo> -->

                            <!-- <vex-student-logininfo *ngIf="currentCategory==7">
                    </vex-student-logininfo> -->

                            <!-- <vex-student-medicalinfo *ngIf="currentCategory==7" [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel" [categoryId]="indexOfCategory"
                                (studentDetailsForParent)="checkCriticalAlertFromMedical($event)">
                            </vex-student-medicalinfo> -->

                            <!-- <vex-student-comments *ngIf="currentCategory==8" [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel">
                            </vex-student-comments> -->

                            <!-- <vex-student-documents *ngIf="currentCategory==9" [studentCreateMode]="studentCreateMode"
                                [studentDetailsForViewAndEdit]="studentAddModel">
                            </vex-student-documents> -->

                            <!-- <vex-student-course-schedule *ngIf="currentCategory==100"> -->

                            <!-- </vex-student-course-schedule>
                            <vex-student-attendance *ngIf="currentCategory==101"></vex-student-attendance>
                            <vex-student-transcript *ngIf="currentCategory==102"></vex-student-transcript>
                            <vex-student-report-card *ngIf="currentCategory==103"></vex-student-report-card> -->

                            <!-- <div *ngFor="let field of fieldsCategory;let index=index">
                                <vex-custom-field *ngIf="field.categoryId == currentCategory && indexOfCategory > 6"
                                    [categoryTitle]="field.title" [studentCreateMode]="studentCreateMode"
                                    [schoolDetailsForViewAndEdit]="studentAddModel" [categoryId]="indexOfCategory"
                                    [module]="module">
                                </vex-custom-field>
                            </div> -->

                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </vex-page-layout-content>
        </vex-page-layout>
    </div>
    <div class="sidebar-overlay"  (click)="toggleSecondarySidebar()"></div>
</div>