<div *ngIf="currentTab === 'gradebook'">
    <div class="card">

        <div *ngIf="currentComponent === 'gradebookGrade'">

            <div *ngIf="classGrade">
                <div class="bg-white px-4 lg:h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                    <div class="lg:flex w-full items-center justify-between">
                        <div class="lg:flex items-center">
                            <div class="py-2 mr-4" fxLayout="row" fxLayoutAlign="start center">
                                <div class="flex items-center w-full">
                                    <input matInput class="py-3 border-0 outline-none w-full bg-transparent"
                                        appearance="outline" color="primary" placeholder="Search..." type="search">
                                    <button class="ml-4" mat-icon-button type="button">
                                        <mat-icon [icIcon]="icSearch"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <hr class="block lg:hidden -mx-4 mb-4"/>
                            <div class="mb-4 lg:mb-0">
                                <mat-slide-toggle color="primary" class="mr-6"><span class="hidden xl:inline-block">{{ 'includeInactiveStudents' | translate }}</span><span class="xl:hidden inline-block">{{ 'inactive' | translate }}</span>
                                </mat-slide-toggle>
                                <mat-slide-toggle color="primary" class=""><span class="hidden xl:inline-block">{{ 'showUngradedOnly' | translate }}</span><span class="xl:hidden inline-block">{{ 'ungradedOnly' | translate }}</span>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div *ngIf="!categoryDetails" class="flex items-center justify-between pb-4 lg:pb-0">
                            <p class="text-primary">{{ 'putAsterixAsPointsValueToExemptAstudentFromAnAssignment' | translate }}</p>
                            <div>
                                <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                    <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                    </mat-icon>
                                </button>
                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                                    <button mat-menu-item>{{ 'exportToExcel' | translate }}</button>
                                    <button mat-menu-item>{{ 'print' | translate }}</button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="flex">
                    <div class="gradebook-left">
                        <div class="flex h-32">
                            <div class="w-2/3 px-4 py-2 flex items-end bg-skyblue-light border-b">
                                <p class="text-center w-full font-semibold">{{ "name" | translate }}</p>
                            </div>
                            <div class="w-1/3 px-4 py-2 flex items-end bg-green-light border-l border-b border-r">
                                <p class="font-semibold w-full">{{ "runningAvgLetterGrade" | translate }}</p>
                            </div>
                        </div>
                        <div class="flex border-b h-16">
                            <div class="w-2/3 px-4 py-2">
                                <div class="flex text-gray">
                                    <div class="flex-shrink-0 h-12 w-12">
                                        <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                    </div>
                                    <div class="ml-3 flex flex-col justify-center">
                                        <h6 class="text-sm font-semibold w-40 truncate text-blue cursor-pointer"
                                            (click)="changeComponent('gradeDetails')">Justin Aponte</h6>
                                        <div>
                                            <span>{{ 'id' | translate }} : OPS54</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/3 p-4 bg-green-light text-gray flex items-center border border-t-0">72% <span class="ml-1 font-medium text-black">[ B+
                                    ]</span>
                            </div>
                        </div>
                        <div class="flex border-b h-16">
                            <div class="w-2/3 px-4 py-2">
                                <div class="flex text-gray">
                                    <div class="flex-shrink-0 h-12 w-12">
                                        <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                    </div>
                                    <div class="ml-3 flex flex-col justify-center">
                                        <h6 class="text-sm font-semibold w-40 truncate text-blue cursor-pointer"
                                            (click)="changeComponent('gradeDetails')">Javier Holmes</h6>
                                        <div>
                                            <span>{{ 'id' | translate }} : OPS62</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/3 p-4 bg-green-light text-gray flex items-center border border-t-0">68% <span class="ml-1 font-medium text-black">[ B
                                    ]</span>
                            </div>
                        </div>
                        <div class="flex border-b h-16">
                            <div class="w-2/3 px-4 py-2">
                                <div class="flex text-gray">
                                    <div class="flex-shrink-0 h-12 w-12">
                                        <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                    </div>
                                    <div class="ml-3 flex flex-col justify-center">
                                        <h6 class="text-sm font-semibold w-40 truncate text-blue cursor-pointer"
                                            (click)="changeComponent('gradeDetails')">James Parker</h6>
                                        <div>
                                            <span>{{ 'id' | translate }} : OPS54</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/3 p-4 bg-green-light text-gray flex items-center border border-t-0">60% <span class="ml-1 font-medium text-black">[ B
                                    ]</span>
                            </div>
                        </div>
                        <div class="flex border-b h-16">
                            <div class="w-2/3 px-4 py-2">
                                <div class="flex text-gray">
                                    <div class="flex-shrink-0 h-12 w-12">
                                        <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                    </div>
                                    <div class="ml-3 flex flex-col justify-center">
                                        <h6 class="text-sm font-semibold w-40 truncate text-blue cursor-pointer"
                                            (click)="changeComponent('gradeDetails')">Colin Parker</h6>
                                        <div>
                                            <span>{{ 'id' | translate }} : OPS45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/3 p-4 bg-green-light text-gray flex items-center border border-t-0">68% <span class="ml-1 font-medium text-black">[ B
                                    ]</span>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x-auto gradebook-right">
                        <div class="flex">
                            <div class="gradebook-right-col">
                                <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                    <p>Due : April 16, 2021</p>
                                    <div class="flex justify-between h-12">
                                        <p class="multi-line-text font-semibold mt-1">Quiz 1</p>
                                        <div>
                                            <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                                <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                                </mat-icon>
                                            </button>
                                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Quiz</a></p>
                                        <p>{{ 'weightage' | translate }} : 40%</p>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="flex">
                                            <input type="text" class="p-1 border border-gray-light rounded w-12 mr-2" />
                                            <span class="mt-1">/20</span>
                                        </div>
                                        <button class="ml-4" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="flex">
                                            <input type="text" class="p-1 border border-gray-light rounded w-12 mr-2" />
                                            <span class="mt-1">/20</span>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="flex">
                                            <input type="text" class="p-1 border border-gray-light rounded w-12 mr-2" />
                                            <span class="mt-1">/20</span>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Colin Parker, ID : OPS45"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="flex">
                                            <input type="text" class="p-1 border border-gray-light rounded w-12 mr-2" />
                                            <span class="mt-1">/20</span>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="gradebook-right-col">
                                <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                    <p>Due : April 16, 2021</p>
                                    <div class="flex justify-between h-12">
                                        <p class="multi-line-text font-semibold mt-1">African Music Design Project</p>
                                        <div>
                                            <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                                <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                                </mat-icon>
                                            </button>
                                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Homework</a></p>
                                        <p>{{ 'weightage' | translate }} : 40%</p>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>18/20</p>
                                            <p>90% <span class="font-semibold text-black">[ A+ ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>15/20</p>
                                            <p>75% <span class="font-semibold text-black">[ B ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-green"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Co lin Parker, ID : OPS45"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="gradebook-right-col">
                                <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                    <p>Due : April 16, 2021</p>
                                    <div class="flex justify-between h-12">
                                        <p class="multi-line-text font-semibold mt-1">Practice Vocals</p>
                                        <div>
                                            <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                                <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                                </mat-icon>
                                            </button>
                                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Homework</a></p>
                                        <p>{{ 'weightage' | translate }} : 10%</p>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>18/20</p>
                                            <p>90% <span class="font-semibold text-black">[ A+ ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>15/20</p>
                                            <p>75% <span class="font-semibold text-black">[ B ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Colin Parker, ID : OPS45"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-green"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="gradebook-right-col">
                                <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                    <p>Due : Mar 29, 2021</p>
                                    <div class="flex justify-between h-12">
                                        <p class="multi-line-text font-semibold mt-1">Rock Music Design Project</p>
                                        <div>
                                            <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                                <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                                </mat-icon>
                                            </button>
                                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Homework</a></p>
                                        <p>{{ 'weightage' | translate }} : 10%</p>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>18/20</p>
                                            <p>90% <span class="font-semibold text-black">[ A+ ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>15/20</p>
                                            <p>75% <span class="font-semibold text-black">[ B ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-green"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Colin Parker, ID : OPS45"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="gradebook-right-col">
                                <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                    <p>Due : Mar 13, 2021</p>
                                    <div class="flex justify-between h-12">
                                        <p class="multi-line-text font-semibold mt-1">Project 01</p>
                                        <div>
                                            <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                                <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                                </mat-icon>
                                            </button>
                                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Special Projects</a></p>
                                        <p>{{ 'weightage' | translate }} : 10%</p>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>18/20</p>
                                            <p>90% <span class="font-semibold text-black">[ A+ ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>15/20</p>
                                            <p>75% <span class="font-semibold text-black">[ B ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-green"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Colin Parker ID : OPS45"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                    <div class="flex justify-between items-center">
                                        <div class="">
                                            <p>17/20</p>
                                            <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                        </div>
                                        <button class="" (click)="addGradeComment()">
                                            <i class="icon icon-bubble text-lg text-gray-light"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right p-4">
                    <button mat-raised-button color="primary">{{ 'submit' | translate }}</button>
                </div>
            </div>
            
        </div>


        <div *ngIf="categoryDetails">
            <div class="md:flex items-center justify-between px-4 py-2">
                <h4 class="text-lg">
                    <span class="cursor-pointer text-blue" (click)="backTogradeList()">
                        <mat-icon class="mr-4 align-middle">west</mat-icon>
                    </span>
                    <span class="font-semibold text-lg text-primary">Homework</span>
                    <p class="pl-10">{{ 'weightage' | translate }} : 10%</p>
                </h4>
                <div class="my-2 md:my-0">
                    <p class="text-primary">{{ 'putAsterixAsPointsValueToExemptAstudentFromAnAssignment' | translate }}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="bg-white px-4 lg:h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="lg:flex w-full items-center justify-between">
                    <div class="lg:flex items-center">
                        <div class="py-2 mr-4" fxLayout="row" fxLayoutAlign="start center">
                            <div class="flex items-center w-full">
                                <input matInput class="py-3 border-0 outline-none w-full bg-transparent"
                                    appearance="outline" color="primary" placeholder="Search..." type="search">
                                <button class="ml-4" mat-icon-button type="button">
                                    <mat-icon [icIcon]="icSearch"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <hr class="block lg:hidden -mx-4 mb-4"/>
                        <div class="mb-4 lg:mb-0">
                            <mat-slide-toggle color="primary" class="mr-6"><span class="hidden xl:inline-block">{{ 'includeInactiveStudents' | translate }}</span><span class="xl:hidden inline-block">{{ 'inactive' | translate }}</span>
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" class=""><span class="hidden xl:inline-block">{{ 'showUngradedOnly' | translate }}</span><span class="xl:hidden inline-block">{{ 'ungradedOnly' | translate }}</span>
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div><div class="flex">
                <div class="gradebook-left">
                    <div class="flex items-end justify-around py-2 h-32 bg-skyblue-light border-b border-r">
                        <div class="w-2/4 px-4">
                            <p class="text-center font-semibold">{{ "name" | translate }}</p>
                        </div>
                        <div class="w-1/4 px-4">
                            <p class="font-semibold">{{ "totalPoints" | translate }}</p>
                        </div>
                        <div class="w-1/4 px-4">
                            <p class="font-semibold">{{ "grade" | translate }}</p>
                        </div>
                    </div>
                    <div class="flex py-2 border-b h-16 border-r">
                        <div class="w-2/4 px-4">
                            <div class="flex text-gray">
                                <div class="flex-shrink-0 h-12 w-12">
                                    <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                </div>
                                <div class="ml-3 flex flex-col justify-center">
                                    <h6 class="text-sm font-semibold w-24 truncate text-blue cursor-pointer"
                                        (click)="changeComponent('gradeDetails')">Justin Aponte</h6>
                                    <div>
                                        <span>{{ 'id' | translate }} : OPS54</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/4 p-4 text-gray">72/80</div>
                        <div class="w-1/4 p-4 text-gray whitespace-nowrap">90% <span class="font-medium text-black ml-1">[ A
                                ]</span>
                        </div>
                    </div>
                    <div class="flex py-2 border-b h-16 border-r">
                        <div class="w-2/4 px-4">
                            <div class="flex text-gray">
                                <div class="flex-shrink-0 h-12 w-12">
                                    <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                </div>
                                <div class="ml-3 flex flex-col justify-center">
                                    <h6 class="text-sm font-semibold w-24 truncate text-blue cursor-pointer"
                                        (click)="changeComponent('gradeDetails')">Javier Holmes</h6>
                                    <div>
                                        <span>{{ 'id' | translate }} : OPS62</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/4 p-4 text-gray">68/80</div>
                        <div class="w-1/4 p-4 text-gray whitespace-nowrap">85% <span class="font-medium text-black ml-1">[ B
                                ]</span>
                        </div>
                    </div>
                    <div class="flex py-2 border-b h-16 border-r">
                        <div class="w-2/4 px-4">
                            <div class="flex text-gray">
                                <div class="flex-shrink-0 h-12 w-12">
                                    <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                </div>
                                <div class="ml-3 flex flex-col justify-center">
                                    <h6 class="text-sm font-semibold w-24 truncate text-blue cursor-pointer"
                                        (click)="changeComponent('gradeDetails')">James Parker</h6>
                                    <div>
                                        <span>{{ 'id' | translate }} : OPS54</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/4 p-4 text-gray">60/80</div>
                        <div class="w-1/4 p-4 text-gray whitespace-nowrap">60% <span class="font-medium text-black ml-1">[ B
                                ]</span>
                        </div>
                    </div>
                    <div class="flex py-2 border-b h-16 border-r">
                        <div class="w-2/4 px-4">
                            <div class="flex text-gray">
                                <div class="flex-shrink-0 h-12 w-12">
                                    <img src="assets/img/default.jpg" alt="" class="h-12 w-12 rounded-full" />
                                </div>
                                <div class="ml-3 flex flex-col justify-center">
                                    <h6 class="text-sm font-semibold w-24 truncate text-blue cursor-pointer"
                                        (click)="changeComponent('gradeDetails')">Colin Parker</h6>
                                    <div>
                                        <span>{{ 'id' | translate }} : OPS45</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/4 p-4 text-gray">68/80</div>
                        <div class="w-1/4 p-4 text-gray whitespace-nowrap">68% <span class="font-medium text-black ml-1">[ B
                                ]</span>
                        </div>
                    </div>
                </div>
                <div class="overflow-x-auto gradebook-right">
                    <div class="flex">

                        <div class="gradebook-right-col">
                            <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                <p>Due : Mar 29, 2021</p>
                                <div class="flex justify-between h-12">
                                    <p class="multi-line-text font-semibold mt-1">Rock Music Design Project</p>
                                    <div>
                                        <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                            <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                            </mat-icon>
                                        </button>
                                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                                            <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="">
                                    <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Homework</a></p>
                                    <p>{{ 'weightage' | translate }} : 10%</p>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>18/20</p>
                                        <p>90% <span class="font-semibold text-black">[ A+ ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-gray-light"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>17/20</p>
                                        <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-gray-light"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>15/20</p>
                                        <p>75% <span class="font-semibold text-black">[ B ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-green"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Colin Parker, ID : OPS45"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>17/20</p>
                                        <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-gray-light"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="gradebook-right-col">
                            <div class="bg-skyblue-light px-4 py-2 h-32 border-b border-r">
                                <p>Due : April 16, 2021</p>
                                <div class="flex justify-between h-12">
                                    <p class="multi-line-text font-semibold mt-1">Practice Vocals</p>
                                    <div>
                                        <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2">
                                            <mat-icon class="font-semibold align-middle cursor-pointer">more_vert
                                            </mat-icon>
                                        </button>
                                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                                            <button mat-menu-item>{{ 'editGrades' | translate }}</button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="">
                                    <p class="text-blue cursor-pointer truncate" (click)="showCategoryList()"><a>Homework</a></p>
                                    <p>{{ 'weightage' | translate }} : 10%</p>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Justin Aponte, ID : OPS54"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>18/20</p>
                                        <p>90% <span class="font-semibold text-black">[ A+ ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-gray-light"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Javier Holmes, ID : OPS62"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>17/20</p>
                                        <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-gray-light"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="James Parker, ID : OPS54"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>15/20</p>
                                        <p>75% <span class="font-semibold text-black">[ B ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-gray-light"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-4 text-gray h-16 border-b border-r" matTooltip="Colin Parker, ID : OPS45"
                                aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'">
                                <div class="flex justify-between items-center">
                                    <div class="">
                                        <p>17/20</p>
                                        <p>85% <span class="font-semibold text-black">[ A ]</span></p>
                                    </div>
                                    <button class="" (click)="addGradeComment()">
                                        <i class="icon icon-bubble text-lg text-green"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-right p-4">
                <button mat-raised-button color="primary">{{ 'submit' | translate }}</button>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="currentComponent === 'gradeDetails'">
        <div class="md:flex items-center p-4 justify-between">
            <div class="flex">
                <span class="cursor-pointer text-blue flex items-center" (click)="changeComponent('gradebookGrade')">
                    <mat-icon class="mr-4 align-middle">west</mat-icon>
                </span>
                <div class="flex">
                    <div class="flex-shrink-0 h-10 w-10">
                        <img src="assets/img/default.jpg" alt="" class="h-10 w-10 rounded-full" />
                    </div>
                    <div class="ml-3">
                        <p class="text-lg font-semibold text-blue cursor-pointer" (click)="changeComponent('gradeDetails')">
                            Justin Aponte</p>
                        <p class="text-gray text-xs">{{ 'id' | translate }} : OPS54</p>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <vex-gradebook-grade-details></vex-gradebook-grade-details>
    </div>
</div>



