<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0 text-warn" fxFlex="auto">
        {{ "areYouSure" | translate }}
    </h2>
</div>

<mat-dialog-content class="mb-1">
    <p *ngIf="data?.isGradeAssociated;else normalConfirmation" class="text-lg mb-6">{{ 'thisAssignment' | translate }} <span class="font-semibold mx-1">(Analysis Chemical Composition)</span> {{ 'isAlreadyGraded' | translate }} {{ 'deletingThisWillDeleteTheGradesAlso' | translate }} {{ 'doYouWantToContinue' | translate }}</p>
    <ng-template #normalConfirmation>
        <p  class="text-lg mb-6">{{data.message}}</p>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="pb-4">
    <button mat-flat-button mat-dialog-close>{{ 'no' | translate }}</button>
    <button color="primary" (click)="confirmDeletion()" mat-flat-button type="submit" class="text-white ml-2">{{ 'yes' |translate }}</button>
</mat-dialog-actions>