.arrow-right::after {
    content: " ";
    display: inline-block;
    position: absolute;
    right: -6px;
    top: 42%;
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;    
    border-left: 6px solid #4caf50;

    @media (max-width: 767.98px){
       left: 50%;
       top: 96%;
       transform: rotate(90deg);
    }
}

.table-search {
    width: 70px;
    transition: all 0.3s ease;
  
    @media (max-width: 767.98px){
        width:100%;
    }
  
    &:focus {
      width: 180px;

      @media (max-width: 767.98px){
          width: 100%;
      }
    }
}

::ng-deep .mat-tooltip {
    max-width: 300px !important;
    font-size: 12px;
    white-space: normal;
}