<div class="card">
    <div class="bg-white px-6 md:h-16 border-b sticky left-0 pb-4 md:pb-0" fxLayout="row" fxLayoutAlign="start center">
        <div class="md:flex w-full justify-between">
            <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                fxLayoutAlign="start center">

                <div class="flex">
                    <input
                    matInput
                    [(ngModel)]="searchKey"
                    (keyup)="applyFilter()"
                    class="py-3 border-0 outline-none w-full bg-transparent"
                    appearance="outline" color="primary"
                     placeholder="Search..."
                    type="search">
                    <button mat-button matSuffix mat-icon-button aria-label="clear"
                    *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                    </button>
                    <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5" alt="Loader icon">
                    <button *ngIf="!loading" class="ml-4" mat-icon-button type="button">
                        <mat-icon>search</mat-icon>
                    </button>
                  </div>
            </div>
            <hr class="-mx-6 block md:hidden"/>

            <div fxFlex="200px" class="pt-3">
                <button (click)="exportSchoolClassificationListToExcel()" fxFlex="none" mat-icon-button
                    matTooltip="{{'exportToExcel' | translate}}" type="button" class="cursor-pointer inline-block align-middle">
                    <img src="assets/img/microsoft_office_excel.svg" alt="Excel Icon" width="24">
                </button>
                 
                <button 
                [matMenuTriggerFor]="columnFilterMenu"
                class="ml-3"
                fxFlex="none"
                mat-icon-button
                matTooltip="{{'filterColumns' | translate}}"
                type="button">
                <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>
      <button *ngIf="permissions?.add" color="primary" class="ml-4" fxFlex="none" mat-raised-button type="button" (click)='goToAdd()'>
          <ic-icon [icon]="icAdd" class="mr-0 md:mr-2" inline="true" size="24px">
                      </ic-icon>                         
                      <span class="hidden md:inline-block"> {{'addSchoolClassification' | translate}}</span>
                     
                  </button>
              </div>
        </div>
    </div>
    <div class="overflow-x-auto">
        <table @stagger mat-table [dataSource]="ClassificationModelList" class="mat-elevation-z8 table-auto w-full"
            matSort cdkDropList (cdkDropListDropped)="sortLovList($event)">
            
            <ng-container matColumnDef="lovId">
                <th mat-header-cell *matHeaderCellDef>{{'sort'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.schoolId" class="cursor-move" cdkDragHandle>reorder</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="lovColumnValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'title'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.lovColumnValue}}
                </td>
            </ng-container>

            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'createdBy'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.createdBy}}
                </td>
            </ng-container>

            <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'createDate'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.createdOn|transformDateTimePipe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="updatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'updatedBy'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.updatedBy | EmtyValueCheckPipe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="updatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'updateDate'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.updatedOn|transformDateTimePipe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'action'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                    <a *ngIf="permissions?.edit && element?.schoolId" (click) ="goToEdit(element)" matTooltip="{{'editItem' | translate}}" class="mr-3 cursor-pointer">
                        <mat-icon [icIcon]="icEdit"></mat-icon>
                    </a>
                    <a *ngIf="permissions?.edit && element?.schoolId" (click) ="confirmDelete(element)" matTooltip="{{'deleteItem' | translate}}" class="mr-3 cursor-pointer">
                        <mat-icon [icIcon]="icDelete"></mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="3">
                <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <td mat-footer-cell *matFooterCellDef colspan="6">
                    {{loading?('fetchingData' | translate):('noData' | translate) }}
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
            <tr mat-row cdkDrag *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>
            <mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></mat-footer-row>
            <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="listCount!=null"></tr>

        </table>
        <mat-paginator #paginator [class.hide]="listCount==0" [length]="listCount" [pageSizeOptions]="[10, 20, 30, 40]" aria-label="Select page of periodic elements" showFirstLastButtons></mat-paginator>

    </div>
    <mat-paginator [pageSize]="25" [class.hide]="listCount<26" [pageSizeOptions]="[25, 30, 40, 50]" showFirstLastButtons>
    </mat-paginator>
    <!-- <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator> -->
    <!-- <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator> -->
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{column.label | translate}}
        </mat-checkbox>
    </button>
</mat-menu>