<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title class="mb-4">
    <h2 class="headline m-0" fxFlex="auto">{{ immunizationTitle | translate }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>

</div>
<mat-divider class="-mx-6 mb-6"></mat-divider>
<form [formGroup]="form">
    <mat-dialog-content fxLayout="column">
            <ul class="grid grid-cols-1">
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'type' | translate }}</mat-label>
                        <mat-select class="immunizationType-scroll" formControlName="immunizationType" required>
                            <mat-option value="immunization">{{'immunization' | translate}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('immunizationType').hasError('required')">{{'immunizationIsRequired'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'date' | translate }}</mat-label>
                        <input matInput class="immunizationDate-scroll" [matDatepicker]="date" formControlName="immunizationDate" required>
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-error *ngIf="form.get('immunizationDate').hasError('required')">{{'immunizationDateIsRequired'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'comment' | translate }}</mat-label>
                        <textarea matInput formControlName="comment"></textarea>
                    </mat-form-field>
                </li>
            </ul>
    </mat-dialog-content> 
    <mat-dialog-actions class="pb-4 justify-end">
        <button (click)="cancel()" mat-button class="mr-2">{{ 'cancel' | translate }}</button>
        <button color="primary" (click)="submit()" mat-flat-button type="submit">{{ buttonType | translate }}</button>
    </mat-dialog-actions>
</form>