<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
        {{ "searchselectCourse" | translate }}
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content [formGroup]="form" >
    <ul class="grid grid-cols-1 md:grid-cols-3 col-gap-4 row-gap-2 mt-4">
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "subject" | translate }}</mat-label>
                <mat-select formControlName="subject">
                    <mat-option value=''>All Subject</mat-option>
                    <mat-option *ngFor="let subject of getAllSubjectModel.subjectList" [value]="subject.subjectName">{{subject.subjectName}}</mat-option>

                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "program" | translate }}</mat-label>
                <mat-select formControlName="program">
                    <mat-option value=''>All Program</mat-option>
                    <mat-option *ngFor="let program of getAllProgramModel.programList" [value]="program.programName">{{program.programName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <button color="primary" mat-raised-button type="submit" class="mt-2" (click)="SearchCourseForSchedule()">Search</button>
        </li>
    </ul>
</mat-dialog-content>
<div class="-mx-4 border-t overflow-x-auto overflow-y-hidden" *ngIf="isSearchRecordAvailable">
    <table class="w-full schedule-table">
        <thead>
            <tr>
                <th>{{ "subject" | translate }}</th>
                <th>{{ "program" | translate }}</th>
                <th>{{ "course" | translate }}</th>
                <th>{{ "gradeLevel" | translate }}</th>
                <th>{{ "courseCategory" | translate }}</th>
                <th>{{ "creditHours" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of searchedCourseDetails">
                <td>{{course.courseSubject|EmtyValueCheckPipe}}</td>
                <td>{{course.courseProgram|EmtyValueCheckPipe}}</td>
                <td class="text-primary"><a href="javascript:void(0);" (click)="selectCourse(course)">{{course.courseTitle|EmtyValueCheckPipe}}</a></td>
                <td>{{course.courseGradeLevel|EmtyValueCheckPipe}}</td>
                <td>{{course.courseCategory|EmtyValueCheckPipe}}</td>
                <td>{{course.creditHours?(course.creditHours | number:'0.2'):course.creditHours==0?'0.00':'-'}}</td>
            </tr>
            <tr *ngIf="loading">
                <td colspan="6" class="text-center">{{'fetchingData' | translate}}</td>
            </tr>
            <tr *ngIf="!loading && searchedCourseDetails?.length==0">
                <td colspan="6" class="text-center">{{'noData' | translate}}</td>
            </tr>
        </tbody>
    </table>
</div>