.schedule-table {
    tr {
        td, th {
            @apply border-b;
            border-color: rgba(0,0,0,0.1);
            @apply px-4;
            @apply py-3;
            text-align: left;
        }
        td[colspan]:not([colspan="1"]) {
            text-align: center;
        }
    }
}

