<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title class="mb-4">
    <h2 class="headline m-0" fxFlex="auto">{{ alertTitle | translate }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>

</div>
<mat-divider class="-mx-6 mb-6"></mat-divider>
<mat-dialog-content fxLayout="column">
    <form [formGroup]="form">
        <ul class="grid grid-cols-1">
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{ 'alertInformation' | translate }}</mat-label>
                    <input matInput formControlName="alertType" required>
                    <mat-error *ngIf="form.get('alertType').hasError('whitespace')">{{'alertInformationIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{ 'alertDescription' | translate }}</mat-label>
                    <textarea matInput formControlName="alertDescription"></textarea>
                </mat-form-field>
            </li>
        </ul>
        <div class="text-right pt-6">
            <button (click)="cancel()"  mat-button class="mr-2">{{ 'cancel' | translate }}
            </button>
            <button color="primary" mat-flat-button (click)="submit()" type="submit">{{ buttonType | translate }}
            </button>
        </div>
    </form>
    
</mat-dialog-content>