:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

.small-mobile-logo {
  background: #eaeaea;
  padding: 8px;
  border-radius: 50%;
  display: none;

  @media (max-width: 1279.98px) {
    display: block;
  }
}