<vex-page-layout>
    <vex-page-layout-header class="" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{ 'dashboard' | translate }}" class="w-full">
            <vex-breadcrumbs [crumbs]="['Dashboards']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content class="">

        <div class="card px-6 py-4 border border-warn text-warn text-lg font-semibold bg-warn-light mb-4" *ngIf="scheduledCourseSectionViewModel.missingAttendanceCount>0">
            <mat-icon [icIcon]="icMissingAttendance" class="align-middle mr-3"></mat-icon>
            {{scheduledCourseSectionViewModel.missingAttendanceCount}} {{
            'missingAttendanceFound' | translate }}
        </div>

        <div *ngIf="scheduledCourseSectionViewModel.missingAttendanceCount>0" class="card px-6 py-4 border-2 border-blue mb-4">
            <div class="text-blue relative">
                <mat-icon [icIcon]="icAssessment" class="align-middle mr-5"></mat-icon>
                <mat-icon [icIcon]="icWarning" class="absolute text-warn ic-warning text-base"></mat-icon>
                <span class="text-lg font-medium">{{ 'notification' | translate }}</span>
            </div>
            <ul class="pl-6 md:pl-16 -mx-1">
                <li class="list-disc mb-1">Pre Calculus Assignment Grades due on May 15, 2021</li>
                <li class="list-disc mb-1">Algebra Assignment Grades due on May 15, 2021</li>
                <li class="list-disc mb-1">Algebra Assignment Grades due on May 15, 2021</li>
                <li class="list-disc mb-1">Algebra Assignment Grades due on May 15, 2021</li>
                <li class="list-disc mb-1">Algebra Assignment Grades due on May 15, 2021</li>
                <li class="list-disc mb-1">All Final Grades due on May 25, 2021</li>
            </ul>
        </div>

        <div class="">
            <h4 class="text-lg font-medium mb-2">
                <span (click)="todaysClasses()" [ngClass]="scheduledCourseSectionViewModel.allCourse?'':'text-blue'" class="pr-4 cursor-pointer border-r border-gray">{{ 'todaysClasses' | translate }}</span>
                <span (click)="allClasses()" [ngClass]="scheduledCourseSectionViewModel.allCourse?'text-blue':''" class="pl-4 cursor-pointer">{{ 'allClasses' | translate }}</span>
            </h4>
            <div *ngIf="classCount===0" class="card px-6 pt-4 mb-4">
                <h5 class="text-warn pb-3">{{ 'noClassesFound' | translate }}</h5>
            </div>
            <div *ngIf="classCount>0" class="grid md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-4 mb-4">
                <a *ngFor="let courseSection of scheduledCourseSectionViewModel.courseSectionViewList"
                    class="card px-4 py-2 border-l-8 cursor-pointer" [ngClass]="courseSection.borderColor"
                    (click)="selectCourseSection(courseSection)" [routerLink]="['/school', 'class']">
                    <div class="flex justify-between items-center">
                        <h5 [ngClass]="courseSection.text" class="uppercase font-semibold">{{courseSection.courseSectionName}}</h5>
                        <p>{{this.getPeriodStartTime(courseSection)|transformTimePipe}}</p>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-gray font-medium mb-2">
                            <span class="pr-2">{{courseSection.courseTitle}}</span>
                            <span class="w-1 h-1 inline-block bg-gray-light rounded align-middle"></span>
                            <span class="pl-2">{{courseSection.courseGradeLevel}}</span>
                        </div>
                        <div>
                            <mat-icon *ngIf="getAttendanceForPeriod(courseSection)" class="text-blue text-xl"
                                [icIcon]="icHowToReg"></mat-icon>
                        </div>
                    </div>
                    <div class="flex justify-between items-center font-medium flex-wrap">
                        <div class="text-gray mb-2 pr-2">
                            <span
                                class="bg-gray text-white font-medium px-2 py-1 rounded">{{this.getPeriodTitle(courseSection)}}</span>
                            <span class="pl-2">{{this.getRoomTitle(courseSection)}}</span>
                        </div>
                        <div class="mb-2">
                            <ng-container
                                *ngIf="courseSection.scheduleType=='Fixed Schedule' || courseSection.scheduleType=='Variable Schedule';else otherSchedule">
                                <ng-container *ngFor="let day of courseSection.weekDays.split('').sort()">
                                    <span [ngClass]="courseSection.meetingDays.includes(day)?'':'text-gray-light'"
                                        [matTooltip]="day|weekDay:false:true"
                                        [matTooltipPosition]="'above'">{{day|weekDay:true:false}}</span>
                                </ng-container>
                            </ng-container>
                            <ng-template #otherSchedule>
                                <span class="text-primary">
                                    {{courseSection.scheduleType}}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="noticeCount>0" class="card px-6 pt-4 mb-4">
            <h4 class="text-primary text-lg font-semibold pb-3">{{ 'notice' | translate }}</h4>
            <mat-divider class="-mx-6"></mat-divider>
            <mat-accordion>
                <div *ngFor="let notice of scheduledCourseSectionViewModel.noticeList">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="px-0 mr-1">
                            <mat-panel-title class="font-semibold text-base">{{notice.title}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="-mx-6 ql-editor" [innerHTML]="notice.body|safe:'html'"></p>
                    </mat-expansion-panel>
                    <mat-divider class="-mx-6"></mat-divider>
                </div>
            </mat-accordion>
        </div>

        <div class="grid md:grid-cols-2 gap-6">
            <div class="card overflow-auto w-full">

                <div class="border-b py-4 px-6">
                    <h4 class="text-lg font-semibold">{{ 'calendarEvents' | translate }}</h4>
                </div>
                <div class="flex w-full items-center font-bold border-b">
                    <div class="w-9/12 py-3 pl-6 pr-4">{{ 'eventTitle' | translate }}</div>
                    <div class="w-3/12 py-3 pl-6 pr-4">{{ 'date' | translate }}</div>
                    <!-- <div class="w-3/12 py-3 pl-6 pr-4">{{ 'time' | translate }}</div> -->
                </div>
                <div *ngFor="let calendarEvent of events$ | async" class="flex w-full items-center border-b">
                    <div class="w-9/12 py-3 pl-6 pr-4"><span
                            class="inline-block h-2 w-2 bg-green rounded-full mr-3"></span>{{calendarEvent.title}}</div>
                    <div class="w-3/12 py-3 pl-6 pr-4">{{calendarEvent.start | date:'mediumDate'}}</div>
                    <!-- <div class="w-3/12 py-3 pl-6 pr-4">10:00 AM</div> -->
                </div>
            </div>
            <div class="card overflow-auto w-full px-6 py-4">
                <div *ngIf="!showCalendarView">
                    <h3 class="text-primary font-bold">
                        {{ 'noSchoolCalendarFound' | translate }}
                        <a class="cursor-pointer" [routerLink]="['/school/schoolcalendars']">
                            {{ 'createACalendar' | translate }}</a>
                    </h3>
                </div>
                <div *ngIf="showCalendarView" class="flex justify-between items-center">
                    <h3 class="text-center"> {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                    <div class="flex items-center -mr-4">
                        <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarPreviousView>
                            <mat-icon>arrow_back_ios</mat-icon>
                        </button>
                        <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarNextView>
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider *ngIf="showCalendarView" class="-mx-6 text-border mt-2"></mat-divider>
                <ng-template #customCellTemplate let-day="day" let-locale="locale">
                    <div class="cal-cell-top text-center">
                        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                    </div>
                    <div class="cal-events pl-2 pb-2 justify-center" *ngIf="day.events.length > 0">
                        <div class="mr-2" *ngFor="let event of day.events;">

                            <span #tooltip="matTooltip" [matTooltip]="event.title"
                                class="inline-block w-3 h-3 rounded-full"
                                [style.backgroundColor]="event.meta.calendar.eventColor"></span>

                        </div>
                    </div>

                </ng-template>
                <vex-scrollbar *ngIf="events$ | async; let event" [ngSwitch]="view"
                    class="px-0 shadow flex-auto relative" vexContainer>
                    <div [ngSwitch]="view" *ngIf="showCalendarView" class="-mx-6">
                        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="event"
                            [weekendDays]="weekendDays" (beforeViewRender)="beforeMonthViewRender($event)"
                            [cellTemplate]="customCellTemplate">
                        </mwl-calendar-month-view>
                    </div>
                </vex-scrollbar>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>