<div *ngIf="!isNotGraded" class="overview-content md:w-10/12 m-auto card px-4 py-4">
    <h3 class="text-green font-semibold mb-2">{{ 'general' | translate }}</h3>
    <ul class="flex flex-row mb-4 flex-wrap">
        <li class="mr-6 mb-2" *ngIf="courseWeightedFlag">
            <mat-checkbox color="primary" (change)="generalValue('weightGrades',$event.checked)"
                [checked]="gradebookConfigurationAddViewModel?.gradebookConfiguration?.general?.includes('weightGrades') ? true:false" [disabled]="!defaultValuesService.checkAcademicYear()">
                {{ 'weightGrades' | translate }}</mat-checkbox>
        </li>
        <li class="mr-6 mb-2">
            <mat-checkbox color="primary" (change)="generalValue('assignedDateDefaultsToToday',$event.checked)"
                [checked]="gradebookConfigurationAddViewModel?.gradebookConfiguration?.general?.includes('assignedDateDefaultsToToday')? true:false" [disabled]="!defaultValuesService.checkAcademicYear()">
                {{ 'assignedDateDefaultsToToday' | translate }}</mat-checkbox>
        </li>
        <li class="mr-6 mb-2">
            <mat-checkbox color="primary" (change)="generalValue('dueDateDefaultsToToday',$event.checked)"
                [checked]="gradebookConfigurationAddViewModel?.gradebookConfiguration?.general?.includes('dueDateDefaultsToToday')? true:false" [disabled]="!defaultValuesService.checkAcademicYear()">
                {{ 'dueDateDefaultsToToday' | translate }}</mat-checkbox>
        </li>
    </ul>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-between col-gap-8 row-gap-4 mb-4">
        <div>
            <h5 class="font-semibold mb-2">{{ 'scoreRounding' | translate }}</h5>
            <mat-radio-group [(ngModel)]="gradebookConfigurationAddViewModel.gradebookConfiguration.scoreRounding"
                aria-label="Select an option" [disabled]="!defaultValuesService.checkAcademicYear()">
                <mat-radio-button value="up" class="mr-4 mb-1" color="primary">{{ 'up' | translate }}</mat-radio-button>
                <mat-radio-button value="down" class="mr-4 mb-1" color="primary">{{ 'down' | translate }}
                </mat-radio-button>
                <mat-radio-button value="normal" class="mr-4 mb-1" color="primary">{{ 'normal' | translate }}
                </mat-radio-button>
                <mat-radio-button value="none" class="mr-4 mb-1" color="primary">{{ 'none' | translate }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <h5 class="font-semibold mb-2">{{ 'assignmentSorting' | translate }}</h5>
            <mat-radio-group [(ngModel)]="gradebookConfigurationAddViewModel.gradebookConfiguration.assignmentSorting"
                aria-label="Select an option" [disabled]="!defaultValuesService.checkAcademicYear()">
                <mat-radio-button value="newestFirst" class="mr-4 mb-1" color="primary">{{ 'newestFirst' | translate }}
                </mat-radio-button>
                <mat-radio-button value="dueDate" class="mr-4 mb-1" color="primary">{{ 'dueDate' | translate }}
                </mat-radio-button>
                <mat-radio-button value="assignedDate" class="mr-4 mb-1" color="primary">{{ 'assignedDate' | translate
                    }}
                </mat-radio-button>
                <mat-radio-button value="ungraded" class="mr-4 mb-1" color="primary">{{ 'ungraded' | translate }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-between col-gap-8 row-gap-0 mb-4">
        <div>
            <h5 class="font-semibold mb-2">{{ 'allowedMaximumPercentInAnomalousGrades' | translate }}</h5>
            <ul>
                <li>
                    <mat-form-field appearance="outline" color="primary" class="w-full" >
                        <mat-label>{{ 'percent' | translate }}</mat-label>
                        <input matInput type="number"
                            [(ngModel)]="gradebookConfigurationAddViewModel.gradebookConfiguration.maxAnomalousGrade" [readonly]="!defaultValuesService.checkAcademicYear()">
                    </mat-form-field>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="font-semibold mb-2">{{ 'daysUntilUngradedAssignmentGradeAppearsInParentStudentPortal' | translate
                }}</h5>
            <ul>
                <li>
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ 'days' | translate }}</mat-label>
                        <input matInput type="number"
                            [(ngModel)]="gradebookConfigurationAddViewModel.gradebookConfiguration.upgradedAssignmentGradeDays" [readonly]="!defaultValuesService.checkAcademicYear()">
                    </mat-form-field>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="selectedCourseSection?.gradeScaleType==='Teacher_Scale'">
        <h3 class="text-green font-semibold mb-2">{{ 'teacherGradescale' | translate }}</h3>
        <h5 class="font-semibold mb-2">{{selectedCourseSection?.courseTitle}} -
            {{selectedCourseSection?.courseSectionName}}</h5>
        <div class="mx-4 mb-10">
            <div class="grid grid-cols-2 md:grid-cols-4 justify-between col-gap-8 row-gap-0 mb-2">
                <ul
                    *ngFor="let grade of gradebookConfigurationAddViewModel?.gradebookConfiguration?.gradebookConfigurationGradescale">
                    <li>
                        <p>{{grade?.title}}</p>
                        <mat-form-field appearance="outline" color="primary" class="w-full">
                            <input [(ngModel)]="grade.breakoffPoints" matInput type="number">
                        </mat-form-field>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="text-green font-semibold mb-1">{{ 'finalGradingPercentages' | translate }}</h3>
    <p class="text-gray font-medium mb-6">{{ 'totalMustBe100ForEachMarkingPeriod' | translate }}</p>
    <div>
        <ul *ngFor="let progressPeriod of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationProgressPeriods; let i= index"
            class="grid grid-cols-2 md:grid-cols-4 justify-between col-gap-8 row-gap-0 mb-2">
            <li class="col-span-2 md:col-span-1 flex flex-col align-middle w-full">
                <p class="font-semibold mt-2">{{ progressPeriod.title}}</p>
                <p *ngIf="checkConfiguration('progressPeriods', i)" class="text-warn mb-2">{{ 'totalNot100' | translate }}</p>
            </li>
            <li *ngIf="progressPeriod.doesGrades">
                <mat-form-field appearance="outline" color="primary" class="w-full">
                    <mat-label>{{ progressPeriod.title }}</mat-label>
                    <input [(ngModel)]="progressPeriod.gradingPercentage" matInput type="number">
                </mat-form-field>
            </li>
            <li *ngIf="progressPeriod.doesExam">
                <mat-form-field appearance="outline" color="primary" class="w-full">
                    <mat-label>{{ progressPeriod.title + ' Exam' }}</mat-label>
                    <input matInput [(ngModel)]="progressPeriod.examPercentage" type="number">
                </mat-form-field>
            </li>
        </ul>

        <!-- <ul *ngFor="let quater of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationQuarter; let i= index"
            class="grid grid-cols-2 md:grid-cols-4 justify-between col-gap-8 row-gap-0 mb-2">
            <li class="col-span-2 md:col-span-1 flex flex-col align-middle w-full">
                <p class="font-semibold mt-2">{{ quater.title}}</p>
                <p *ngIf="checkConfiguration('quater', i)" class="text-warn mb-2">{{ 'totalNot100' | translate }}</p>
            </li>
            <li *ngIf="quater.doesGrades">
                <mat-form-field appearance="outline" color="primary" class="w-full">
                    <mat-label>{{ quater.title }}</mat-label>
                    <input [(ngModel)]="quater.gradingPercentage" matInput type="number">
                </mat-form-field>
            </li>
            <li *ngIf="quater.doesExam">
                <mat-form-field appearance="outline" color="primary" class="w-full">
                    <mat-label>{{ quater.title + ' Exam' }}</mat-label>
                    <input matInput [(ngModel)]="quater.examPercentage" type="number">
                </mat-form-field>
            </li>
        </ul> -->

        <ng-container
            *ngFor="let quater of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationQuarter; let i=index">
            <ul *ngIf="quater?.qtrMarkingPeriodId && !quater?.prgrsprdMarkingPeriodId"
                class="grid grid-cols-2 md:grid-cols-4 justify-between col-gap-8 row-gap-0 mb-2">
                <li class="col-span-2 md:col-span-1 flex flex-col w-full align-middle">
                    <p class="font-semibold mt-2">{{ quater.title }}</p>
                    <p *ngIf="checkConfiguration('quater', i)" class="text-warn mb-2">{{ 'totalNot100' | translate }}</p>
                </li>
                <ng-container
                    *ngFor="let progressPeriodForQuater of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationQuarter">
                    <li
                        *ngIf="progressPeriodForQuater?.prgrsprdMarkingPeriodId && progressPeriodForQuater?.doesGrades && progressPeriodForQuater?.qtrMarkingPeriodId === quater?.qtrMarkingPeriodId ">
                        <mat-form-field appearance="outline" color="primary" class="w-full">
                            <mat-label>{{ progressPeriodForQuater.title }}</mat-label>
                            <input [(ngModel)]="progressPeriodForQuater.gradingPercentage" type="number" matInput>
                        </mat-form-field>
                    </li>
                </ng-container>
        
                <li *ngIf="quater.doesGrades && !quater?.isProgressPeriodExists">
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ quater.title }}</mat-label>
                        <input [(ngModel)]="quater.gradingPercentage" matInput type="number">
                    </mat-form-field>
                </li>

                <li *ngIf="quater.doesExam">
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ quater.title + ' Exam' }}</mat-label>
                        <input [(ngModel)]="quater.examPercentage" type="number" matInput>
                    </mat-form-field>
                </li>
            </ul>
        </ng-container>

        <ng-container
            *ngFor="let semester of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationSemester; let i=index">
            <ul *ngIf="semester?.smstrMarkingPeriodId && !semester?.qtrMarkingPeriodId"
                class="grid grid-cols-2 md:grid-cols-4 justify-between col-gap-8 row-gap-0 mb-2">
                <li class="col-span-2 md:col-span-1 flex flex-col w-full align-middle">
                    <p class="font-semibold mt-2">{{ semester.title }}</p>
                    <p *ngIf="checkConfiguration('semester', i)" class="text-warn mb-2">{{ 'totalNot100' | translate }}</p>
                </li>
                <ng-container
                    *ngFor="let quaterForSemester of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationSemester">
                    <li
                        *ngIf="quaterForSemester?.qtrMarkingPeriodId && quaterForSemester?.doesGrades && quaterForSemester?.smstrMarkingPeriodId === semester?.smstrMarkingPeriodId ">
                        <mat-form-field appearance="outline" color="primary" class="w-full">
                            <mat-label>{{ quaterForSemester.title }}</mat-label>
                            <input [(ngModel)]="quaterForSemester.gradingPercentage" type="number" matInput>
                        </mat-form-field>
                    </li>
                </ng-container>

                <li *ngIf="semester.doesGrades && !semester?.isQuarterExists">
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ semester.title}}</mat-label>
                        <input [(ngModel)]="semester.gradingPercentage" type="number" matInput>
                    </mat-form-field>
                </li>

                <li *ngIf="semester.doesExam">
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ semester.title + ' Exam' }}</mat-label>
                        <input [(ngModel)]="semester.examPercentage" type="number" matInput>
                    </mat-form-field>
                </li>
            </ul>
        </ng-container>
        <ng-container
            *ngFor="let year of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationYear; let i=index">

            <ul *ngIf="year?.yrMarkingPeriodId && !year?.smstrMarkingPeriodId"
                class="grid grid-cols-2 md:grid-cols-4 justify-between col-gap-8 row-gap-0 mb-4">
                <li class="col-span-2 md:col-span-1 flex flex-col w-full align-middle">
                    <p class="font-semibold mt-2">{{ year.title }}</p>
                    <p *ngIf="checkConfiguration('year', i)" class="text-warn mb-2">{{ 'totalNot100' | translate }}</p>
                </li>
                <ng-container
                    *ngFor="let semesterForYear of this.gradebookConfigurationAddViewModel.gradebookConfiguration.gradebookConfigurationYear">
                    <li
                        *ngIf="semesterForYear?.smstrMarkingPeriodId && semesterForYear?.doesGrades && semesterForYear?.yrMarkingPeriodId === year?.yrMarkingPeriodId ">
                        <mat-form-field appearance="outline" color="primary" class="w-full">
                            <mat-label>{{ semesterForYear.title }}</mat-label>
                            <input [(ngModel)]="semesterForYear.gradingPercentage" type="number" matInput>
                        </mat-form-field>
                    </li>
                </ng-container>

                <li *ngIf="year.doesGrades && !year?.isSemesterExists">
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ year.title }}</mat-label>
                        <input matInput [(ngModel)]="year.gradingPercentage" type="number">
                    </mat-form-field>
                </li>
                
                <li *ngIf="year.doesExam">
                    <mat-form-field appearance="outline" color="primary" class="w-full">
                        <mat-label>{{ year.title + ' Exam' }}</mat-label>
                        <input matInput [(ngModel)]="year.examPercentage" type="number">
                    </mat-form-field>
                </li>
            </ul>
        </ng-container>
    </div>

    <div class="text-right">
        <button mat-flat-button (click)="addUpdateGradebookConfiguration()" color="primary" *ngIf="defaultValuesService.checkAcademicYear()">{{ 'submit' | translate
            }}</button>
    </div>
</div>

<div *ngIf="isNotGraded" class="overview-content not-graded md:w-7/12 m-auto card p-10 py- md:p-20 text-center">
    <img src="assets/img/access_denied.svg" alt="Access Denied Icon" class="inline-block mb-5 md:my-10">
    <p class="text-lg text-red leading-relaxed mb-5 md:mb-10"><span>{{ 'youCannotAccess' | translate }}</span><span class="font-semibold mx-1">{{ 'gradebookConfiguration' | translate }}</span><span>{{ 'becauseTheGradeScaleForTheCourseSectionIsNotSet' | translate }}</span></p>
</div>