<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
        {{ editMode?("updateAssignment" | translate):("createAssignment" | translate) }}
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 mb-4 text-border"></mat-divider>

<form [formGroup]="form" (ngSubmit)="checkFormValidation()">
<mat-dialog-content class="mb-1">
        <ul class="grid grid-cols-1">
            <li>
                <mat-form-field appearance="outline" color="primary" class="w-full mb-4">
                    <mat-label>{{ 'assignmentTitle' | translate }}</mat-label>
                    <input formControlName="assignmentTitle" matInput required>
                    <mat-error *ngIf="form.get('assignmentTitle').hasError('required')">{{'titleIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </li>
            <li>
                <ul class="grid grid-cols-1 md:grid-cols-2 col-gap-6 row-gap-4">
                    <li>
                        <mat-form-field appearance="outline" color="primary" class="w-full mb-4">
                            <mat-label>{{ 'points' | translate }}</mat-label>
                            <input formControlName="points" matInput required>
                    <mat-error *ngIf="form.get('points').hasError('required')">{{'pointIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary" class="w-full mb-4">
                            <mat-label>{{ 'assignmentType' | translate }}</mat-label>
                            <mat-select formControlName="assignmentTypeId" required>
                                <mat-option *ngFor="let assignmentType of assignmentTypes" [value]="assignmentType.assignmentTypeId">{{assignmentType.title}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('assignmentTypeId').hasError('required')">{{'assignmentTypeIsRequired'|translate}}</mat-error>                        </mat-form-field>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="grid grid-cols-1 md:grid-cols-2 col-gap-6 row-gap-4">
                    <li>
                        <mat-form-field appearance="outline" color="primary" class="w-full mb-4">
                            <mat-label>{{ 'assignedDate' | translate }}</mat-label>
                            <input [min]="courseSectionStartDate" [max]="courseSectionEndDate" formControlName="assignmentDate" matInput [matDatepicker]="assignedDate" required>
                            <mat-datepicker-toggle matSuffix [for]="assignedDate"></mat-datepicker-toggle>
                            <mat-datepicker #assignedDate></mat-datepicker>
                            <mat-error *ngIf="form.get('assignmentDate').hasError('required')">{{'assignmentDateIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary" class="w-full mb-4">
                            <mat-label>{{ 'dueDate' | translate }}</mat-label>
                            <input [min]="courseSectionStartDate" [max]="courseSectionEndDate" formControlName="dueDate" matInput [matDatepicker]="dueDate" required>
                            <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                            <mat-datepicker #dueDate></mat-datepicker>
                            <mat-error *ngIf="form.get('dueDate').hasError('required')">{{'dueDateIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="mb-6 border rounded">
            <quill-editor formControlName="assignmentDescription" placeholder="{{ 'description' | translate }}" [styles]="{ height: '250px' }"></quill-editor>
        </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="pt-0 pb-2">
    <button mat-dialog-close mat-flat-button>{{ 'cancel' | translate }}</button>
    <button color="primary" mat-flat-button type="submit" class="text-white ml-2">{{ editMode?('update' |translate):('submit' |translate) }}</button>
</mat-dialog-actions>
</form>
