.calendar-schedule-table {
    tr {
        td, th {
            @apply border-b;
            border-color: rgba(0,0,0,0.1);
            @apply px-6;
            @apply py-3;
            text-align: left;
        }
    }
}

:host::ng-deep .cal-month-view .cal-day-cell {
    min-height: 0px  !important; 
}

:host::ng-deep .cal-month-view .cal-cell-top{
   min-height: 50px; 
}

:host::ng-deep .cal-month-view .cal-day-number {
  
    float: right; 
    margin-right: 10px;
}

.cal-month-view .cal-day-cell {
    min-height: 0px !important;
}
