<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{'staffList'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['staff']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">

        <div class="card -mt-16">
<vex-common-staff-list [parentComponent]= "'staffInfo'"></vex-common-staff-list>
        </div>

    </vex-page-layout-content>
</vex-page-layout>

<!-- <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{column.label | translate}}
        </mat-checkbox>
    </button>
</mat-menu>

<div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="showAdvanceSearchPanel">
    <div class="advance-search-panel absolute bg-white w-full sm:w-4/6 md:w-3/6 lg:w-2/6 h-full z-20" @fadeInRight>
        <vex-search-staff (searchList)="getSearchResult($event)" [filterJsonParams]="filterJsonParams" 
        [incomingSearchValue]="searchValue"(showHideAdvanceSearch)="hideAdvanceSearch($event)" 
        (toggelValues)="getToggleValues($event)" [incomingToggleValues]="toggleValues"
         (searchValue)="getSearchInput($event)"></vex-search-staff>
    </div>
    <div class="advance-search-backdrop bg-black opacity-50 fiexd top-0 left-0 w-full h-full z-10"></div>
</div> -->