.mat-header-cell {
    color: rgb(0 0 0) !important;
}

.mat-header-cell {
    font-size  : 14px !important;
    font-weight: bold;
}

.hide {
    display: none;
}

.mat-footer-cell {
    text-align: center;
    font-style: italic;
}
.table-search {
    width: 70px;
    transition: all 0.3s ease;
  
    @media (max-width: 767.98px){
        width: calc(100% - 92px);
    }
  
    &:focus {
      width: 180px;

      @media (max-width: 767.98px){
          width: calc(100% - 92px);
      }
    }
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
  