<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{'teacherReassignment'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['scheduling']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card -mt-16">
            <div class="p-6 text-center">{{'toReassignACourseSectionEitherStartWithTheTeacherOrTheCourse' | translate}}
            </div>
            <hr class="border-normal">
            <div class="md:flex w-full">
                <div class="md:w-1/2 border-r border-normal cursor-pointer relative bg-green md:rounded-bl text-white triangle-left pb-10 md:pb-0"
                    (click)="selectTeacher(0)">  
                    <div class="md:flex items-center">
                        <div class="hidden md:block md:w-2/12 text-center py-6">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                        <div class="md:w-10/12 lg:pl-6 pt-4 md:pt-0 text-center md:text-left">
                            <h2 class="text-lg md:text-2xl">{{selectedCurrentTeacher?selectedCurrentTeacher.firstGivenName+' '+selectedCurrentTeacher.lastFamilyName:'selectCurrentTeacher' | translate}}</h2>
                            <p class="md:pr-8">{{'clickHereToSelectTheCurrentTeacherToReassign' | translate}}</p>
                        </div>
                    </div>
                    <div class="schedule-icon bg-white text-black font-medium">
                        or
                    </div>
                </div>
                <div class="md:w-1/2 cursor-pointer bg-primary text-white triangle-right rounded-bl md:rounded-bl-none rounded-br relative pt-10 md:pt-0" (click)="selectCourse()">
                    <div class="md:flex items-center">
                        <div class="md:w-10/12 text-center pb-4 md:pb-0 md:text-right lg:pr-6 order-2 md:order-1">
                            <h2 class="text-lg md:text-2xl">{{selectedCourse?selectedCourse.courseTitle:'selectCourse' | translate}}</h2>
                            <p class="md:pl-8">{{'clickHereToSelectACourseToReassignTeacher' | translate}}</p>
                        </div>
                        <div class="hidden md:block md:w-2/12 text-center py-6 order-1 md:order-2">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-6 p-4" *ngIf="globalLoader && (selectedCurrentTeacher || selectedCourse)">
            <div class="flex">
                <img src="assets/img/icons/loading-process.svg" class="flex-shrink-0 mt-1 self-start animate-spin w-5" alt="Loader icon">
                <div class="ml-4">
                    <span class="text-lg inline-block align-middle text-primary font-bold" *ngIf="selectedCurrentTeacher && !checkAvailabilityLoader && !teacherReassigningLoader">{{'gettingScheduledCoursesOf' | translate}} {{selectedCurrentTeacher.firstGivenName+' '+selectedCurrentTeacher.lastFamilyName}}</span>
                    <span class="text-lg inline-block align-middle text-primary font-bold" *ngIf="selectedCourse && !checkAvailabilityLoader && !teacherReassigningLoader">{{'gettingCourseSectionsOf' | translate}} {{selectedCourse.courseTitle}}</span>
                    <span class="text-lg inline-block align-middle text-primary font-bold" *ngIf="checkAvailabilityLoader">{{'checkingAvailability' | translate}}</span>
                    <span class="text-lg inline-block align-middle text-primary font-bold" *ngIf="teacherReassigningLoader">{{'reassigning' | translate}} {{selectedNewTeacher.firstGivenName+' '+selectedNewTeacher.lastFamilyName}}</span>

    
                    <p class="">{{'pleaseDoNotRefreshThePageOrClickBackButton' | translate}}.</p>
                </div>
            </div>
        </div>
        <div class="card mt-6 p-4" *ngIf="allScheduledCourseSectionBasedOnTeacher.courseSectionViewList?.length==0 || allScheduledTeacherBasedOnCourse.courseSectionsList?.length==0">
            <div class="text-center">
                <p>{{'noRecordFound' | translate}}</p>
            </div>
        </div>
        
<ng-container *ngIf="!teacherReassigning">
        <div class="teacher-reassignment-timeline" *ngIf="teacherReassignmentBasedOnTeacher">
            <div class="card p-4">
                <h4 class="text-primary text-xl font-medium">{{'scheduledCoursesOf' | translate}} <span class="text-green">{{selectedCurrentTeacher?.firstGivenName+' '+selectedCurrentTeacher?.lastFamilyName}}</span></h4>
                <p class="text-gray">{{'showingTheScheduledCoursesOfTheCurrentTeacherYouCanSelectDeselectCourseSectionOccurrencesAndRemoveACourseSectionToAssignToANewTeacher' | translate}}.</p>
                <div class="border-t border-normal -mx-4 mt-4">
                    <div class="overflow-x-auto overflow-y-hidden">
                        <table class="w-full schedule-table">
                            <thead>
                                <tr>
                                    <th width="1%">
                                        <mat-checkbox color="primary"
                                            [checked]="isAllCoursesChecked"
                                            [disabled]="disableMasterCheckboxBasedOnTeacherConflict"
                                            (change)="masterCheckToggleBasedOnTeacher($event.checked)"
                                        ></mat-checkbox>
                                    </th>
                                    <th>{{ "course" | translate }}</th>
                                    <th>{{ "courseSection" | translate }}</th>
                                    <th>{{ "markingPeriod" | translate }}</th>
                                    <th>{{ "startDate" | translate }}</th>
                                    <th>{{ "endDate" | translate }}</th>
                                    <th>{{ "meetingDays" | translate }}</th>
                                    <th>{{ "teachers" | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of allScheduledCourseSectionBasedOnTeacher.courseSectionViewList;let index=index">
                                    <td>
                                        <mat-checkbox color="primary" [disabled]="course.conflictCourseSection" [checked]="course.checked && !course.conflictCourseSection"
                                        (change)="singleSelectionBasedOnTeacher($event.checked,index)"></mat-checkbox>
                                    </td>
                                    <td [ngClass]="course.conflictCourseSection?'text-warn':''"><div class="whitespace-no-wrap">{{course.courseTitle}}</div></td>
                                    <td [ngClass]="course.conflictCourseSection?'text-warn':''"><div class="whitespace-no-wrap">{{course.courseSectionName}}</div></td>
                                    <td [ngClass]="course.conflictCourseSection?'text-warn':''"><div class="whitespace-no-wrap">{{course.markingPeriodTitle}}</div></td>
                                    <td [ngClass]="course.conflictCourseSection?'text-warn':''"><div class="whitespace-no-wrap">{{course.durationStartDate | date:'mediumDate'}}</div></td>
                                    <td [ngClass]="course.conflictCourseSection?'text-warn':''"><div class="whitespace-no-wrap">{{course.durationEndDate | date:'mediumDate'}}</div></td>
                                    <td>
                                        <div class="whitespace-no-wrap">
                                        <ng-container
                                            *ngIf="course.scheduleType=='Fixed Schedule' || course.scheduleType=='Variable Schedule';else otherSchedule">
                                            <ng-container *ngFor="let day of course.weekDays.split('').sort()">
                                                <span
                                                class="w-5 h-5 text-center text-xs rounded inline-block text-white mr-1 font-medium"
                                                [ngClass]="course.cloneMeetingDays.includes(day)?'bg-primary':'bg-gray-light'"
                                                [matTooltip]="day|weekDay:false:true" [matTooltipPosition]="'above'">{{day|weekDay:true:false}}</span>
                                        
                                            </ng-container>
                                    
                                        </ng-container>
                                        </div>
                                        <ng-template #otherSchedule>
                                            <span class="text-primary">
                                                {{course.scheduleType}}
                                            </span>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <div class="whitespace-no-wrap">
                                        <ng-container *ngFor="let staff of course?.scheduledStaff?.split('|')">
                                        <button [matTooltip]="staff"
                                            aria-label="Button that displays a tooltip when focused or hovered over"
                                            [matTooltipPosition]="'above'">
                                            <img src="assets/img/icons/teacher_blue.svg" alt="Scheduled staff icon" width="20">
                                        </button>
                                    </ng-container>
                                        </div>
                                    <ng-container *ngIf="course.scheduledStaff==null">-</ng-container>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="course-reassignment-timeline pt-6" *ngIf="teacherReassignmentBasedOnCourse">
            <h4 class="text-primary text-xl font-medium">Showing Course Sections of <span
                    class="text-green">{{selectedCourse?.courseTitle}}</span></h4>
            <p class="mb-4 text-gray">Showing the scheduled courses of the current teacher. You can select/deselect
                course
                section occurrences and remove a course section to assign to a new teacher.</p>
            <ng-container  *ngFor="let courseSection of allScheduledTeacherBasedOnCourse.courseSectionsList;let courseSectionIndex=index">
            <div class="card mb-6 p-4">
                <div class="teacher-info mb-2">
                    <span class="text-lg inline-block align-middle text-green font-bold">{{courseSection.courseSectionName}}</span>
                    <span class="dot-separator"></span>
                    <span class="font-semibold">{{courseSection.mpTitle}}</span>
                    <span class="mx-1">-</span>
                    <span>{{courseSection.durationStartDate|date:'mediumDate'}} to {{courseSection.durationEndDate|date:'mediumDate'}}</span>
                </div>
                <div class="border-t border-normal -mx-4 mt-4">
                    <div class="overflow-x-auto overflow-y-hidden">
                        <table class="w-full schedule-table">
                            <thead>
                                <tr>
                                    <th width="1%">{{ "select" | translate }}</th>
                                    <th>{{ "teacherName" | translate }}</th>
                                    <th>{{ "staffId" | translate }}</th>
                                    <th>{{ "jobTitle" | translate }}</th>
                                    <th>{{ "gradeLevelsTaught" | translate }}</th>
                                    <th>{{ "subjectsTaught" | translate }}</th>
                                    <th>{{ "language" | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let staff of courseSection.staffCoursesectionSchedule;let staffIndex=index">
                                    <td>
                                        <mat-radio-button color="primary" (click)="singleSelectionBasedOnCourse($event,courseSectionIndex,staffIndex,button)" name={{courseSectionIndex}} #button></mat-radio-button>
                                    </td>
                                    <td [ngClass]="staff.conflict?'text-warn':''">{{staff.staffMaster.firstGivenName+' '+staff.staffMaster.lastFamilyName}}</td>
                                    <td [ngClass]="staff.conflict?'text-warn':''">{{staff.staffMaster.staffInternalId}}</td>
                                    <td [ngClass]="staff.conflict?'text-warn':''">{{staff.staffMaster.jobTitle|EmtyValueCheckPipe}}</td>
                                    <td [ngClass]="staff.conflict?'text-warn':''">{{staff.staffMaster.otherGradeLevelTaught|EmtyValueCheckPipe}}</td>
                                    <td [ngClass]="staff.conflict?'text-warn':''">{{staff.staffMaster.otherSubjectTaught|EmtyValueCheckPipe}}</td>
                                    <td [ngClass]="staff.conflict?'text-warn':''">{{staff.staffMaster.firstLanguageName?
                                                staff.staffMaster.firstLanguageName+',':
                                            (staff.staffMaster.firstLanguageName|EmtyValueCheckPipe)}}
                                            {{staff.staffMaster.secondLanguageName?
                                                staff.staffMaster.secondLanguageName+',':
                                            (staff.staffMaster.secondLanguageName|EmtyValueCheckPipe)}}
                                            {{staff.staffMaster.thirdLanguageName?
                                                staff.staffMaster.thirdLanguageName:
                                            (staff.staffMaster.thirdLanguageName|EmtyValueCheckPipe)}}
                                        </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
        </div>
        <div class="card" *ngIf="teacherReassignmentBasedOnTeacher || teacherReassignmentBasedOnCourse">
            <div class="flex w-full cursor-pointer" (click)="selectTeacher(1)">
                <div class="relative">
                    <div class="flex items-center">
                        <div
                            class="w-2/12 bg-green text-white text-center py-4 rounded-tl rounded-bl relative arrow-right">
                            <img src="assets/img/icons/reassign-new-teacher.svg" width="50%" class="inline-block" alt="Scheduled icon">
                        </div>
                        <div class="w-10/12 pl-6">
                            <h2 class="font-medium">{{selectedNewTeacher?selectedNewTeacher.firstGivenName+' '+selectedNewTeacher.lastFamilyName:'Select New Teacher'}}</h2>
                            <p class="text-gray">{{'clickHereToSelectANewTeacherToReassign'|translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="cursor-pointer ml-auto" *ngIf="isAllCourseSectionConflicted">
                    <div class="w-full text-right py-6 px-6">
                        <i class="icon icon-notification2 sm:text-2xl lg:text-3xl text-warn"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- start submit button and conflict text -->
        <div class="flex mt-4 items-end flex-wrap">
            <ng-container *ngIf="checkAvailibilityBasedOnTeacher?.staffScheduleViewList?.length > 0">
                <p class="text-base mt-2 mr-10" *ngIf="isAllCourseSectionConflicted && checkAvailibilityBasedOnTeacher?.existingStaff !== checkAvailibilityBasedOnTeacher?.staffScheduleViewList[0]?.staffId">
                    <i class="icon icon-notification2 mr-2 text-warn text-lg"></i>
                    The selected teacher is unavailable. Change your selection and try again.
                </p>
                <p class="text-base mt-2 mr-10" *ngIf="isAllCourseSectionConflicted && checkAvailibilityBasedOnTeacher?.existingStaff === checkAvailibilityBasedOnTeacher?.staffScheduleViewList[0]?.staffId">
                    <i class="icon icon-notification2 mr-2 text-warn"></i>Teacher already scheduled to this course section.
                </p>  
            </ng-container>
            <!-- After completed conflicts below success message is seen -->
            <p class="text-base mt-2 mr-10" *ngIf="noConflictDetected">
                <i class="icon icon-checkmark-circle mr-2 text-green"></i>There are no conflicts detected. You may proceed to reassignment.
            </p>
            <p class="text-base mt-2 mr-10" *ngIf="!noConflictDetected && checkAvailabilityFinished && !isAllCourseSectionConflicted">
                <i class="icon icon-notification2 mr-2 text-warn"></i>Items in red denotes teacher unavailability.You can change your selection or proceed to rescheduling.
            </p>

            <div class="ml-auto mt-2" *ngIf="permissions?.edit">
           

                <button [disabled]="checkAvailabilityLoader" *ngIf="((selectedCurrentTeacher && selectedNewTeacher) || (selectedCourse && selectedNewTeacher)) && (!isTeacherReassignPossible)" color="primary" mat-raised-button type="submit" (click)="checkAvailability()">
              <mat-icon class="ml-2" *ngIf="checkAvailabilityLoader">
                        <mat-spinner color="primary" diameter="20">
                        </mat-spinner>
                      </mat-icon>
                    <i class="icon icon-loop3 mr-2" *ngIf="!checkAvailabilityLoader"></i>{{ 'checkAvailability' | translate }}                </button>
                <!-- when success message is seen then below buttion is occured -->
                <button *ngIf="isTeacherReassignPossible" [disabled]="teacherReassigningLoader" mat-raised-button type="submit" class="bg-green text-white" (click)="reassignTeacher()">
                      <mat-icon class="ml-2" *ngIf="teacherReassigningLoader">
                        <mat-spinner color="primary" diameter="20">
                        </mat-spinner>
                      </mat-icon>
                  {{ 'reassignTeacher' | translate }}
                </button>
            </div>
        </div> <!-- end button and info text -->
        
        
    </ng-container>
        <!-- start Reassigning teacher with lodar icon -->
        
        <div class="card mt-6 p-4" *ngIf="!teacherReassigningLoader && teacherReassigning">
            <div class="text-center">
                <p>Teacher Reassignment Successful</p>
            </div>
        </div>

    </vex-page-layout-content>
</vex-page-layout>
<div class="fixed w-full h-full z-50 top-0 left-0" *ngIf="globalLoader">

</div>