<div class="bg-white px-6 md:h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
    <div class="md:flex w-full justify-between items-center">
        <div fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
            <div class="flex items-center">
                <input [formControl]="searchCtrl" class="py-3 border-0 outline-none w-full bg-transparent table-search"
                    placeholder="Search..." type="search">
                <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5"
                    alt="Loader icon">
                <button *ngIf="!loading" class="ml-4" mat-icon-button type="button">
                    <mat-icon>search</mat-icon>
                </button>
                <a (click)="showAdvanceSearch()" [class.disabled]="totalCount == null"
                    [class.text-gray-light]="totalCount == null" [class.text-primary]="totalCount != null"
                    class=" cursor-pointer ml-3" *ngIf="parentComponent === 'staffInfo' || parentComponent === 'takeAttendence' || parentComponent === 'gradebookGrades' || parentComponent === 'inputEffortGrade' || parentComponent === 'inputFinalGrade' || parentComponent === 'missingAttendance'">
                    <mat-icon aria-hidden="false" class="md:mr-2 align-middle">tune</mat-icon><span
                        class="hidden md:inline-block">{{'advanceSearch'
                        | translate}}</span>
                </a>
            </div>
        </div>

        <hr class="md:hidden -mx-6">


        <div fxFlex.lt-md="200px" class="py-2" *ngIf="parentComponent === 'staffInfo' || parentComponent === 'takeAttendence'">
            <a (click)="exportStaffListToExcel()" class="cursor-pointer inline-block align-middle"
                matTooltip="{{'exportToExcel' | translate}}"><img src="assets/img/microsoft_office_excel.svg"
                    alt="Excel Icon" width="24"></a>
            <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                matTooltip="{{'filterColumns' | translate}}" type="button" *ngIf="parentComponent === 'staffInfo' || parentComponent === 'takeAttendence'">
                <mat-icon [icIcon]="icFilterList"></mat-icon>
            </button>
            <!-- When a fresh search happens, show this button -->
            <div *ngIf="showSaveFilter && parentComponent === 'staffInfo'" class="inline-block align-middle ml-4">
                <div class="flex">
                    <a matRipple
                        [ngClass]="searchFilterListViewModel?.searchFilterList?.length > 0 ? 'rounded-l' :' rounded' "
                        (click)="openSaveFilter()"
                        class="bg-primary cursor-pointer px-4 pt-2 pb-1 text-white border-2 font-medium">Save
                        Filter</a>
                    <a [matMenuTriggerFor]="loadfilter" *ngIf="searchFilterListViewModel?.searchFilterList?.length > 0"
                        matRipple
                        class="w-8 cursor-pointer px-2 pt-1 border-l border border-gray rounded rounded-l-none">
                        <mat-icon class="-ml-1">arrow_drop_down</mat-icon>
                    </a>
                </div>
            </div>

            <!-- When loading a Saved filter show this block -->
            <div *ngIf="searchFilterListViewModel?.searchFilterList?.length > 0 && !showLoadFilter && !showSaveFilter && parentComponent === 'staffInfo'"
                class="inline-block align-middle ml-4">
                <div class="border border-gray-light flex rounded">
                    <a [matMenuTriggerFor]="loadfilteraction" matRipple
                        class="cursor-pointer pl-4 pr-2 pt-2 pb-1">{{searchFilter?.filterName}}<mat-icon
                            class="ml-2 text-sm align-middle h-4 inline-block">settings</mat-icon></a>
                    <a [matMenuTriggerFor]="loadfilter" matRipple
                        class="w-8 cursor-pointer px-2 pt-1 border-l border-gray-light">
                        <mat-icon class="-ml-1">arrow_drop_down</mat-icon>
                    </a>
                </div>
            </div>

            <!-- Show this block if there are already saved filters -->
            <button *ngIf="searchFilterListViewModel?.searchFilterList?.length > 0 && showLoadFilter && !showSaveFilter && parentComponent === 'staffInfo'"
                [matMenuTriggerFor]="loadfilter" fxFlex="none" mat-stroked-button type="button"
                class="inline-block align-middle ml-4">
                <span>{{'loadFilter' | translate}}</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <button *ngIf="permissions.add && this.defaultValuesService.checkAcademicYear() && parentComponent === 'staffInfo'" color="primary"
                class="ml-4 rounded-r-none" fxFlex="none" mat-raised-button type="button" (click)='goToAdd()'>
                <ic-icon [icon]="icAdd" class="md:mr-2" inline="true" size="24px">
                </ic-icon>
                <span class="hidden md:inline-block">{{'addNewStaff' | translate }}</span>
            </button>
            <button *ngIf="permissions.add && defaultValuesService.checkAcademicYear() && parentComponent === 'staffInfo'"
                [matMenuTriggerFor]="importStudents"
                class="align-middle w-8 h-9 p-0 pt-1 border border-gray rounded rounded-l-none">
                <i class="icon icon-arrow-down5 text-lg"></i>
            </button>
            <mat-menu #importStudents="matMenu">
                <button mat-menu-item (click)="navigateToSetting()">
                    <a>{{'importStaff' | translate}}</a>
                </button>
            </mat-menu>
        </div>
    </div>
    <mat-menu #loadfilter="matMenu" xPosition="before">
        <button *ngFor="let filter of searchFilterListViewModel?.searchFilterList" mat-menu-item
            (click)="searchByFilterName(filter)">{{filter.filterName}}
        </button>

    </mat-menu>
    <mat-menu #loadfilteraction="matMenu">
        <button mat-menu-item (click)="editFilter()">{{'editFilter' |translate}}</button>
        <button mat-menu-item (click)="deleteFilter()">{{'deleteFilter' | translate}}</button>
    </mat-menu>
</div>

<div class="overflow-auto">
    <table mat-table matSort [dataSource]="staffList" class="mat-elevation-z8 shadow-none">
        <ng-container matColumnDef="lastFamilyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'name'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                <a (click)="parentComponent === 'staffInfo'?viewStaffDetails(element,true):viewStaffDetails(element)" class="text-primary cursor-pointer">{{element.lastFamilyName+", "
                    +element.firstGivenName}}{{element.middleName!=null?" "+element.middleName:''}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="staffInternalId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'staffId'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.staffInternalId}}
            </td>
        </ng-container>

        <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'profile'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.profile}}
            </td>
        </ng-container>

        <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'jobTitle'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.jobTitle | EmtyValueCheckPipe}}
            </td>
        </ng-container>

        <ng-container matColumnDef="loginEmailAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'loginEmail'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.loginEmailAddress | EmtyValueCheckPipe}}
            </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'gender'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.gender | EmtyValueCheckPipe}}
            </td>
        </ng-container>
        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dob'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.dob | date}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="schoolEmail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'schoolEmail'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.schoolEmail | EmtyValueCheckPipe}}
            </td>
        </ng-container>

        <ng-container matColumnDef="mobilePhone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'mobilePhone'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.mobilePhone | EmtyValueCheckPipe}}
            </td>
        </ng-container>
        <ng-container matColumnDef="schoolName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'schoolName'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.schoolName | EmtyValueCheckPipe}}
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{'status'|translate}}
            </th>
            <td mat-cell *matCellDef="let element" [class.text-green]="element.status=='active'"
                [class.text-red]="element.status=='inactive'">
                {{element.status |translate}}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-right">{{'action'|translate}}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <div class="flex justify-end items-center">
                    <ng-container *ngIf="element.profile !== profiles.SuperAdmin">
                        <button mat-icon-button matTooltip="{{'ImpersonateAsStaff' | translate}}" class="cursor-pointer"
                        (click)="impersonateAsStaff(element.staffId)" *ngIf="(defaultValuesService.getUserMembershipType() === profiles.SuperAdmin && element.profile != profiles.SuperAdmin) || 
                                        ((defaultValuesService.getUserMembershipType() === profiles.AdminAssitant || defaultValuesService.getUserMembershipType() === profiles.SchoolAdmin) && 
                                        (element.profile !== profiles.AdminAssitant && element.profile !== profiles.SchoolAdmin));
                                        else notImpersonate">
                            <mat-icon [icIcon]="icImpersonate"></mat-icon>
                        </button>
                    </ng-container>
                    <ng-template #notImpersonate>
                        <span class="opacity-25 mr-2 inline-block"><mat-icon [icIcon]="icImpersonate"></mat-icon></span>
                    </ng-template>
                    <button mat-icon-button matTooltip="{{ 'dataEditInfo' | translate }}" class="cursor-pointer"
                        (click)="openDataEdit(element)">
                        <mat-icon [icIcon]="icRestore"></mat-icon>
                    </button>
                    <ng-container *ngIf="defaultValuesService.getUserMembershipType() === profiles.SuperAdmin || defaultValuesService.getUserMembershipType() === profiles.SchoolAdmin || defaultValuesService.getUserMembershipType() === profiles.AdminAssitant">
                        <ng-container *ngIf="element.loading; else showDropdown">
                            <img src="assets/img/icons/loading-process.svg" class="animate-spin w-5 ml-3 mr-2"
                            alt="Loader icon">
                        </ng-container>
                        <ng-template #showDropdown>
                            <button mat-icon-button [matMenuTriggerFor]="moreActions"><mat-icon>more_vert</mat-icon></button>
                        </ng-template>
                    </ng-container>
                </div>
                <mat-menu #moreActions="matMenu">
                    <button mat-menu-item (click)="deleteStaff(element, i)" *ngIf="element.profile != profiles.SuperAdmin; else fakeDelete">
                        <mat-icon [icIcon]="icDelete"></mat-icon>{{'deleteStaff' | translate}}
                    </button>
                    <ng-template #fakeDelete>
                        <button mat-menu-item disabled="true">
                            <mat-icon [icIcon]="icDelete"></mat-icon>{{'deleteStaff' | translate}}
                        </button>
                    </ng-template>
                </mat-menu>
            </td>
        </ng-container>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="7">
                <!-- <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay> -->
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="invalidsearct">
            <td mat-footer-cell *matFooterCellDef colspan="7">
                {{'noRecordFoundAsPerYourSearchCriteriaDotPlease' |translate}}<a
                    class="cursor-pointer text-blue underline" (click)="resetStaffList()">{{'clickHere'|translate}}</a>
                {{'toReset' |translate}}
            </td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef colspan="7">
                {{loading?('fetchingData' | translate):('noData' | translate) }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="parentComponent === 'staffInfo' ||  parentComponent === 'takeAttendence'?visibleColumns:displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: parentComponent === 'staffInfo' ||  parentComponent === 'takeAttendence'?visibleColumns:displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></tr>
        <tr mat-footer-row *matFooterRowDef="['invalidsearct']"
            [class.hide]="(searchCount !== 0)|| searchCount == null"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="totalCount!=null"></tr>
    </table>
</div>
<mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons
    (page)='getPageEvent($event)'></mat-paginator>

<div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="showAdvanceSearchPanel">
    <div class="advance-search-panel absolute bg-white w-full sm:w-4/6 md:w-3/6 lg:w-2/6 h-full z-20" @fadeInRight>
        <vex-common-staff-advanced-search [filterJsonParams]="filterJsonParams"
            [incomingSearchValue]="searchValue" (showHideAdvanceSearch)="hideAdvanceSearch($event)"
            (toggelValues)="getToggleValues($event)" [incomingToggleValues]="toggleValues" (filteredValue)="filterData($event)"
           (searchValue)="getSearchInput($event)" [parentComponent]="parentComponent"></vex-common-staff-advanced-search>
    </div>
    <div class="advance-search-backdrop bg-black opacity-50 fiexd top-0 left-0 w-full h-full z-10"></div>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{column.label | translate}}
        </mat-checkbox>
    </button>
</mat-menu>