<mat-card class="w-full">

    <div class="flex items-center mx-4" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="flex-auto">{{'loginInformation' | translate}}</h3>
        <button mat-button color="primary"><mat-icon [icIcon]="icEdit"></mat-icon>{{'editInformation' |translate}}</button>
    </div>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <ul class="grid grid-cols-2 col-gap-8 row-gap-10 mt-2 mx-4">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'username' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">simondavis@example.com</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'password' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2"><a href="" class="text-primary pointer">Reset Password</a></p>
                </li>
                <li>
                    <mat-slide-toggle color="primary" class="mb-4">{{'portalAccess' | translate}}</mat-slide-toggle>
                </li>
            </ul>

            <h4 class="text-primary pt-6 pb-0 px-4">{{'secretQuestionAndAnswer'|translate}}</h4>
            <p class="pb-3 px-4 text-gray">( {{'answersAreHiddenForSecurityReasons' | translate}} )</p>
            <ul class="grid grid-cols-2 col-gap-8 row-gap-10 mt-2 mx-4">
                <li>
                    <label class="text-sm leading-5 text-gray">Your Favourite Movie?</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">*****</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">In which city were you born?</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">*****</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">Who was your childhood hero?</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">*****</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">What is your favourite book?</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">*****</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">Who is your favourite cartoon character?</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">*****</p>
                </li>
            </ul>

        </div>
    </mat-card-content>
</mat-card>
