<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{certificateDetails.info.certificationName}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <ul class="grid grid-cols-1 md:grid-cols-2 col-gap-8 row-gap-6 md:row-gap-10 mt-6">
        <li>
            <label class="text-sm leading-5 text-gray">{{'certificationName' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.certificationName}}</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'certificationShortName' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.shortName}}</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'certificationCode' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.certificationCode|EmtyValueCheckPipe}}</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'primaryCertificationIndicator' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.primaryCertification|EmtyBooleanCheckPipe}}</p>
        </li>
        <li>
            <label class=" text-sm leading-5 text-gray">{{'certificationDate' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.certificationDate|date:'MMM dd, y'|EmtyValueCheckPipe}}</p>
        </li>
        <li>
            <label class=" text-sm leading-5 text-gray">{{'certificationExpiryDate' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.certificationExpiryDate|date:'MMM dd, y'|EmtyValueCheckPipe}}</p>
        </li>  
        <li class="col-start-1 col-end-2">
            <label class=" text-sm leading-5 text-gray">{{'certificationDescription' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 whitespace-pre-wrap">{{certificateDetails.info.certificationDescription}}</p>
        </li>       
    </ul>
</mat-dialog-content>