<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{'scheduleStudents'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['scheduling']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card -mt-16">
            <div class="p-6 text-center">
                {{'toScheduleStudentsIntoCourseSectionsSearchAndSelectStudentssAndCourseSectionsFirst' | translate}}.
            </div>
            <hr class="border-normal" />
            <div class="md:flex w-full">
                <div class="md:w-1/2 border-r border-normal bg-green md:bg-white cursor-pointer relative pt-6 pb-12 md:py-0">
                    <div class="flex items-center" (click)="selectStudent()">
                        <div class="hidden md:inline-block w-2/12 bg-green text-white text-center py-6 rounded-bl relative arrow-right">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                        <div class="w-full md:w-10/12 text-center md:text-left text-white md:text-black md:pl-6">
                            <h2 *ngIf="studentList?.length == 0">{{'student' | translate}}</h2>
                            <h2 *ngIf="studentList?.length > 0"> {{studentList?.length}} {{'student' | translate}}{{studentList?.length>1 ? 's' : ''}} {{'selected' | translate}}</h2>
                            <p class="md:text-blue">{{'selectStudentToSchedule' | translate}}</p>
                        </div>
                    </div>
                    <div [ngClass]="(studentList?.length==0 || courseSectionList?.length==0) ? '':'hide-schedule-icon'" class="schedule-icon bg-white">
                        <img src="assets/img/icons/teacher-course-schedule.svg" width="80%" class="inline-block" alt="Schedule icon"/>
                    </div>

                    <!-- start Schedule button design -->
                    <!-- <div *ngIf="studentList?.length > 0 && courseSectionList?.length >0 && !viewReport && permissions?.edit" (click)="scheduleStudent()"
                        class="schedule-button">
                        <button mat-button class="bg-green text-white">
                            Schedule Student{{studentText}}
                        </button>
                    </div> -->
                    <!-- end Schedule button design -->

                    <!-- start refresh button design -->
                    <div *ngIf="viewReport" (click)="refreshAll()" class="schedule-refresh bg-white">
                        <mat-icon aria-hidden="false" aria-label="icon" class="text-primary">refresh</mat-icon>
                    </div>
                    <!-- end refresh button design -->
                </div>
                <div class="md:w-1/2 cursor-pointer bg-primary rounded-b md:bg-white pt-12 pb-6 md:py-0" (click)="selectCourseSection()">
                    <div class="flex items-center">
                        <div class="w-full md:w-10/12 text-center md:text-right text-white md:text-black md:pr-6 order-2 md:order-1">
                            <h2 *ngIf="courseSectionList?.length == 0">{{'courseSection' |translate}}</h2>
                            <h2 *ngIf="courseSectionList?.length > 0">{{courseSectionList?.length}} {{'courseSection' |translate}}{{courseSectionList?.length>1 ? 's' : ''}} {{'selected' |translate}} 
                            </h2>
                            <p class="md:text-blue">{{'selectCourseSectionToSchedule' |translate}}</p>
                        </div>
                        <div class="hidden md:inline-block w-2/12 bg-primary text-white text-center py-6 rounded-br relative arrow-left order-1 md:order-2">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="loading" class="fixed w-full h-full z-50 top-0 left-0">

        </div> 
        <div *ngIf="showCard" class="card mt-6 p-4">
            <!-- when schedule student selected -->
            <div *ngIf="loading && !viewReport" class="flex">
                <img src="assets/img/icons/loading-process.svg" class="flex-shrink-0 mt-1 self-start animate-spin w-5" alt="Loader icon">
                <div class="ml-4">
                    <span class="text-lg inline-block align-middle text-primary font-bold">{{'schedulingStudent' |translate}}{{studentList?.length > 1 ? 's' : ''}}</span>
                    <p class="">{{'pleaseDoNotRefreshThePageOrClickBackButton' |translate}}.</p>
                </div>
            </div>

            <!-- when schedule completed  -->
            <div *ngIf="failedScheduling" class="flex">
                <mat-icon aria-hidden="false" aria-label="icon" class="mt-1 text-red">error</mat-icon>
                <div class="ml-4">
                    <span class="text-lg inline-block align-middle text-red font-bold">Scheduling failed</span>
                    <p class="">{{studentCourseSectionScheduleAddViewModel.conflictMessage}}</p>
                </div>
            </div>
            <!-- when schedule completed  -->
            <div *ngIf="viewReport" class="flex">
                <mat-icon aria-hidden="false" aria-label="icon" class="mt-1 text-green">check_circle</mat-icon>
                <div class="ml-4">
                    <span class="text-lg inline-block align-middle text-green font-bold">Scheduling Completed</span>
                    <p class="">{{studentCourseSectionScheduleAddViewModel.conflictMessage}}</p>
                </div>
            </div>
            <!-- <mat-divider class="-mx-6 mt-4 text-border"></mat-divider>
            <ul class="grid grid-cols-1 md:grid-cols-2 col-gap-4 mt-6">
                <li class="flex mb-10">
                    <div class="flex-shrink-0">
                        <div class="spinner-container">
                            <div class="spinner-background font-semibold text-warn">{{spinner1.value}}%</div>
                            <mat-progress-spinner #spinner1 color="primary" mode="determinate" value="69"
                                strokeWidth="5" diameter="70" class="spinner-red">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    <div class="ml-4 flex flex-col justify-center">
                        <h5 class="mb-2 text-lg font-semibold">Geometry - GEOM001</h5>
                        <p>38 Students could not be scheduled because they have period conflict with other course
                            section.</p>
                    </div>
                </li>
                <li class="flex mb-10">
                    <div class="flex-shrink-0">
                        <div class="spinner-container">
                            <div class="spinner-background font-semibold text-green">{{spinner2.value}}%</div>
                            <mat-progress-spinner #spinner2 color="primary" mode="determinate" value="100"
                                strokeWidth="5" diameter="70" class="spinner-green"></mat-progress-spinner>
                        </div>
                    </div>
                    <div class="ml-4 flex flex-col justify-center">
                        <h5 class="mb-2 text-lg font-semibold">Algebra - ALGB001</h5>
                        <p>120 Students scheduled.</p>
                    </div>
                </li>
                <li class="flex mb-10">
                    <div class="flex-shrink-0">
                        <div class="spinner-container">
                            <div class="spinner-background font-semibold text-warn">{{spinner3.value}}%</div>
                            <mat-progress-spinner #spinner3 color="primary" mode="determinate" value="75"
                                strokeWidth="5" diameter="70" class="spinner-red">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    <div class="ml-4 flex flex-col justify-center">
                        <h5 class="mb-2 text-lg font-semibold">World History - WHS05</h5>
                        <p>30 Students could not be scheduled due to seat unavailability.</p>
                    </div>
                </li>
                <li class="flex mb-10">
                    <div class="flex-shrink-0">
                        <div class="spinner-container">
                            <div class="spinner-background font-semibold text-warn">{{spinner4.value}}%</div>
                            <mat-progress-spinner #spinner4 color="primary" mode="determinate" value="95"
                                strokeWidth="5" diameter="70" class="spinner-red">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    <div class="ml-4 flex flex-col justify-center">
                        <h5 class="mb-2 text-lg font-semibold">Life Science - LSC03</h5>
                        <p>5 Students could not be scheduled because they are already scheduled to the same course
                            section.</p>
                    </div>
                </li>
            </ul>-->
            <hr class="my-4 -mx-4">
            <div *ngIf="viewReport" class="text-center">
                <button (click)="viewScheduledReport()"
                    class="p-2 text-primary border-2 border-primary rounded font-medium mr-4" type="submit">
                    <i class="icon icon-eye mr-2"></i>{{"viewReport" | translate}}
                </button>
                <button (click)="viewExcelReport()" class="p-2 text-primary border-2 border-primary rounded font-medium" type="submit">
                    <img src="assets/img/microsoft_office_excel.svg" alt="Excel Icon" width="20" class="inline-block mr-2">{{"downloadThisReportAsExcel" | translate}}
                </button>
            </div>
        </div>
        <div *ngIf="showReportTable" class="card mt-6 p-4">
            <h6 class="text-base mb-3">Schedule Report</h6>
            <div class="-mx-4 border-t overflow-auto">
                <table mat-table [dataSource]="scheduleReport" class="mat-elevation-z8 shadow-none">
                    <ng-container *ngFor="let column of displayedColumns; let colIndex = index"
                        matColumnDef="{{column}}">
                        <th mat-header-cell *matHeaderCellDef>{{ column==='studentInternalId'?'Student ID': (column |translate | titlecase)}}</th>
                        <td mat-cell mat *matCellDef="let element">
                            <ng-container *ngIf="column!=='studentId' && column!=='studentName' && column!=='studentInternalId' && column!=='courseSection';else commonData">
                                <button *ngIf="element.status == 'False';else trueBlock">
                                        <!-- <i class="text-lg text-warn icon icon-notification2">{{element.description.trim()}}</i> -->
                                        {{element.description.trim()}}
                                    </button>
                                    <ng-template #trueBlock>
                                      <span><i class="text-lg icon icon-checkmark3"></i></span>
                                    </ng-template>
                            </ng-container>
                            <ng-template #commonData>
                            {{element[column]|EmtyValueCheckPipe}}
                            </ng-template>
                          </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        </div>

        <div class="card mt-6" *ngIf="studentList?.length > 0 && courseSectionList?.length >0 && !showCard">
            <div class="p-4">
                <p class="text-primary font-semibold text-lg">{{ 'selectScheduleDateForSelectedStudentsIntoCourseSections' | translate }}</p>
            </div>
            <div class="overflow-x-auto overflow-y-hidden border-b  course-section-table">
                <table class="table mb-0">
                    <thead class="text-left">
                        <tr>
                            <th>{{'course' | translate }}</th>
                            <th>{{'courseSection' | translate }}</th>
                            <th>{{'markingPeriod' | translate }}</th>
                            <th>{{'startDate' | translate }}</th>
                            <th>{{'endDate' | translate }}</th>
                            <th>{{'meetingDays' | translate }}</th>
                            <th>{{'teachers' | translate }}</th>
                            <th>{{'scheduleDate' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of courseSectionList">
                            <td>{{ data?.courseTitle ? data?.courseTitle : 'N/A' }}</td>
                            <td>{{ data?.courseSectionName ? data?.courseSectionName : 'N/A' }}</td>
                            <td>{{ data?.markingPeriod ? data?.markingPeriod : 'N/A' }}</td>
                            <td>{{ data?.courseDurationStartDate ? ( data?.courseDurationStartDate | date : 'mediumDate' ) : 'N/A' }}</td>
                            <td>{{ data?.durationEndDate ? ( data?.durationEndDate | date : 'mediumDate' ) : 'N/A' }}</td>
                            <td>
                                <div *ngIf="data?.meetingDays;else elsePartDay">
                                    <span *ngFor="let day of weekArray, index as i"
                                        class="text-white w-5 h-5 rounded inline-block text-xs text-center font-medium mr-1"
                                        [class.bg-primary]="data?.meetingDays.includes(i)"
                                        [class.bg-gray-light]="data?.meetingDays.includes(i)==false">
                                        {{day}}
                                    </span>
                                </div>
                                <ng-template #elsePartDay>N/A</ng-template>
                            </td>
                            <td class="relative w-full">
                                <div class="teacher-avatar absolute w-full"
                                    *ngIf="data?.staffNameList?.length>0;else elsePartTeacher">
                                    <div *ngFor="let teachers of data?.staffNameList;let i =index;"
                                        class="absolute cursor-pointer w-10 h-10 inline-block rounded-full text-center border-2 border-white overflow-hidden"
                                        [matTooltip]="teachers.fullName" aria-label="Button that shows a tooltip"
                                        [matTooltipPosition]="'above'">
                                        <!-- <img src="assets/img/profilePic.jpg" alt="Teacher Photo" class="" *ngIf="i===0"> -->
                                        <!--For future implementation of thumbnail profile image-->
                                        <p [ngClass]="teachers.bgColor" class="font-semibold text-xs p-2 text-white"
                                            *ngIf="i<=2">{{teachers.firstNameChar}}{{teachers.lastNameChar}}</p>
                                        <a class="text-gray items-center w-full h-full flex bg-app-bar" *ngIf="i>2">
                                            <mat-icon class="w-full">more_horiz</mat-icon>
                                        </a>
                                    </div>
                                </div>
                                <ng-template #elsePartTeacher>-</ng-template>
                            </td>
                            <td>
                                <div>
                                    <mat-form-field appearance="outline" class="mb-0">
                                        <input matInput [matDatepicker]="dp1" [(ngModel)]="data.durationStartDate"
                                            [min]="data?.courseDurationStartDate" [max]="data?.durationEndDate"
                                            (dateChange)="changeDateEvent(data)">
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right p-4">
                <button mat-raised-button class="bg-green text-white"
                    *ngIf="studentList?.length > 0 && courseSectionList?.length >0 && !viewReport && permissions?.edit"
                    (click)="scheduleStudent()">{{ studentList?.length > 1 ? ('scheduleStudents' | translate ) : ('scheduleStudent' | translate) }}</button>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>