<div class="grid grid-cols-1 md:grid-cols-2 md:col-gap-8 row-gap-6">
    <div class="border border-solid rounded p-4" *ngFor="let sibling of studentViewSibling.studentMaster">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <div class="relative cursor-pointer" fxFlex="none" (click)='openViewDetails(sibling)'>
                <img src="{{sibling.studentPhoto?'data:image/png;base64,'+ sibling.studentPhoto:'assets/img/default-person.jpg'}}" class="avatar" />
            </div>
            <div class="overflow-hidden cursor-pointer"  fxFlex="auto" (click)='openViewDetails(sibling)'>
                <div class="subheading-2 leading-snug text-primary">{{sibling.firstGivenName +' '+ sibling.lastFamilyName}}</div>
                <div class="body-1 text-secondary truncate contact-type">{{sibling.schoolMaster.schoolName}}
                    <span *ngIf="sibling.studentEnrollment[0]?.gradeLevelTitle" class="separator"></span>{{sibling.studentEnrollment[0]?.gradeLevelTitle}}</div>
            </div>
            <div fxFlex="none" fxLayout="column" fxLayoutAlign="center end">
                <button *ngIf="permissions.delete" mat-icon-button matTooltip="Remove Association" (click)="confirmDelete(sibling)" type="button" class="text-gray">
                    <mat-icon [icIcon]="icRemove"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    
</div>
<div class="text-center" *ngIf="!studentViewSibling?.studentMaster?.length">
    No Sibling Found!
</div>
<div class="text-center mt-6">
    <button *ngIf="permissions.add" color="primary" mat-raised-button type="button" (click)='openAddNew()'>
        <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px"></ic-icon>
        <span>Add Sibling</span>
    </button>
</div>