.hide{
    display:none;
  }
  .medical-info-table {
    tr {
        td, th {
            @apply border-b;
            border-color: rgba(0,0,0,0.1);
            @apply px-4;
            @apply py-3;
            text-align: left;
        }
        td:last-child {
          text-align: right;
      }
      td:nth-child(6){
        text-align: center;
      }
    }
}