<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{'scheduleTeacher'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['scheduling']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card -mt-16">
            <div class="p-6 text-center">{{ 'toScheduleTeachersIntoCourseSectionsSearchAndSelectTeachersAndCourseSectionsFirst' | translate }}</div>
            <hr class="border-normal">
            <div class="md:flex w-full">
                <div class="md:w-1/2 md:border-r border-normal bg-green md:bg-white cursor-pointer relative pt-6 pb-12 md:py-0" (click)="selectTeacher()">
                    <div class="flex items-center">
                        <div class="hidden md:inline-block w-2/12 bg-green text-white text-center py-6 rounded-bl relative arrow-right">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                        <div class="w-full md:w-10/12 text-center md:text-left text-white md:text-black md:pl-6">
                            <h2 *ngIf="selectedTeachers?.length==0">{{ 'teacher' | translate }}</h2>
                            <h2 *ngIf="selectedTeachers?.length>0">
                                {{selectedTeachers.length>1?selectedTeachers?.length+' Teachers
                                Selected':selectedTeachers?.length+' Teacher Selected'}}</h2>
                            <p class="md:text-blue">{{ 'selectTeacherToSchedule' | translate }}</p>
                        </div>
                    </div>
                    <div class="schedule-icon bg-white"><img src="assets/img/icons/teacher-course-schedule.svg"
                            width="80%" class="inline-block" alt="Schedule icon"></div>
                </div>
                <div class="md:w-1/2 cursor-pointer bg-primary rounded-b md:bg-white pt-12 pb-6 md:py-0" (click)="selectCourseSection()">
                    <div class="flex items-center">
                        <div class="w-full md:w-10/12 text-center md:text-right text-white md:text-black md:pr-6 order-2 md:order-1">
                            <h2 *ngIf="selectedCourseSection?.length==0">{{ 'courseSection' | translate }}</h2>
                            <h2 *ngIf="selectedCourseSection?.length>0">
                                {{selectedCourseSection?.length>1?selectedCourseSection?.length+' Course Sections
                                Selected':selectedCourseSection?.length+' Course Section Selected'}}</h2>

                            <p class="md:text-blue">{{ 'selectCourseSectionToSchedule' |translate }}</p>
                        </div>
                        <div class="hidden md:inline-block w-2/12 bg-primary text-white text-center py-6 rounded-br relative arrow-left order-1 md:order-2">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed w-full h-full z-50 top-0 left-0"
            *ngIf="globalLoader && selectedTeachers.length>0 && selectedTeachers.length>0">

        </div>
        <div class="card mt-6 p-4" *ngIf="globalLoader && selectedTeachers.length>0 && selectedTeachers.length>0">
            <div class="flex">
                <img src="assets/img/icons/loading-process.svg" class="flex-shrink-0 mt-1 self-start animate-spin w-5" alt="Loader icon">
                <div class="ml-4">
                    <span class="text-lg inline-block align-middle text-primary font-bold"
                        *ngIf="selectionProcessing && !checkAvailabilityLoader && !startSchedulingLoader">{{'selectionProcessing' | translate}}</span>
                    <span class="text-lg inline-block align-middle text-primary font-bold"
                        *ngIf="checkAvailabilityLoader">{{'checkingAvailability'| translate}}</span>
                    <span class="text-lg inline-block align-middle text-primary font-bold"
                        *ngIf="startSchedulingLoader">{{'schedulingTeachers' | translate}}</span>

                    <p class="">{{ 'pleaseDoNotRefreshThePageOrClickBackButton' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="pt-6"
            *ngIf="staffScheduleListForView.staffScheduleViewList && !staffSchedulingFinished && selectedTeachers.length>0 && selectedCourseSection.length>0">
            <h4 class="text-primary font-bold">{{ 'courseSectionDetails' | translate }}</h4>
            <p>{{ 'selectedCourseSectionDetailsAreGivenBelowCheckTeacherAvailabilityBeforeProceedingToScheduling' | translate }}</p>
            <div class="card mt-4 p-4"
                *ngFor="let teacherSchedule of staffScheduleListForView.staffScheduleViewList;let indexOfStaffGrid=index">
                <div class="teacher-info mb-2">
                    <span
                        class="text-lg inline-block align-middle text-green font-bold">{{teacherSchedule.staffFullName}}</span>
                    <span class="inline-block align-middle ml-3" matTooltip="Homeroom Teacher"
                        *ngIf="teacherSchedule.homeroomTeacher"><img src="assets/img/icons/homeroom_teacher.svg"
                            class="w-4 opacity-50" alt="Homeroom teacher icon"></span>
                    <ng-container *ngIf="teacherSchedule.staffInternalId">
                        <span class="dot-separator"></span>
                        <span>#{{teacherSchedule.staffInternalId}}</span>
                    </ng-container>
                    <ng-container *ngIf="teacherSchedule.staffEmail">
                        <span class="dot-separator"></span>
                        <span><a [href]="teacherSchedule?.staffEmail ?  'mailto:' + teacherSchedule?.staffEmail : ''" class="hover:text-blue">{{teacherSchedule?.staffEmail}}</a></span>
                    </ng-container>

                </div>
                <div @fadeInUp class="border-t border-normal -mx-4 mt-4">
                    <div class="overflow-x-auto overflow-y-hidden">
                        <table class="w-full calendar-schedule-table">
                            <thead>
                                <tr>
                                    <th width="1%">
                                        <mat-checkbox color="primary" [disabled]="teacherSchedule.conflictStaff"
                                            [checked]="teacherSchedule.allCourseSectionChecked && !teacherSchedule.conflictStaff"
                                            (change)="masterCheckToggle($event.checked,indexOfStaffGrid)">
                                        </mat-checkbox>
                                    </th>
                                    <th>{{ "course" | translate }}</th>
                                    <th>{{ "courseSection" | translate }}</th>
                                    <th>{{ "markingPeriod" | translate }}</th>
                                    <th>{{ "startDate" | translate }}</th>
                                    <th>{{ "endDate" | translate }}</th>
                                    <th>{{ "meetingDays" | translate }}</th>
                                    <th>{{ "scheduledTeacher" | translate }}</th>
                                    <th width="1%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let courseSection of teacherSchedule.courseSectionViewList;let index=index">
                                    <td>
                                        <mat-checkbox color="primary" [disabled]="courseSection.conflictCourseSection"
                                            [checked]="courseSection.checked && !courseSection.conflictCourseSection"
                                            (change)="singleSelection($event.checked,index,indexOfStaffGrid)">
                                        </mat-checkbox>
                                    </td>
                                    <td [ngClass]="courseSection.conflictCourseSection?'text-warn':''">
                                        {{courseSection.courseTitle}}</td>
                                    <td [ngClass]="courseSection.conflictCourseSection?'text-warn':''">
                                        {{courseSection.courseSectionName}}</td>
                                    <td [ngClass]="courseSection.conflictCourseSection?'text-warn':''">
                                        {{courseSection.markingPeriodTitle}}</td>
                                    <td [ngClass]="courseSection.conflictCourseSection?'text-warn':''">
                                        {{courseSection.durationStartDate|date:'mediumDate'}}</td>
                                    <td [ngClass]="courseSection.conflictCourseSection?'text-warn':''">
                                        {{courseSection.durationEndDate|date:'mediumDate'}}</td>
                                    <td>
                                        <div class="whitespace-no-wrap">
                                        <ng-container
                                            *ngIf="courseSection.scheduleType=='Fixed Schedule' || courseSection.scheduleType=='Variable Schedule';else otherSchedule">
                                            <ng-container *ngFor="let day of courseSection.weekDays.split('').sort()">
                                                <span
                                                    class="w-5 h-5 text-center text-xs rounded inline-block text-white mr-1 font-medium"
                                                    [ngClass]="courseSection.cloneMeetingDays.includes(day)?'bg-primary':'bg-gray-light'"
                                                    [matTooltip]="day|weekDay:false:true"
                                                    [matTooltipPosition]="'above'">{{day|weekDay:true:false}}</span>

                                            </ng-container>

                                        </ng-container>
                                        <ng-template #otherSchedule>
                                            <span class="text-primary">
                                                {{courseSection.scheduleType}}
                                            </span>
                                        </ng-template>
                                    </div>
                                    </td>
                                    <td>
                                        <ng-container *ngFor="let staff of courseSection?.scheduledStaff?.split('|')">
                                            <button [matTooltip]="staff"
                                                aria-label="Button that displays a tooltip when focused or hovered over"
                                                [matTooltipPosition]="'above'">
                                                <img src="assets/img/icons/teacher_blue.svg" alt="" width="20" alt="Teacher icon">
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="courseSection.scheduledStaff==null">-</ng-container>
                                    </td>
                                    <td>
                                        <a href="javascript:void();" class="text-xl" matTooltip="View Details"
                                            (click)="viewCorrespondingSchedule(courseSection)"><i
                                                class="icon icon-info2"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="flex mt-4 items-center flex-wrap">
                <p class="text-base mt-2 mr-10" *ngIf="!noConflictDetected && checkAvailabilityFinished">
                    <i class="icon icon-notification2 mr-2 text-warn"></i>
                    {{ 'itemsInRedDenotesTeacherUnavailabilityYouCanChangeYourSelectionOrProceedToScheduling' | translate }}
                </p>
                <!-- After completed conflicts below text is seen -->
                <p class="text-base mt-2 mr-10" *ngIf="noConflictDetected && checkAvailabilityFinished"><i
                        class="icon icon-checkmark-circle mr-2 text-green"></i>{{ 'thereAreNoConflictsDetectedYouMayProceedToScheduling' | translate }}</p>


                <div class="ml-auto mt-2" *ngIf="permissions?.edit">
                    <button @stagger color="primary" [disabled]="checkAvailabilityLoader" mat-raised-button
                        (click)="checkAvailability()">
                        <mat-icon class="ml-2" *ngIf="checkAvailabilityLoader">
                            <mat-spinner color="primary" diameter="20">
                            </mat-spinner>
                        </mat-icon>
                        <i class="icon icon-loop3 mr-2" *ngIf="!checkAvailabilityLoader"></i>{{ 'checkAvailability' |
                        translate }}
                    </button>
                    <button @stagger *ngIf="isStartSchedulingPossible"
                        [disabled]="startSchedulingLoader ? startSchedulingLoader: isHasStartScheduling "
                        (click)="startScheduling()" mat-raised-button type="submit" class="bg-green ml-2 text-white">
                        <mat-icon class="ml-2" *ngIf="startSchedulingLoader">
                            <mat-spinner color="primary" diameter="20">
                            </mat-spinner>
                        </mat-icon>
                        {{ 'startScheduling' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="card mt-6 px-6 py-20 text-center" *ngIf="staffSchedulingFinished">
            <mat-icon class="text-green w-auto h-auto text-6xl">check_circle</mat-icon>
            <h3 class="text-primary font-semibold text-2xl mb-1">{{ 'success' | translate }}</h3>
            <p>{{ 'teacherScheduledSuccessfully' | translate }}</p>
        </div>
    </vex-page-layout-content>
</vex-page-layout>