
        <div class="card overflow-auto">
            <vex-common-staff-list [parentComponent]="'takeAttendence'"></vex-common-staff-list>
        </div>


<!-- <div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="showAdvanceSearchPanel">
    <div class="advance-search-panel absolute bg-white w-full sm:w-4/6 md:w-3/6 lg:w-2/6 h-full z-20" @fadeInRight>
        <vex-search-staff (searchList)="getSearchResult($event)" [filterJsonParams]="filterJsonParams" (showHideAdvanceSearch)="hideAdvanceSearch($event)"></vex-search-staff>
    </div>
    <div class="advance-search-backdrop bg-black opacity-50 fiexd top-0 left-0 w-full h-full z-10"></div>
</div> -->