<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{'groupDrop'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['scheduling']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card -mt-16">
            <div class="p-6 text-center">
                To Drop student(s) from a course section, search and select a course section and a drop date first.
            </div>
            <hr class="border-normal" />
            <div class="md:flex w-full">
                <div class="md:w-1/2 md:border-r border-normal bg-green md:bg-white cursor-pointer relative pt-6 pb-12 md:py-0" (click)="selectCourseSection()">
                    <div class="flex items-center">
                        <div class="hidden md:inline-block w-2/12 bg-green text-white text-center py-6 rounded-bl relative arrow-right">
                            <i class="icon icon-plus3 sm:text-xl lg:text-4xl"></i>
                        </div>
                        <div class="w-full md:w-10/12 text-center md:text-left text-white md:text-black md:pl-6">
                            <h2 *ngIf="!showcourseSectionCount">{{'courseSection' | translate}}</h2>
                            <h2 *ngIf="showcourseSectionCount">{{courseSectionData.courseTitle}} -
                                {{courseSectionData.courseSectionName}}</h2>
                            <p class="md:text-blue">{{'selectACourseSection' | translate}}</p>
                        </div>
                    </div>
                    <div class="schedule-icon bg-white">
                        <img src="assets/img/icons/teacher-course-schedule.svg" width="80%" class="inline-block" alt="Schedule icon"/>
                    </div>
                </div>
                <div class="md:w-1/2 cursor-pointer bg-primary rounded-b md:bg-white pt-12 pb-6 md:py-0" (click)="this.defaultService.checkAcademicYear() ? picker.open() : ''">
                    <div class="flex items-center">
                        <div class="w-full md:w-10/12 text-center md:text-right text-white md:text-black md:pr-6 order-2 md:order-1">
                            <h2 *ngIf="selectDropDate == null">{{'dropDate' |translate}}</h2>
                            <h2 *ngIf="selectDropDate !== null">{{selectDropDate| date }}</h2>
                            <p class="md:text-blue">{{'selectDropDate' |translate}}</p>
                        </div>
                        <div class="hidden md:inline-block w-2/12 bg-primary text-white text-center py-6 rounded-br arrow-left relative order-1 md:order-2">
                            <i class="icon icon-calendar4 sm:text-xl lg:text-4xl"></i>
                            <input matInput [(ngModel)]="selectDropDate" [matDatepicker]="picker" [min]="startDate"
                                [max]="endDate" class="absolute invisible">
                            <mat-datepicker-toggle matSuffix [for]="picker" class="hidden"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="loading" class="fixed w-full h-full z-50 top-0 left-0">

        </div>
        <div *ngIf="loading && !dropSuccess && startDropping" class="card mt-6 p-4 flex">
            <img src="assets/img/icons/loading-process.svg" class="flex-shrink-0 mt-1 self-start animate-spin w-5" alt="Loader icon">
            <div class="ml-4">
                <span class="text-lg inline-block align-middle text-primary font-bold">{{'droppingStudentsFromCourseSection' |translate}}</span>
                <p class="">{{'pleaseDoNotRefreshThePageOrClickBackButton' |translate}}.</p>
            </div>
        </div>
        <div *ngIf="studentNotFound" class="card mt-6 p-4">
            <div class="flex">
                <mat-icon aria-hidden="false" aria-label="icon" class="text-red">error</mat-icon>
                <div class="ml-4">
                    <span class="text-lg inline-block align-middle text-red font-bold">{{dropMessage}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="dropSuccess" class="card mt-6 p-4">
            <div class="flex">
                <mat-icon aria-hidden="false" aria-label="icon" class="mt-1 text-green">check_circle</mat-icon>
                <div class="ml-4">
                    <span class="text-lg block align-middle text-green font-bold">{{"success" | translate}}</span>                    
                    <span class="block align-middle">{{dropMessage}}</span>
                </div>
            </div>
        </div>
        <div [ngClass]="studentDetails?.data?.length>0?'card':''" class="mt-6 p-4">
            <div *ngIf="studentDetails?.data?.length>0">
                <h6 class="text-lg text-green font-bold mb-1">{{'scheduledStudents' |translate}}</h6>
                <p class="">{{'selectStudentsToDropFromCourseSection' |translate}}.</p>
                <div class="-mx-4 border-t overflow-auto mt-4">
                    <table mat-table [dataSource]="studentDetails" class="mat-elevation-z8 shadow-none">
                        <ng-container matColumnDef="studentSelected">
                            <th [ngClass]="totalCount==0?'hidden':''" mat-header-cell *matHeaderCellDef>
                                <mat-checkbox color="primary"  #masterCheckBox
                                [indeterminate]="someComplete()"
                                (change)="setAll($event.checked)"></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox color="primary" [disabled]='element.action' [checked]="element.checked && !element.action"
                                (change)="onChangeSelection($event.checked,element.studentId)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="studentName">
                            <th mat-header-cell *matHeaderCellDef>{{ "studentName" | translate }}</th>
                            <td mat-cell *matCellDef="let element" class="relative student-link">
                                <div [ngClass]="(element.action === null ||
                                element.action=== false)? '':'text-gray line-through'">{{ element.firstGivenName }} {{element.lastFamilyName}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="studentId">
                            <th mat-header-cell *matHeaderCellDef>{{ 'studentId' | translate }}</th>
                            <td mat-cell *matCellDef="let element">{{ element.studentId }}</td>
                        </ng-container>
                        <ng-container matColumnDef="alternateId">
                            <th mat-header-cell *matHeaderCellDef>{{ 'alternateId' | translate }}</th>
                            <td mat-cell *matCellDef="let element">{{ element.alternateId }}</td>
                        </ng-container>
                        <ng-container matColumnDef="gradeLevel">
                            <th mat-header-cell *matHeaderCellDef>{{ 'gradeLevel' | translate }}</th>
                            <td mat-cell *matCellDef="let element">{{ element.gradeLevel }}</td>
                        </ng-container>
                        <ng-container matColumnDef="section">
                            <th mat-header-cell *matHeaderCellDef>{{ 'section' | translate }}</th>
                            <td mat-cell *matCellDef="let element">{{ element.section }}</td>
                        </ng-container>
                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef>{{ 'phoneNumber' | translate }}</th>
                            <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>{{ 'status' | translate }}</th>
                            <td mat-cell *matCellDef="let element" [ngClass]="(element.action === null ||
                            element.action=== false)? 'text-green':'text-warn'">{{ (element.action === null ||
                                element.action=== false)? 'Active':'Inactive' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="loading">
                            <mat-footer-cell *matFooterCellDef colspan="8">
                                <!-- <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay> -->
                            </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="noData">
                            <td mat-footer-cell *matFooterCellDef colspan="8">
                                {{loading?('fetchingData' | translate):('noData' | translate) }}
                            </td>
                        </ng-container>


                        <tr mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></tr>
                        <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="studentDetails?.data?.length!=0">
                        </tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
            </div>
            <mat-paginator [length]="totalCount" [ngClass]="totalCount>10?'':'hidden'" [pageSize]="pageSize"
            [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator>
            <div [ngClass]="(studentDetails?.data?.length>0 && permissions?.edit)?'':'hidden'" class="text-right pb-0">
                <button color="primary" mat-raised-button (click)="dropGroupStudents()" type="submit" class="mt-4">
                    {{ 'dropSelectedStudents' | translate }}
                </button>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>