<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
        {{ "searchselectTeacher" | translate }}
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content>
    <ul class="grid grid-cols-1 md:grid-cols-3 col-gap-4 row-gap-2 mt-4">
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "staffName" | translate }}</mat-label>
                <input [(ngModel)]="staffFullName" name="staffName" matInput />
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "staffId" | translate }}</mat-label>
                <input [(ngModel)]="staffMasterSearchModel.staffInternalId" name="staffId" matInput />
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "openSISProfile" | translate }}</mat-label>
                <mat-select [(ngModel)]="staffMasterSearchModel.profile">
                    <mat-option value="">All Profile</mat-option>
                    <mat-option [value]="profile.profile" *ngFor="let profile of getAllMembersList.getAllMemberList">
                        {{profile.profile}}</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "jobTitle" | translate }}</mat-label>
                <input [(ngModel)]="staffMasterSearchModel.jobTitle" name="jobTitle" matInput />
            </mat-form-field>
        </li>
        <!-- <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "homeroomTeacher" | translate }}</mat-label>
                <mat-select>
                    <mat-option value="homeroomTeacher">homeroomTeacher</mat-option>
                </mat-select>
            </mat-form-field>
        </li> -->
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "primaryGradeLevelTaught" | translate }}</mat-label>
                <mat-select [(ngModel)]="staffMasterSearchModel.primaryGradeLevelTaught" name="primaryGradeLevelId">
                    <mat-option value="">All Grade Level</mat-option>
                    <mat-option *ngFor="let grade of getAllGradeLevelsModel.tableGradelevelList"
                        [value]="grade.title">
                        {{grade.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "otherGradeLevelTaught" | translate }}</mat-label>
                <mat-select [(ngModel)]="staffMasterSearchModel.otherGradeLevelTaught" name="otherGradeLevelId">
                    <mat-option value="">All Grade Level</mat-option>
                    <mat-option *ngFor="let grade of getAllGradeLevelsModel.tableGradelevelList"
                        [value]="grade.title">
                        {{grade.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "primarySubjectTaught" | translate }}</mat-label>
                <mat-select [(ngModel)]="staffMasterSearchModel.primarySubjectTaught" name="primarySubjectTaught">
                    <mat-option value="">All Subject</mat-option>
                    <mat-option *ngFor="let subject of getAllSubjectModel.subjectList" [value]="subject.subjectName">
                        {{subject.subjectName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "otherSubjectTaught" | translate }}</mat-label>
                <mat-select [(ngModel)]="staffMasterSearchModel.otherSubjectTaught" name="otherSubjectTaught">
                    <mat-option value="">All Subject</mat-option>
                    <mat-option *ngFor="let subject of getAllSubjectModel.subjectList" [value]="subject.subjectName">
                        {{subject.subjectName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </li>
    </ul>

<div fxLayout="row" fxLayoutAlign="end center" class="py-0 mb-2">
    <button color="primary" mat-raised-button type="submit" (click)="submit()">Search</button>
</div>
<div class="-mx-6 border-t overflow-auto" *ngIf="isSearchRecordAvailable">
    <table mat-table [dataSource]="staffList" class="mat-elevation-z8 shadow-none">
        <ng-container matColumnDef="staffName">
            <th mat-header-cell *matHeaderCellDef>{{ "staffName" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <div class="text-primary cursor-pointer" (click)="selectStaff(element)">{{ element.firstGivenName+' '+element.lastFamilyName }}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="staffId">
            <th mat-header-cell *matHeaderCellDef>{{ 'staffId' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.staffInternalId|EmtyValueCheckPipe }}</td>
        </ng-container>
        <ng-container matColumnDef="primaryGrade">
            <th mat-header-cell *matHeaderCellDef>{{ 'primaryGrade' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.primaryGradeLevelTaught|EmtyValueCheckPipe }}</td>
        </ng-container>
        <ng-container matColumnDef="primarySubject">
            <th mat-header-cell *matHeaderCellDef>{{ 'primarySubject' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.primarySubjectTaught|EmtyValueCheckPipe }}</td>
        </ng-container>
        <ng-container matColumnDef="homeroomTeacher">
            <th mat-header-cell *matHeaderCellDef>{{ 'homeroomTeacher' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.profile==='Homeroom Teacher'?('yes'|translate):('no'|translate) }}</td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef colspan="5">
                {{loading?('fetchingData' | translate):('noData' | translate) }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']" [class.hidden]="totalCount!=0"></tr>
    </table>
    <mat-paginator [class.hidden]="totalCount<11"  [length]="totalCount" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator>
</div>
</mat-dialog-content>
