<form (ngSubmit)="submit()" #f="ngForm">
    <div class="search-body">
        <div class="flex justify-between px-6 py-4">
            <h4 class="font-bold">{{'advanceSearch' | translate}}</h4>
            <a (click)="hideAdvanceSearch()" class="cursor-pointer">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngIf="advancedSearchExpansion.identificationInformation" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'identificationInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'firstGivenName' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.firstGivenName" name="firstGivenName" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'middleName' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.middleName" name="middleName" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'lastFamilyName' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.lastFamilyName" name="lastFamilyName" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'studentId' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.studentInternalId" name="studentInternalId" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'alternateID' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.alternateId" name="alternateId" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'admissionNumber' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.admissionNumber" name="admissionNumber" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'rollNumber' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.rollNumber" name="rollNumber" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'districtID' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.districtId" name="districtId" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'stateID' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.stateId" name="stateId" matInput>
                        </mat-form-field>
                    </li>
                </ul>

            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.enrollmentInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'enrollmentInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'section' | translate}}</mat-label>
                            <mat-select name="sectionId" [(ngModel)]="studentMasterSearchModel.sectionId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let section of sectionList"
                                    [value]='section.sectionId'>
                                    {{section.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'estimatedGraduationDate' | translate}}</mat-label>
                            <input matInput name="estimatedGradDate" [(ngModel)]="studentMasterSearchModel.estimatedGradDate" [matDatepicker]="graduationDate">
                            <mat-datepicker-toggle matSuffix [for]="graduationDate"></mat-datepicker-toggle>
                            <mat-datepicker #graduationDate></mat-datepicker>
                        </mat-form-field> 
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'rollingRetentionOption' | translate}}</mat-label>
                            <mat-select name="rollingOption" [(ngModel)]="studentMasterSearchModel.rollingOption">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let rollingOption of rollingOptions" value="{{rollingOption}}">
                                    {{rollingOption}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'enrollmentCode' | translate}}</mat-label>
                            <mat-select name="enrollmentCode" [(ngModel)]="studentMasterSearchModel.enrollmentCode">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let enroll of enrollmentList" value="{{enroll.title}}">
                                    {{enroll.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'enrollmentDate' | translate}}</mat-label>
                            <input matInput [matDatepicker]="enrollmentDate" name="enrollmentDate" [(ngModel)]="studentMasterSearchModel.enrollmentDate">
                            <mat-datepicker-toggle matSuffix [for]="enrollmentDate"></mat-datepicker-toggle>
                            <mat-datepicker #enrollmentDate></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'gradeLevel' | translate}}</mat-label>
                            <mat-select name="gradeId" [(ngModel)]="studentMasterSearchModel.gradeId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let gradeLevel of this.getAllGradeLevelsModel.tableGradelevelList" value="{{gradeLevel.gradeId}}">
                                    {{gradeLevel.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                </ul>
                <ul>
                    <li>
                        <span class="inline-block mb-2">
                            <mat-checkbox name="eligibility504" [(ngModel)]="studentMasterSearchModel.eligibility504" color="primary" class="mr-6">
                            {{'504Eligibility' | translate}}
                            </mat-checkbox>
                        </span>
                        <span class="inline-block mb-2">
                            <mat-checkbox name="economicDisadvantage" [(ngModel)]="studentMasterSearchModel.economicDisadvantage" color="primary" class="mr-6">
                            {{'economicDisadvantage' | translate}}
                            </mat-checkbox>
                        </span>
                        <span class="inline-block mb-2">
                            <mat-checkbox name="freeLunchEligibility" [(ngModel)]="studentMasterSearchModel.freeLunchEligibility" color="primary" class="mr-6">
                            {{'freeLunchEligibility' | translate}}
                            </mat-checkbox>
                        </span>
                        <span class="inline-block mb-2">
                            <mat-checkbox name="specialEducationIndicator"  [(ngModel)]="studentMasterSearchModel.specialEducationIndicator" color="primary" class="mr-6">
                            {{'specialEducationIndicator' | translate}}
                            </mat-checkbox>
                        </span>
                        <span class="inline-block mb-2">
                            <mat-checkbox name="lepIndicator" [(ngModel)]="studentMasterSearchModel.lepIndicator" color="primary">{{'lepIndicator' | translate}}
                            </mat-checkbox>
                        </span>
                    </li>
                </ul>

            </mat-expansion-panel>
            
            <mat-expansion-panel *ngIf="advancedSearchExpansion.accessInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'accessInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'loginEmailAddress' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.studentPortalId" name="studentPortalId" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.searchBirthdays">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'searchBirthdaysBetweenDateRange' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'fromDate' | translate}}</mat-label>
                            <input matInput [(ngModel)]="dobStartDate" name="dobStartDate" [matDatepicker]="frompicker">
                            <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                            <mat-datepicker #frompicker></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'toDate' | translate}}</mat-label>
                            <input matInput [(ngModel)]="dobEndDate" name="dobEndDate" [matDatepicker]="topicker">
                            <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
                            <mat-datepicker #topicker></mat-datepicker>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.reEnrollmentInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'enrollmentInfo' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{ "enrollmentDate" | translate }}</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.enrollmentDate" name="enrollmentDate"
                                [matDatepicker]="frompicker">
                            <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                            <mat-datepicker #frompicker></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{ "exitDate" | translate }}</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.exitDate" name="exitDate"
                                [matDatepicker]="exitDate">
                            <mat-datepicker-toggle matSuffix [for]="exitDate"></mat-datepicker-toggle>
                            <mat-datepicker #exitDate></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{ "exitCode" | translate }}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.exitCode" name="exitCode">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let enrollment of enrollmentList" [value]="enrollment.title">
                                    {{enrollment.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'gradeLevel' | translate}}</mat-label>
                            <mat-select name="gradeId" [(ngModel)]="studentMasterSearchModel.gradeId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let gradeLevel of this.getAllGradeLevelsModel.tableGradelevelList" value="{{gradeLevel.gradeId}}">
                                    {{gradeLevel.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.demographicInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'demographicInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'dateOfBirth' | translate}}</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.dob" name="dob" [matDatepicker]="dob">
                            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'gender'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.gender" name="gender">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let gender of genderList" [value]="gender.lovColumnValue">{{gender.lovColumnValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'race'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.race" name="race">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let race of raceList" [value]="race.lovColumnValue">{{race.lovColumnValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'ethnicity'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.ethnicity" name="ethnicity">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let ethnicity of ethnicityList" [value]="ethnicity.lovColumnValue">{{ethnicity.lovColumnValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'maritalStatus'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.maritalStatus" name="maritalStatus">
                                <mat-option *ngFor="let maritalStatus of maritalStatusList" [value]="maritalStatus.lovColumnValue">
                                    {{maritalStatus.lovColumnValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'countryOfBirth'|translate}}</mat-label>
                            <mat-select [formControl]="cobCtrl" [(ngModel)]="studentMasterSearchModel.countryOfBirth" name="countryOfBirth">
                                <!-- <mat-option></mat-option> -->
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="cobFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredCOB| async" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'countryOfBirth'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.countryOfBirth"
                                name="countryOfBirth">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let country of countryListArr" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'nationality'|translate}}</mat-label>
                            <mat-select [formControl]="nationalityCtrl" [(ngModel)]="studentMasterSearchModel.nationality" name="nationality">
                                <!-- <mat-option></mat-option> -->
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="nationalityFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredNationality| async" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'nationality'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.nationality" name="nationality">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let country of countryListArr" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'firstLanguage'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.firstLanguageId"
                                name="firstLanguageId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'secondLanguage'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.secondLanguageId"
                                name="secondLanguageId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'thirdLanguage'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.thirdLanguageId"
                                name="thirdLanguageId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.addressInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'addressInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'streetAddress1' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressLineOne" name="homeAddressLineOne" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'streetAddress2' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressLineTwo" name="homeAddressLineTwo" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'country'|translate}}</mat-label>
                            <mat-select [formControl]="countryCtrl" [(ngModel)]="studentMasterSearchModel.homeAddressCountry"  name="homeAddressCountry">
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="countryFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredCountry| async" [value]= 'country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'country'|translate}}</mat-label>
                        <mat-select [(ngModel)]="studentMasterSearchModel.homeAddressCountry"  name="homeAddressCountry">
                            <mat-option *ngFor="let country of countryListArr" [value]= 'country.id'>
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field> -->
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'stateProvinceLocality' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressState" name="homeAddressState" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'city' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressCity" name="homeAddressCity" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'zipPostalCode' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressZip" name="homeAddressZip" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'busNo' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.busNo" name="busNo" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.personalContactInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'personalContactInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'homePhone' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homePhone" name="homePhone" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'mobilePhone' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.mobilePhone" name="mobilePhone" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'personalEmail' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.personalEmail" name="personalEmail" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'schoolEmail' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.schoolEmail" name="schoolEmail" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.alertInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'alertInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
            
                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'criticalAlert' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.alertType" name="alertType" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>
            
            <mat-expansion-panel *ngIf="advancedSearchExpansion.medicalNotes">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'medicalNotes' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
            
                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'date' | translate}}</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.noteDate" name="noteDate"
                                [matDatepicker]="noteDatePicker">
                            <mat-datepicker-toggle matSuffix [for]="noteDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #noteDatePicker></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'doctorsNote' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.medicalNote" name="medicalNote" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>
            
            <mat-expansion-panel *ngIf="advancedSearchExpansion.immunizationRecord">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'immunizationPhysicalRecord' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
            
                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'type'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.immunizationType" name="immunizationType">
                                <mat-option></mat-option>
                                <mat-option value="immunization">{{'immunization' | translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'date' | translate}}</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.immunizationDate" name="immunizationDate"
                                [matDatepicker]="immunizationDatePicker">
                            <mat-datepicker-toggle matSuffix [for]="immunizationDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #immunizationDatePicker></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'comment' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.immunizationComment" name="immunizationComment" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>
            
            <mat-expansion-panel *ngIf="advancedSearchExpansion.nurseVisitRecord">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'nurseVisitRecord' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
            
                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'date' | translate}}</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.nurseVisitDate" name="nurseVisitDate"
                                [matDatepicker]="nurseVisitDatePicker">
                            <mat-datepicker-toggle matSuffix [for]="nurseVisitDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #nurseVisitDatePicker></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'reason' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.reason" name="reason" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'result' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.result" name="result" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'comment' | translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.nurseComment" name="nurseComment" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="advancedSearchExpansion.course">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'course' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-1 col-gap-8">
                    <li>
                        <div class="border rounded px-2 py-1 flex justify-between items-center cursor-pointer"
                            (click)="openCourseSection()">
                            <p *ngIf="!studentMasterSearchModel.courseSection">{{'selectCourse' | translate}}</p>
                            <p *ngIf="studentMasterSearchModel.courseSection">{{courseSectionName}}</p>
                            <span class="mt-1" mat-icon-button matSuffix>
                                <mat-icon [icIcon]="icListAlt"></mat-icon>
                            </span>
                        </div>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="px-6 py-4">
            <mat-slide-toggle color="primary" (change)="searchAllSchools($event)" [checked]="searchAllSchool == true"  
            class="mr-5" *ngIf="(userType === profiles.SuperAdmin || userType=== profiles.SchoolAdmin) && advancedSearchExpansion.searchAllSchools">{{'searchAllSchools' | translate}}</mat-slide-toggle>
            <mat-slide-toggle *ngIf="advancedSearchExpansion.includeInactiveStudents" color="primary" (change)="includeInactiveStudents($event)" [checked]="inactiveStudents">
                {{'includeInactiveStudents' | translate}}</mat-slide-toggle>
        </div>
    </div>
    <div class="search-toolbar py-3 px-6 text-right">
        <button color="" [disabled]="checkSearchRecord ===2" mat-button type="button" (click)="resetData()" class="mr-3"><mat-icon class="mr-2" *ngIf="checkSearchRecord ===2">
            <mat-spinner color="primary" diameter="20">
            </mat-spinner>
          </mat-icon>{{'reset' | translate}}</button>
        <button [disabled]="checkSearchRecord ===1" color="primary" mat-raised-button><mat-icon class="mr-2" *ngIf="checkSearchRecord ===1">
            <mat-spinner color="primary" diameter="20">
            </mat-spinner>
          </mat-icon>{{searchTitle | translate}}</button>
    </div>

</form>