<div *ngIf="currentTab === 'inputFinalGrades'">
    <div class="card" [ngClass]="commentDetails===1?'showing-details':''">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 col-gap-4 row-gap-2 px-4 pt-4">
            <li>
                <button (click)="getGradeBookGrades()" [ngClass]="{'opacity-75 cursor-not-allowed': addUpdateStudentFinalGradeModel?.isExamGrade || !this.addUpdateStudentFinalGradeModel.courseSectionId || !this.addUpdateStudentFinalGradeModel.markingPeriodId}" [disabled]="addUpdateStudentFinalGradeModel?.isExamGrade"
                    class="flex items-center h-12 w-full btn cursor-pointer bg-primary text-white p-2 rounded font-medium">
                    <mat-icon class="mr-2">move_to_inbox</mat-icon><span>{{ 'getGradebookGrades' | translate }}</span>
                </button>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{ "markingPeriod" | translate }}</mat-label>
                    <mat-select [(value)]="courseSectionData.markingPeriodId" [(ngModel)]="selectedMarkingPeriod" (selectionChange)="changeMarkingPeriod($event)" name="markingPeriod">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let period of markingPeriodList" [value]="period.text" (click)="selectMarkingPeriod(period)">
                            {{period.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>
        <mat-divider class=""></mat-divider>
        <div class="md:flex lg:flex-wrap">
            <div class="md:w-2/4">
                <div class="content-left border-r">
                    <div class="overflow-x-auto overflow-y-hidden rounded border-b mb-2">
                        <table class="w-full schedule-table">
                            <thead>
                                <tr>
                                    <th>{{ "studentDetails" | translate }}</th>
                                    <th width="25%"><span class="mr-4">{{ "percent" | translate }}</span></th>
                                    <th width="25%"
                                        *ngIf="courseSectionData?.gradeScaleType !== 'Numeric'"
                                        class="relative whitespace-nowrap">
                                        <span class="switch-wrap pr-4 absolute">
                                            <label class="switch">
                                                <input checked (change)="onCheckboxChange($event)" type="checkbox">
                                                <span class="slider"></span>
                                            </label>
                                        </span>
                                        <span class="ml-6">{{ "letterGrade" | translate }}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="totalCount===0">
                                    <td colspan="3" class="text-center"><span class="mb-5 italic text-gray">{{
                                            showMessage |
                                            translate }}</span></td>
                                </tr>
                                <tr class="cursor-pointer" [ngClass]="{'active':selectedStudent === i }"
                                    *ngFor="let student of studentMasterList;let i = index"
                                    [matTooltip]="student.studentInternalId != null ? student.firstGivenName + ' ' + student.lastFamilyName + ', Student ID : ' + student.studentInternalId : student.firstGivenName + ' ' + student.lastFamilyName + ', Student ID : '">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer" (click)="addComments(i)">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="{{student.studentPhoto?'data:image/png;base64,'+ student.studentPhoto:'assets/img/default-person.jpg'}}"
                                                    alt="Student photo" class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" [ngClass]="student.isDropped ? 'text-gray' : '' " >
                                                <h6 class="text-sm font-semibold">{{student.firstGivenName+" "+
                                                    student.lastFamilyName}}</h6>
                                                <div>
                                                    <span>{{ student.gradeLevel }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <ng-container
                                        *ngIf="this.courseSectionData.gradeScaleType === 'Numeric'">
                                        <td>
                                            <input
                                                class="appearance-none border border-gray-light rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                min="0" max="100" (keyup)="percentToGrade(i)" name="percentMarks"
                                                [(ngModel)]="addUpdateStudentFinalGradeModel.studentFinalGradeList[i].percentMarks"
                                                type="number" [readonly]="!defaultValuesService.checkAcademicYear()" [disabled]="student.isDropped">
                                        </td>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="this.courseSectionData.gradeScaleType !== 'Numeric'">
                                        <td *ngIf="!isPercent">{{addUpdateStudentFinalGradeModel?.studentFinalGradeList[i]?.percentMarks + "%"}}</td>
                                        <td *ngIf="!isPercent">
                                            <!-- <label>{{'selectGrade'|translate}}</label>    -->
                                            <div class="select-dropdown">
                                                <select (change)="selectedGrade($event.target.value ,i, student?.gradeScaleList)"
                                                    name="gradeObtained"
                                                    [ngModel]="addUpdateStudentFinalGradeModel.studentFinalGradeList[i]?.gradeObtained" (ngModelChange)="addUpdateStudentFinalGradeModel.studentFinalGradeList[i].gradeObtained = $event"
                                                    [disabled]="!defaultValuesService.checkAcademicYear() || student.isDropped">
                                                    <option value=null disabled selected>{{'select'|translate}}</option>
                                                    <option *ngFor="let report of student?.gradeScaleList"
                                                        value={{report.title}}>
                                                        {{report.title}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td *ngIf="isPercent">
                                            <input
                                                class="border border-gray-light rounded p-2 w-24"
                                                (paste)="$event.preventDefault()" (keypress)="omitSpecialChar($event)" min="0" (ngModelChange)="gradeFromPercent($event ,i, student?.gradeScaleList)"
                                                [(ngModel)]="addUpdateStudentFinalGradeModel.studentFinalGradeList[i].percentMarks" type="number" [readonly]="!defaultValuesService.checkAcademicYear()" [disabled]="student.isDropped">
                                        </td>
                                        <td *ngIf="isPercent">
                                            {{addUpdateStudentFinalGradeModel?.studentFinalGradeList[i]?.gradeObtained}}
                                        </td>
                                    </ng-container>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="showComment" class="md:w-2/4 pr-4 pl-4 content-right">
                <div class="card shadow-none p-4 md:p-0">
                    <div class="flex md:px-0 justify-between">
                        <h4 class="text-base font-medium text-green py-2">{{ "addPredefinedComments" | translate }}</h4>
                        <button (click)="closeCommentDetails()" class="md:hidden text-primary">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <div class="w-full pb-0">
                        <mat-form-field class="w-full mat-chips" appearance="outline" color="primary">
                            <mat-label class="mb-2">{{ "searchAndSelectPredefinedComments" | translate }}</mat-label>
                            <mat-chip-list #chipList aria-label="Fruit selection" [disabled]="!defaultValuesService.checkAcademicYear() || addUpdateStudentFinalGradeModel.studentFinalGradeList[selectedStudent]?.isDropped">
                                <mat-chip
                                    *ngFor="let report of addUpdateStudentFinalGradeModel.studentFinalGradeList[selectedStudent]?.studentFinalGradeComments"
                                    [selectable]="selectable" [removable]="removable"
                                    (removed)="removeComment(report.courseCommentId)">
                                    {{report.comments}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add Comments..." #fruitInput [(ngModel)]="studentFinalGradeComments"
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let report of reportCardComments" [value]="report">
                                    {{report.comments}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <!-- <div class="w-full p-0">
                                <mat-chip-list #chipList aria-label="Choose a date" (click)="picker.open()">
                                    <mat-chip *ngFor="let report of reportCardComments" [selectable]="false" [removable]="true"
                                        (removed)="removeComment(removeComment(report.courseCommentId))">
                                        {{report.comments}}
                                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </div> -->
                        <!-- <mat-form-field class="w-full" appearance="outline" color="primary">
                                <mat-label>{{'addPredefinedComments'|translate}}</mat-label>
                                <mat-select (selectionChange)="selectedReportComment($event.value)"  [compareWith]="compareObjects"  [(ngModel)]="addUpdateStudentFinalGradeModel.studentFinalGradeList[selectedStudent].studentFinalGradeComments" multiple>
                                    <mat-option *ngFor="let report of reportCardComments" [value]="report">
                                        {{report.comments}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                <span *ngFor="let report of addUpdateStudentFinalGradeModel.studentFinalGradeList[selectedStudent].studentFinalGradeComments"
                                    class="rounded-full py-1 px-3 border border-primary inline-block mb-3 mr-3 text-primary">{{report.comments}}
                                    <i (click)="removeComment(report.courseCommentId)" class="icon icon-minus-circle2 ml-2 text-gray text-base align-middle cursor-pointer"></i>
                                </span>
                                
                            </div> -->
                    </div>
                    <h4 class="text-base font-medium text-green py-2">{{ "teacherComments" | translate }}</h4>
                    <div class="w-full border rounded mb-2 p-2">
                        <textarea placeholder="Comments" name="teacherComment"
                            [(ngModel)]="addUpdateStudentFinalGradeModel.studentFinalGradeList[selectedStudent].teacherComment"
                            class="w-full" rows="3" [readonly]="!defaultValuesService.checkAcademicYear() || addUpdateStudentFinalGradeModel.studentFinalGradeList[selectedStudent]?.isDropped"></textarea>
                    </div>
                    <ng-container *ngIf="courseSectionData?.standardGradeScaleId">

                        <h4 class="text-base font-medium text-green py-4">{{'standardGrades' | translate }}</h4>
                        <div class="lg:flex lg:flex-wrap mb-4"
                            *ngFor="let standard of courseStandardList; let i = index">
                            <div class="lg:w-3/4 lg:pr-4">
                                <h4 class="text-base font-medium">{{standard.gradeUsStandard.standardRefNo}}</h4>
                                <p class="text-gray mb-3">{{standard.gradeUsStandard.standardDetails}}</p>
                            </div>
                            <div class="lg:w-1/4" *ngIf="gradeScaleStandardList?.length>0">
                                <mat-form-field class="w-full mb-0" appearance="outline" color="primary">
                                    <mat-label>{{ "assignGrade" | translate }}</mat-label>
                                    <mat-select
                                        [(value)]="addUpdateStudentFinalGradeModel?.studentFinalGradeList[selectedStudent]?.studentFinalGradeStandard[i].gradeObtained"
                                        (selectionChange)="setValue(standard.gradeUsStandard.gradeStandardId, $event.value,i)"
                                        name="gradeObtained">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let report of gradeScaleStandardList"
                                            [value]="report.gradeId">
                                            {{report.title}}</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
    <!-- End Input Final Grade -->
    <div class="text-right mt-4 mb-0">
        <button mat-raised-button (click)="submitFinalGrade()" color="primary" *ngIf="defaultValuesService.checkAcademicYear()">{{ 'submit' | translate }}</button>
    </div>
</div>

<div *ngIf="currentTab === 'errorMessage'" class="text-center py-32 px-6 text-warn">

    <i class="icon icon-warning2 text-4xl"></i>
    <p class="text-lg mt-4">Cannot add input final grade for this course section.</p>
    
</div>