<div *ngIf="currentTab === 'inputFinalGrades'">
    <div class="card" [ngClass]="viewDetailsModal===1?'showing-details':''">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 col-gap-4 row-gap-2 px-4 pt-4">
            <li>
                <button
                    class="flex items-center h-12 w-full btn cursor-pointer bg-primary text-white p-2 rounded font-medium">
                    <mat-icon class="mr-2">move_to_inbox</mat-icon><span>{{ 'getGradebookGrades' | translate }}</span>
                </button>
            </li>
            <li>
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{ "markingPeriod" | translate }}</mat-label>
                    <mat-select name="markingPeriod">
                        <mat-option value="Quarter">
                            Quarter 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>
        <mat-divider class=""></mat-divider>
        <div class="md:flex lg:flex-wrap">
            <div class="md:w-2/4">
                <div class="content-left border-r">
                    <div class="overflow-x-auto overflow-y-hidden rounded border-b mb-2">
                        <table class="w-full schedule-table">
                            <thead>
                                <tr>
                                    <th width="50%">{{ "studentDetails" | translate }}</th>
                                    <th width="25%"><span class="mr-4">{{ "percent" | translate }}</span></th>
                                    <th width="25%" class="relative whitespace-nowrap">
                                        <div class="switch-wrap absolute">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <span class="ml-4">{{ "letterGrade" | translate }}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-skyblue-light cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>85%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select">Select</option>
                                                <option value="A" selected>A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>75%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select">Select</option>
                                                <option value="B" selected>B</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cursor-pointer">
                                    <td class="whitespace-nowrap">
                                        <div class="flex cursor-pointer">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="assets/img/default.jpg" alt=""
                                                    class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center" (click)="viewDetails()">
                                                <h6 class="text-sm font-semibold">Arthur Boucher</h6>
                                                <div>
                                                    <span class="">#44568</span>
                                                    <span class="dot-separator"></span>
                                                    <span>Grade 9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="select-dropdown">
                                            <select>
                                                <option value="select" selected>Select</option>
                                                <option value="A">A</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="md:w-2/4 pr-4 pl-4 content-right">
                <div class="card shadow-none p-4 md:p-0">
                    <div class="flex md:px-0 justify-between">
                        <h4 class="text-base font-medium text-green py-2">{{'addPredifinedComments' | translate }}</h4>
                        <button (click)="closeDetailsModal()" class="md:hidden text-primary" mat-icon-button type="button">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <div class="w-full pb-0">
                        <mat-form-field class="example-chip-list w-full mb-0" appearance="outline">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let comment of comments" [selectable]="selectable" [removable]="removable"
                                    (removed)="remove(comment)">
                                    {{comment.name}}
                                    <mat-icon matChipRemove *ngIf="removable">remove_circle</mat-icon>
                                </mat-chip>
                                <input placeholder="{{'addPredifinedComment' | translate }}" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)" class="flex-auto w-full pb-2">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <h4 class="text-base font-medium text-green py-2">{{'teacherComments' | translate }}</h4>
                    <div class="w-full border rounded mb-2 p-2">
                        <textarea placeholder="Comments" class="w-full" rows="3"></textarea>
                    </div>
                    <h4 class="text-base font-medium text-green py-4">{{'standardGrades' | translate }}</h4>
                    <div class="lg:flex lg:flex-wrap mb-4">
                        <div class="lg:w-3/4 lg:pr-4">
                            <h4 class="text-base font-medium">CCSS.Math.Content.1.0A.A.1</h4>
                            <p class="text-gray mb-3">Use addition and subtraction within 20 to solve word problems
                                involving
                                situations of adding to, taking from, putting together, taking apart, and
                                comparing, with unknowns in all positions, e.g., by using oblects, drawinga, and
                                equations with a symbol for the unkwon number to represent the problem.</p>
                        </div>
                        <div class="lg:w-1/4">
                            <mat-form-field class="w-full mb-0" appearance="outline" color="primary">
                                <mat-label>{{ "assignGrade" | translate }}</mat-label>
                                <mat-select name="assignGrade">
                                    <mat-option value="2">
                                        2
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-divider class="my-2 -mr-4"></mat-divider>
                    <div class="lg:flex lg:flex-wrap mb-4">
                        <div class="lg:w-3/4 lg:pr-4">
                            <h4 class="text-base font-medium">CCSS.Math.Content.1.0A.A.1</h4>
                            <p class="text-gray mb-3">Use addition and subtraction within 20 to solve word problems
                                involving
                                situations of adding to, taking from, putting together, taking apart, and
                                comparing, with unknowns in all positions, e.g., by using oblects, drawinga, and
                                equations with a symbol for the unkwon number to represent the problem.</p>
                        </div>
                        <div class="lg:w-1/4">
                            <mat-form-field class="w-full mb-0" appearance="outline" color="primary">
                                <mat-label>{{ "assignGrade" | translate }}</mat-label>
                                <mat-select name="assignGrade">
                                    <mat-option value="2">
                                        2
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Input Final Grade -->
    <div class="text-right mt-4 mb-10">
        <button mat-raised-button color="primary">{{ 'submit' | translate }}</button>
    </div>
</div>