<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{roomTitle | translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content [formGroup]="form" fxLayout="column">
    
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input cdkFocusInitial matInput formControlName="title" class="title-scroll" name="title" required>
        <mat-error *ngIf="form.get('title').hasError('whitespace')">{{'titleIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <div class="mb-2 md:flex md:flex-wrap -mx-6">
        <div class="flex-1 mx-6 md:w-1/2">
            <mat-form-field class="mt-4 w-full" appearance="outline" color="primary">
                <mat-label>{{'capacity' | translate}}</mat-label>
                <input matInput formControlName="capacity" type="number" class="capacity-scroll" name="capaciy" required>
                <mat-error *ngIf="form.get('capacity').hasError('whitespace')">{{'capacityIsRequired'|translate}}</mat-error>
                <mat-error *ngIf="form.get('capacity').hasError('min')">{{'capacityCannotBeNegative'|translate}}</mat-error>
                <mat-error *ngIf="form.get('capacity').hasError('max')">{{'capacityCannotBeMoreThanThreeDigits'|translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-1 mx-6 md:w-1/2">
            <mat-form-field class="mt-4 w-full" appearance="outline" color="primary">
                <mat-label>{{'sortOrder' | translate}}</mat-label>
                <input matInput type="number" formControlName="sortorder" class="sortOrder-scroll" required>
                <mat-error *ngIf="form.get('sortorder').hasError('whitespace')">{{'sortOrderIsRequired'|translate}}</mat-error>
                <mat-error *ngIf="form.get('sortorder').hasError('min')">{{'sortOrderCannotBeLessThenOne'|translate}}</mat-error>
                
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="mb-" appearance="outline" color="primary">
        <mat-label>{{'description' | translate}}</mat-label>
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="isActive" color="primary" class="mt-4">{{'active' | translate}}</mat-slide-toggle>


</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button (click)="cancel()" type="button">{{'cancel' | translate}}</button>
    <button color="primary" (click)="submit()" mat-raised-button type="submit">{{editMode?'Update':'Submit' | translate}}</button>
</mat-dialog-actions>