<div class="mb-2 lg:flex lg:flex-wrap">
    <div class="lg:w-4/12 xl:w-3/12 lg:pr-4 mb-6">
        <mat-card class="w-full p-0" fxFlex="auto">
            <div class="p-4">
                <h4 class="text-primary p-0 mb-4">{{'categories'|translate}}</h4>


                <div *ngFor="let fieldsCategory of fieldsCategoryList">
                    <div *ngIf="!restrictedCategoryid.includes(fieldsCategory.categoryId)"
                        class="mt-1 flex flex-wrap justify-between h-8">
                        <a class="cursor-pointer"
                            [ngClass]="{'font-bold':currentCategoryId === fieldsCategory.categoryId}"
                            (click)="selectCategory(fieldsCategory)">{{fieldsCategory.title}} </a>
                        <div *ngIf="!fieldsCategory.isSystemCategory">
                            <a class="cursor-pointer mr-3" *ngIf="permissions?.edit"
                                (click)="editFieldCategory(fieldsCategory)">
                                <mat-icon [icIcon]="icEdit"></mat-icon>
                            </a>
                            <a class="cursor-pointer" *ngIf="permissions?.edit"
                                (click)="confirmDeleteFieldCategory(fieldsCategory)">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="my-3" />
                <button *ngIf="permissions?.add" color="" class="w-full text-primary" mat-button type="button"
                    (click)='goToAddCategory()'>
                    <ic-icon [icon]="icAdd" inline="true" size="24px">
                    </ic-icon>
                    <span class="ml-2">{{'addNewCategory'|translate}}</span>
                </button>
            </div>
        </mat-card>
    </div>
    <div class="lg:w-8/12 xl:w-9/12 lg:pl-4">
        <mat-card class="w-full p-0" fxFlex="auto">
            <div class="bg-white h-16 border-b sticky left-0 px-4" fxLayout="row" fxLayoutAlign="start center">
                <div class="flex w-full justify-between">
                    <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center">

                        <div class="flex">
                            <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()"
                                class="py-3 border-0 outline-none w-full bg-transparent" appearance="outline"
                                color="primary" placeholder="Search..." type="search">
                            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                                (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5" alt="Loader icon">
                            <button *ngIf="!loading" class="ml-4" mat-icon-button type="button">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxFlex="200px" class="pt-3">
                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="Filter Columns" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>

                        <button *ngIf="permissions?.add" color="primary" class="ml-4" fxFlex="none" mat-raised-button
                            type="button" [disabled]="restrictedCategoryid.includes(currentCategoryId)"
                            (click)='goToAdd()'>
                            <ic-icon [icon]="icAdd" inline="true" size="24px">
                            </ic-icon>
                            <span class="ml-2 hidden md:inline-block">{{'addNewField'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto overflow-y-hidden">
                <table @stagger mat-table [dataSource]="customFieldList" class="mat-elevation-z8 table-auto w-full"
                    cdkDropList (cdkDropListDropped)="drop($event)">


                    <ng-container matColumnDef="fieldId">
                        <th mat-header-cell *matHeaderCellDef style="width: 26px;"></th>
                        <td mat-cell *matCellDef="let element;let i=index">
                            <mat-icon cdkDragHandle [ngClass]="noSortIndexContainer.includes(i) && currentCategoryId===3?'op-2':'cursor-move'">reorder</mat-icon>
                            <!--      <div class="w-10 drag-icon">
                            <i  class="material-icons" cdkDragHandle>reorder</i>
                        </div> -->
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>{{'fieldName'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="custom-field" *ngIf="!element.systemField" matTooltip="Custom Field">C</span><span class="default-field" *ngIf="element.systemField" matTooltip="Default Field">D</span>{{element.title}}
                        </mat-cell>
                    </ng-container>

                    <!-- Body -->

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef>{{'fieldType'|translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.type}}
                        </mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="hide">
                        <mat-header-cell *matHeaderCellDef>{{'inUsed'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.hide|EmtyBooleanCheckReversePipe}}
                        </mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>{{'action'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a *ngIf="permissions?.edit && !element.systemField" class="mr-3 cursor-pointer"
                                (click)="openEditdata(element)">
                                <mat-icon [icIcon]="icEdit"></mat-icon>
                            </a>
                            <a *ngIf="permissions?.edit && !element.systemField" class="cursor-pointer"
                                (click)="confirmDelete(element)">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                        </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef colspan="6">
                            {{'noData' | translate}}
                        </td>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                    <mat-row cdkDrag *matRowDef="let row; columns: visibleColumns;let ind=index" [cdkDragDisabled]="noSortIndexContainer.includes(ind) && currentCategoryId===3" @fadeInUp></mat-row>
                    <mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></mat-footer-row>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="customFieldList?.data.length!=0">
                    </tr>
                </table>
            </div>
            <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
                    class="checkbox-item mat-menu-item">
                    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                        {{column.label | translate}}
                    </mat-checkbox>
                </button>
            </mat-menu>
        </mat-card>
    </div>
</div>