.schedule-table {
    tr {
      td,
      th {
        @apply border-b;
        border-color: rgba(0, 0, 0, 0.1);
        @apply px-4;
        @apply py-3;
      }
      th, td {
        text-align: left;
      }
      &:last-child td {
        border-bottom: none;
      }
    }
  }

  input, textarea {
    &:focus-visible {
        outline: none;
    }
  }