<vex-mat-spinner-overlay *ngIf="loading"></vex-mat-spinner-overlay>
<div class="bg-white px-6 mb:h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
    <div class="md:flex w-full justify-between pb-4 md:pb-0">
        <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">

            <div class="flex">
                <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()"
                    class="py-3 border-0 outline-none w-full bg-transparent" appearance="outline" color="primary"
                    placeholder="Search..." type="search">
                <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
                <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5" alt="Loader icon">
                <button *ngIf="!loading" class="ml-4" mat-icon-button type="button">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
        <hr class="md:hidden -mx-6">

        <div fxFlex="200px" class="pt-3">
            <button (click)="exportEnrollmentCodesToExcel()" fxFlex="none" mat-icon-button matTooltip="{{'exportToExcel' | translate}}"
                type="button" class="inline-block align-middle">
                <img src="assets/img/microsoft_office_excel.svg" alt="Excel Icon" width="24">
            </button>

            <button [matMenuTriggerFor]="columnFilterMenu" class="ml-2" fxFlex="none" mat-icon-button
                matTooltip="{{'filterColumns' | translate}}" type="button">
                <mat-icon [icIcon]="icFilterList"></mat-icon>
            </button>

            <button *ngIf="permissions?.add && this.defaultValuesService.checkAcademicYear()" color="primary" class="ml-4" fxFlex="none" mat-raised-button type="button"
                (click)='goToAdd()'>
                <ic-icon [icon]="icAdd" inline="true" size="24px">
                </ic-icon>
                <span class="ml-2 hidden md:inline-block">{{'addNewEnrollmentCode'|translate}}</span>
            </button>
        </div>
    </div>
</div>
<div class="overflow-x-auto overflow-y-hidden">
    <table @stagger mat-table [dataSource]="enrollmentList" class="mat-elevation-z8" matSort cdkDropList (cdkDropListDropped)="sortLovList($event)">

        <ng-container matColumnDef="lovId">
            <th mat-header-cell *matHeaderCellDef class="uppercase">{{'sort'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="cursor-move" cdkDragHandle>reorder</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'title'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.title}}
            </td>
        </ng-container>

        <!-- Body -->
        <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'shortName'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.shortName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="sortOrder">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'sortOrder'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.sortOrder}}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'type'|translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.type | EmtyValueCheckPipe}}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="uppercase">
                <ng-container *ngIf="this.defaultValuesService.checkAcademicYear()">
                    {{'action' | translate}}
                  </ng-container>            </th>
            <td mat-cell *matCellDef="let element">
                <a *ngIf="permissions?.edit && this.defaultValuesService.checkAcademicYear()" (click)="openEditdata(element)" class="mr-3 cursor-pointer">
                    <mat-icon [icIcon]="icEdit"></mat-icon>
                </a>
                <a *ngIf="permissions?.delete && this.defaultValuesService.checkAcademicYear()" (click)="confirmDelete(element)" class="mr-3 cursor-pointer">
                    <mat-icon [icIcon]="icDelete"></mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef colspan="6">
                {{'noData' | translate}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
        <tr mat-row cdkDrag *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>
        <mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></mat-footer-row>
        <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="enrollmentList?.data.length!=0"></tr>
    </table>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{column.label | translate}}
        </mat-checkbox>
    </button>
</mat-menu>