:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

.small-mobile-logo {
  background: #eaeaea;
  padding: 8px;
  border-radius: 50%;
  display: none;

  @media (max-width: 1023.98px) {
    display: block;
  }
}

.global-add-button {
  @apply bg-primary;
  color: #ffffff;

  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 42px;
  text-align: center;

  @media (min-width: 1023.98px) {
    margin-left: 0;
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 18px;
  }
}
.impersonate-back-button{
  display: inline-block;
  @apply bg-green text-white ;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
  
  .mat-icon{
    @apply text-white;
  }
}