<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{ 'recalculateDailyAttendance' | translate }}" class="w-full">
            <vex-breadcrumbs [crumbs]="['Attendance']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content class="-mt-6">
        <div class="md:w-9/12 m-auto card -mt-16 px-6 py-4">
            <div *ngIf="isShowMainView">
                <h4 class="text-lg text-center py-4">{{ "whenDoYouWantToRecalculateTheDailyAttendance" | translate }}
                </h4>
                <ul class="grid grid-cols-1 md:grid-cols-2 col-gap-8 row-gap-0 mt-2">
                    <li>
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{ "fromDate" | translate }}</mat-label>
                            <input matInput [matDatepicker]="fromDate" #fromDataValue (dateChange)="dateCompare(fromDataValue)">
                            <mat-datepicker-toggle matSuffix [for]="fromDate" ></mat-datepicker-toggle>
                            <mat-datepicker #fromDate ></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{ "toDate" | translate }}</mat-label>
                            <input matInput [matDatepicker]="toDate" [min]="dateVal" #toDataValue 
                            >
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                        
                    </li>
                </ul>
                <div class="text-right">
                    <button color="primary" mat-flat-button type="submit" (click)="onSubmit(fromDataValue,toDataValue)">{{ 'recalculateDailyAttendance' | translate }}
                    </button>
                </div>
            </div>

            <div class="py-10 px-8 text-center" *ngIf="isShowLoadingView">
                <img src="assets/img/calculater.gif" width="200" class="block rounded-full m-auto mb-4" style="height: 200px">
                <h4 class="text-primary text-2xl font-semibold mb-1">{{ 'recalculatingAttendanceBetweenGivenTimeframe' | translate }}</h4>
                <p class="">{{ 'pleaseDoNotRefreshThePageOrClickBackButton' | translate }}</p>
            </div>

            <div class="py-20 px-8 text-center" *ngIf="isShowSuccessView">
                <div class="flex justify-center">
                    <mat-icon class="text-green check-circle h-auto w-full">check_circle</mat-icon>
                </div>
                <h4 class="text-primary text-2xl font-semibold mb-1">{{ 'success' | translate }}</h4>
                <p class="">{{ 'theDailyAttendanceBetweenGivenTimeframeHasBeenRecalculated' | translate }}</p>
            </div>
        </div>
    </vex-page-layout-content>