<form (ngSubmit)="submit()" #f="ngForm" appInvalidControlScroll
    *ngIf="studentCreateMode==studentCreate.EDIT || studentCreateMode==studentCreate.ADD">
    <mat-card class="w-full">
        <h3 class="flex-auto h-9">{{'medicalInformation' | translate}}</h3>
        <mat-card-content class="mb-0">
            <div @stagger fxLayout="column" class="-mx-4">
                <ul class="flex flex-row text-gray font-semibold">
                    <li class="px-4 py-2 cursor-pointer" (click)="changeTab('activities')"
                        [class.active]="currentTab === 'activities'"
                        [ngClass]="currentTab === 'activities' ? 'text-black border-b-2 border-primary' : ''">
                        {{'activities' | translate}}</li>
                    <li class="px-8 py-2 cursor-pointer" (click)="changeTab('providerInformation')"
                        [class.active]="currentTab === 'providerInformation'"
                        [ngClass]="currentTab === 'providerInformation' ? 'text-black border-b-2 border-primary' : ''">
                        {{'providerInformation' | translate}}</li>
                </ul>
                <hr class="" />
                <div [ngSwitch]="currentTab">
                    <div *ngSwitchCase="'activities'">
                        <div class="pt-6 pb-4 px-4">
                            <h4 class="text-green">{{'alertInformation'|translate}}</h4>
                            <div class="border border-gray-light rounded mt-2 mb-4">
                                <div class="overflow-x-auto overflow-y-hidden">
                                    <!-- <ul class="grid grid-cols-4 border-b p-4 font-semibold">
                                        <li class="font-medium">{{ "criticalAlert" | translate }}</li>
                                        <li>{{ "alertDescription" | translate }}</li>
                                    </ul>
                                    <ul class="grid grid-cols-4 border-b border-gray-light p-4 font-medium">
                                        <li>{{studentAddModel.studentMaster.criticalAlert|EmtyValueCheckPipe}}</li>
                                        <li>{{studentAddModel.studentMaster.alertDescription|EmtyValueCheckPipe}}</li>
                                    </ul> -->
                                    <table class="w-full medical-info-table">
                                        <thead>
                                            <tr>
                                                <th class="w-1/5">{{ "criticalAlert" | translate }}</th>
                                                <th class="w-3/5">{{ "alertDescription" | translate }}</th>
                                                <th class="w-1/5"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalAlertList">
                                                <td>{{medicalinfo.alertType|EmtyValueCheckPipe}}</td>
                                                <td>{{medicalinfo.alertDescription|EmtyValueCheckPipe}}
                                                </td>
                                                <td class="cursor-pointer">
                                                    <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                        <span class="mr-2" *ngIf="permissions?.edit">
                                                            <mat-icon (click)="editAlert(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                        </span>
                                                        <span *ngIf="permissions?.delete">
                                                            <mat-icon (click)="confirmDeleteStudentMedicalAlert(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                        </span>
                                                    </ng-container>
    
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>{{studentAddModel.studentMaster.criticalAlert|EmtyValueCheckPipe}}</td>
                                                <td>{{studentAddModel.studentMaster.alertDescription|EmtyValueCheckPipe}}
                                                </td>
                                                <td class="cursor-pointer">
                                                    <span class="mr-2">
                                                        <mat-icon [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span>
                                                        <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="!studentMedicalInfoListModel?.studentMedicalAlertList?.length && permissions?.add" class="text-center text-blue cursor-pointer p-2" (click)="addAlert()">
                                    <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                        class="inline-block mt-1 align-top font-medium">{{ 'addAlertInformation' | translate
                                        }}</span>
                                </div>
                            </div>
                            <hr class="mt-6 mb-4 -mx-4" />
                            <h4 class="text-green">{{'medicalNotes'|translate}}</h4>
                            <div class="border border-gray-light rounded mt-2 mb-4">
                                <div class="overflow-x-auto overflow-y-hidden">
                                    <table class="w-full medical-info-table">
                                        <thead>
                                            <tr>
                                                <th class="w-1/5">{{ "date" | translate }}</th>
                                                <th class="w-3/5">{{ "doctorsNote" | translate }}</th>
                                                <th class="w-1/5"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalNoteList">
                                                <td>{{medicalinfo.noteDate |date| EmtyValueCheckPipe}}</td>
                                                <td>{{medicalinfo.medicalNote| EmtyValueCheckPipe}}</td>
                                                <td class="cursor-pointer">
                                                    <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                    <span class="mr-2" *ngIf="permissions?.edit">
                                                        <mat-icon (click)="editMedicalNotes(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span *ngIf="permissions?.delete">
                                                        <mat-icon (click)="confirmDeleteStudentMedicalNote(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </ng-container>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>May 10, 2021</td>
                                                <td>Arthur is allergic to prawns/crabs. He has recorded medical history of
                                                    allergic symptoms.</td>
                                                <td class="cursor-pointer">
                                                    <span class="mr-2">
                                                        <mat-icon [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span>
                                                        <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="permissions?.add" class="text-center text-blue cursor-pointer p-2" (click)="addMedicalNotes()">
                                    <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                        class="inline-block mt-1 align-top font-medium">{{ 'addMedicalNotes' | translate
                                        }}</span>
                                </div>
                            </div>
                            <hr class="mt-6 mb-4 -mx-4" />
                            <h4 class="text-green">{{'immunizationPhysicalRecord'|translate}}</h4>
                            <div class="border border-gray-light rounded mt-2 mb-4">
                                <div class="overflow-x-auto overflow-y-hidden">
                                    <table class="w-full medical-info-table">
                                        <thead>
                                            <tr>
                                                <th class="w-1/5">{{ "type" | translate }}</th>
                                                <th class="w-1/5">{{ "date" | translate }}</th>
                                                <th class="w-2/5">{{ "comment" | translate }}</th>
                                                <th class="w-1/5"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalImmunizationList">
                                                <td>{{medicalinfo.immunizationType}}</td>
                                                <td>{{medicalinfo.immunizationDate|date}}</td>
                                                <td>{{medicalinfo.comment}}</td>
                                                <td class="cursor-pointer">
                                                    <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                        <span class="mr-2" *ngIf="permissions?.edit">
                                                            <mat-icon (click)="editImmunization(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                        </span>
                                                        <span *ngIf="permissions?.delete">
                                                            <mat-icon (click)="confirmDeleteStudentMedicalImmunization(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                        </span>
                                                    </ng-container>
    
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Immunization</td>
                                                <td>May 18, 2021</td>
                                                <td>Rotavirus immunization was done.</td>
                                                <td class="cursor-pointer">
                                                    <span class="mr-2">
                                                        <mat-icon [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span>
                                                        <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center text-blue cursor-pointer p-2" *ngIf="permissions?.add" (click)="addImmunization()">
                                    <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                        class="inline-block mt-1 align-top font-medium">{{ 'addImmunizationPhysicalRecord' |
                                        translate }}</span>
                                </div>
                            </div>
                            <hr class="mt-6 mb-4 -mx-4" />
                            <h4 class="text-green">{{'nurseVisitRecord'|translate}}</h4>
                            <div class="border border-gray-light rounded mt-2 mb-0">
                                <div class="overflow-x-auto overflow-y-hidden">
                                    <table class="w-full medical-info-table">
                                        <thead>
                                            <tr>
                                                <th class="">{{ "date" | translate }}</th>
                                                <th class="">{{ "timeIn" | translate }}</th>
                                                <th class="">{{ "timeOut" | translate }}</th>
                                                <th class="">{{ "reason" | translate }}</th>
                                                <th class="">{{ "result" | translate }}</th>
                                                <th class="">{{ "comment" | translate }}</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalNurseVisitList">
                                                <td>{{medicalinfo.nurseVisitDate| date}}</td>
                                                <td>{{medicalinfo.timeIn|date:'h:mm a'}}</td>
                                                <td>{{medicalinfo.timeOut|date:'h:mm a'}}</td>
                                                <td>{{medicalinfo.reason}}</td>
                                                <td>{{medicalinfo.result}}</td>
                                                <td [class.text-green]="medicalinfo.comment">
                                                    <i class="icon icon-bubble"></i>
                                                </td>
                                                <td class="cursor-pointer">
                                                    <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                    <span class="mr-2" *ngIf="permissions?.edit">
                                                        <mat-icon (click)="editNurseVisit(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span *ngIf="permissions?.delete">
                                                        <mat-icon (click)="confirmDeleteStudentMedicalNurseVisit(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Aug 11, 2020</td>
                                                <td>11:00AM</td>
                                                <td>11:15AM</td>
                                                <td>Regular checkup</td>
                                                <td>Treatment given</td>
                                                <td class="text-green">
                                                    <i class="icon icon-bubble"></i>
                                                </td>
                                                <td class="cursor-pointer">
                                                    <span class="mr-2">
                                                        <mat-icon [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span>
                                                        <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="permissions?.add" class="text-center text-blue cursor-pointer p-2" (click)="addNurseVisit()">
                                    <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                        class="inline-block mt-1 align-top font-medium">{{ 'addNurseVisitRecord' | translate
                                        }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'providerInformation'">
                        <div class="pt-6 pb-2 px-4">
                            <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 col-gap-8 row-gap-0">
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'primaryCarePhysician'|translate}}</mat-label>
                                        <input name="primaryCarePhysician"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.primaryCarePhysician" matInput>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'primaryCarePhysicianPhone'|translate}}</mat-label>
                                        <input name="primaryCarePhysicianPhone"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.primaryCarePhysicianPhone"
                                            maxlength="20" minlength="10" #primaryCarePhysicianPhone="ngModel" matInput>
                                            <mat-error *ngIf="!primaryCarePhysicianPhone.errors?.required && primaryCarePhysicianPhone.errors?.minlength">
                                                {{'minLengthTelephoneNumber'|translate}}</mat-error>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'preferredMedicalFacility'|translate}}</mat-label>
                                        <input name="medicalFacility"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.preferredMedicalFacility" matInput>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'preferredMedicalFacilityPhone'|translate}}</mat-label>
                                        <input name="medicalFacilityPhone"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.preferredMedicalFacilityPhone" 
                                            maxlength="20" minlength="10" #medicalFacilityPhone="ngModel" matInput>
                                            <mat-error *ngIf="!medicalFacilityPhone.errors?.required && medicalFacilityPhone.errors?.minlength">
                                                {{'minLengthTelephoneNumber'|translate}}</mat-error>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'insuranceCompany'|translate}}</mat-label>
                                        <input name="insuranceCompany"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.insuranceCompany" matInput>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'insuranceCompanyPhone'|translate}}</mat-label>
                                        <input name="insuranceCompanyPhone"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.insuranceCompanyPhone" 
                                            maxlength="20" minlength="10" #insuranceCompanyPhone="ngModel" matInput>
                                            <mat-error *ngIf="!insuranceCompanyPhone.errors?.required && insuranceCompanyPhone.errors?.minlength">
                                                {{'minLengthTelephoneNumber'|translate}}</mat-error>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'policyNumber'|translate}}</mat-label>
                                        <input name="policyNumber"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.policyNumber" matInput>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'policyHolderName'|translate}}</mat-label>
                                        <mat-select name="suffix"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.policyHolderName">
                                            <mat-option value="" disabled *ngIf="parentsFullName?.length==0">{{'noParentsFound' | translate}}
                                            </mat-option>
                                            <mat-option *ngFor="let parent of parentsFullName" value="{{parent}}">
                                                {{parent}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'dentist'|translate}}</mat-label>
                                        <input name="dentist" [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.dentistName"
                                            matInput>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'dentistsPhone'|translate}}</mat-label>
                                        <input name="dentistPhone"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.dentistPhone" 
                                            maxlength="20" minlength="10" #dentistPhone="ngModel" matInput>
                                            <mat-error *ngIf="!dentistPhone.errors?.required && dentistPhone.errors?.minlength">
                                                {{'minLengthTelephoneNumber'|translate}}</mat-error>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'vision'|translate}}</mat-label>
                                        <input name="vision" [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.visionName"
                                            matInput>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'visionProvidersPhone'|translate}}</mat-label>
                                        <input name="visionPhone"
                                            [(ngModel)]="addEditStudentMedicalProviderModel.studentMedicalProvider.visionProviderPhone" 
                                            maxlength="20" minlength="10" #visionPhone="ngModel" matInput>
                                            <mat-error *ngIf="!visionPhone.errors?.required && visionPhone.errors?.minlength">
                                                {{'minLengthTelephoneNumber'|translate}}</mat-error>
                                    </mat-form-field>
                                </li>
                            </ul>
                            <vex-custom-field-without-form [schoolDetailsForViewAndEdit]="addEditStudentMedicalProviderModel" [module]="module"
                            [categoryId]="categoryId" [studentCreateMode]="studentCreateMode" (custom)="customValid=$event"></vex-custom-field-without-form>
                        </div>
                        <div class="px-4 text-right">
                            <button mat-button type="button" *ngIf="studentCreateMode == studentCreate.EDIT"
                                (click)="cancelEdit()">{{'cancel'|translate}}</button>
                            <button color="primary" mat-raised-button class="ml-2">{{actionButtonTitle|translate}}</button>
                        </div>
                    </div>
                </div>

                
            </div>
        </mat-card-content>
    </mat-card>
</form>

<mat-card class="w-full" *ngIf="studentCreateMode == studentCreate.VIEW">

    <div class="flex items-center mb-2" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="flex-auto h-9">{{'medicalInformation' | translate}}</h3>
        <button *ngIf="currentTab === 'providerInformation'  && permissions?.edit" mat-raised-button color="primary"
            (click)="editMedicalInfo()">
            <mat-icon [icIcon]="icEdit"></mat-icon> {{'editInformation' |translate}}
        </button>
    </div>
    <mat-card-content>

        <!-- start update design -->
        <div class="-mx-4">
            <ul class="flex flex-row text-gray font-semibold">
                <li class="px-4 py-2 cursor-pointer" (click)="changeTab('activities')"
                    [class.active]="currentTab === 'activities'"
                    [ngClass]="currentTab === 'activities' ? 'text-black border-b-2 border-primary' : ''">{{'activities'
                    | translate}}</li>
                <li class="px-4 py-2 cursor-pointer" (click)="changeTab('providerInformation')"
                    [class.active]="currentTab === 'providerInformation'"
                    [ngClass]="currentTab === 'providerInformation' ? 'text-black border-b-2 border-primary' : ''">
                    {{'providerInformation' | translate}}</li>
            </ul>
            <mat-divider></mat-divider>
            <div [ngSwitch]="currentTab">
                <div *ngSwitchCase="'activities'">
                    <div class="pt-6 px-4">
                        <h4 class="text-green">{{'alertInformation'|translate}}</h4>
                        <div class="border border-gray-light rounded mt-2 mb-4">
                            <div class="overflow-x-auto overflow-y-hidden">
                                <!-- <ul class="grid grid-cols-4 border-b p-4 font-semibold">
                                    <li class="font-medium">{{ "criticalAlert" | translate }}</li>
                                    <li>{{ "alertDescription" | translate }}</li>
                                </ul>
                                <ul class="grid grid-cols-4 border-b border-gray-light p-4 font-medium">
                                    <li>{{studentAddModel.studentMaster.criticalAlert|EmtyValueCheckPipe}}</li>
                                    <li>{{studentAddModel.studentMaster.alertDescription|EmtyValueCheckPipe}}</li>
                                </ul> -->
                                <table class="w-full medical-info-table">
                                    <thead>
                                        <tr>
                                            <th class="w-1/5">{{ "criticalAlert" | translate }}</th>
                                            <th class="w-3/5">{{ "alertDescription" | translate }}</th>
                                            <th class="w-1/5"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalAlertList">
                                            <td>{{medicalinfo.alertType|EmtyValueCheckPipe}}</td>
                                            <td>{{medicalinfo.alertDescription|EmtyValueCheckPipe}}
                                            </td>
                                            <td class="cursor-pointer">
                                                <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                    <span class="mr-2" *ngIf="permissions?.edit">
                                                        <mat-icon (click)="editAlert(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span *ngIf="permissions?.delete">
                                                        <mat-icon (click)="confirmDeleteStudentMedicalAlert(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </ng-container>

                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>{{studentAddModel.studentMaster.criticalAlert|EmtyValueCheckPipe}}</td>
                                            <td>{{studentAddModel.studentMaster.alertDescription|EmtyValueCheckPipe}}
                                            </td>
                                            <td class="cursor-pointer">
                                                <span class="mr-2">
                                                    <mat-icon [icIcon]="icEdit"></mat-icon>
                                                </span>
                                                <span>
                                                    <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                </span>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="!studentMedicalInfoListModel?.studentMedicalAlertList?.length && permissions?.add" class="text-center text-blue cursor-pointer p-2" (click)="addAlert()">
                                <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                    class="inline-block mt-1 align-top font-medium">{{ 'addAlertInformation' | translate
                                    }}</span>
                            </div>
                        </div>
                        <hr class="mt-6 mb-4 -mx-4" />
                        <h4 class="text-green">{{'medicalNotes'|translate}}</h4>
                        <div class="border border-gray-light rounded mt-2 mb-4">
                            <div class="overflow-x-auto overflow-y-hidden">
                                <table class="w-full medical-info-table">
                                    <thead>
                                        <tr>
                                            <th class="w-1/5">{{ "date" | translate }}</th>
                                            <th class="w-3/5">{{ "doctorsNote" | translate }}</th>
                                            <th class="w-1/5"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalNoteList">
                                            <td>{{medicalinfo.noteDate |date| EmtyValueCheckPipe}}</td>
                                            <td>{{medicalinfo.medicalNote| EmtyValueCheckPipe}}</td>
                                            <td class="cursor-pointer">
                                                <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                <span class="mr-2" *ngIf="permissions?.edit">
                                                    <mat-icon (click)="editMedicalNotes(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                </span>
                                                <span *ngIf="permissions?.delete">
                                                    <mat-icon (click)="confirmDeleteStudentMedicalNote(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                </span>
                                            </ng-container>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>May 10, 2021</td>
                                            <td>Arthur is allergic to prawns/crabs. He has recorded medical history of
                                                allergic symptoms.</td>
                                            <td class="cursor-pointer">
                                                <span class="mr-2">
                                                    <mat-icon [icIcon]="icEdit"></mat-icon>
                                                </span>
                                                <span>
                                                    <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                </span>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="permissions?.add" class="text-center text-blue cursor-pointer p-2" (click)="addMedicalNotes()">
                                <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                    class="inline-block mt-1 align-top font-medium">{{ 'addMedicalNotes' | translate
                                    }}</span>
                            </div>
                        </div>
                        <hr class="mt-6 mb-4 -mx-4" />
                        <h4 class="text-green">{{'immunizationPhysicalRecord'|translate}}</h4>
                        <div class="border border-gray-light rounded mt-2 mb-4">
                            <div class="overflow-x-auto overflow-y-hidden">
                                <table class="w-full medical-info-table">
                                    <thead>
                                        <tr>
                                            <th class="w-1/5">{{ "type" | translate }}</th>
                                            <th class="w-1/5">{{ "date" | translate }}</th>
                                            <th class="w-2/5">{{ "comment" | translate }}</th>
                                            <th class="w-1/5"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalImmunizationList">
                                            <td>{{medicalinfo.immunizationType}}</td>
                                            <td>{{medicalinfo.immunizationDate|date}}</td>
                                            <td>{{medicalinfo.comment}}</td>
                                            <td class="cursor-pointer">
                                                <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                    <span class="mr-2" *ngIf="permissions?.edit">
                                                        <mat-icon (click)="editImmunization(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                    </span>
                                                    <span *ngIf="permissions?.delete">
                                                        <mat-icon (click)="confirmDeleteStudentMedicalImmunization(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                    </span>
                                                </ng-container>

                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Immunization</td>
                                            <td>May 18, 2021</td>
                                            <td>Rotavirus immunization was done.</td>
                                            <td class="cursor-pointer">
                                                <span class="mr-2">
                                                    <mat-icon [icIcon]="icEdit"></mat-icon>
                                                </span>
                                                <span>
                                                    <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                </span>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center text-blue cursor-pointer p-2" *ngIf="permissions?.add" (click)="addImmunization()">
                                <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                    class="inline-block mt-1 align-top font-medium">{{ 'addImmunizationPhysicalRecord' |
                                    translate }}</span>
                            </div>
                        </div>
                        <hr class="mt-6 mb-4 -mx-4" />
                        <h4 class="text-green">{{'nurseVisitRecord'|translate}}</h4>
                        <div class="border border-gray-light rounded mt-2 mb-0">
                            <div class="overflow-x-auto overflow-y-hidden">
                                <table class="w-full medical-info-table">
                                    <thead>
                                        <tr>
                                            <th class="">{{ "date" | translate }}</th>
                                            <th class="">{{ "timeIn" | translate }}</th>
                                            <th class="">{{ "timeOut" | translate }}</th>
                                            <th class="">{{ "reason" | translate }}</th>
                                            <th class="">{{ "result" | translate }}</th>
                                            <th class="">{{ "comment" | translate }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let medicalinfo of studentMedicalInfoListModel.studentMedicalNurseVisitList">
                                            <td>{{medicalinfo.nurseVisitDate| date}}</td>
                                            <td>{{medicalinfo.timeIn|date:'h:mm a'}}</td>
                                            <td>{{medicalinfo.timeOut|date:'h:mm a'}}</td>
                                            <td>{{medicalinfo.reason}}</td>
                                            <td>{{medicalinfo.result}}</td>
                                            <td [class.text-green]="medicalinfo.comment">
                                                <i class="icon icon-bubble"></i>
                                            </td>
                                            <td class="cursor-pointer">
                                                <ng-container *ngIf="permissions?.edit || permissions?.delete">
                                                <span class="mr-2" *ngIf="permissions?.edit">
                                                    <mat-icon (click)="editNurseVisit(medicalinfo)" [icIcon]="icEdit"></mat-icon>
                                                </span>
                                                <span *ngIf="permissions?.delete">
                                                    <mat-icon (click)="confirmDeleteStudentMedicalNurseVisit(medicalinfo)" [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                </span>
                                                </ng-container>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Aug 11, 2020</td>
                                            <td>11:00AM</td>
                                            <td>11:15AM</td>
                                            <td>Regular checkup</td>
                                            <td>Treatment given</td>
                                            <td class="text-green">
                                                <i class="icon icon-bubble"></i>
                                            </td>
                                            <td class="cursor-pointer">
                                                <span class="mr-2">
                                                    <mat-icon [icIcon]="icEdit"></mat-icon>
                                                </span>
                                                <span>
                                                    <mat-icon [icIcon]="icDeleteForever" class="mr-2"></mat-icon>
                                                </span>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="permissions?.add" class="text-center text-blue cursor-pointer p-2" (click)="addNurseVisit()">
                                <mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon><span
                                    class="inline-block mt-1 align-top font-medium">{{ 'addNurseVisitRecord' | translate
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'providerInformation'">
                    <div class="pt-6 px-4">
                        <div class="w-full">
                            <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 col-gap-8 row-gap-10 my-0">
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'primaryCarePhysician' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.primaryCarePhysician|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'primaryCarePhysicianPhone' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.primaryCarePhysicianPhone|EmtyValueCheckPipe}}
                                    </p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'insuranceCompany' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.insuranceCompany|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'insuranceCompanyPhone' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.insuranceCompanyPhone|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'policyNumber' | translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.policyNumber|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'policyHolderName' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.policyHolderName|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'preferredMedicalFacility' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.preferredMedicalFacility|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'preferredMedicalFacilityPhone' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.preferredMedicalFacilityPhone|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'dentist' | translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.dentistName|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'dentistsPhone' | translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.dentistPhone|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'vision' | translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.visionName|EmtyValueCheckPipe}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'visionProvidersPhone' |
                                        translate}}</label>
                                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                                        {{addEditStudentMedicalProviderModel.studentMedicalProvider.visionProviderPhone|EmtyValueCheckPipe}}</p>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="addEditStudentMedicalProviderModel.fieldsCategoryList?.length>0">
                            <hr class="-mx-4 mt-6" 
                            [class.hide]="addEditStudentMedicalProviderModel?.fieldsCategoryList[categoryId]?.customFields?.length===0">
                            <vex-custom-field-without-form [schoolDetailsForViewAndEdit]="addEditStudentMedicalProviderModel" 
                            [module]="module" [categoryId]="categoryId" [studentCreateMode]="studentCreateMode">
                            </vex-custom-field-without-form>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            </div>
        <!-- End update Design -->


        <!-- <div @stagger fxLayout="column">
            <h3 class="text-blue pt-6 pb-2 px-4">{{'alertInformation'|translate}}</h3>
            <ul class="grid md:grid-cols-2 lg:grid-cols-3 col-gap-8 row-gap-10 mt-2 mx-4">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'criticalAlert' | translate}}</label>
                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                        {{studentAddModel.studentMaster.criticalAlert|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'alertDescription' | translate}}</label>
                    <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                        {{studentAddModel.studentMaster.alertDescription|EmtyValueCheckPipe}}</p>
                </li>
            </ul>

            <hr class="-mx-4 mt-6">


            <h3 class="text-blue pt-6 pb-2 px-4">{{'providerInformation'|translate}}</h3>
            <div class="w-full lg:w-2/3">
                <ul class="grid md:grid-cols-2 col-gap-8 row-gap-10 my-3 mx-4">
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'primaryCarePhysician' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.primaryCarePhysician|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'primaryCarePhysicianPhone' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.primaryCarePhysicianPhone|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'insuranceCompany' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.insuranceCompany|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'insuranceCompanyPhone' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.insuranceCompanyPhone|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'policyNumber' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.policyNumber|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'policyHolderName' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.policyHolder|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'preferredMedicalFacility' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.medicalFacility|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'preferredMedicalFacilityPhone' |
                            translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.medicalFacilityPhone|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'dentist' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.dentist|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'dentistsPhone' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.dentistPhone|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'vision' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.vision|EmtyValueCheckPipe}}</p>
                    </li>
                    <li>
                        <label class="text-sm leading-5 text-gray">{{'visionProvidersPhone' | translate}}</label>
                        <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                            {{studentAddModel.studentMaster.visionPhone|EmtyValueCheckPipe}}</p>
                    </li>
                </ul>
            </div>
            
        </div> -->

    </mat-card-content>
</mat-card>