<!--School Module-->
<div *ngIf="schoolDetailsForViewAndEdit?.schoolMaster?.fieldsCategory && module =='School'">
    <div @stagger fxLayout="column"
        *ngIf="schoolCustomFields?.length > 0">
        <hr class="-mx-4 my-6">
        <div *ngIf="schoolCreateMode==schoolCreate.EDIT">
            <ul ngModelGroup="vex-custom-field-without-form" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 col-gap-8 row-gap-0">
                <li *ngFor="let customField of schoolCustomFields; let index = index"
                    [ngSwitch]="customField.type">
                    <div *ngSwitchCase="'Checkbox'">
                        <mat-checkbox
                            [(ngModel)]="customField.customFieldsValue[0].customFieldValue"
                            name="{{customField.title.replace(' ','_')}}" color="primary" class="mr-6"  #stCheckBox="ngModel" [required]="customField.required ? true : null ">
                            {{customField.title}}
                        </mat-checkbox>
                            <mat-error *ngIf="stCheckBox.errors?.required">
                            {{customField.title}} {{'isRequired'|translate}}</mat-error> 

                        <!-- <input type="checkbox" [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                        name="{{customField.title.replace(' ','_')}}" color="primary" class="form-check-input mr-2" #stCheckBox="ngModel" [required]="customField.required ? true : null ">
                        <label class="form-check-label">{{customField.title}}</label>-->
                       
                    </div>
                    <div *ngSwitchCase="'Dropdown'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}" #schoolDropdown="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{ option }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolDropdown.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Textarea'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <textarea name="{{customField.title.replace(' ','_')}}" #schoolTextArea="ngModel" matInput
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null "></textarea>

                            <mat-error *ngIf="schoolTextArea.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'number'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input matInput #schoolNumber="ngModel" [type]="customField.type" maxlength="100" [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null"
                                name="{{customField.title.replace(' ','_')}}">
                                <mat-error *ngIf="schoolNumber.errors?.required">
                                    {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                        
                    </div>

                    <div *ngSwitchCase="'Date'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #schoolDate="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [matDatepicker]="testDate" matInput [required]="customField.required ? true : null ">
                            <mat-datepicker-toggle [for]="testDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #testDate></mat-datepicker>
                            <mat-error *ngIf="schoolDate.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                        
                    </div>
                    <div *ngSwitchCase="'Text'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #schoolField="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                matInput type="customField.type" maxlength="100"
                                [required]="customField.required ? true : null ">
                            <mat-error *ngIf="schoolField.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Multiple SelectBox'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="schoolMultiSelectValue" (ngModelChange)="modelChanged($event)"
                                multiple [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </li>
            </ul>
        </div>

        <ul *ngIf="schoolCreateMode==schoolCreate.VIEW" class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
            <li
                *ngFor="let customField of schoolCustomFields; let index = index">
                <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                <p *ngIf="customField.type !== 'Checkbox' && customField.type !== 'Date'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{customField?.customFieldsValue[0].customFieldValue | EmtyValueCheckPipe}}
                </p>
                <p *ngIf="customField.type === 'Checkbox'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    <mat-icon [icIcon]="customField?.customFieldsValue[0].customFieldValue === true?icCheckboxChecked:icCheckboxUnchecked"
                        class="inline-block align-middle mr-1">
                    </mat-icon>
                </p>
                <p *ngIf="customField.type === 'Date'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{customField?.customFieldsValue[0].customFieldValue | date:'mediumDate' | EmtyValueCheckPipe}}
                </p>
            </li>
        </ul>
    </div>
</div>
<!---->

<!--Student Module-->

<div *ngIf="studentAddModel?.fieldsCategoryList && module =='Student'">
    <div class="py-6" @stagger fxLayout="column"
        *ngIf="studentCustomFields?.length > 0">
        <hr class="-mx-4 my-6">
        <ul *ngIf="studentCreateMode !== schoolCreate.VIEW" class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-0" >
                <li *ngFor="let customField of studentCustomFields; let index = index"
                    [ngSwitch]="customField.type">
                    <div *ngSwitchCase="'Checkbox'">
                        
                        <!-- <input type="checkbox" [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                        name="{{customField.title.replace(' ','_')}}" color="primary" class="form-check-input mr-2" #stCheckBox="ngModel" [required]="customField.required ? true : null ">
                        <label class="form-check-label">{{customField.title}}</label>-->
                       
                        <mat-checkbox
                            [(ngModel)]="customField?.customFieldsValue[0].customFieldValue" 
                            name="{{customField.title.replace(' ','_')}}" color="primary" class="mr-6" #stCheckBox="ngModel" [required]="customField.required ? true : null ">
                            {{customField.title}}
                        </mat-checkbox>
                         <mat-error *ngIf="stCheckBox.errors?.required">
                            {{customField.title}} {{'isRequired'|translate}}</mat-error> 
                    </div>
                    <div *ngSwitchCase="'Dropdown'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}" #schoolDropdown="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{ option }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolDropdown.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Textarea'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <textarea name="{{customField.title.replace(' ','_')}}" #schoolTextArea="ngModel" matInput
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null "></textarea>

                            <mat-error *ngIf="schoolTextArea.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'number'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input matInput [type]="customField.type" maxlength="100" #studentNumber="ngModel" [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null"
                                name="{{customField.title.replace(' ','_')}}">
                                <mat-error *ngIf="studentNumber.errors?.required">
                                    {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                        
                    </div>

                    <div *ngSwitchCase="'Date'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}"  #studentDate="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [matDatepicker]="testDate" matInput [required]="customField.required ? true : null ">
                            <mat-datepicker-toggle [for]="testDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #testDate></mat-datepicker>
                            <mat-error *ngIf="studentDate.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                        
                    </div>
                    <div *ngSwitchCase="'Text'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #schoolField="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                matInput type="customField.type" maxlength="100"
                                [required]="customField.required ? true : null ">
                            <mat-error *ngIf="schoolField.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Multiple SelectBox'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="studentMultiSelectValue" (ngModelChange)="modelChanged($event)"
                                multiple [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </li>
        </ul>

        <ul *ngIf="studentCreateMode === schoolCreate.VIEW" class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
            <li
                *ngFor="let customField of studentCustomFields; let index = index">
                <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                <p *ngIf="customField.type !== 'Checkbox' && customField.type !== 'Date'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{customField?.customFieldsValue[0].customFieldValue | EmtyValueCheckPipe}}
                </p>
                <p *ngIf="customField.type === 'Checkbox'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    <mat-icon [icIcon]="customField?.customFieldsValue[0].customFieldValue === true ? icCheckboxChecked:icCheckboxUnchecked"
                        class="inline-block align-middle mr-1">
                    </mat-icon>
                </p>
                <p *ngIf="customField.type === 'Date'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{customField?.customFieldsValue[0].customFieldValue | date:'mediumDate' | EmtyValueCheckPipe}}</p>
            </li>
        </ul>
    </div>
</div>
<!---->

<!--Start Staff Module-->
<div *ngIf="staffAddModel?.fieldsCategoryList && module === 'Staff'">
    <form #staff="ngForm">
        <div class="py-6" @stagger fxLayout="column"
        *ngIf="staffCustomFields?.length > 0">
        <hr class="-mx-4 my-6">
        <ul *ngIf="staffCreateMode === schoolCreate.EDIT || staffCreateMode === schoolCreate.ADD" class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 col-gap-8 md:row-gap-0">
                <li *ngFor="let customField of staffCustomFields; let index = index"
                    [ngSwitch]="customField.type">
                    <div *ngSwitchCase="'Checkbox'">
                        <!-- <input type="checkbox" [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                        name="{{customField.title.replace(' ','_')}}" color="primary" class="form-check-input mr-2" #stCheckBox="ngModel" [required]="customField.required ? true : null ">
                        <label class="form-check-label">{{customField.title}}</label> -->
                        
                        <mat-checkbox
                            [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                            name="{{customField.title.replace(' ','_')}}" color="primary" class="mr-6"  #stCheckBox="ngModel" [required]="customField.required ? true : null ">
                            {{customField.title}}
                        </mat-checkbox>
                        <mat-error *ngIf="stCheckBox.errors?.required">
                            {{customField.title}} {{'isRequired'|translate}}</mat-error>
                    </div>
                    <div *ngSwitchCase="'Dropdown'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}" #schoolDropdown="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{ option }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolDropdown.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Textarea'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <textarea name="{{customField.title.replace(' ','_')}}" #schoolTextArea="ngModel" matInput
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null "></textarea>

                            <mat-error *ngIf="schoolTextArea.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'number'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input #staffNumber="ngModel" matInput [type]="customField.type" maxlength="100" [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null"
                                name="{{customField.title.replace(' ','_')}}">
                                <mat-error *ngIf="staffNumber.errors?.required">
                                    {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                       
                    </div>

                    <div *ngSwitchCase="'Date'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #staffDate="ngModel"
                                [(ngModel)]="customField?.customFieldsValue[0].customFieldValue"
                                [matDatepicker]="testDate" matInput [required]="customField.required ? true : null ">
                            <mat-datepicker-toggle [for]="testDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #testDate></mat-datepicker>
                            <mat-error *ngIf="staffDate.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>
                        </mat-form-field>
                        
                    </div>
                    <div *ngSwitchCase="'Text'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #staffField="ngModel"
                                [(ngModel)]="customField.customFieldsValue[0].customFieldValue"
                                matInput type="customField.type" maxlength="100"
                                [required]="customField.required ? true : null ">
                            <mat-error *ngIf="staffField.errors?.required">
                                {{customField.title}} {{'isRequired'|translate}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Multiple SelectBox'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="staffMultiSelectValue" (ngModelChange)="modelChanged($event)"
                                multiple [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </li>
        </ul>

        <ul *ngIf="staffCreateMode==schoolCreate.VIEW" class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
            <li
                *ngFor="let customField of staffCustomFields; let index = index">
                <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                <p *ngIf="customField.type !== 'Checkbox' && customField.type !== 'Date'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{customField?.customFieldsValue[0].customFieldValue | EmtyValueCheckPipe}}
                </p>
                <p *ngIf="customField.type === 'Checkbox'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    <mat-icon [icIcon]="customField?.customFieldsValue[0].customFieldValue === true?icCheckboxChecked:icCheckboxUnchecked"
                        class="inline-block align-middle mr-1">
                    </mat-icon>
                </p>
                <p *ngIf="customField.type === 'Date'" class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{customField?.customFieldsValue[0].customFieldValue | date:'mediumDate' | EmtyValueCheckPipe}}</p>
            </li>
        </ul>
    </div>
    </form>
    
</div>

<!--End Staff Module-->