.check-circle {
    font-size: 6rem;
}

.recalculate-attendance-animation {
    background: #1272e9 url('../../../../assets/img/calculater.gif') no-repeat center;
    background-size: 140%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
}