<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>        
    <h2 class="headline m-0" fxFlex="auto">{{sectionModalTitle | translate}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" (click) = 'closeDialog()'></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content fxLayout="column">    
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'title' | translate}}</mat-label>
            <input formControlName="title"  [(ngModel)]="sectionAddModel.tableSections.name" name="title" cdkFocusInitial matInput required>
        <mat-error *ngIf="form.get('title').hasError('required')">{{'titleIsRequired'|translate}}</mat-error>
        </mat-form-field>        
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'sortOrder' | translate}}</mat-label>
            <input formControlName="sortOrder" type="number" min="1" [(ngModel)]="sectionAddModel.tableSections.sortOrder" name="sortOrder" cdkFocusInitial matInput required>
            <mat-error *ngIf="form.get('sortOrder').hasError('required')">{{'sortOrderIsRequired'|translate}}</mat-error>
            <mat-error *ngIf="form.get('sortOrder').hasError('min')">{{'sortOrderCannotBeLessThenOne'|translate}}</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button" (click) = 'closeDialog()'>{{'cancel' | translate}}</button>
        <button color="primary" mat-raised-button type="submit">{{ssectionModalActionTitle | translate}}</button>
    </mat-dialog-actions>
</form>