<vex-page-layout>
    <vex-page-layout-header class="" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{ selectedCourseSection.courseSectionName}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['class']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content>
        <div class="card mb-6 -mt-6 -mx-6">
            <div class="custom-tab">
                <div class="flex md:justify-center items-center ">
                    <ul class="flex flex-row">
                        <li class="px-4 py-2 cursor-pointer font-medium" (click)="changeTab('overview')"
                            [class.active]="currentTab === 'overview'"
                            [ngClass]="currentTab === 'overview' ? 'text-primary border-b-2 border-primary' : ''">
                            {{'overview' | translate}}
                        </li>
                        <li class="px-4 py-2 cursor-pointer font-medium" (click)="changeTab('students')"
                            [class.active]="currentTab === 'students'"
                            [ngClass]="currentTab === 'students' ? 'text-primary border-b-2 border-primary' : ''">
                            {{'students' | translate}}
                        </li>
                        <li class="px-4 py-2 cursor-pointer font-medium" (click)="changeTab('attendance')"
                            [class.active]="currentTab === 'attendance'"
                            [ngClass]="currentTab === 'attendance' ? 'text-primary border-b-2 border-primary' : ''">
                            {{'attendance' | translate}}
                        </li>
                        <li class="px-4 py-2 cursor-pointer font-medium" (click)="changeTab('gradebook configuration')"
                            [class.active]="currentTab === 'gradebook configuration'"
                            [ngClass]="currentTab === 'gradebook configuration' ? 'text-primary border-b-2 border-primary' : ''">
                            {{'gradebookConfiguration' | translate}}</li>
                        <li class="px-4 py-2 cursor-pointer font-medium" (click)="changeTab('assignments')"
                            [class.active]="currentTab === 'assignments'"
                            [ngClass]="currentTab === 'assignments' ? 'text-primary border-b-2 border-primary' : ''">
                            {{'assignments' | translate}}</li>
                        <li class="px-4 py-2 cursor-pointer font-medium" (click)="changeTab('grades')"
                            [class.active]="currentTab === 'grades'"
                            [ngClass]="currentTab === 'grades' ? 'text-primary border-b-2 border-primary' : ''">{{'grades' |
                            translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <vex-course-overview *ngIf="currentTab === 'overview'" (weightedCourse)="courseWeightedOrNot($event)"></vex-course-overview>
            <vex-students *ngIf="currentTab === 'students'"></vex-students>
            <vex-attendance *ngIf="currentTab === 'attendance'"></vex-attendance>
            <vex-gradebook-configuration *ngIf="currentTab === 'gradebook configuration'" [courseWeightedFlag]="courseWeightedFlag"></vex-gradebook-configuration>
            <vex-assignments *ngIf="currentTab === 'assignments'"></vex-assignments>
            <vex-grades *ngIf="currentTab === 'grades'"></vex-grades>
        </div>
    </vex-page-layout-content>
</vex-page-layout>