<mat-card class="w-full" fxFlex="auto">
    <div class="flex items-center pb-4" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="flex-auto">{{'documents' | translate}}</h3>
        <button *ngIf="permissions?.add" mat-raised-button color="primary" (click)="toggleDisplayDiv()">
            <mat-icon [icIcon]="icUpload" class="mr-1"></mat-icon><span
                class="ml-2 hidden md:inline-block">{{'uploadDocument' |translate}}</span>
        </button>
    </div>


    <div class="mb-6" [hidden]="isShowDiv">
        <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*,application/pdf,.txt,.docx,.doc,.psd,.xls,.xlsx'"
            class="custom-dropzone">
            <ngx-dropzone-label>
                <p class="text-lg mt-12"><span class="text-primary">{{'clickHere' | translate}}</span> {{
                    'toBrowseFiles' | translate}}(20 MB max)</p>
                <p class="my-2">or</p>
                <p class="text-lg">{{ 'dropFilesHereToUpload' | translate}}(20 MB max)</p>
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
        <div class="text-center mt-4" *ngIf="uploadSuccessfull === false">
            <button mat-raised-button color="primary" (click)="uploadFile()">
                <mat-icon [icIcon]="icUpload" class="mr-1"></mat-icon> {{'uploadSelectedFiles' |translate}}
            </button>
        </div>
    </div>
    <div class="overflow-auto border -mx-4">
        <table @stagger mat-table [dataSource]="StudentDocumentModelList" class="mat-elevation-z8 table-auto w-full"
            matSort>
            <ng-container matColumnDef="fileUploaded">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'file'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="downloadFile(element.filename,element.filetype,element.fileUploaded)"
                        class="text-primary cursor-pointer"> {{element.filename}}</a>
                </td>
            </ng-container>

            <!-- Body -->
            <ng-container matColumnDef="uploadedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'uploadedBy'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.uploadedBy}}
                </td>
            </ng-container>

            <ng-container matColumnDef="uploadedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'uploadedOn'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.uploadedOn|transformDateTimePipe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="uppercase">{{'action'|translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <a *ngIf="permissions?.edit" (click)='confirmDelete(element)' class="cursor-pointer">
                        <mat-icon [icIcon]="icDelete"></mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="3">
                    <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <td mat-footer-cell *matFooterCellDef colspan="3">
                    No Data
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>
            <mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></mat-footer-row>
            <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="StudentDocumentModelList?.data.length!=0">
            </tr>

        </table>
    </div>

</mat-card>


<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{column.label}}
        </mat-checkbox>
    </button>
</mat-menu>