<mat-card class="w-full mb-8 pt-0">
    <div class="flex justify-between flex-col lg:flex-row">
        <div class="flex justify-center items-center">
            <button (click)="confirmWeekChange('prev')" *ngIf="view==='weekView';else monthPrevBtn">
                <mat-icon class="mt-2">west</mat-icon>
              </button>
              <ng-template #monthPrevBtn>
                <button [(viewDate)]="viewDate" (viewDateChange)="changeMonthView('prev')" [view]="view" mat-icon-button mwlCalendarPreviousView>
                    <mat-icon>west</mat-icon>
                </button>
              </ng-template>
            <h3 class="text-center mx-4 text-base" *ngIf="view !== 'weekView'"> {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
   
            <h3 class="text-base mx-4" *ngIf="view == 'weekView'"> {{'sunday'|translate}}, {{currentWeek[0]|date:'mediumDate'}} - {{'saturday'|translate}}, {{currentWeek[6]|date:'mediumDate'}}
            </h3>
            <button (click)="confirmWeekChange('next')" *ngIf="view==='weekView';else monthNextBtn">
                <mat-icon class="mt-2">east</mat-icon>
            </button>
            <ng-template #monthNextBtn>
                <button *ngIf="view!=='weekView'" (viewDateChange)="changeMonthView('next')" [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarNextView>
                    <mat-icon>east</mat-icon>
                </button>
            </ng-template>
        </div>
        <hr class="my-2 block lg:hidden"/>
        <div class="flex justify-center lg:justify-end w-full lg:w-auto">
            <button (click)="changeCalendarView('weekView')" [class.active]="view === 'weekView'"
                [ngClass]="view === 'weekView' ? 'text-blue border-b-2 border-primary' : ''" class="px-4 py-2">
                <mat-icon class="mr-2">date_range</mat-icon><span class="inline-block align-top mt-1">{{ 'weekView' |
                    translate}}</span>
            </button>
            <button (click)="changeCalendarView(CalendarView.Month)" [class.active]="view === CalendarView.Month"
                [ngClass]="view === CalendarView.Month ? 'text-blue border-b-2 border-primary' : ''" class="px-4 py-2">
                <mat-icon class="mr-2">event</mat-icon><span class="inline-block align-top mt-1">{{ 'monthView' |
                    translate}}</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <div [ngSwitch]="view" class="-mx-4">
            <ng-container *ngSwitchCase="'weekView'" [ngTemplateOutlet]="weekviewContent"></ng-container>
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [cellTemplate]="customCellTemplate"
             [refresh]="refresh">
            </mwl-calendar-month-view>
        </div>
    </div>
    <ng-template #weekviewContent>
        <div class="overflow-x-auto overflow-y-hidden">
            <table class="w-full weekview-table">
                <thead>
                    <tr>
                        <th></th>
                        <ng-container *ngFor="let day of currentWeek;let i=index">
                            <th>
                              {{ days[i]}}
                              <p class="text-primary">{{day|date:'mediumDate'}}</p>
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let period of weeklyAttendanceView.attendanceWeekView">
                        <td>
                            {{period.periodTitle}}
                        </td>
                        <ng-container *ngFor="let day of [0,1,2,3,4,5,6]">
                        <td>  
                            <ng-container *ngIf="period.days.includes(day)">
                                    
                                    <div class="select-dropdown" [ngClass]="{'border-present': period.cloneTakenAttendanceDays[day].stateCode === 'Present', 'border-halfDay' : period.cloneTakenAttendanceDays[day].stateCode === 'Half Day', 'border-absent' : period.cloneTakenAttendanceDays[day].stateCode === 'Absent' }" *ngIf="period.takenAttendanceDays?.includes(day) && !period.dayDate;else checkIfCalendarSchedule">
                                        <select onchange="this.className=this.options[this.selectedIndex].className" [ngClass]="{'text-green': period.cloneTakenAttendanceDays[day].stateCode === 'Present', 'text-orange' : period.cloneTakenAttendanceDays[day].stateCode === 'Half Day', 'text-red' : period.cloneTakenAttendanceDays[day].stateCode === 'Absent' }" [disabled]="membershipType === 'Teacher' || membershipType === 'Homeroom Teacher'" [compareWith]="compareFn" (change)="onAttendanceChange(period,day)" [(ngModel)]="period.cloneTakenAttendanceDays[day]">
                                            <option [ngClass]="{'text-green': attendance.stateCode === 'Present', 'text-orange' : attendance.stateCode === 'Half Day', 'text-red' : attendance.stateCode === 'Absent' }" *ngFor="let attendance of period?.attendanceList.attendanceCode" [ngValue]="{attendanceCode: attendance.attendanceCode1, stateCode: attendance.stateCode}" >{{attendance.title}}</option>
                                        </select>
                                    </div>

                                    <ng-template #checkIfCalendarSchedule>
                                            <div *ngIf="period.dayDate;else showNoAttendance">
                                                <div *ngIf="period.dayDate.split('|').includes(currentWeek[day].getDate().toString())">

                                                    <div class="select-dropdown" [ngClass]="{'border-present': period.cloneTakenAttendanceDays[day].stateCode === 'Present', 'border-halfDay' : period.cloneTakenAttendanceDays[day].stateCode === 'Half Day', 'border-absent' : period.cloneTakenAttendanceDays[day].stateCode === 'Absent' }" *ngIf="period.takenAttendanceDays?.includes(day);else noAttendanceTakenInCalendar">
                                                        <select onchange="this.className=this.options[this.selectedIndex].className" [ngClass]="{'text-green': period.cloneTakenAttendanceDays[day].stateCode === 'Present', 'text-orange' : period.cloneTakenAttendanceDays[day].stateCode === 'Half Day', 'text-red' : period.cloneTakenAttendanceDays[day].stateCode === 'Absent' }" [disabled]="membershipType === 'Teacher' || membershipType === 'Homeroom Teacher'" [compareWith]="compareFn" (change)="onAttendanceChange(period,day)" [(ngModel)]="period.cloneTakenAttendanceDays[day]">
                                                            <option [ngClass]="{'text-green': attendance.stateCode === 'Present', 'text-orange' : attendance.stateCode === 'Half Day', 'text-red' : attendance.stateCode === 'Absent' }" *ngFor="let attendance of period?.attendanceList.attendanceCode" [ngValue]="{attendanceCode: attendance.attendanceCode1, stateCode: attendance.stateCode}" >{{attendance.title}}</option>
                                                        </select>
                                                    </div>
                                                    <ng-template #noAttendanceTakenInCalendar>
                                                           <p class="text-red">{{'attendanceNotTaken' | translate}}</p>
                                                    </ng-template>

                                                </div>
                                            </div>
                                            <ng-template #showNoAttendance>
                                                <p class="text-red">{{'attendanceNotTaken' | translate}}</p>
                                            </ng-template>
                                    </ng-template>
                                
                            </ng-container>
                        </td>
                    </ng-container>

                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
          <span class="cal-day-number">{{
            day.date | calendarDate: "monthViewDayNumber":locale
            }}</span>
        </div>
        <div class="cal-events px-2 pb-2 justify-center" *ngIf="day.events.length > 0">
            <!-- {{day|json}} -->
         <ng-container>
            <div [ngClass]="day.inMonth?'':'opacity-50'" class="text-xs px-2 py-2 rounded-full text-white cursor-pointer mb-1" [class]="day.events[0].meta.bgColor">
            <span class="align-middle"></span>
          </div>
         </ng-container>
   
        </div>
      </ng-template>
    <div class="text-right pt-4" *ngIf="view!=CalendarView.Month && permissions?.edit">
        <button color="primary" mat-flat-button type="submit" (click)="onAttendanceUpdate()">{{'update' | translate}}</button>
    </div>
</mat-card>