.custom-checkbox {
  display: block;
  margin-bottom: 15px;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;

    &:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 6px;
        height: 12px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
  }
  label {
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      -webkit-appearance: none;
      padding: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      border-radius: 0.25rem;
    }
  }
  label.label-pink {
    &:before {
        background-color: #e91e63;
    }
  }
  label.label-cyan {
    &:before {
        background-color: #00bcd4;
    }
  }
  label.label-teal {
    &:before {
        background-color: #009688;
    }
  }
}

.attendance-calendar {
  .cal-month-view .cal-day-cell {
    min-height: 80px;
  }

  .cal-month-view {
    overflow: auto;

    .cal-cell {
      min-width: 100px;

      .cal-events {

        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: calc(100% - 3px);
          vertical-align: top;
          line-height: 15px;
        }
      }
    }
  }
}
