<mat-card-content>
    <div @stagger fxLayout="column">
        <h4 class="text-primary pt-6 pb-2">{{'personalContactInformation'|translate}}</h4>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'homePhone' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.homePhone
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'mobilePhone' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.mobilePhone
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'officePhone' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.officePhone
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'personalEmail' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.personalEmail)">{{staffViewDetails.staffMaster.personalEmail|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'schoolEmail' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.schoolEmail)">{{staffViewDetails.staffMaster.schoolEmail|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'twitter' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.twitter)">{{staffViewDetails.staffMaster.twitter|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'facebook' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.facebook)">{{staffViewDetails.staffMaster.facebook|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'instagram' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.instagram)">{{staffViewDetails.staffMaster.instagram|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'youtube' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.youtube)">{{staffViewDetails.staffMaster.youtube|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'linkedIn' | translate}}</label>
                <p class="mt-1 text-blue cursor-pointer ading-5 sm:mt-0 sm:col-span-2 truncate" (click)="openUrl(staffViewDetails.staffMaster.linkedin)">{{staffViewDetails.staffMaster.linkedin|EmtyValueCheckPipe}}</p>
            </li>
        </ul>

        <vex-custom-field-without-form [schoolDetailsForViewAndEdit]="staffViewDetails" [module]="module"
            [categoryId]="categoryId" [staffCreateMode]="staffCreateMode"></vex-custom-field-without-form>


        <hr class="-mx-4 mt-6">


        <div class="flex w-full items-center pt-4 pb-2">
            <h4 class="text-blue">{{'homeAddress'|translate}} &nbsp;</h4><span
                *ngIf="staffViewDetails.staffMaster.homeAddressLineOne || staffViewDetails.staffMaster.homeAddressLineTwo || staffViewDetails.staffMaster.homeAddressCity || staffViewDetails.staffMaster.homeAddressState || nameOfMiscValues.countryName || staffViewDetails.staffMaster.homeAddressZip"><span
                    class="text-gray-light">|</span>
                <a (click)="showHomeAddressOnGoogleMap()" class="cursor-pointer"><i
                        class="icon icon-location4 mr-2"></i>Show on Map</a></span>
        </div>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'streetAddress1' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.homeAddressLineOne |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'streetAddress2' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.homeAddressLineTwo |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'country' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{nameOfMiscValues.countryName|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'stateProvinceLocality' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.homeAddressState
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'city' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.homeAddressCity
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'zipPostalCode' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.homeAddressZip
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'busNo' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.busNo|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'busPickup' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.busPickup ? "Yes"
                    :"No"}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'busDropoff' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.busDropoff ?
                    "Yes" :"No"}}</p>
            </li>
        </ul>


        <hr class="-mx-4 mt-6">

        <div class="flex w-full items-center pt-4 pb-2">
            <h4 class="text-blue mr-4">{{'mailingAddress'|translate}} &nbsp;</h4> <span
                *ngIf="staffViewDetails.staffMaster.mailingAddressLineOne || staffViewDetails.staffMaster.mailingAddressLineTwo ||staffViewDetails.staffMaster.mailingAddressCity|| staffViewDetails.staffMaster.mailingAddressState||nameOfMiscValues.mailingAddressCountry || staffViewDetails.staffMaster.mailingAddressZip">
                <span class="text-gray-light">|</span>
                <a (click)="showMailingAddressOnGoogleMap()" class="cursor-pointer ml-3"><i
                        class="icon icon-location4 mr-2"></i>Show on Map</a></span>
        </div>
        <p class="mb-6" *ngIf="staffViewDetails.staffMaster.mailingAddressSameToHome; else mailingAddressNotSameToHome">
            <span class="same-as-home-address">{{'sameAsHomeAddress' | translate}}</span>
        </p>
        <ng-template #mailingAddressNotSameToHome>
            <p class="mb-6"><span class="different-from-home-address">Different from Home Address</span></p>
        </ng-template>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'streetAddress1' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.mailingAddressLineOne
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'streetAddress2' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.mailingAddressLineTwo
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'country' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{nameOfMiscValues.mailingAddressCountry
                    |EmtyValueCheckPipe}}</p>
            </li>

            <li>
                <label class="text-sm leading-5 text-gray">{{'stateProvinceLocality' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.mailingAddressState
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'city' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.mailingAddressCity
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'zipPostalCode' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.mailingAddressZip
                    |EmtyValueCheckPipe}}</p>
            </li>
        </ul>

        <hr class="-mx-4 mt-6">

        <h4 class="text-primary pt-6 pb-2">{{'emergencyContactInfo'|translate}}</h4>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'emergencyContactName' | translate}}</label>

                <p *ngIf="(staffViewDetails.staffMaster.emergencyFirstName !== null || staffViewDetails.staffMaster.emergencyFirstName !== '') || (staffViewDetails.staffMaster.emergencyLastName !== null || staffViewDetails.staffMaster.emergencyLastName !== '')"
                    class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.emergencyFirstName
                    }} {{staffViewDetails.staffMaster.emergencyLastName}}
                </p>
                <p *ngIf="(staffViewDetails.staffMaster.emergencyFirstName === null || staffViewDetails.staffMaster.emergencyFirstName === '') && (staffViewDetails.staffMaster.emergencyLastName === null || staffViewDetails.staffMaster.emergencyLastName === '')"
                    class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-
                </p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'relationshipToStaff' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.relationshipToStaff
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'homePhone' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.emergencyHomePhone
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'workPhone' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.emergencyWorkPhone
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'mobilePhone' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                    {{staffViewDetails.staffMaster.emergencyMobilePhone
                    |EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'email' | translate}}</label>
                <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{staffViewDetails.staffMaster.emergencyEmail
                    |EmtyValueCheckPipe}}</p>
            </li>
        </ul>
    </div>
</mat-card-content>