.marking-period-tree {
    > li {
        margin-bottom: 30px;
    }
    
    .tree-node {
        @apply rounded;
        @apply border-primary-light;

        @media (min-width: 767.99px) {
        &.active {
                @apply text-white;
            @apply bg-blue;

            a {
                font-weight: bold;
                @apply text-white;
            }
            }
        }

        @media (max-width: 767.98px) {
            background: #ffffff !important;
            color: inherit !important;
            font-weight: normal !important;
        }
    }

    ul {
        margin-left: 15px;
        @apply border-l-2;
        @apply border-dotted;
        @apply border-primary-light;

        li {
            padding-left: 30px;
            padding-top: 15px;
            position: relative;

            .tree-node {
                &:after {
                    content: " ";
                    width: 30px;
                    height: 1px;
                    position: absolute;
                    @apply border-t-2;
                    @apply border-dotted;
                    @apply border-primary-light;
                    top: 40px;
                    left: 0;
                }
            }
        }
    }
}

.marking-period-details {
    @media (max-width: 767.98px) {
        display: none;
    }
}

.showing-details {
    @media (max-width: 767.98px) {
        .marking-period-details {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 9;
            display: block;
            background: rgba(0, 0, 0, 0.2);
            padding: 25px;
            height: 100%;
            overflow: auto;
        }
    }
}
