<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{'parentsList'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['parent']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">

        <div class="card -mt-16">
            <div class="bg-white px-6 md:h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">

                <div class="flex w-full justify-between">
                    <div class="py-3 w-4/6 md:w-10/12">

                        <div class="flex items-center">
                            <input
                            [formControl]="searchCtrl"
                            class="py-3 border-0 outline-none w-full bg-transparent table-search" placeholder="Search..."
                            type="search">
                            <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5" alt="Loader icon">
                            <button *ngIf="!loading" class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button
                                type="button">
                                <mat-icon [icIcon]="icSearch"></mat-icon>
                            </button>
                            <a (click)="showAdvanceSearch()" [ngClass]="totalCount===0 && !getAllParentModel.filterParams?'text-gray disabled':'text-primary'" class="cursor-pointer ml-3">
                                <mat-icon aria-hidden="false" class="mr-2 align-middle">tune</mat-icon><span class="hidden md:inline-block">{{'advanceSearch'
                                | translate}}</span>
                            </a>
                        </div>
                    </div>


                    <div class="pt-3 w-2/6 md:w-2/12 text-right">
                        <a (click)="exportParentListToExcel()" class="cursor-pointer inline-block align-middle"
                            matTooltip="{{'exportToExcel' | translate}}">
                            <img src="assets/img/microsoft_office_excel.svg" alt="Excel Icon" width="24">
                        </a>
                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="{{'filterColumns' | translate}}" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="overflow-auto">
                <table @stagger mat-table [dataSource]="parentFieldsModelList"
                    class="mat-elevation-z8 table-auto w-full" matSort>

                    <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'parentsName'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="viewGeneralInfo(element)" class="text-primary cursor-pointer">
                                {{element.lastname+", "
                            +element.firstname}}{{element.middlename!=null?" "+element.middlename:''}}</a>
                                
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="userProfile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'profile'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.userProfile}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="workEmail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'emailAddress'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.workEmail | EmtyValueCheckPipe}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'mobilePhone'|translate}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.mobile | EmtyValueCheckPipe}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="students">
                        <th mat-header-cell *matHeaderCellDef>{{'associatedStudents'|translate}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.students?.length>0">
                                <span *ngFor="let student of element.students" class="students-list">
                                    <a (click)="goToStudentInformation(student.split('|')[3])"
                                        class="text-primary hover:underline cursor-pointer">{{student.split('|')[0]+'
                                        '+student.split('|')[2]}}</a>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="!element.students?.length">
                                {{'-'}}
                            </ng-container>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>{{'actions'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <a matTooltip="{{'ImpersonateAsParent' | translate}}" class="mr-3 cursor-pointer">
                                <mat-icon [icIcon]="icImpersonate"></mat-icon>
                            </a> -->
                            <a matTooltip="{{ 'dataEditInfo' | translate }}" class="mr-3 cursor-pointer" (click)="openDataEdit(element)">
                                <mat-icon [icIcon]="icRestore"></mat-icon>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="invalidsearch">
                        <td mat-footer-cell *matFooterCellDef colspan="7">
                            {{'noRecordFoundAsPerYourSearchCriteriaDotPlease' |translate}} <a
                                class="cursor-pointer text-blue underline" (click)="resetParentList()">{{'clickHere' |translate}}</a> {{'toReset' |translate}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef colspan="6">
                            {{loading?('fetchingData' | translate):('noData' | translate) }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>

                    <tr mat-footer-row *matFooterRowDef="['invalidsearch']" [class.hidden]="searchCount!=0"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [class.hidden]="totalCount>0 || searchCount===0">
                    </tr>

                </table>
            </div>
            <mat-paginator [class.hidden]="totalCount<11" [length]="totalCount" [pageSize]="pageSize"
                [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'>
            </mat-paginator>
        </div>

    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{column.label | translate}}
        </mat-checkbox>
    </button>
</mat-menu>
<div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="showAdvanceSearchPanel">
    <div class="advance-search-panel absolute bg-white w-full sm:w-4/6 md:w-3/6 lg:w-2/6 h-full z-20" @fadeInRight>
        <vex-common-parent-advanced-search (filteredValue)="filterData($event)" (showHideAdvanceSearch)="hideAdvanceSearch($event)"
            (searchValue)="getSearchInput($event)"></vex-common-parent-advanced-search>
    </div>
    <div class="advance-search-backdrop bg-black opacity-50 fiexd top-0 left-0 w-full h-full z-10"></div>
</div>