<vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{ 'inputEffortGrades'}}" class="w-full">
            <vex-breadcrumbs [crumbs]="['grades']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content class="-mt-6">
        <div class="-mt-16">
            <div>
                <div class="card" [ngClass]="viewDetailsModal===1?'showing-details':''">
                    <ul class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 col-gap-4 row-gap-2 px-4 pt-4">
                        <li>
                            <mat-form-field class="w-full" appearance="outline" color="primary">
                                <mat-label>{{ "courseSection" | translate }}</mat-label>
                                <mat-select (selectionChange)="selectedCourseSection($event.value)" name="courseSection"
                                    [(ngModel)]="studentEffortGradeListModel.courseSectionId">
                                    <mat-option></mat-option>
                                    <mat-option
                                        *ngFor="let courseSectionDetail of allScheduledCourseSectionBasedOnTeacher?.courseSectionViewList"
                                        [value]="courseSectionDetail.courseSectionId">
                                        {{courseSectionDetail.courseSectionName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                    </ul>
                    <mat-divider class=""></mat-divider>
                    <div class="bg-white px-6 py-2 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                        <div class="flex w-full justify-between items-center">
                            <div class="flex items-center">

                                <input class="py-3 border-0 outline-none w-full bg-transparent table-search"
                                    appearance="outline" color="primary" placeholder="Search..."
                                    [(ngModel)]="nameSearch" type="search" name="search">
                                <button class="ml-4" fxFlex="none" mat-icon-button type="button">
                                    <mat-icon [icIcon]="icSearch"></mat-icon>
                                </button>

                                <a (click)="showAdvanceSearch()" class="lg:w-full ml-3 text-primary cursor-pointer">
                                    <mat-icon aria-hidden="false" class="mr-0 lg:mr-2 align-middle">tune</mat-icon><span
                                        class="hidden lg:inline-block">{{'advanceSearch' | translate}}</span>
                                </a>
                            </div>
                            <div *ngIf="searchFilterListViewModel?.searchFilterList?.length > 0">
                                <button mat-stroked-button [matMenuTriggerFor]="menu"
                                    class="inline-block align-middle ml-4">
                                    <span>{{'loadFilter' | translate}}</span>
                                    <mat-icon class="-mr-2">arrow_drop_down</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button *ngFor="let filter of searchFilterListViewModel?.searchFilterList"
                                        mat-menu-item (click)="searchByFilterName(filter)">{{filter.filterName}}
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!showStudentList" class="md:flex md:flex-wrap">
                        <div class="md:w-4/12 md:pr-4">
                            <div class="effort-grade-left">
                                <h4 class="font-medium text-sm py-2 px-4">{{ "studentDetails" | translate }}</h4>
                                <mat-divider class=""></mat-divider>
                                <ul>
                                    <li *ngIf="totalCount===0">
                                        <div class="py-3 px-6"><span class="mb-5 italic text-gray">{{ showMessage |
                                                translate }}</span></div>
                                    </li>
                                    <ng-container
                                        *ngFor="let student of studentMasterList | filterData:nameSearch;let i = index">
                                        <li class="flex py-2 px-4 cursor-pointer" *ngIf="student?.isDisplay"
                                            [ngClass]="{'bg-skyblue-light':selectedStudent === i }"
                                            (click)="viewDetails(i)">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img src="{{student.studentPhoto?'data:image/png;base64,'+ student.studentPhoto:'assets/img/default-person.jpg'}}"
                                                    alt="Student photo" class="h-12 w-12 rounded-full" />
                                            </div>
                                            <div class="ml-3 flex flex-col justify-center">
                                                <h6 class="text-sm font-semibold">{{student.firstGivenName+" "+
                                                    student.lastFamilyName}}</h6>
                                                <div>
                                                    <span class="">{{student.studentInternalId}}</span>
                                                    <span class="dot-separator"></span>
                                                    <span>{{ student.gradeLevel }}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ng-container>

                                </ul>
                            </div>
                        </div>
                        <div *ngIf="showEffort" class="md:w-8/12 md:pr-4 effort-grade-right px-4 md:pl-0">
                            <div class="card shadow-none p-4 md:p-0">
                                <div class="flex px-4 md:px-0 justify-between">
                                    <h4 class="text-base font-medium text-green py-2">{{ "effortGrades" | translate }}
                                    </h4>
                                    <button (click)="closeDetailsModal()" class="md:hidden text-primary" mat-icon-button
                                        type="button">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <div class="overflow-x-auto overflow-y-hidden rounded border mb-2">
                                    <table class="w-full schedule-table effort-grade-table">
                                        <thead>
                                            <tr>
                                                <th width="40%">{{ "effortCategory" | translate }}</th>
                                                <th width="35%">{{ "effortTitle" | translate }}</th>
                                                <th width="25%">{{ "value" | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let effortItem of effortGradeDetailViewList;let j = index">
                                                <td>{{effortItem.categoryName}}</td>
                                                <td>{{effortItem.effortItemTitle}}</td>
                                                <td>
                                                    <div class="select-dropdown">
                                                        <select
                                                            [(ngModel)]="studentEffortGradeListModel?.studentEffortGradeList[selectedStudent]?.studentEffortGradeDetail[j].effortGradeScaleId"
                                                            (change)="selectCategory(effortItem ,j, $event)">
                                                            <option value=null>NA</option>
                                                            <option *ngFor="let grade of effortGradeScaleModelList"
                                                                [value]="grade.effortGradeScaleId">
                                                                {{grade.gradeScaleValue}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h4 class="text-base font-medium text-green px-4 lg:px-0 py-2">{{ 'generalComments' |
                                    translate }}</h4>
                                <div class="w-full border rounded mb-2 p-2">
                                    <textarea placeholder="Comments"
                                        [(ngModel)]="studentEffortGradeListModel?.studentEffortGradeList[selectedStudent].teacherComment"
                                        class="w-full" rows="8"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Error msg for grade scale -->
                    <div *ngIf="showStudentList" class="text-center py-32 px-6 text-warn">
                        <i class="icon icon-warning2 text-4xl"></i>
                        <p class="text-lg mt-4">Effort Grade Scale and Effort Grades are not set for this School.</p>
                    </div>

                </div>
                <!-- End Input effort Grade -->
                <div class="text-right mt-4 mb-10">
                    <button (click)="submitEffortGrade()" mat-raised-button color="primary">{{ 'submit' | translate
                        }}</button>
                </div>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="showAdvanceSearchPanel">
    <div class="advance-search-panel absolute bg-white w-full sm:w-4/6 md:w-3/6 lg:w-2/6 h-full z-20" @fadeInRight>
        <vex-search-student (searchList)="getSearchResult($event)" [filterJsonParams]="filterJsonParams"
            [incomingSearchValue]="searchValue" (toggelValues)="getToggleValues($event)"
            [incomingToggleValues]="toggleValues" [parentData]="parentData"
            (showHideAdvanceSearch)="hideAdvanceSearch($event)" (searchValue)="getSearchInput($event)">
        </vex-search-student>
    </div>
    <div class="advance-search-backdrop bg-black opacity-50 fiexd top-0 left-0 w-full h-full z-10"></div>
</div>