<form (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate *ngIf="parentCreateMode == parentCreate.EDIT">
    <mat-card class="w-full">

        <h3 class="pt-1">{{'addressInformation'|translate}}</h3>
        <mat-card-content>

            <div @stagger fxLayout="column">
                <h4 class="text-blue pt-6 pb-2">{{'homeAddress'|translate}}</h4>
                <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 col-gap-8 row-gap-0">
                    <li>
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'streetAddress1'|translate}}</mat-label>
                            <input [(ngModel)]="addParentInfoModel.parentInfo.parentAddress[0].addressLineOne" name="addressLineOne"
                                #addressLineOne="ngModel" matInput required>
                            <mat-error class="text-red" *ngIf="addressLineOne.errors?.required">
                                {{'streetAddress1IsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'streetAddress2'|translate}}</mat-label>
                            <input [(ngModel)]="addParentInfoModel.parentInfo.parentAddress[0].addressLineTwo" name="addressLineTwo"
                                matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'country'|translate}}</mat-label>
                            <mat-select [formControl]="countryCtrl" [(ngModel)]="addParentInfoModel.parentInfo.parentAddress[0].country" name="country" required>
                               <!--  <mat-option value=""></mat-option> -->
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="countryFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredCountry| async" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                            <input [(ngModel)]="addParentInfoModel.parentInfo.parentAddress[0].state" name="state" #state="ngModel"
                                matInput required>
                            <mat-error class="text-red" *ngIf="state.errors?.required">
                                {{'stateProvinceLocalityIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'city'|translate}}</mat-label>
                            <input [(ngModel)]="addParentInfoModel.parentInfo.parentAddress[0].city" name="city" #city="ngModel" matInput
                                required>
                            <mat-error class="text-red" *ngIf="city.errors?.required">
                                {{'cityIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'zipPostalCode'|translate}}</mat-label>
                            <input [(ngModel)]="addParentInfoModel.parentInfo.parentAddress[0].zip" #zip="ngModel" name="zip" matInput
                            maxlength="20" required>
                            <mat-error class="text-red" *ngIf="zip.errors?.required">
                                {{'zipPostalCodeIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </li>
                </ul>


                <div class="pt-3 mb-4 text-right">
                    <button type="button" *ngIf="parentCreateMode === parentCreate.EDIT" (click)="cancelEdit()" mat-button class="mr-2">{{'cancel'|translate}}</button>
                    <button color="primary" mat-raised-button>{{'update'|translate}}</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</form>

 <mat-card class="w-full" *ngIf="parentCreateMode == parentCreate.VIEW">
    <div class="flex items-center mx-2" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="flex-auto">{{'addressInformation' | translate}}</h3>
        <button *ngIf="permissions?.edit" mat-raised-button (click)="editAddressContactInfo()" color="primary">
            <mat-icon class="md:mr-2">edit</mat-icon> <span class="hidden md:inline-block">{{'editInformation' |translate}}</span>
        </button>
    </div>
    <mat-card-content *ngIf="addParentInfoModel?.parentInfo">

        <div @stagger fxLayout="column">
            <div class="flex w-full items-center pt-4 pb-2">
                <h4 class="text-blue mr-4">{{'homeAddress'|translate}} &nbsp; <span class="text-gray-light">|</span></h4>
                <a (click)="showOnGoogleMap()" class="cursor-pointer"><i class="icon icon-location4 mr-2"></i>Show on Map</a>
            </div>
            <p *ngIf="addParentInfoModel?.parentInfo?.parentAddress[0]?.studentAddressSame" class="mb-6"><span class="same-as-home-address">Same as Student's Home Address</span></p>
            <p *ngIf="!addParentInfoModel?.parentInfo?.parentAddress[0]?.studentAddressSame" class="mb-6"><span class="different-from-home-address">Different from Student's Home Address</span></p>
            <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'streetAddress1' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                        {{addParentInfoModel.parentInfo.parentAddress[0].addressLineOne| EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'streetAddress2' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                        {{addParentInfoModel.parentInfo.parentAddress[0].addressLineTwo| EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'country' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{countryName| EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'stateProvinceLocality' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{addParentInfoModel.parentInfo.parentAddress[0].state| EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'city' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{addParentInfoModel.parentInfo.parentAddress[0].city| EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'zipPostalCode' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{addParentInfoModel.parentInfo.parentAddress[0].zip | EmtyValueCheckPipe}}</p>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>