.table-row-group {
    .mat-form-field {
        margin-bottom: 0 !important;
    }
}

.enrollment-timeline {
    > li {
        display: flex;
        width: 100%;
        position: relative;

        &::after {
            content: " ";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            @apply bg-gray;
            position: absolute;
            left: 122px;
            top: 21px;

            @media only screen and (max-width: 850px) {
                left: 77px;
            }
        }

        > span {
            width: 125px;
            @apply p-4;
            @apply text-right text-gray text-lg;

            @media only screen and (max-width: 850px) {
                width: 80px;
            }
        }

        > div {
            width: calc(100% - 125px);
            @apply border-l-2 border-dotted border-primary-light;
            @apply p-4;

            @media only screen and (max-width: 850px) {
                width: calc(100% - 80px);
            }
        }
    }
}

.mat-expansion-panel-header.mat-expanded {
    height: auto;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
    border: 1px solid rgba(82, 63, 105, 0.12);

    .btn-add-enrollment {
        margin-top: -52px;
        position: absolute;
        right: 53px;
    }
}
.enrollment-table {
    th,td {
        white-space: nowrap;
    }
} 