<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{calendarTitle | translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<form [formGroup]="form" (ngSubmit)="submitCalendar()">
    <mat-dialog-content>
        <div fxLayout="column">
            <mat-form-field class="mt-6" appearance="outline" color="primary">
                <mat-label>{{'title' | translate}}</mat-label>
                <input formControlName="title" name="title" [readonly]="!this.defaultValuesService.checkAcademicYear()" [(ngModel)]="calendarAddViewModel.schoolCalendar.title"
                    cdkFocusInitial maxlength="50" matInput required>
                <mat-error *ngIf="form.get('title').hasError('required')">{{'titleIsRequired'| translate}}</mat-error>
            </mat-form-field>

            <div class="mb-4">
                <mat-checkbox formControlName="isDefaultCalendar" [disableRipple]="!this.defaultValuesService.checkAcademicYear()"
                (click)="!this.defaultValuesService.checkAcademicYear() ? $event.preventDefault() : ''" (change)="showOptions($event)"  name="isDefaultCalendar" color="primary">
                    {{'defaultCalendarForThisSchool' | translate}}</mat-checkbox>
            </div>

            <div class="mb-2 md:flex md:flex-wrap -mx-6">
                <div class="flex flex-1 mx-6 md:w-1/2">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'startDate' | translate}}</mat-label>
                        <input formControlName="startDate" readonly (dateInput)="checkDate()" [min]="minStartDate" [max]="maxStartDate" [(ngModel)]="calendarAddViewModel.schoolCalendar.startDate"
                            name="startDate" [matDatepicker]="begins" matInput required>
                        <mat-datepicker-toggle [for]="begins" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #begins></mat-datepicker>
                        <mat-error *ngIf="form.get('startDate').hasError('required')">
                            {{'startDateIsRequired'|translate}}</mat-error>
                        <mat-error
                            *ngIf="!form.get('startDate').hasError('required') && form.get('startDate').hasError('invalidDateComparison')">
                        </mat-error>
                        <mat-error
                            *ngIf="form.controls.startDate.errors?.nomatch">Start Date should be same as School start Date
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-6 md:w-1/2">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'endDate' | translate}}</mat-label>
                        <input formControlName="endDate" [readonly]="!this.defaultValuesService.checkAcademicYear()" [(ngModel)]="calendarAddViewModel.schoolCalendar.endDate"
                            name="endDate" [min]="getMinEndDateVal()" [matDatepicker]="ends" matInput required>
                        <mat-datepicker-toggle [for]="ends" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #ends></mat-datepicker>
                        <mat-error *ngIf="form.get('endDate').hasError('required')">
                            {{'endDateIsRequired'|translate}}</mat-error>
                        <mat-error *ngIf="form.get('endDate').hasError('matDatepickerMin')"> {{'endDateCannotBeEarlierOrSameAsStartDate'|translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <h6>{{'weekdays' | translate}}</h6>
            <ul class="md:grid md:grid-cols-3 md:col-gap-8 md:row-gap-2 mt-2 mb-6">
                <li *ngFor="let day of weeks">
                    <mat-checkbox [checked]="weekArray.indexOf(day.id) != -1"  [disableRipple]="!this.defaultValuesService.checkAcademicYear()"
                    (click)="!this.defaultValuesService.checkAcademicYear() ? $event.preventDefault() : selectDays($event,day.id)"
                        color="primary">
                        {{day.name | translate}}</mat-checkbox>
                </li>
            </ul>

            <h6 [hidden]="membercount==0">{{'visibleTo' | translate}}</h6>
            <div class="mt-2">
                <mat-checkbox #checkBox [checked]="checkAll"  [disableRipple]="!this.defaultValuesService.checkAcademicYear()" (click)="!this.defaultValuesService.checkAcademicYear() ? $event.preventDefault() : updateCheck($event)" [hidden]="membercount==0" color="primary">{{'selectAll' | translate}}
                </mat-checkbox>
            </div>
            <ul class="mt-3 md:grid md:grid-cols-3 md:col-gap-10 md:row-gap-3">
                <li *ngFor="let member of getAllMembersList.getAllMemberList">

                    <mat-checkbox [checked]="memberArray.indexOf(member.membershipId) != -1" [disableRipple]="!this.defaultValuesService.checkAcademicYear()" (click)="!this.defaultValuesService.checkAcademicYear() ? $event.preventDefault() : selectChildren($event,member.membershipId)"
                         color="primary">
                        {{member.profile}}</mat-checkbox>
                </li>

            </ul>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
        <button *ngIf="this.defaultValuesService.checkAcademicYear()" color="primary" mat-raised-button type="submit">{{calendarActionButtonTitle | translate}}</button>
    </mat-dialog-actions>
</form>