<div *ngIf="currentComponent === 'takeAttendance'">
    <div class="flex justify-between items-center mb-4 flex-wrap">
        <div class="flex flex-col mb-2 md:mb-0">
            <h4 class="flex items-center font-medium md:h-6 flex-wrap"><span class="pr-2">{{ 'takingAttendanceFor' | translate }} :</span>
                <div class="flex" (click)="picker.open()">
                    <mat-datepicker-toggle matPrefix [for]="picker" class="text-black w-10 h-5 pr-2">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)" [matDatepickerFilter]="myHolidayFilter" [min]="courseSection?.durationStartDate" [max]="maxDate" class="text-primary underline" [(ngModel)]="attendanceDate">
                </div>
            </h4>
            <p *ngIf="!isAttendanceDateToday" class="text-warn text-sm mb-2 md:mb-0">
                <mat-icon class="text-base h-auto align-middle w-auto mr-1">info</mat-icon>{{ 'selectedDateIsNotToday' |
                translate }}
            </p>
        </div>
        <div
        *ngIf="isAnyMissingAttendance"
         class="text-warn border border-red rounded bg-warn-light text-sm font-semibold cursor-pointer px-4 py-2"
            (click)="changeComponent('missingAttendanceList',null)">
            <mat-icon class="text-lg font-semibold align-middle w-auto h-auto mr-2">alarm_off</mat-icon>{{
            'youHaveMissingAttendance' |
            translate }}
        </div>
    </div>
    <div class="card" *ngIf="!isDisabledForAttendance">
        <div class="table-sticky mat-elevation-z8 shadow-none">
            <table mat-table [dataSource]="scheduleStudentListViewModel.scheduleStudentForView">
                <ng-container matColumnDef="students" sticky>
                    <th style="width: 220px;" mat-header-cell *matHeaderCellDef>{{ "students" | translate }}</th>
                    <td style="width: 220px;" mat-cell *matCellDef="let element" class="bg-white">
                        <div class="flex py-1">
                            <div class="flex-shrink-0 h-12 w-12">
                                <img src="{{element.studentPhoto?'data:image/png;base64,'+ element.studentPhoto:'assets/img/default-person.jpg'}}" alt="Student photo" class="h-12 w-12 rounded-full" />
                            </div>
                            <div class="ml-3 flex flex-col justify-center" [ngClass]="element.isDropped ? 'text-gray': ''">
                                <h6 class="text-sm font-semibold">{{ element.firstGivenName+' '+element.lastFamilyName }}</h6>
                                <div>
                                    <span class="">#{{element.studentInternalId}}</span>
                                    <span class="dot-separator"></span>
                                    <span>{{element.gradeLevel}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="attendanceCodes">
                    <th mat-header-cell *matHeaderCellDef>
                        <span class="mr-3">{{ "attendanceCodes" | translate }}</span>
                        <mat-slide-toggle color="primary" [(ngModel)]="showShortName" [checked]="showShortName" class="text-gray font-medium">
                            {{'showShortName' | translate}}
                        </mat-slide-toggle>
                    </th>
                    <td mat-cell *matCellDef="let element;let i = index">
                        <div class="custom-radios" *ngFor="let attendance of getAllAttendanceCodeModel.attendanceCodeList">
                            <label for="{{attendance.title+''+i}}">
                                <input type="radio" id="{{attendance.title+''+i}}" name="{{i}}" [ngModel]="addUpdateStudentAttendanceModel.studentAttendance[i]?.attendanceCode" 
                                (ngModelChange)="addUpdateStudentAttendanceModel.studentAttendance[i].attendanceCode = $event" 
                                value="{{attendance.attendanceCode1}}"  [disabled]="element.isDropped || !defaultValuesService.checkAcademicYear()" *ngIf="element.isDropped === null">
                                <div class="inline-block checkmark-container" [ngClass]="attendance.stateCode=='Present'?'present':attendance.stateCode=='Absent'?'absent':attendance.stateCode=='Half Day'?'tardy':'present'">
                                    <span class="checkmark"></span>{{showShortName?attendance.shortName:attendance.title}}
                                </div>
                            </label>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="comments" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>{{ "comments" | translate }}</th>
                    <td mat-cell *matCellDef="let element; let i = index" class="bg-white">
                        <button
                            matTooltip="{{addUpdateStudentAttendanceModel.studentAttendance[i]?.studentAttendanceComments[0].comment}}"
                            aria-label="Button that displays a tooltip when focused or hovered over"
                            [matTooltipPosition]="'left'" (click)="addComments(i)"  [disabled]="element.isDropped">
                            <i class="icon icon-bubble text-lg" [ngClass]="addUpdateStudentAttendanceModel.studentAttendance[i]?.studentAttendanceComments[0].comment?'text-green':''"></i>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="3">
                        <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <td mat-footer-cell *matFooterCellDef colspan="3">
                      {{'noData'|translate}}
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></tr>
                <tr mat-footer-row *matFooterRowDef="['noData']" [class.hidden]="scheduleStudentListViewModel.scheduleStudentForView?.length>0"></tr>       

            </table>
        </div>
        <div class="text-right p-4" *ngIf="!isSubmitButtonDisabled">
            <button color="primary" (click)="addUpdateStudentAttendance()" mat-flat-button type="submit" *ngIf="defaultValuesService.checkAcademicYear()">{{ actionButtonTitle |translate }}</button>
        </div>
    </div>
    <div class="card p-10" *ngIf="isDisabledForAttendance">
        <p class="text-center">
            <mat-icon class="text-3xl text-gray">info</mat-icon>
        </p>
        <p class="text-center">{{'thereIsNoScheduleForThisCourseSectionOnTheSelectedDayPleaseChangeTheDateToTakeViewAttendance'|translate}}.</p>
    </div>
</div>
<div class="card" *ngIf="currentComponent === 'missingAttendanceList'">
    <h4 class="p-4 text-lg">
        <span class="cursor-pointer text-blue" (click)="changeComponent('takeAttendance',null)">
            <mat-icon class="ml-1 mr-4 align-middle">west</mat-icon>
        </span>
        <span class="font-medium text-base">{{ 'missingAttendanceList' | translate }}</span>
    </h4>
    <mat-divider></mat-divider>
    <vex-missing-attendance-list (showTakeAttendance)="changeComponent('takeAttendance',true)" [courseSectionClass]="courseSectionClass"></vex-missing-attendance-list>
</div>