<form (ngSubmit)="submit()" #f="ngForm">
    <div class="search-body">
        <div class="flex justify-between px-6 py-4">
            <h4 class="font-bold">{{'advanceSearch' | translate}}</h4>
            <a (click)="hideAdvanceSearch()" class="cursor-pointer">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'identificationInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'firstGivenName'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.firstGivenName" name="firstGivenName" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'middleName'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.middleName" name="middleName" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'lastFamilyName'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.lastFamilyName" name="lastFamilyName" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'studentID'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.studentInternalId" name="studentInternalId" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'alternateID'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.alternateId" name="alternateId" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'admissionNumber'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.admissionNumber" name="admissionNumber" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'rollNumber'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.rollNumber" name="rollNumber" matInput>
                        </mat-form-field>
                    </li>
                </ul>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'demographicInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [(ngModel)]="studentMasterSearchModel.dob" name="dob" [matDatepicker]="dob">
                            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'gender'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.gender" name="gender">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let gender of genderList" [value]="gender.lovColumnValue">{{gender.lovColumnValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'race'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.race" name="race">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let race of raceList" [value]="race.lovColumnValue">{{race.lovColumnValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'ethnicity'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.ethnicity" name="ethnicity">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let ethnicity of ethnicityList" [value]="ethnicity.lovColumnValue">{{ethnicity.lovColumnValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'maritalStatus'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.maritalStatus" name="maritalStatus">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let maritalStatus of maritalStatusList" [value]="maritalStatus.lovColumnValue">
                                    {{maritalStatus.lovColumnValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'countryOfBirth'|translate}}</mat-label>
                            <mat-select [formControl]="cobCtrl" [(ngModel)]="studentMasterSearchModel.countryOfBirth" name="countryOfBirth">
                                <!-- <mat-option></mat-option> -->
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="cobFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredCOB| async" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'countryOfBirth'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.countryOfBirth"
                                name="countryOfBirth">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let country of countryListArr" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'nationality'|translate}}</mat-label>
                            <mat-select [formControl]="nationalityCtrl" [(ngModel)]="studentMasterSearchModel.nationality" name="nationality">
                                <!-- <mat-option></mat-option> -->
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="nationalityFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredNationality| async" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'nationality'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.nationality" name="nationality">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let country of countryListArr" [value]='country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'firstLanguage'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.firstLanguageId"
                                name="firstLanguageId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'secondLanguage'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.secondLanguageId"
                                name="secondLanguageId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'thirdLanguage'|translate}}</mat-label>
                            <mat-select [(ngModel)]="studentMasterSearchModel.thirdLanguageId"
                                name="thirdLanguageId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'addressInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'streetAddress1'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressLineOne" name="homeAddressLineOne" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'streetAddress2'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressLineTwo" name="homeAddressLineTwo" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'country'|translate}}</mat-label>
                            <mat-select [formControl]="countryCtrl" ngDefaultControl [(ngModel)]="studentMasterSearchModel.homeAddressCountry"  name="homeAddressCountry">
                                <mat-option>
                                    <ngx-mat-select-search  [formControl]="countryFilterCtrl" 
                                    ngxMatSelectSearchClear noEntriesFoundLabel="No matching country found" 
                                    placeholderLabel="Find country..."></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of filteredCountry| async" [value]= 'country.id'>
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'country'|translate}}</mat-label>
                        <mat-select [(ngModel)]="studentMasterSearchModel.homeAddressCountry"  name="homeAddressCountry">
                            <mat-option *ngFor="let country of countryListArr" [value]= 'country.id'>
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field> -->
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressState" name="homeAddressState" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'city'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressCity" name="homeAddressCity" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'zipPostalCode'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homeAddressZip" name="homeAddressZip" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'busNo'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.busNo" name="busNo" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-primary font-bold">
                        {{'personalContactInformation' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <ul class="grid grid-cols-2 col-gap-8">
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'homePhone'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.homePhone" name="homePhone" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'mobilePhone'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.mobilePhone" name="mobilePhone" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'personalEmail'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.personalEmail" name="personalEmail" matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{'schoolEmail'|translate}}</mat-label>
                            <input [(ngModel)]="studentMasterSearchModel.schoolEmail" name="schoolEmail" matInput>
                        </mat-form-field>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="px-6 py-4">
            <mat-slide-toggle color="primary" (change)="searchAllSchools($event)" [checked]="searchAllSchool == true"  class="mr-5" *ngIf="userType=='Super Administrator';">{{'searchAllSchools' | translate}}</mat-slide-toggle>
            <mat-slide-toggle color="primary" (change)="includeInactiveStudents($event)" [checked]="inactiveStudents">{{'includeInactiveStudents' | translate}}</mat-slide-toggle>
        </div>
    </div>
    <div class="search-toolbar py-3 px-6 text-right">
        <button color="" [disabled]="checkSearchRecord ===2" mat-button type="button" (click)="resetData()" class="mr-3"><mat-icon class="mr-2" *ngIf="checkSearchRecord ===2">
            <mat-spinner color="primary" diameter="20">
            </mat-spinner>
          </mat-icon>{{'reset' | translate}}</button>
        <button [disabled]="checkSearchRecord ===1" color="primary" mat-raised-button><mat-icon class="mr-2" *ngIf="checkSearchRecord ===1">
            <mat-spinner color="primary" diameter="20">
            </mat-spinner>
          </mat-icon>{{searchTitle | translate}}</button>
    </div>

</form>