<mat-card-content>

    <div @stagger fxLayout="column">
        <h4 class="text-blue pt-6 pb-2">{{'identificationInformation'|translate}}</h4>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'studentName' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.firstGivenName}}{{studentViewDetails?.studentMaster.middleName ? ' ' + studentViewDetails?.studentMaster.middleName : ''}} {{studentViewDetails?.studentMaster.lastFamilyName}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'preferredCommonName' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.preferredName|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'previousMaidenName' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.previousName|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'studentID' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.studentInternalId | EmtyValueCheckPipe}}
                </p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'alternateID' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.alternateId|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'districtID' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.districtId | EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'stateID' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.stateId | EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'admissionNumber' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.admissionNumber|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'rollNumber' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.rollNumber|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'socialSecurityNumber' | translate}}</label>
                <!-- <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                    {{studentViewDetails?.studentMaster.socialSecurityNumber|EmtyValueCheckPipe}}</p> -->
                <p *ngIf="studentViewDetails?.studentMaster?.socialSecurityNumber"
                    class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster?.socialSecurityNumber | ssnMask}}</p>
                <p *ngIf="!studentViewDetails?.studentMaster?.socialSecurityNumber"
                    class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">-</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'otherGovtIssuedNumber' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.otherGovtIssuedNumber|EmtyValueCheckPipe}}</p>
            </li>
        </ul>

        <hr class="-mx-4 mt-6">

        <h4 class="text-blue pt-6 pb-2">{{'demographicInformation'|translate}}</h4>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'dateOfBirth' | translate}}</label>
                <p *ngIf="studentViewDetails?.studentMaster.dob !== null"
                    class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.dob |
                    date:'mediumDate' | EmtyValueCheckPipe}}<span class="dot-separator"></span>{{'age' | translate}} :
                    {{ getAge(studentViewDetails?.studentMaster.dob)}}</p>
                <p *ngIf="studentViewDetails?.studentMaster.dob === null"
                    class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.dob |
                    date:'mediumDate' | EmtyValueCheckPipe}}</p>

            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'gender' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.gender|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'race' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.race|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'ethnicity' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.ethnicity|EmtyValueCheckPipe}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'maritalStatus' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.maritalStatus|EmtyValueCheckPipe}}
                </p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'countryOfBirth' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{nameOfMiscValues?.countryName}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'nationality' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{nameOfMiscValues?.nationality}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'firstLanguage' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{nameOfMiscValues?.firstLanguage}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'secondLanguage' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{nameOfMiscValues?.secondLanguage}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'thirdLanguage' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{nameOfMiscValues?.thirdLanguage}}</p>
            </li>
        </ul>


        <!-- <h3 class="text-blue pt-6 pb-2 px-2">{{'schoolInformation'|translate}}</h3>
        <ul class="grid grid-cols-3 col-gap-8 row-gap-10 my-2 mx-2">
            <li>
                <label class="text-sm leading-5 text-gray">{{'section' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">{{nameOfMiscValues?.sectionName}}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'estimatedGraduationDate' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                    {{studentViewDetails?.studentMaster.estimatedGradDate |date:'mediumDate' |EmtyValueCheckPipe}}</p>
            </li>
            <li class="col-span-3">
                <div class="flex items-center">
                    <div class="mr-6" *ngIf="studentViewDetails?.studentMaster.eligibility504; else NOTEligibility">
                <mat-icon [icIcon]="icCheckbox" class="inline-block align-middle mr-2"></mat-icon>
                <span class="inline-block text-base align-middle">{{'504Eligibility' |translate}}</span>
            </div>
            <ng-template #NOTEligibility>
                        <div class="mr-6">
                    <mat-icon [icIcon]="icCheckboxOutline" class="inline-block align-middle mr-2"></mat-icon>
                    <span class="inline-block text-base align-middle">{{'504Eligibility' |translate}}</span>
                </div>
            </ng-template>


                    <div class="mr-6" *ngIf="studentViewDetails?.studentMaster.economicDisadvantage; else economicadvantage">
                <mat-icon [icIcon]="icCheckbox" class="inline-block align-middle mr-2"></mat-icon>
                <span class="inline-block text-base align-middle">{{'economicDisadvantage' |translate}}</span>
            </div>
            <ng-template #economicadvantage>
                        <div class="mr-6">
                    <mat-icon [icIcon]="icCheckboxOutline" class="inline-block align-middle mr-2"></mat-icon>
                    <span class="inline-block text-base align-middle">{{'economicDisadvantage' |translate}}</span>
                </div>
            </ng-template>

                    <div class="mr-6" *ngIf="studentViewDetails?.studentMaster.freeLunchEligibility; else LunchEligibility">
                <mat-icon [icIcon]="icCheckbox" class="inline-block align-middle mr-2"></mat-icon>
                <span class="inline-block text-base align-middle">{{'freeLunchEligibility' |translate}}</span>
            </div>
            <ng-template #LunchEligibility>
                        <div class="mr-6">
                    <mat-icon [icIcon]="icCheckboxOutline" class="inline-block align-middle mr-2"></mat-icon>
                    <span class="inline-block text-base align-middle">{{'freeLunchEligibility' |translate}}</span>
                </div>
            </ng-template>

                    <div class="mr-6" *ngIf="studentViewDetails?.studentMaster.specialEducationIndicator; else nonSpecialEducationIndicator">
                <mat-icon [icIcon]="icCheckbox" class="inline-block align-middle mr-2"></mat-icon>
                <span class="inline-block text-base align-middle">{{'specialEducationIndicator' |translate}}</span>
            </div>
            <ng-template #nonSpecialEducationIndicator>
                        <div class="mr-6">
                    <mat-icon [icIcon]="icCheckboxOutline" class="inline-block align-middle mr-2"></mat-icon>
                    <span class="inline-block text-base align-middle">{{'specialEducationIndicator' |translate}}</span>
                </div>
            </ng-template>


                    <div class="mr-6" *ngIf="studentViewDetails?.studentMaster.lepIndicator; else Indicator">
                <mat-icon [icIcon]="icCheckbox" class="inline-block align-middle mr-2"></mat-icon>
                <span class="inline-block text-base align-middle">{{'lepIndicator' |translate}}</span>
            </div>
            <ng-template #Indicator>
                        <div class="mr-6">
                    <mat-icon [icIcon]="icCheckboxOutline" class="inline-block align-middle mr-2"></mat-icon>
                    <span class="inline-block text-base align-middle">{{'lepIndicator' |translate}}</span>
                </div>
            </ng-template>
                </div>
            </li>
        </ul> -->

        <vex-custom-field-without-form [schoolDetailsForViewAndEdit]="studentViewDetails" [module]="module"
            [categoryId]="categoryId" [studentCreateMode]="studentCreateMode"></vex-custom-field-without-form>
        <hr class="-mx-4 mt-6">

        <h4 class="text-blue pt-6 pb-2">{{'accessInformation'|translate}}</h4>
        <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-10">
            <li>
                <label class="text-sm leading-5 text-gray">{{'loginEmailAddress' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">{{studentViewDetails?.studentMaster.studentPortalId |EmtyValueCheckPipe }}</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'password' | translate}}</label>

                <p *ngIf="(studentViewDetails.studentMaster.studentPortalId) && (studentViewDetails.portalAccess) && (permissions?.edit)"
                    class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap"><a (click)="openResetPassword()"
                        class="text-blue cursor-pointer hover:underline">{{'resetPassword' |translate}}</a></p>

                <p *ngIf="(!studentViewDetails.studentMaster.studentPortalId) || (!studentViewDetails.portalAccess) || (!permissions?.edit)"
                    class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 whitespace-pre-wrap">-</p>
            </li>
            <li>
                <label class="text-sm leading-5 text-gray">{{'portalAccess' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 text-green whitespace-pre-wrap">{{studentViewDetails?.portalAccess ? 'Yes' : 'No'}}</p>
            </li>
            <!-- <li>
                <div class="mr-6"
                    *ngIf="studentViewDetails.studentMaster?.isActive === true || studentViewDetails.studentMaster?.isActive === null; else NotActive">
                    <mat-icon [icIcon]="icCheckboxOutline" class="inline-block align-middle mr-2"></mat-icon>
                    <span class="inline-block text-base align-middle">{{'disableStudent' |translate}}</span>
                </div>
                <ng-template #NotActive>
                    <div class="mr-6">
                        <mat-icon [icIcon]="icCheckbox" class="inline-block align-middle mr-2">
                        </mat-icon>
                        <span class="inline-block text-base align-middle">{{'disableStudent' |translate}}</span>
                    </div>
                </ng-template>
            </li> -->
            <li>
                <label class="text-sm leading-5 text-gray">{{'disableStudent' | translate}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2 text-green whitespace-pre-wrap">{{(studentViewDetails.studentMaster?.isActive === true || studentViewDetails.studentMaster?.isActive === null) ? 'No' : 'Yes'}}</p>
            </li>
        </ul>
    </div>


</mat-card-content>