<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{gradeTitle|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column" [formGroup]="form">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input cdkFocusInitial matInput formControlName="title" required>
        <mat-error *ngIf="form.get('title').hasError('whitespace')">{{'titleIsRequired'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'breakoff' | translate}}</mat-label>
        <input type="number" matInput formControlName="breakoff" required oninput="javascript: if (this.value.length > 10) this.value = this.value.slice(0, 10);" >
        <mat-error *ngIf="form.get('breakoff').hasError('required')">{{'breakoffIsRequired'|translate}}</mat-error>
        <mat-error *ngIf="form.get('breakoff').hasError('min')">{{'BreakoffCannotBeNegative'|translate}}</mat-error>

    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'weightedGPValue' | translate}}</mat-label>
        <input type="number" formControlName="weightedGpValue" matInput oninput="javascript: if (this.value.length > 5) this.value = this.value.slice(0, 5);" >
        <mat-error *ngIf="form.get('weightedGpValue').hasError('min')">{{'weightedGPValueCannotBeNegative'|translate}}
        </mat-error>

    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'unweightedGPValue' | translate}}</mat-label>
        <input type="number" formControlName="unweightedGpValue" matInput oninput="javascript: if (this.value.length > 5) this.value = this.value.slice(0, 5);" >
        <mat-error *ngIf="form.get('unweightedGpValue').hasError('min')">
            {{'unweightedGpValueCannotBeNegative'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'comment' | translate}}</mat-label>
        <input type="text" formControlName="comment" matInput>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" (click)="submit()" mat-raised-button type="submit">{{buttonType | translate}}</button>
</mat-dialog-actions>