<mat-card-content>
    <div class="max-w-screen-xl mx-auto">
        <div class="my-6">
            <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'schoolName' | translate}} </label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolName|EmtyValueCheckPipe}}
                    </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'alternateName' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.alternateName|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'schoolId' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolInternalId|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'schoolAlternateId' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolAltId|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'stateId' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolStateId|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'districtId' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDistrictId|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'schoolLevel' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolLevel|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'schoolClassification' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolClassification |EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'affiliation' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].affiliation|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'associations' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].associations|EmtyValueCheckPipe}}
                </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'lowestGradeLevel' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].lowestGradeLevel |EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'highestGradeLevel' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].highestGradeLevel |EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'dateSchoolOpened' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].dateSchoolOpened|date:'mediumDate'|EmtyValueCheckPipe}}</p>
                </li>
                <li [class.hide]="schoolViewDetails?.schoolMaster.schoolDetail[0].status!==false">
                    <label class="text-sm leading-5 text-gray">{{'dateSchoolClosed' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].dateSchoolClosed|date:'mediumDate'|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'code' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].locale|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'gender' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].gender|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'internet' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].internet|EmtyBooleanCheckPipe}} </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'electricity' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].electricity|EmtyBooleanCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'status' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">
                        <span [class.text-red]="schoolViewDetails?.schoolMaster.schoolDetail[0].status===null||schoolViewDetails?.schoolMaster.schoolDetail[0].status===''||schoolViewDetails?.schoolMaster.schoolDetail[0].status===false"
                        [class.text-green]="schoolViewDetails?.schoolMaster.schoolDetail[0].status===true">
                        {{schoolViewDetails?.schoolMaster.schoolDetail[0].status|EmtyBooleanCheckPipe:'status'}}
                    </span></p>
                </li>
                <!-- <li *ngFor="let customField of customFieldListViewModel">
                    <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{customField.customFieldsValue[0]?.customFieldValue}}</p>
                </li> -->
                
            </ul>
            <vex-custom-field-without-form  [schoolDetailsForViewAndEdit]="schoolViewDetails" [categoryId] = "categoryId" [module] = "module" [schoolCreateMode]="schoolCreateMode"></vex-custom-field-without-form>
        </div>
        <hr class="-mx-5 mt-12 mb-6">
        <div>
            <div class="flex items-center pb-4">
                <h4 class="text-blue font-medium mr-4">{{'addressInformation' | translate}} &nbsp; <span class="text-gray-light">|</span></h4>
                <a (click)="showOnGoogleMap()" class="cursor-pointer"><i class="icon icon-location4 mr-2"></i>Show on Map</a>
            </div>
            <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'streetAddress1' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.streetAddress1|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'streetAddress2' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.streetAddress2|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'city' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.city|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'county' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.county|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'division' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.division|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'stateRegionProvince' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.state|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'district' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.district|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'zipPostalCode' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.zip|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'Country' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.country|EmtyValueCheckPipe}}
                    </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'latitude' | translate}}, {{'longitude' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.latitude|EmtyNumberCheckPipe}},
                        {{schoolViewDetails?.schoolMaster.longitude|EmtyNumberCheckPipe}} </p>
                </li>
            </ul>
        </div>
        <hr class="-mx-5 mt-12 mb-6">
        <div class="pb-4">
            <div class="pb-4">
                <h4 class="text-blue font-medium">{{'contactInformation' | translate}}</h4>
            </div>
            <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 col-gap-8 row-gap-6 md:row-gap-10">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'principal' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].nameOfPrincipal|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'assistantPrincipal' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].nameOfAssistantPrincipal|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'telephone' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].telephone|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'fax' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">{{schoolViewDetails?.schoolMaster.schoolDetail[0].fax|EmtyValueCheckPipe}}</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'website' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate">
                        <a (click) = "goToWebsite()"  target="_blank"  class="text-primary cursor-pointer">
                        {{schoolViewDetails?.schoolMaster.schoolDetail[0].website|EmtyValueCheckPipe}}
                        </a>
                    </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'email' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate">
                        <a (click) = "goToEmail()" target="_blank"  class="text-primary cursor-pointer">
                            {{schoolViewDetails?.schoolMaster.schoolDetail[0].email|EmtyValueCheckPipe}}
                        </a>
                        
                    </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'twitter' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate">
                        <a (click) = "goToTwitter()"  target="_blank"  class="text-primary cursor-pointer">
                            {{schoolViewDetails?.schoolMaster.schoolDetail[0].twitter|EmtyValueCheckPipe}}
                        </a>
                       </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray ">{{'facebook' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate"><a
                        (click) = "goToFacebook()"   target="_blank"
                            class="text-primary cursor-pointer break-all">{{schoolViewDetails?.schoolMaster.schoolDetail[0].facebook|EmtyValueCheckPipe}}</a></p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'instagram' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate"><a
                        (click) = "goToInstagram()"  target="_blank"
                            class="text-primary cursor-pointer break-all">{{schoolViewDetails?.schoolMaster.schoolDetail[0].instagram|EmtyValueCheckPipe}}</a></p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'youtube' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate">
                        <a (click) = "goToYoutube()"  target="_blank"  class="text-primary cursor-pointer">
                            {{schoolViewDetails?.schoolMaster.schoolDetail[0].youtube|EmtyValueCheckPipe}}
                        </a>
                        </p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'linkedIn' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2 truncate">
                        <a (click) = "goToLinkedin()" target="_blank"  class="text-primary cursor-pointer">
                            {{schoolViewDetails?.schoolMaster.schoolDetail[0].linkedIn|EmtyValueCheckPipe}}
                        </a>
                       </p>
                </li>
            </ul>
        </div>
    </div>

</mat-card-content>