.table-sticky {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  
    table {
      width: 100%;
  
      td,
      th {
        @apply px-6;
        @apply py-1;
        white-space: nowrap;
      }
  
      th:first-child,
      .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
      }
  
      th:last-child,
      td.mat-cell:last-child {
        border-left: 1px solid #e0e0e0;
      }
      th:last-child {
        width: 24px;
      }
      td.mat-cell:last-child {
        text-align: center;
      } 
      td.mat-table-sticky {
        box-shadow: inset 0 1px 0 var(--foreground-divider);
        white-space: nowrap;
      }
    }
  }
  .custom-radios {
    display: inline-block;
  
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  
      &:checked + .checkmark-container {
  
        &.present {
          background: lighten(#4caf50, 45%);
  
          &.active {
            background-color: #4caf50;
            color: #fff;
          }
        }
  
        &.absent {
          background: lighten(#db2827, 45%);
  
          &.active {
            background-color: #db2827;
            color: #fff;
          }
        }
  
        &.tardy {
          background: lighten(#ff9800, 45%);
  
          &.active {
            background-color: #ff9800;
            color: #fff;
          }
        }
  
        .checkmark {
          display: inline-block;
          background-color: #fff;
  
          &::after {
            display: inline-block;
          }
        }
  
      }
  
    }
  
    .checkmark-container {
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: transparent;
      padding: 6px 10px 6px 35px;
      margin-right: 10px;
      border-radius: 4px;
      font-size: 15px;
  
      span.checkmark {
        position: absolute;
        top: 8px;
        left: 7px;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 50%;
  
        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 2px;
          left: 4px;
          width: 5px;
          height: 9px;
          border: solid #5c5c5c;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
  
      &.present {
  
        span.checkmark {
          border: 2px solid #4db050;
        }
  
        &.active {
  
          span.checkmark {
            border: 2px solid #fff;
          }
        }
      }
      
      &.absent {
  
        span.checkmark {
          border: 2px solid rgb(219, 40, 39);
        }
  
        &.active {
  
          span.checkmark {
            border: 2px solid #fff;
          }
        }
      }
  
      &.tardy {
  
        span.checkmark {
          border: 2px solid #fd9800;
        }
  
        &.active {
  
          span.checkmark {
            border: 2px solid #fff;
          }
        }
      }
  
    }
    
  }
  
  ::ng-deep .mat-slide-toggle-bar .mat-slide-toggle-thumb-container {
    z-index: 0;
  }