<vex-mat-spinner-overlay *ngIf="loading && forceLoaderToStop"></vex-mat-spinner-overlay>

<div class="login-bg w-full h-screen overflow-auto pb-6 md:pb-0 md:overflow-hidden md:h-full md:flex md:flex-col justify-center items-center">
  <div @fadeInUp class="w-full md:max-w-md">

    <div class="card overflow-hidden w-full">
      <div class="p-4 pb-0 px-4" fxLayout="column" fxLayoutAlign="center center">
        <div class="fill-current text-center login-logo flex items-center align-middle justify-center">
          <img src="assets/img/opensis_logo.png" alt="openSIS">
      </div>
    </div>

    <div class="datetime-container fixed bottom-10 left-10 text-white opacity-25 hidden md:block">
      <div class="text-6xl leading-tight">{{ time | async | date: 'H:mm' }}</div>
      <div class="text-2xl leading-tight">{{ time | async | date: 'fullDate'}}</div>
    </div>

      <div class="hidden md:block text-center mt-3 bg-primary-light py-1">
        <!-- <h2 class="title m-0">Welcome back</h2> -->
        <h4 class="body-2 text-primary m-0">{{'SIS'| translate}}</h4>
      </div>
  
      <form [formGroup]="form" class="px-10 py-6" fxLayout="column" (ngSubmit)="send()">
        <div fxFlex="auto" fxLayout="column">
          
            <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
              <mat-label>{{'emailAddress'|translate}}</mat-label>
                   <input  formControlName="email"  name="email"   matInput  required >

              <mat-error *ngIf="form.get('email').hasError('required')">{{'emailAddressIsRequired'|translate}}</mat-error>
              <mat-error *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('invalidEmailAddress')">{{'invalidEmailAddress'|translate}}</mat-error>            
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
              <mat-label>{{'password'|translate}}</mat-label>
              <input [type]="inputType" formControlName="password" name="user_password"   matInput required>
              <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
              </button>
              <mat-error *ngIf="form.get('password').hasError('required')">{{'passwordIsRequired'|translate}}</mat-error>
            </mat-form-field>

          <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
            <mat-label>{{'language'|translate}}</mat-label>
            <mat-select formControlName="language" matNativeControl required (selectionChange)="switchLang($event.value)">
              <mat-option *ngFor="let language of languageList" [value]="language.languageCode">
                {{language.locale}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('language').hasError('required')">{{'languageIsRequired'|translate}}</mat-error>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
            <mat-label>{{'language'|translate}}</mat-label>
            <mat-select formControlName="language" matNativeControl required (selectionChange)="switchLang($event.value)">
              <mat-option *ngFor="let language of languageList" [value]="language">
                {{language}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('language').hasError('required')">{{'languageIsRequired'|translate}}</mat-error>
          </mat-form-field> -->
        </div>
  
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
          <mat-checkbox class="caption" #inputRememberMe [checked]= "setValue" color="primary" (click)="rememberMe(inputRememberMe.checked)" class="text-sm">{{'rememberMe'|translate}}</mat-checkbox>
          <a [routerLink]="['/forgot-password']" class="caption" class="text-sm"><span
              class="text-blue-600">{{'forgotPassword'|translate}}</span></a>
        </div>
      
       
        <button color="primary" mat-raised-button type="button" class="pt-2 pb-2 login-btn" type="submit">
          {{'signIn'|translate}}
        </button>
       
    </form>    
    </div>
    <div class="pt-5 text-center text-xs text-white px-6 md:px-0">openSIS is a product of Open Solutions
      for Education, Inc. (<a href="http://www.os4ed.com" target="_blank">OS4ED</a>) and is licensed under the GNU
      AGPLv3.</div>
  </div>