<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{'addNewEffortCategory'|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">

    <mat-form-field class="w-full mt-6" appearance="outline" color="primary">
        <mat-label>{{'categoryName' | translate}}</mat-label>
        <input type="text" matInput required>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'sortOrder' | translate}}</mat-label>
        <input type="text" matInput required>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit">{{'submit' | translate}}</button>
</mat-dialog-actions>