<div class="mb-2 lg:flex lg:flex-wrap">
    <div class="lg:w-3/12 lg:pr-4">
        <mat-card class="w-full p-0" fxFlex="auto">
            <div class="px-gutter py-4">
                <h4 class="text-primary p-0 mb-4">{{'categories'|translate}}</h4>


                <div *ngFor="let fieldsCategory of fieldsCategoryList" class="mt-2 flex flex-wrap justify-between">
                    <a class="cursor-pointer" [ngClass]="{'font-bold':currentCategoryId === fieldsCategory.categoryId}" (click)="selectCategory(fieldsCategory)">{{fieldsCategory.title}} </a>
                    <div *ngIf="!fieldsCategory.isSystemCategory">
                        <a class="cursor-pointer mr-3" (click)="editFieldCategory(fieldsCategory)"><mat-icon [icIcon]="icEdit"></mat-icon></a>
                        <a class="cursor-pointer" (click)="confirmDeleteFieldCategory(fieldsCategory)"><mat-icon [icIcon]="icDelete"></mat-icon></a>
                    </div>
                </div>
                <hr class="my-3"/>
                <button color="" class="w-full text-primary" mat-button type="button"
                    (click)='goToAddCategory()'>
                    <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                        size="24px">
                    </ic-icon>
                    <span>{{'addNewCategory'|translate}}</span>
                </button>
            </div>
        </mat-card>
    </div>
    <div class="lg:w-9/12 lg:pl-4">
        <mat-card class="w-full p-0" fxFlex="auto">
            <div class="bg-white px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="flex w-full justify-between">
                    <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center">

                        <div class="flex">
                            <input
                            matInput
                            [(ngModel)]="searchKey"
                            (keyup)="applyFilter()"
                            class="py-3 border-0 outline-none w-full bg-transparent"
                            appearance="outline" color="primary"
                             placeholder="Search..."
                            type="search">
                            <button mat-button matSuffix mat-icon-button aria-label="clear"
                            *ngIf="searchKey"
                            (click)="onSearchClear()">
                            <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxFlex="200px" class="pt-3">
                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="Filter Columns" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>

                        <button color="primary" class="ml-4" fxFlex="none" mat-raised-button type="button"
                            (click)='goToAdd()'>
                            <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                                size="24px">
                            </ic-icon>
                            <span>{{'addNewField'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <table @stagger mat-table [dataSource]="customFieldList" class="mat-elevation-z8 table-auto w-full"
                matSort>
                
                <!-- <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase"></th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.type === 'Default'; else elseBlock" class="text-gray">{{element.type}}</span>
                        <ng-template #elseBlock><span class="text-green">{{element.type}}</span></ng-template>
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="field_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'fieldName'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.title}}
                    </td>
                </ng-container>

                <!-- Body -->
                <ng-container matColumnDef="sortOrder">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'sortOrder'|translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.sortOrder}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="field_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'fieldType'|translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.type}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="selectOptions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'selectOptions'|translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.selectOptions|EmtyValueCheckPipe}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="required">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'required'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.required|EmtyBooleanCheckPipe}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="inUsed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'inUse'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.hide|EmtyBooleanCheckReversePipe}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="systemField">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'systemField'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.systemField|EmtyBooleanCheckPipe}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="uppercase">{{'action'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <span *ngIf="element.type === 'Custom'"> -->
                        <a class="mr-3 cursor-pointer" (click)="openEditdata(element)">
                            <mat-icon [icIcon]="icEdit"></mat-icon>
                        </a>
                        <a class="cursor-pointer"(click)="confirmDelete(element)">
                            <mat-icon [icIcon]="icDelete"></mat-icon>
                        </a>
                        <!-- </span> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                    </mat-footer-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>
                <mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></mat-footer-row>

            </table>
            <!-- <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]"
                showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator> -->


            <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
                    class="checkbox-item mat-menu-item">
                    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                        {{column.label}}
                    </mat-checkbox>
                </button>
            </mat-menu>
        </mat-card>
    </div>
</div>