<!-- <vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="Input Effort Grades" class="w-full">
            <vex-breadcrumbs [crumbs]="[pageStatus]" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header> -->

    <!-- <vex-page-layout-content class="-mt-6"> -->
        <div class="card overflow-auto">
            <div>
                <h4 class="font-medium px-6 py-4">{{ "selectATeacher" | translate }}</h4>
            </div>
            <mat-divider class=""></mat-divider>
                <vex-common-staff-list [parentComponent]="'inputEffortGrage'"></vex-common-staff-list>
        </div>
        <!-- <vex-effort-grade-details *ngIf="pageInit === 2"></vex-effort-grade-details> -->
    <!-- </vex-page-layout-content>
</vex-page-layout> -->
