<form (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{'subjects'|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column" class="p-0">
        <!-- Table Header -->

        <div class="flex my-3 px-6" *ngIf ="subjectList.length>0">
            <div class="w-3/4 pr-4 font-bold">{{'subjectName'|translate}}</div>
            <div class="w-1/4 font-bold">{{'actions'|translate}}</div>
        </div>
        <hr/>
        <!-- Table Body -->

        <div class="flex my-3 px-6 items-center" *ngFor="let subject of subjectList;let index=index">
            
            <div  [hidden]="hideDiv[index]" class="w-3/4 pr-4">{{subject.subjectName}}</div> 
            <div *ngIf="permissions?.edit" class="w-3/4 pr-4" [hidden]="hideinput[index]">
                <input type="text" [(ngModel)]="updateSubjectModel.subjectList[index].subjectName" [hidden]="hideinput[index]"  name="{{'subjectName'+index}}"  placeholder="Subject Name" class="border rounded p-3 w-full box-border focus:border-0 focus:border-none focus:outline-none border-gray-light"> 
            </div>
                     
            <div class="w-1/4">
                <a *ngIf="permissions?.edit" (click)="updateSubject(subject,index)" [hidden]="hideDiv[index]" matTooltip="Edit Info" class="mr-3 cursor-pointer">
                    <mat-icon [icIcon]="icEdit"></mat-icon>
                </a>
                <a (click)="confirmDelete(subject)" *ngIf="permissions?.edit" [hidden]="hideDiv[index]" matTooltip="Delete Info" class="mr-3 cursor-pointer">
                    <mat-icon [icIcon]="icDelete"></mat-icon>
                </a>
            </div>
        </div>
      
        <hr/>
        <form (ngSubmit)="update.form.valid && submit()" #update="ngForm" novalidate>
            <div *ngIf="permissions?.edit" class="flex my-3 px-6 items-center">
                <div class="w-3/4 pr-4">
                    <input type="text"  [(ngModel)]="addSubjectModel.subjectList[0].subjectName" name="subjectName"  #subjectName="ngModel"  placeholder="Subject Name" class="border rounded p-3 w-full box-border focus:border-0 focus:border-none focus:outline-none border-gray-light">                   
                </div>
                <div class="w-1/4">
                    <mat-icon [icIcon]="icAdd"></mat-icon>
                </div>
            </div>
        </form>
        <hr/>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
        <button *ngIf="permissions?.edit" color="primary" mat-raised-button type="submit">{{'submit' | translate}}</button>
    </mat-dialog-actions>
</form>