<div *ngIf="!isNotGraded" class="card">
    <!-- Start Add New Assignment Type -->
    <div class="py-24 px-6 text-center" *ngIf="!assignmentModel?.assignmentTypeList?.length;else showTable">
        <mat-icon class="text-4xl">info</mat-icon>
        <h4 class="text-lg mb-4">{{ 'no' | translate }} <span class="font-semibold">{{ 'assignmentType' | translate }}</span> {{ 'found' | translate }}</h4>
        <button mat-flat-button color="primary" (click)="addEditAssignmentType()" *ngIf="defaultValueService.checkAcademicYear()"><mat-icon class="mr-2">add</mat-icon>{{ 'addNewAssignmentType' | translate }}</button>
    </div>
    <!-- End Add New Assignment Type -->
    <ng-template #showTable>

    <div class="mb-2 lg:flex lg:flex-wrap">
        <div class="lg:w-3/12 assignment-left">
            <div class="mb-4 lg:mb-0">
                <div class=" px-4 py-2">
                    <h4 class="font-semibold">{{ 'assignmentType' | translate }}</h4>
                    <p *ngIf="isWeightedSection" class="text-gray font-medium">{{ 'total' | translate }} : <span [ngClass]="(assignmentModel?.totalWeightage===100)?'text-green':'text-warn'">{{assignmentModel?.totalWeightage}}%</span> /
                        100%</p>
                </div>
                <ng-container *ngFor="let assignmentType of assignmentModel?.assignmentTypeList">

                <div (click)="changeAssignmentType(assignmentType)" [ngClass]="assignmentType==selectedAssignmentType?'text-blue bg-base':'cursor-pointer'" class="flex items-center justify-between px-4 py-3">
                    <p class="text-base">{{assignmentType.title}}</p>
                    <div class="flex items-center">
                        <p *ngIf="isWeightedSection" class="text-black font-medium">{{assignmentType.weightage}}%</p>
                        <button mat-button [matMenuTriggerFor]="beforeMenu" class="min-w-0 p-0 ml-2" *ngIf="defaultValueService.checkAcademicYear()">
                            <mat-icon class="align-middle cursor-pointer">more_vert</mat-icon>
                        </button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="addEditAssignmentType(assignmentType)">{{ 'editAssignmentType' | translate }}</button>
                            <button mat-menu-item (click)="confirmAssignmentTypeDelete(assignmentType)">{{ 'deleteAssignmentType' | translate }}</button>
                        </mat-menu>
                    </div>
                </div>
            </ng-container>
                <div class="w-full px-4 py-2 mb-4">
                    <button mat-flat-button color="primary" class="w-full" (click)="addEditAssignmentType()" *ngIf="defaultValueService.checkAcademicYear()">
                        <mat-icon class="mr-2">add</mat-icon>{{ 'createAssignmentType' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <hr class="block lg:hidden"/>
        <div class="lg:w-9/12 px-4 py-4 assigment-right lg:border-l">
            <div class="flex items-center justify-between">
                <div class="flex flex-col">
                    <h3 class="text-blue text-xl mb-2">{{selectedAssignmentType.title}}</h3>
                    <p *ngIf="isWeightedSection" class="flex items-center">{{ 'weightPercent' | translate }} : {{selectedAssignmentType.weightage}}% <span
                            class="mx-4 inline-block w-1 h-1 bg-gray rounded"></span> {{ 'percentTotal' | translate }} :
                        100% </p>
                </div>
                <div *ngIf="defaultValueService.checkAcademicYear()">
                    <mat-icon (click)="addEditAssignmentType(selectedAssignmentType)" [icIcon]="icEdit" class="mr-3 cursor-pointer"></mat-icon>
                    <mat-icon (click)="confirmAssignmentTypeDelete(selectedAssignmentType)" [icIcon]="icDeleteForever" class="cursor-pointer"></mat-icon>
                </div>
            </div>
            <mat-divider class="-mx-4 my-4"></mat-divider>
            <div class="flex items-center justify-between mb-4">
                <h4 class="text-green font-semibold">{{ 'assignments' | translate }}</h4>
                <button mat-flat-button color="primary" (click)="addEditAssignment()" *ngIf="defaultValueService.checkAcademicYear()">
                    <mat-icon class="mr-2">add</mat-icon>{{ 'createAssignment' | translate }}
                </button>
            </div>
            <div class="border overflow-x-auto overflow-y-hidden rounded mb-2">
                <table class="w-full schedule-table">
                    <thead>
                        <tr>
                            <th>{{ "title" | translate }}</th>
                            <th>{{ "points" | translate }}</th>
                            <th>{{ "assignedDate" | translate }}</th>
                            <th>{{ "dueDate" | translate }}</th>
                            <th *ngIf="defaultValueService.checkAcademicYear()">{{ "action" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let assignment of selectedAssignmentType?.assignment">
                            <tr>
                                <td class="text-blue cursor-pointer" (click)="viewDetails(assignment)">{{assignment.assignmentTitle}}</td>
                                <td>{{assignment.points}}</td>
                                <td>{{assignment.assignmentDate | date:'mediumDate'}}</td>
                                <td>{{assignment.dueDate | date:'mediumDate'}}</td>
                                <td *ngIf="defaultValueService.checkAcademicYear()">
                                    <mat-icon [icIcon]="icEdit" matTooltip="{{ 'edit' | translate }}"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'" class="mr-2 cursor-pointer" (click)="addEditAssignment(assignment)"></mat-icon>
                                    <mat-icon [icIcon]="icDelete" matTooltip="{{ 'delete' | translate }}"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'" (click)="confirmDeleteAssignment(assignment)" class="cursor-pointer mr-2">
                                    </mat-icon>
                                    <mat-icon [icIcon]="icFileCopy" matTooltip="{{ 'copyAssignmentToOtherSectionsOfThisCourse' | translate }}"
                                    aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'above'" (click)="copyAssignment(assignment)" class="cursor-pointer"></mat-icon>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!selectedAssignmentType?.assignment?.length">
                            <td colSpan="5" class="text-center">{{'noData' | translate}}</td>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>

</div>

<div *ngIf="isNotGraded" class="overview-content not-graded md:w-7/12 m-auto card p-10 py- md:p-20 text-center">
    <img src="assets/img/access_denied.svg" alt="Access Denied Icon" class="inline-block mb-5 md:my-10">
    <p class="text-lg text-red leading-relaxed mb-5 md:mb-10"><span>{{ 'youCannotAccess' | translate }}</span><span class="font-semibold mx-1">{{ 'assignments' | translate }}</span><span>{{ 'becauseTheGradeScaleForTheCourseSectionIsNotSet' | translate }}</span></p>
</div>