.schedule-table {
  tr {
    td,
    th {
      @apply border-b;
      border-color: rgba(0, 0, 0, 0.1);
      @apply px-6;
      @apply py-2;
    }
    th {
      text-align: left;
    }
    th:last-child,
    td:last-child {
      text-align: center;
    }
  }
}
.assignment-left,
.assignment-right {
  height: 360px;
  overflow-x: auto;
}
