<div class="card">
    <div class="custom-tabs">
        <ul class="flex border-b">
            <li [ngClass]="activeLink =='standardGrades' ? 'active' : ''"><a (click)="updateActiveLink('standardGrades')"
                class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'standardGrades'|translate}}</a>
            </li>
            <li [ngClass]="activeLink =='schoolSpecificStandards' ? 'active' : ''"><a (click)="updateActiveLink('schoolSpecificStandards')"
                class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'schoolSpecificStandards'|translate}}</a>
             </li>
            <li [ngClass]="activeLink =='usCommonCoreStandards' ? 'active' : ''"><a (click)="updateActiveLink('usCommonCoreStandards')"
                    class="cursor-pointer px-6 py-4 inline-block hover:bg-skyblue-light">{{'usCommonCoreStandards'|translate}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="activeLink === 'usCommonCoreStandards'">
        <vex-us-common-core-standards></vex-us-common-core-standards>
    </div>

    <div *ngIf="activeLink === 'schoolSpecificStandards'">
        <vex-school-specific-standards></vex-school-specific-standards>
    </div>

    <div *ngIf="activeLink === 'standardGrades'">
        <vex-standard-grades></vex-standard-grades>
    </div>
</div>