<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">CCSS.Math.Content.K.CC.A.1</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <ul class="grid grid-cols-1 md:grid-cols-2 md:col-gap-8 row-gap-6 md:row-gap-10 mt-6">
        <li>
            <label class="text-sm leading-5 text-gray">{{'subject' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Mathematics</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'course' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">General Maths</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'gradeLevel' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Kindergarten</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'domain' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Counting and Cardinality</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'topic' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Know number names and the count sequence.</p>
        </li>
        <li>
            <label class="text-sm leading-5 text-gray">{{'standardRefNo' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">CCSS.Math.Content.K.CC.A.1</p>
        </li>
        <li class="col-span-1 md:col-span-2">
            <label class="text-sm leading-5 text-gray">{{'standardDetails' | translate}}</label>
            <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Count to 100 by ones and by tens.</p>
        </li>
    </ul>  
</mat-dialog-content>