<vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
<div class="mb-2 lg:flex lg:flex-wrap px-6 py-4">
    <div class="lg:w-3/12 lg:pr-4 mb-6 lg:mb-0">
        <div class="py-4 border rounded">
            <h4 class="px-4 mb-4">{{'gradeScale'|translate}}</h4>
            <hr />

            <div *ngFor="let gradeScale of gradeScaleList">
                <div class="flex items-center justify-between px-4 py-3 bg-skyblue-light text-blue"
                    [ngClass]="{'bg-skyblue-light text-blue':currentGradeScaleId==gradeScale.gradeScaleId}">
                    <a (click)="selectGradeScale(gradeScale)" class="cursor-pointer">{{gradeScale.gradeScaleName}}</a>
                    <div>
                        <a *ngIf="permissions?.edit && this.defaultValuesService.checkAcademicYear()" class="cursor-pointer mr-3" (click)="editGradeScale(gradeScale)">
                            <mat-icon [icIcon]="icEdit"></mat-icon>
                        </a>
                        <a *ngIf="permissions?.edit && this.defaultValuesService.checkAcademicYear()" [ngClass]="(gradeScale?.hideDeleteButton)?'disabled':''" class="cursor-pointer"
                            (click)="confirmDeleteGradeScale(gradeScale)">
                            <mat-icon [icIcon]="icDelete"></mat-icon>
                        </a>
                    </div>
                </div>
                <hr />
            </div>

            <hr class="mb-3" />
            <div class="text-center px-4" *ngIf="addCategory; else elseBlock">
                <h4 class="text-green">{{effortCategoryTitle|translate}}</h4>
                <form [formGroup]="form">
                    <mat-form-field class="w-full mt-1" appearance="outline" color="primary">
                        <mat-label>{{'gradeScaleName' | translate}}</mat-label>
                        <input type="text" formControlName="gradeScaleName" matInput required>
                        <mat-error *ngIf="form.get('gradeScaleName').hasError('whitespace')">
                            {{'gradeScaleNameIsRequired'|translate}}</mat-error>
                    </mat-form-field>

                    <div class="flex">
                        <div class="w-1/2 pr-2">
                            <button color="primary" class="w-full" (click)="submit()" mat-raised-button type="button">
                                {{buttonType|translate}}
                            </button>
                        </div>
                        <div class="w-1/2 pl-2">
                            <button color="" mat-button class="w-full" type="button" (click)='closeAddCategory(this.gradeName)'>
                                {{'cancel'|translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ng-template #elseBlock>
                <div class="text-center">
                    <button *ngIf="permissions?.add && this.defaultValuesService.checkAcademicYear()" class="w-full text-primary" mat-button type="button"
                        (click)='goToAddCategory()'>
                        <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
                        </ic-icon>
                        <span>{{'addGradeScale'|translate}}</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="lg:w-9/12" *ngIf="gradeScaleList.length !== 0">
        <div class=" border rounded">
            <div class="bg-white px-4 md:h-16 border-b sticky left-0 pb-4 md:pb-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="md:flex w-full justify-between">
                    <div class="py-2" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center">

                        <div class="flex">
                            <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()"
                                class="py-3 border-0 outline-none w-full bg-transparent" appearance="outline"
                                color="primary" placeholder="Search..." type="search">
                            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                                (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                                <mat-icon [icIcon]="icSearch"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <hr class="-mx-3 block md:inline-block" />

                    <div fxFlex="200px" class="pt-3">
                        <a (click)="exportToExcel()" class="cursor-pointer p-1 mt-1 inline-block align-middle"
                            matTooltip="Export to Excel"><i class="icon icon-file-excel text-lg"></i></a>
                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="Filter Columns" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>
                        <button *ngIf="permissions?.add && this.defaultValuesService.checkAcademicYear()" color="primary" [disabled]="gradeScaleList==null" class="ml-4"
                            fxFlex="none" mat-raised-button type="button" (click)="addGrade()">
                            <ic-icon [icon]="icAdd" class="" inline="true" size="24px">
                            </ic-icon>
                            <span class="ml-2 hidden md:inline-block">{{'addNewGrade'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto overflow-y-hidden">
                <table @stagger mat-table [dataSource]="gradeList" class="table-auto w-full" cdkDropList
                    (cdkDropListDropped)="drop($event)">

                    <ng-container matColumnDef="id" sticky>
                        <th mat-header-cell *matHeaderCellDef width="40"></th>
                        <td mat-cell *matCellDef="let element" width="40">
                            <mat-icon class="cursor-move" cdkDragHandle>reorder</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>{{'title'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.title}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="comment">
                        <mat-header-cell *matHeaderCellDef>{{'description'|translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.comment}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <mat-header-cell *matHeaderCellDef>
                            <ng-container *ngIf="this.defaultValuesService.checkAcademicYear()">
                                {{'action' | translate}}
                            </ng-container>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a *ngIf="permissions?.edit && this.defaultValuesService.checkAcademicYear()" matTooltip="Edit Info" class="mr-3 cursor-pointer"
                                (click)="editGrade(element)">
                                <mat-icon [icIcon]="icEdit"></mat-icon>
                            </a>
                            <a *ngIf="permissions?.edit && this.defaultValuesService.checkAcademicYear()" matTooltip="Delete Info" (click)="confirmDeleteGrade(element)"
                                class="mr-3 cursor-pointer">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef colspan="4">
                            {{loading?('fetchingData' | translate):('noData' | translate) }}
                        </td>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                    <mat-row cdkDrag *matRowDef="let row; columns: visibleColumns" @fadeInUp></mat-row>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="totalCount!==0"></tr>
                </table>
            </div>

            <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
                    class="checkbox-item mat-menu-item">
                    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                        {{column.label}}
                    </mat-checkbox>
                </button>
            </mat-menu>
        </div>
    </div>
</div>