.select-dropdown,
.select-dropdown * {
  position: relative;
}
.select-dropdown {
  position: relative;
  background-color: #fff;
  border: 1px solid#ececec;
  border-radius: 4px;
  select {
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    padding: 6px 24px 6px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

.hide {
  display: none;
}

.table-search {
  width: 70px;
  transition: all 0.3s ease;

  @media (max-width: 767.98px){
      width: calc(100% - 92px);
  }

  &:focus {
    width: 180px;

    @media (max-width: 767.98px){
        width: calc(100% - 92px);
    }
  }
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
