<vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>

<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="{{ 'reportCards' }}" class="w-full">
            <vex-breadcrumbs [crumbs]="['grades']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content class="-mt-6">
        <div class="-mt-16">
            <div class="w-full p-0">
                <div [class.hidden]="pdfData">
                    <div class="card px-6 py-4 mb-8">
                        <h4 class="text-green font-medium mb-2">{{ "selectReportCardTemplate" | translate }}</h4>
                        <div class="mb-4">
                            <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 col-gap-4 row-gap-2">
                                <li>
                                    <mat-form-field class="w-full m-0" appearance="outline" color="primary">
                                        <mat-label>{{ "reportCardTemplate" | translate }}</mat-label>
                                        <mat-select [(ngModel)]="addReportCardPdf.templateType">
                                            <mat-option *ngFor="let reportType of reportCardType"
                                                [value]="reportType.reportCardType">
                                                {{reportType.reportCardTypeName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </li>
                            </ul>
                        </div>
                        <h4 class="text-green font-medium mb-2">{{ "includeOnReportCard" | translate }}</h4>
                        <div class="mb-2">
                            <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="addReportCardPdf.standardGrade">
                                <mat-radio-button [value]="true">{{'standardsGrade' | translate}}</mat-radio-button>
                                <mat-radio-button [value]="false" style="margin-left: 10px;" *ngIf="defaultValuesService.getUserMembershipType() !== profiles.Teacher">{{'effortGrade' | translate}}</mat-radio-button>
                              </mat-radio-group> <br><br>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary"
                                [(ngModel)]="addReportCardPdf.teacherName">
                                {{ "teacherName" | translate}}
                            </mat-slide-toggle>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary">
                                {{ "signatureLine" | translate}}
                            </mat-slide-toggle>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary"
                                [(ngModel)]="addReportCardPdf.teacherComments">
                                {{ "teacherComments" | translate}}
                            </mat-slide-toggle>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary"
                                [(ngModel)]="addReportCardPdf.parcentage">
                                {{ "percentage" | translate}}
                            </mat-slide-toggle>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary" [(ngModel)]="addReportCardPdf.gpa">
                                {{ "gpa" | translate}}
                            </mat-slide-toggle>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary"
                                [(ngModel)]="addReportCardPdf.yearToDateDailyAbsences" *ngIf="this.addReportCardPdf.templateType==='default'">
                                {{ "yearToDateDailyAbsences" | translate}}
                            </mat-slide-toggle>
                            <mat-slide-toggle class="mr-4 mb-2" color="primary"
                                [(ngModel)]="addReportCardPdf.dailyAbsencesThisMarkingPeriod" *ngIf="this.addReportCardPdf.templateType==='default'">
                                {{ "dailyAbsencesThisMarkingPeriod" | translate}}
                            </mat-slide-toggle>
                            <span class="inline-block">
                                <mat-slide-toggle class="mr-4 mb-2" color="primary"
                                    [(ngModel)]="addReportCardPdf.otherAttendanceCodeYearToDate" *ngIf="this.addReportCardPdf.templateType==='default'">
                                    {{ "otherAttendanceCodeYearToDate" | translate}}
                                </mat-slide-toggle>
                                <div class="select-dropdown inline-block" *ngIf="this.addReportCardPdf.templateType==='default'">
                                    <select>
                                        <option value="na" selected>EA(Excused Absence)</option>
                                    </select>
                                </div>
                            </span>
                        </div>
                        <h4 class="text-green font-medium mb-2">{{ "markingPeriods" | translate }}</h4>
                        <div class="mb-4">
                            <mat-checkbox color="primary" (change)="markingPeriodChecked($event, markingPeriod)"
                                *ngFor="let markingPeriod of markingPeriodList" class="mr-6">{{markingPeriod?.fullName}}
                            </mat-checkbox>
                            <mat-error *ngIf="markingPeriodError">Please select any marking period.</mat-error>
                        </div>
                    </div>
                    <div class="card mb-8">
                        <h4 class="px-6 py-4 text-primary font-medium">{{ "selectstudents" | translate }}</h4>
                        <mat-divider></mat-divider>
                        <div class="bg-white px-6 py-2 border-b sticky left-0" fxLayout="row"
                            fxLayoutAlign="start center">
                            <div class="lg:flex w-full justify-between">
                                <div class="flex items-center">
                                    <input class="py-3 border-0 outline-none w-full bg-transparent table-search"
                                        appearance="outline" color="primary" [formControl]="searchCtrl"
                                        placeholder="Search..." type="search">
                                        <img *ngIf="loading" src="assets/img/icons/loading-process.svg" class="animate-spin w-5" alt="Loader icon">
                                        <button *ngIf="!loading" class="ml-4" mat-icon-button type="button">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    <a class="lg:w-full text-primary cursor-pointer ml-3"
                                        (click)="showAdvanceSearchPanel = true;">
                                        <mat-icon aria-hidden="false" class="mr-0 lg:mr-2 align-middle">tune</mat-icon>
                                        <span class="hidden lg:inline-block">{{'advanceSearch' | translate}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="overflow-x-auto overflow-y-hidden">
                            <table @stagger mat-table [dataSource]="StudentModelList"
                                class="mat-elevation-z8 shadow-none" matSort>
                                <ng-container matColumnDef="studentSelected">
                                    <th [class.hide]="totalCount==0" mat-header-cell *matHeaderCellDef width="1%">
                                        <mat-checkbox color="primary" #masterCheckBox [indeterminate]="someComplete()"
                                            (change)="setAll($event.checked)"></mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox color="primary" [checked]="doCheck(element.studentId)"
                                            (change)="selectedStudent(element.studentId, $event)"></mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="studentName">
                                    <th mat-header-cell *matHeaderCellDef>{{ "studentName" | translate }}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <a class="text-blue">{{element.firstGivenName}} {{element.middleName
                                            ? " "+element.middleName:''}}{{element.lastFamilyName}}</a>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="studentId">
                                    <th mat-header-cell *matHeaderCellDef>{{ "studentId" | translate }}</th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.studentInternalId | EmtyValueCheckPipe}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="alternateId">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'alternateId' | translate }}</th>
                                    <td mat-cell *matCellDef="let element">{{ element.alternateId | EmtyValueCheckPipe}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="gradeLevelTitle">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'gradeLevel' | translate }}</th>
                                    <td mat-cell *matCellDef="let element">{{ element?.gradeLevelTitle
                                        | EmtyValueCheckPipe}}</td>
                                </ng-container>
                                <ng-container matColumnDef="section">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'section' | translate }}</th>
                                    <td mat-cell *matCellDef="let element">{{ element.sectionName | EmtyValueCheckPipe}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="homePhone">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'phone' | translate }}</th>
                                    <td mat-cell *matCellDef="let element">{{ element.homePhone | EmtyValueCheckPipe}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="invalidsearct">
                                    <td mat-footer-cell *matFooterCellDef colspan="7">
                                        {{'noRecordFoundAsPerYourSearchCriteriaDotPlease' |translate}} <a
                                            class="cursor-pointer text-blue underline"
                                            (click)="resetStudentList()">{{'clickHere'|translate}}</a> {{'toReset'|translate}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="noData">
                                    <td mat-footer-cell *matFooterCellDef colspan="7">
                                        {{loading?('fetchingData' | translate):('noData' | translate) }}
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                <tr mat-footer-row *matFooterRowDef="['invalidsearct']"
                                    [class.hide]="(searchCount !== 0)|| searchCount == null"></tr>
                                <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="totalCount != null"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="totalCount" [class.hide]="totalCount==0" [pageSize]="pageSize"
                            [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'>
                        </mat-paginator>
                        <div class="text-right p-4">
                            <button color="primary" mat-raised-button type="submit" (click)="generateReportCard()">
                                {{ 'generateReportCardForSelectedStudents' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card " *ngIf="pdfData">
                    <div class="p-4">
                        <a class="cursor-pointer" (click)="backToList()">
                            <mat-icon color="primary" class="ml-2 mr-4 align-middle">west</mat-icon>
                        </a>
                    </div>
                    <!-- <ngx-doc-viewer [url]="'data:application/pdf;base64,' +  this.pdfData.reportCardPdf" viewer="pdf"
                        style="width:100%;height:93vh;">
                    </ngx-doc-viewer> -->

                    <ngx-doc-viewer [url]="this.pdfData.reportCardPdf" viewer="pdf"
                        style="width:100%;height:93vh;">
                    </ngx-doc-viewer>
                </div>
            </div>


        </div>

        <div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="showAdvanceSearchPanel">
            <div class="advance-search-panel absolute bg-white w-full sm:w-4/6 md:w-3/6 lg:w-2/6 h-full z-20"
                @fadeInRight>
                <vex-search-student (searchList)="getSearchResult($event)" [filterJsonParams]="filterJsonParams"
                    [incomingSearchValue]="searchValue" (toggelValues)="getToggleValues($event)"
                    [incomingToggleValues]="toggleValues" (showHideAdvanceSearch)="hideAdvanceSearch($event)"
                    (searchValue)="getSearchInput($event)" (teacherFilterSearchValue)="getTeacherSearchInput($event)"></vex-search-student>
            </div>
            <div class="advance-search-backdrop bg-black opacity-50 fiexd top-0 left-0 w-full h-full z-10"></div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<!-- <button (click)="generateReportPDF()">Generate Report-card</button> -->
<ng-container *ngIf="addReportCardPdf?.templateType !== 'default'">

<div class="pdf-class hidden" id="printSectionId">
    <div class="report-card" *ngFor="let grade of generatedReportCardData?.studentsReportCardViewModelList">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="report-card-header" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <div class="float-left"> <img [src]=" grade?.schoolLogo ? 'data:image/jpeg;base64,' + grade?.schoolLogo : 'assets/img/profilePic.jpg'" alt="School Logo">
                                </div>
                            </td>
                            <td>
                                <div class="header-middle text-center">
                                    <h2 class="text-uppercase">{{'studentReportCard' | translate | uppercase }}</h2>
                                    <p class="text-center">{{grade?.schoolName}}</p>
                                </div>
                            </td>
                            <td class="header-right">
                                <div>
                                    <p>SY {{generatedReportCardData?.academicYear-1}} - {{generatedReportCardData?.academicYear}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="student-info-header">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="70%">
                                <div class="info-left float-left">
                                    <h2><span class="title">Student
                                            Name</span> : <span>{{grade?.firstGivenName}} {{grade?.lastFamilyName}}</span></h2>
                                    <h2><span class="title">Student ID</span> : <span>{{grade?.studentInternalId}}</span></h2>
                                    <h2>
                                        <span class="title">Gender</span> : <span>{{grade?.gender}}</span>
                                    </h2>
                                    <h2><span class="title">Address</span> : <span>
                                        {{grade?.homeAddressLineOne ? grade?.homeAddressLineOne : ''}}{{grade?.homeAddressLineTwo ? ', '+grade?.homeAddressLineTwo : ''}}{{grade?.homeAddressCity ? ', '+grade?.homeAddressCity : ''}}{{grade?.homeAddressState ? ', '+grade?.homeAddressState : ''}}{{grade?.homeAddressZip ? ', '+grade?.homeAddressZip : ''}}{{grade?.homeAddressCountry ? ', '+grade?.homeAddressCountry : ''}}
                                    </span></h2>
                                </div>
                            </td>
                            <td width="30%">
                                <div class="info-left info-right">
                                    <h2><span class="title">{{'markingPeriod' |translate}}</span> : <span>{{grade?.markingPeriodDetailsForOtherTemplates?.length > 1 ? ('multiple'|translate) : grade?.markingPeriodDetailsForOtherTemplates[0]?.markingPeriodShortName}}</span></h2>
                                    <h2><span class="title">{{'gradeLevel' |translate}}</span> : <span>{{grade?.gradeTitle}}</span></h2>
                                    <h2><span class="title">{{'section' |translate}}</span> : <span>{{grade?.section}}</span></h2>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="semester-table">
                    <table>
                        <thead>
                            <tr>
                                <th>{{'course' | translate}}</th>
                                    <th *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates">{{markingPeriodDetails?.markingPeriodShortName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let courseSection of grade?.courseSectionGradeDetailsForOtherTemplates">
                                <td>{{courseSection?.courseSectionName}}</td>
                                <td *ngFor="let percentageAndGrade of courseSection?.percentageAndGrade">{{percentageAndGrade?.grade}} {{percentageAndGrade?.percentage ? '(' + percentageAndGrade?.percentage + ')' : ''}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="semester-table">
                    <table>
                        <thead>
                            <tr>
                                <th>{{'attendance'|translate}}</th>
                                <th *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates">{{markingPeriodDetails?.markingPeriodShortName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attendanceDetails of grade?.attendanceDetailsForOtherTemplates">
                                <td>{{attendanceDetails?.attendanceTitle}}</td>
                                <td *ngFor="let attendance of attendanceDetails?.attendance">{{attendance?.attendanceCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td *ngIf="addReportCardPdf?.templateType === 'chuuk'" class="semester-table">
                    <table class="behavior-subtable">
                        <caption>
                            <h2><b>{{'behavior'|translate}} - {{addReportCardPdf?.templateType | titlecase}}</b>
                            </h2>
                        </caption>
                        <thead>
                            <tr>
                                <th>{{'departmentBehavior'|translate}}</th>
                                <th *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates">{{markingPeriodDetails?.markingPeriodShortName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{'respectForTeachers' | translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                                <!-- <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                </td> -->
                            </tr>
                            <tr>
                                <td>{{'respectForClassmates'|translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'completeOfWork'|translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'careOfProperty'|translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'cooperation'|translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'followInstruction'|translate}}
                                </td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'neetnessOfWork'|translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>
                                    {{'attendance'|translate}}</td>
                                    <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf="addReportCardPdf?.templateType === 'kosrae'" class="semester-table">
                    <table class="behavior-subtable">
                        <caption>
                            <h2><b>{{'behavior'|translate}} - {{addReportCardPdf?.templateType | titlecase}}</b>
                            </h2>
                        </caption>
                        <thead>
                            <tr>
                                <th>{{'attendanceAndCitizenship'|translate}}</th>
                                <th *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates">{{markingPeriodDetails?.markingPeriodShortName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pihsen Lwen Lutlut - Instructional Days</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Monglac Ke Srihpac Wo - Excused Absents</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Monglac Tia Wo - Unexcused Absents</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Lutlut Tahfuhn Lwen - Present Half Day</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Lwen Pathtlac - Tardy</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Elah - Citizenship</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf="addReportCardPdf?.templateType === 'pohnpei'" class="semester-table">
                    <table class="behavior-subtable">
                        <caption>
                            <h2><b>{{'behavior'|translate}} - {{addReportCardPdf?.templateType | titlecase}}</b>
                            </h2>
                        </caption>
                        <thead>
                            <tr>
                                <th>Impahi Oh Insenoh</th>
                                <th *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates">{{markingPeriodDetails?.markingPeriodShortName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Peik/Kin rong mwahu</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Lemehda/koasoanehdi mwahu</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Kin minimin ong mehtei kan</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Ale/kapawaiada pwukoah</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>Kanaiehng dipwisoun sukuhl</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf="addReportCardPdf?.templateType === 'yap'" class="semester-table">
                    <table class="behavior-subtable">
                        <caption>
                            <h2><b>{{'behavior'|translate}} - {{addReportCardPdf?.templateType | titlecase}}</b>
                            </h2>
                        </caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates">{{markingPeriodDetails?.markingPeriodShortName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{'responsibility' | translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'concernForOthers' | translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'integrity' | translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                            <tr>
                                <td>{{'initiative' | translate}}</td>
                                <td *ngFor="let markingPeriodDetails of grade?.markingPeriodDetailsForOtherTemplates"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <div style="page-break-before:always">&nbsp;</div>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="semester-table" style="padding-right: 15px;">
                                            <table>
                                                <caption>
                                                    <h2><b>Grade
                                                            Scale</b></h2>
                                                </caption>
                                                <tbody>
                                                    <tr *ngFor="let gradeDetails of grade?.gradeList">
                                                        <td>{{gradeDetails?.breakoff}}</td>
                                                        <td>{{gradeDetails?.title}}</td>
                                                        <td>{{gradeDetails?.unweightedGpValue}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="semester-table" style="padding-left: 15px;">
                                            <table class="bevaior-table">
                                                <caption>
                                                    <h2><b>{{'behaviorLegend'|translate}}</b></h2>
                                                </caption>
                                                <tbody *ngIf="addReportCardPdf?.templateType === 'chuuk'">
                                                    <tr>
                                                        <td><b>A</b></td>
                                                        <td>{{'superior' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>B</b></td>
                                                        <td>{{'aboveAverage' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>C</b></td>
                                                        <td>{{'average' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>D</b></td>
                                                        <td>{{'belowAverage' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>F</b></td>
                                                        <td>{{'failure' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="addReportCardPdf?.templateType === 'kosrae'">
                                                    <tr>
                                                        <td><b>E</b></td>
                                                        <td>{{'excellent' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>S</b></td>
                                                        <td>{{'satisfactory' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>U</b></td>
                                                        <td>{{'unsatisfactory' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="addReportCardPdf?.templateType === 'pohnpei'">
                                                    <tr>
                                                        <td><b>1</b></td>
                                                        <td>Ansou Koroas</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>2</b></td>
                                                        <td>Kalapw</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>3</b></td>
                                                        <td>Sohte Kalapw</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>4</b></td>
                                                        <td>Sohte Kin</td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="addReportCardPdf?.templateType === 'yap'">
                                                    <tr>
                                                        <td><b>5</b></td>
                                                        <td>{{'excellent' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>4</b></td>
                                                        <td>{{'good' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>3</b></td>
                                                        <td>{{'average' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>2</b></td>
                                                        <td>{{'fair' | translate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>1</b></td>
                                                        <td>{{'unsatisfactory' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="semester-table">
                    <table class="comments-table">
                        <caption>
                            <h2>
                                <b>Comments</b>
                            </h2>
                        </caption>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="signature-table">
                    <table cell-padding="10">
                        <tr>
                            <td width="33.33%">
                                <p class="long-line"></p>
                                <p class="text-center sign">
                                    <b>{{'teachersSignature'|translate}}</b>
                                </p>
                                <p class="text-center">
                                    <b>{{'date'|translate}}:</b>&nbsp;<span class="small-line"></span>
                                </p>
                            </td>
                            <td width="33.33%">
                                <p class="long-line m-auto"></p>
                                <p class="text-center
                                            sign"><b>{{'principalsSignature'|translate}}</b></p>
                                <p class="text-center">
                                    <b>Date:</b>&nbsp;<span class="small-line"></span>
                                </p>
                            </td>
                            <td width="33.33%">
                                <p class="long-line ml-auto"></p>
                                <p class="text-center
                                            sign"><b>{{'parentGuardiansSignature'|translate}}</b></p>
                                <p class="text-center">
                                    <b>{{'date'|translate}}:</b>&nbsp;<span class="small-line"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="page-break-before:always">&nbsp;</div>
    </div>


</div>
</ng-container>

<ng-container *ngIf="addReportCardPdf?.templateType === 'default'">

<div class="pdf-class hidden" id="printReportCardId" >
    <div class="report-card" *ngFor="let grade of generatedReportCardData?.studentsReportCardViewModelList">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2">
                    <table class="report-card-header" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <div class="header-left">
                                    <h2>{{grade?.schoolName}}</h2>
                                    <p>{{grade?.homeAddressLineOne ? grade?.homeAddressLineOne : ''}}{{grade?.homeAddressLineTwo ? ', '+grade?.homeAddressLineTwo : ''}}{{grade?.homeAddressCity ? ', '+grade?.homeAddressCity : ''}}{{grade?.homeAddressState ? ', '+grade?.homeAddressState : ''}}{{grade?.homeAddressZip ? ', '+grade?.homeAddressZip : ''}}{{grade?.homeAddressCountry ? ', '+grade?.homeAddressCountry : ''}}</p>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="header-right inline-block">
                                    <h3>{{'reportCard'|translate}}</h3>
                                    <p>{{'schoolYear'|translate}}: {{grade?.schoolYear}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="student-info-header">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="60%">
                                <div class="info-left">
                                    <h1>{{grade?.firstGivenName}} {{grade?.lastFamilyName}}</h1>
                                    <p><span>{{grade?.gradeTitle}}</span>Student ID : {{grade?.studentInternalId}}</p>
                                </div>
                            </td>
                            <td width="40%">
                                <div class="info-right">
                                    <table class="striped-table text-center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>{{'yearToDateAttendancePercent' |translate}}</td>
                                            <td><b>{{grade?.yearToDateAttendencePercent}}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{{'yearToDateAbsencesInDays'|translate}}</td>
                                            <td><b>{{grade?.yearToDateAbsencesInDays}}</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr *ngFor="let markingPeriod of grade?.markingPeriodDetailsForDefaultTemplates">
                <td class="semester-table">
                    <table>
                        <caption>
                            <h2 class="float-left">{{markingPeriod?.markingPeriodTitle}}</h2>
                            <p class="float-right">{{'absences'|translate}}: {{markingPeriod?.absences}} <span>|</span> {{'excusedAbsences'|translate}}: {{markingPeriod?.excusedAbsences}}</p>
                        </caption>
                        <thead>
                            <tr>
                                <th>{{'course'|translate}}</th>
                                <th>{{'teacher'|translate}}</th>
                                <th>{{'grade'|translate}}</th>
                                <th>{{'gpa'|translate}}</th>
                                <th>{{'comments'|translate}}</th>
                                <th>{{'teacherComments'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let courseSection of markingPeriod?.courseSectionGradeDetailsForDefaultTemplates">
                                <td>{{courseSection?.courseSectionName}}</td>
                                <td>{{courseSection?.staffName}}</td>
                                <td>{{courseSection?.gradeObtained}} {{courseSection?.percentMarks ? '(' + courseSection?.percentMarks + '%)' : ''}} </td>
                                <td>{{courseSection?.gpa}}</td>
                                <td>{{courseSection?.comments}}</td>
                                <td>{{courseSection?.teacherComments}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <ng-container *ngIf="this.addReportCardPdf?.standardGrade;else ViewMode2">
                <tr *ngFor="let standerdsGrade of grade?.standerdsGradeList; let i=index">
                    <td class="semester-table">
                        <table>
                            <caption *ngIf="i==0">
                                <h2 class="float-left">{{'standardsGrade' | translate}}</h2>
                            </caption>
                            <thead>
                                <tr>
                                    <th>{{standerdsGrade.courseSectionName+'   |   '+('teacher' | translate)+' : '+standerdsGrade.staffName}}</th>
                                    <th *ngFor="let markingPeriod of standerdsGrade?.standerdsGradeDetails[0]?.markingPeriodDetailsforStanderdsGrades">{{markingPeriod.markingPeriodName}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of standerdsGrade?.standerdsGradeDetails">
                                    <td>{{x?.standardRefNo+' : '+x?.standardDetails}}</td>
                                    <td *ngFor="let y of x?.markingPeriodDetailsforStanderdsGrades">{{y?.value ? y?.value:'N/A'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-container>
            <ng-template #ViewMode2>
                <tr *ngFor="let effortGrade of grade?.effortGradeList; let i=index">
                    <td class="semester-table">
                        <table>
                            <caption *ngIf="i==0">
                                <h2 class="float-left">{{'effortGrade' | translate}}</h2>
                            </caption>
                            <thead>
                                <tr>
                                    <th>{{effortGrade.categoryName}}</th>
                                    <th *ngFor="let markingPeriod of effortGrade?.effortGradeItemDetails[0]?.markingPeriodDetailsforEffortGrades">{{markingPeriod.markingPeriodName}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of effortGrade?.effortGradeItemDetails">
                                    <td>{{x?.effortItemTitle}}</td>
                                    <td *ngFor="let y of x?.markingPeriodDetailsforEffortGrades">{{y?.gradeScaleValue ? y?.gradeScaleValue:'N/A'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-template>
            <tr>
                <td class="signature-table">
                    <table cell-padding="10">
                        <tr>
                            <td width="33.33%">
                                <p class="long-line"></p>
                                <p class="text-center sign"><b>{{'teachersSignature'|translate}}</b></p>
                                <p class="text-center"><b>{{'date'|translate}}:</b>&nbsp;<span class="small-line"></span></p>
                            </td>
                            <td width="33.33%">
                                <p class="long-line m-auto"></p>
                                <p class="text-center sign"><b>{{'principalsSignature'|translate}}</b></p>
                                <p class="text-center"><b>{{'date'|translate}}:</b>&nbsp;<span class="small-line"></span></p>
                            </td>
                            <td width="33.33%">
                                <p class="long-line ml-auto"></p>
                                <p class="text-center sign"><b>{{'parentGuardiansSignature'|translate}}</b></p>
                                <p class="text-center"><b>{{'date'|translate}}:</b>&nbsp;<span class="small-line"></span></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="page-break-before:always">&nbsp;</div>
        <table>
            <tr>
                <td class="comments">
                    <table>
                        <h4>{{'forCommentKeysPleaseFollowTheDescriptionBelow'|translate}}:</h4>
                        <tr *ngIf="grade?.courseCommentCategories?.length>0">
                            <td>
                                <p *ngFor="let x of grade?.courseCommentCategories| slice:0:(grade?.courseCommentCategories?.length%2==0?halfLengthOfComment:halfLengthOfComment+1); let i=index;">{{i+1}}. {{x?.comments}}</p>
                            </td>
                            <td>
                                <p *ngFor="let y of grade?.courseCommentCategories| slice:(grade?.courseCommentCategories?.length%2==0?halfLengthOfComment:halfLengthOfComment+1); let j=index;">{{j+10}}. {{y?.comments}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="comments">
                    <h4>{{'teacherComments'|translate}}:</h4>
                    <p *ngFor="let comment of grade?.teacherCommentList; let k=index;">{{k+1}}. {{comment}}.</p>
                </td>
            </tr>
            <tr>
                <td class="comments">
                    <table>
                        <ng-container *ngIf="this.addReportCardPdf?.standardGrade;else ViewMode1">
                            <h4>{{'standardsGradeLegend' | translate}}:</h4>
                            <tr *ngIf="grade?.standerdGradeScale?.length>0">
                                <td>
                                    <p *ngFor="let x of grade?.standerdGradeScale| slice:0:(grade?.standerdGradeScale?.length%2==0?halfLengthOfStandardGradeComment:halfLengthOfStandardGradeComment+1); let i=index;">{{i+1}}. {{x?.comment}}</p>
                                </td>
                                <td>
                                    <p *ngFor="let y of grade?.standerdGradeScale| slice:(grade?.standerdGradeScale?.length%2==0?halfLengthOfStandardGradeComment:halfLengthOfStandardGradeComment+1); let j=index;">{{j+(grade?.standerdGradeScale?.length%2==0?halfLengthOfStandardGradeComment+1:halfLengthOfStandardGradeComment+2)}}. {{y?.comment}}</p>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #ViewMode1>
                            <h4>{{'effortGradeLegend' | translate}}:</h4>
                            <tr *ngIf="grade?.effortGradeScales?.length>0">
                                <td>
                                    <p *ngFor="let x of grade?.effortGradeScales| slice:0:(grade?.effortGradeScales?.length%2==0?halfLengthOfEffortGradeComment:halfLengthOfEffortGradeComment+1); let i=index;">{{i+1}}. {{x?.gradeScaleComment}}</p>
                                </td>
                                <td>
                                    <p *ngFor="let y of grade?.effortGradeScales| slice:(grade?.effortGradeScales?.length%2==0?halfLengthOfEffortGradeComment:halfLengthOfEffortGradeComment+1); let j=index;">{{j+(grade?.effortGradeScales?.length%2==0?halfLengthOfEffortGradeComment+1:halfLengthOfEffortGradeComment+2)}}. {{y?.gradeScaleComment}}</p>
                                </td>
                            </tr>
                        </ng-template>
                    </table>
                </td>
            </tr>
        </table>
        <div style="page-break-before:always">&nbsp;</div>
    </div>
</div>
</ng-container>

