<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title class="mb-4">
    <h2 class="headline m-0" fxFlex="auto">{{ nurseVisitTitle | translate }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>

</div>
<mat-divider class="-mx-6 mb-6"></mat-divider>
<form [formGroup]="form">
    <mat-dialog-content fxLayout="column">
            <ul class="grid grid-cols-1">
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'date' | translate }}</mat-label>
                        <input matInput class="nurseVisitDate-scroll" [matDatepicker]="date" formControlName="nurseVisitDate" required>
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-error *ngIf="form.get('nurseVisitDate').hasError('required')">{{'nurseVisitDateIsRequired'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <ul class="grid grid-cols-2 gap-4">
                        <li>
                            <mat-form-field class="w-full" appearance="outline" color="primary">
                                <mat-label>{{ 'timeIn' | translate }}</mat-label>
                                <!-- <input matInput [matDatepicker]="date" formControlName="timeIn">
                                <mat-datepicker-toggle matSuffix [for]="date" class="text-xl">
                                    <mat-icon matDatepickerToggleIcon [icIcon]="icSchedule"></mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #date></mat-datepicker> -->
                                <input formControlName="timeIn" [owlDateTimeTrigger]="timeIn" 
                                [owlDateTime]="timeIn" matInput>
                                <mat-icon matSuffix class="cursor-pointer" [owlDateTimeTrigger]="timeIn" [icIcon]="icSchedule"></mat-icon>
                                <owl-date-time [pickerType]="'timer'" class="text-xl" [hour12Timer]='true' #timeIn>
                                </owl-date-time>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field class="w-full" appearance="outline" color="primary">
                                <mat-label>{{ 'timeOut' | translate }}</mat-label>
                                <!-- <input matInput [matDatepicker]="date" formControlName="timeOut">
                                <mat-datepicker-toggle matSuffix [for]="date" class="text-xl">
                                    <mat-icon matDatepickerToggleIcon [icIcon]="icSchedule"></mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #date></mat-datepicker> -->
                                <input formControlName="timeOut" [owlDateTimeTrigger]="timeOut" [min]="form.controls.timeIn?.value"
                                [owlDateTime]="timeOut" matInput>
                                <mat-icon matSuffix [owlDateTimeTrigger]="timeOut" class="cursor-pointer" [icIcon]="icSchedule"></mat-icon>
                                <owl-date-time [pickerType]="'timer'" class="text-xl" [hour12Timer]='true' #timeOut>
                                    <mat-icon matDatepickerToggleIcon  [icIcon]="icSchedule"></mat-icon>
                                </owl-date-time>
                            </mat-form-field>
                        </li>
                    </ul>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'reason' | translate }}</mat-label>
                        <input matInput class="reason-scroll" formControlName="reason" required>
                        <mat-error *ngIf="form.get('reason').hasError('whitespace')">{{'reasonIsRequired'|translate}}</mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'result' | translate }}</mat-label>
                        <input formControlName="result" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{ 'comment' | translate }}</mat-label>
                        <textarea formControlName="comment" matInput></textarea>
                    </mat-form-field>
                </li>
            </ul>
    </mat-dialog-content>
    <mat-dialog-actions class="pb-4 justify-end">
        <button mat-button (click)="cancel()" class="mr-2">{{ 'cancel' | translate }}</button>
        <button color="primary" (click)="submit()" mat-flat-button type="submit">{{ buttonType | translate }}</button>
    </mat-dialog-actions>
</form>