<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{staffCertificateTitle | translate}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content [formGroup]="form" fxLayout="column">
    
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'certificationName' | translate}}</mat-label>
        <input cdkFocusInitial matInput name="certificationName" formControlName="certificationName">
    </mat-form-field>
    
    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'certificationShortName' | translate}}</mat-label>
        <input cdkFocusInitial matInput name="certificationShortName" formControlName="shortName">
    </mat-form-field>
    
    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'certificationCode' | translate}}</mat-label>
        <input cdkFocusInitial matInput name="certificationCode" formControlName="certificationCode">
    </mat-form-field>
    
    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'primaryCertificationIndicator' | translate}}</mat-label>
        <mat-select name="primaryCertificationIndicator" formControlName="primaryCertification">
            <mat-option [value]="washinfo.Yes">{{washinfo['true']}}</mat-option>
            <mat-option [value]="washinfo.No">{{washinfo['false']}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'certificationDate' | translate}}</mat-label>
        <input matInput [matDatepicker]="certificationDate" formControlName="certificationDate">
        <mat-datepicker-toggle matSuffix [for]="certificationDate"></mat-datepicker-toggle>
        <mat-datepicker #certificationDate></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'certificationExpiryDate' | translate}}</mat-label>
        <input matInput [matDatepicker]="certificationExpiryDate" formControlName="certificationExpiryDate">
        <mat-datepicker-toggle matSuffix [for]="certificationExpiryDate"></mat-datepicker-toggle>
        <mat-datepicker #certificationExpiryDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'certificationDescription' | translate}}</mat-label>
        <textarea matInput placeholder="certificationDescription" formControlName="certificationDescription"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <div class="flex justify-between w-full">
        <div class="text-left">
            <span [hidden]="formvalidstatas" class="text-warn"><mat-icon class="align-middle" [icIcon]="icWarning"></mat-icon> {{'CannotSubmitEmptyForm'|translate}}</span>
        </div>
        <div> <button mat-button type="button" (click)="cancel()">{{'cancel' | translate}}</button>
                <button color="primary" (click)="submit()" mat-raised-button type="submit">{{buttonType|translate}}</button>
            </div>
    </div>
   
</mat-dialog-actions>